[2018-09-18 07:35] arihantdaga commented on #5323
@vkarpov15  But then it will not run .pre("remove") hook. Right ?

[2018-09-18 10:58] ulrichb commented on #3654
@aakrem You can also use `serverInfo()` which has a `version` string property.

[code]

[2018-09-18 12:07] lineus commented on #7020
@wuteng606 can you please create a reproducible code sample that demonstrates the issue?

Here's an example that is related to your question:

### 7020.js
[code]
### Output:
[code]

[2018-09-18 12:47] vkarpov15 commented on #7006
@haydursek I just worked through a similar issue at my day job. Connect using the `mongo` shell and run `rs.conf()`. Make sure that the `members.$.host` property contains the private IP, not the public IP. If the replica set config shows the public IP, the MongoDB driver will use the public IP, even if the private IP is what you specified in the connection string. [This page tells you how to modif

[2018-09-18 12:55] haydursek commented on #7006
@vkarpov15 Sorry, I didn't respond earlier, but I found our issue and it was exactly that. To be more specific, we have a strange setup of having the public ip in our rs.conf, but then use the private ip to connect to our instances. So i was able to trace the error that I was getting, which was mongo complains that the ip of the master in the rs.conf does not match the ip with which we are trying

[2018-09-18 14:03] #6985 closed

[2018-09-18 14:07] vkarpov15 commented on #6985
Found the issue. This is due to our recent changes to consolidate the internal `justOne` option, which determines whether the output should be an array or single doc. In the case of a Mixed type, Mongoose shouldn't infer that `justOne = true`, we fixed that in c93e256.

In d1dbcda we added an override. You can explicitly overwrite the `justOne` populate option if Mongoose is inferring it incorrect

[2018-09-18 15:29] Hyperblaster commented on #6985
Why can it not simply work the way it did before, (understanding that if the source you are populating is an array return an array, if its a single object id then return an object)

It seems a bit strange to now have to specify each time you populate a field whether it’s an array or an object

[2018-09-18 16:16] trueter commented on #6985
I agree with @Hyperblaster. For us, this is a major breaking change.

[2018-09-18 17:34] srinivasyl opened #7021 "How to use allowDiskUse in mongoose aggregate query"
I tried this
[code]
i tried this it throws me an error stating

`Error: Arguments must be aggregate pipeline operators`

[2018-09-18 21:43] zinzinday opened #7022 "model.watch.close not is not a function"
i'm using version: `"mongoose": "^5.2.5"`
my model:
[code]
test controller:

[code]

i was tested with `mongodb@3.1.1` working well.

I try to research mongoose code && search issue on repo but can not resolve that.

Please help.

[2018-09-19 00:13] lineus commented on #6667
@apyrkh this is [a known issue.](https://github.com/Automattic/mongoose/issues/6881) For now, when using the srv record, you need to provide your user/pass in the connection string to use the new URL parser. Alternatively, you can skip the new URL parser and live with the deprecation warnings.

The latest version of the native driver fixes this issue. The updated driver will land in mongoose soon.

[2018-09-19 01:06] maxzhou0 opened #7025 "How to set field level index on nested document's field?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

my schema contains a nested document field history

i want to build index on history array base on the date field. but the offic

[2018-09-19 06:25] Faran52 opened #7026 "[Symbol(mongoose:lean_populate)] when lean option is passed to find"
I'm using

Here is my query
`myschema_instance.findOne(
{},
{},
{
   lean: true
}
)`

Here is my schema
`myschema = new mongoose.schema({
     to_be_populated: {
         type: mongoose.Schema.Types.ObjectId,
         ref" : "model_2"
   }
})
`
`myschema.pre('findOne', function() {
       this.populate({path: "model_2"})
})`

When ever I log the query result I get following attached as well
`{ pro

[2018-09-19 11:29] krugar opened #7027 "(docs v5.2.15) MongooseArray documentation missing / broken links"
For version 5.2.15, the documentation for MongooseArray is missing. It is still referenced under ie: https://mongoosejs.com/docs/subdocs.html, but the links are pointing to non-existant anchors under the API docs, ie: https://mongoosejs.com/docs/api.html#types_array_MongooseArray.addToSet

this is a regression from the docs for version 4: https://mongoosejs.com/docs/4.x/docs/api.html#types_array_M

[2018-09-19 11:36] maxzhou0 opened #7028 "How to add function to response's prototype?"
[code]

this.send is not a function and this is {}

[2018-09-19 11:55] Rokt33r opened #7029 "Model remains opened handles"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

When I run Jest with --detectOpenHandles, I keep getting lots of warnings from the mongoose models.

[code]

Same as https://stackoverflow.com/questions/50687592/jest-and-mongoose-jest-has-detected-opened-handles/50704478#50704478

I assume it should return a Promise which never returns.

**If the cur

[2018-09-19 14:17] vkarpov15 commented on #6489
@kenkopelson you're right, thanks for your perspective. We will fix this by making `Model.init()` explicitly create the collection in 5.3.

[2018-09-19 14:19] vkarpov15 commented on #7003
Thanks for reporting, will investigate ASAP

[2018-09-19 14:44] #6966 closed

[2018-09-19 15:15] #6915 closed

[2018-09-19 15:44] lineus commented on #6981
After looking at @Polqk's backend source, I was still unable to replicate this with just mongoose or with express/feathers/feathers-mongoose. @Polqk is investigating a workaround on his side.

@vkarpov15 can you help me verify whether the error message in question `MongoError: $geoNear, $near, and $nearSphere are not allowed in this context` **only** occurs in aggregate? I'm not familiar enough wi

[2018-09-19 17:57] Polqk commented on #6981
It's feathers-mongoose package the problem, It works on v6.1.2 and on v6.1.4 it's same error

[2018-09-19 18:19] n-rook opened #7030 "When querying, {field: value} gets overridden by {field: mongoQuery}— only in 5 (not 4)"
Here is a possible bug I found when upgrading Mongoose 4 to 5. If you have a query like this;

[code]

In Mongoose 4, the query will be debug logged as: `baseballs.find({ status: 'baseball' }, { fields: {} })`
In 5, it will be: `baseballs.find({ status: { '$ne': 'wiffleball' } }, { projection: {} })`

And indeed, in 5, it matches documents whose status is neither "baseball" nor "wiffleball". But i

[2018-09-19 18:36] mjgchase opened #7031 "Cannot read property 'casterConstructor' of undefined"
**BUG**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**Create Sub Document in separate file**
[code]

**Create Main Document**
[code]

**Create new instance of user and push email into user.emails**
[code]

**Which results in (see first line of _cast function, _schema is undefined)**
[code]
**What is the expected behavior?**
To a

[2018-09-19 18:44] mjgchase commented on #7031
**Debug of (this) in function _cast**

[code]

[2018-09-19 21:01] mjgchase commented on #7031
Closing this issue , user error

[2018-09-20 07:16] lineus commented on #7021
@srinivasyl you can use the helper method `.allowDiskUse()`. [The API docs for allowDiskUse are Here](https://mongoosejs.com/docs/api.html#aggregate_Aggregate-allowDiskUse)

Here is a simple example:

### 7021.js
[code]
### Output:
[code]

[2018-09-20 07:16] #7021 closed

[2018-09-20 07:36] lineus commented on #7018
@ORESoftware what does config.get('debug') return? I'm assuming it's a custom function?

**In the case of passing true into mongoose set debug** the default is to `console.info()` the debug information which goes to stdout.

**If you pass a custom function into mongoose set debug** It will print the logs wherever you tell it to.

Here's an example:

### 7018.js
[code]
### Output with customLogger:

[2018-09-20 13:03] Al4evec opened #7032 "Timestamps for array of subDocuments not updated with bulkWrite"
**Do you want to request a *feature* or report a *bug*?**
Report bug

**What is the current behavior?**
Timestamps for subDocuments in array are not updated when using bulkWrite, but works when using findByIdAndUpdateor findOneAndUpdate
I use same update object
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
Add new value:
[code]
Update existing value:

[2018-09-20 16:58] ORESoftware commented on #7018
I don't really want to write a custom logger because I am at work and going through the hassle of getting a PR approved is undesirable..I just want an option to send all of that info to stdout instead of stderr, something like this:

[code]

in fact, it should accept a stream to write to, as I just demonstrated...so you could do this instead:

[code]

[2018-09-20 17:15] lineus commented on #7018
@ORESoftware If config.get('debug') is returning true, then mongoose should already be using stdout. **The default debug function uses console.info to print the debug messages** ( *this is shown above in my example output using true* ) as I've redirected stderr to /dev/null but you still see the messages.

Can you reproduce mongoose sending debug messages to stderr? Is it possible that there is so

[2018-09-20 17:51] ORESoftware commented on #7018
we are on:

[code]

double-checking it does look like it is going to stdout not stderr, not sure why I thought it was going to stderr. However, it would be nice to pass a stream to the `mongoose.set()` call.

[2018-09-20 19:47] lineus commented on #7018
@ORESoftware My bad, I instinctively assumed you were using `@latest` without information to the contrary.

Looking at the source for `@4.x`, that **is** going to stderr. I created a PR that adds a note to the migration guide about that for future upgraders. With 4.x, for now at least, you'll need to pass in a custom function.

With regard to changing the behavior in 4.x, I think the major version

[2018-09-20 20:50] ORESoftware commented on #7018
@lineus yes you nailed it, thank you

[2018-09-21 02:26] SnidelyWhiplash commented on #3483
@vkarpov15 Is there a recommended way to handle this in 4.x? Can I set an exception handler early in the middleware chain, or..? Thanks.

[2018-09-21 04:58] jairusd opened #7035 "unable to find index for $geoNear query even if it exists"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
unable to find index for $geoNear query even if it exists

**If the current behavior is a bug, please provide the steps to reproduce.**

This is how my schema looks like:
[code]

This is how my aggregate looks like:
[code]

I know my collection is indexed because Provider.listIndexes() returns this res

[2018-09-21 06:58] bgSosh commented on #3675
I believe I'm also getting this for `{ type: Date, default: new Date() }`.   Using Mongoose version 4.13.12

Did anyone figure out what might have been causing this?  Thanks.

[2018-09-21 09:31] lineus commented on #3675
@bgSosh

## TL;DR
Instead of

`{ type: Date, default: new Date() }`

try

`{ type: Date, default: () => { return new Date() } }`

With this change, each time you create a new doc, the default function will be called and a new Date will be returned as the default.

##
As @brycelund pointed out, the schemaType `default` property can hold either a **value** or a **function**. If a **value** is set as

[2018-09-21 09:47] bgSosh commented on #3675
@lineus Oh that's great info, thanks so much for taking the time!

[2018-09-21 11:13] lineus commented on #6922
There's an internal configuration typo in `@5.2.16` that causes the deprecation notice for createIndexes to reemerge when you call createIndexes explicitly.

[2018-09-21 13:51] NormanPerrin opened #7037 "findOneAndUpdate doesn't run validations"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`findOneAndUpdate` doesn't run the `required` validations, neither with the third parameter of the method or with the pre hook.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. The model: `model/section.js`
[code]

2. The service: `service/section.js`
[code]

3. Try to s

[2018-09-21 14:04] vkarpov15 commented on #7018
Supporting passing a stream is a great idea. That way you can redirect the stream wherever you want: to a socket, file, etc. without having to write a custom logger. Brilliant.

[2018-09-21 14:11] vkarpov15 commented on #6998
Hmm have you tried this without elastic-apm-node? Also, can you describe the general shape of the scripts? Is it just a loop with a bunch of fast queries running in series? Or something more sophisticated? Some skeleton code might be helpful.

[2018-09-21 14:31] #7003 closed

[2018-09-21 14:46] vkarpov15 commented on #6994
I took a closer look at this and this is going to have to wait for a minor release. Right now update operations never update the version key, we'll have to add a `versionKey` option to queries to opt into incrementing versions. Currently Mongoose only increments the version key through `save()`, I'll add a note to the [docs](https://mongoosejs.com/docs/guide.html#versionKey) for now.

[2018-09-21 14:53] vkarpov15 opened #7038 "Add note to docs that versionKey only gets updated by `save()`"
Re: #6994

[2018-09-21 14:54] #7038 closed

[2018-09-21 15:04] #6911 closed

[2018-09-21 15:18] maxbook opened #7039 "Virtual populate not fired when model have discriminator"
Virtual populate not fired when model have discriminators.

I have a model with discriminators and a virtual populate on the base schema. When I make a find on the model corresponding to the base schema the virtual populate does not trigger but if I do the same on the discriminated model everything is ok. strange because on the contrary a simple virtual works as expected.

exemple

[code]

node V9

[2018-09-21 15:30] FelixFurtmayr commented on #6994
Hi vkarpov15, thank you for preparing this feature :-)
An option to enable it would be great.
I guess it should be enabled by default, but for legacy reasons, disabling it will be the best thing in the near future.

[2018-09-21 20:27] jairusd commented on #7035
Hi @lineus you are correct i was missing the spherical option so it was looking for the 2d index instead of the 2dsphere. That was my bad. I think it would be a good idea to make the error message more specific at this point saying you are trying to to query for a spherical/non-spherical geoquery but what you have in your index is  spherical/non-spherical or whatever works at this point.

Also i t

[2018-09-21 21:00] lineus commented on #7035
@jairusd I'm glad it was something we could help with!

**With regard to the error message**, It's hard to say without having seen it, but it probably says `MongoError:`. If so, then it comes from the underlying native mongodb driver as opposed to mongoose. If you'd like, I can see if I can help with a native driver example that has the same output to open a new issue directly with them.

**With r

[2018-09-21 21:41] d4mr opened #7040 "Links to built-in validators broken in documentation"
**Bug**

**Current Behaviour:**
Links lead to the docs API homepage

**Steps To Reproduce:**
The page at https://mongoosejs.com/docs/validation.html#built-in-validators states that "each of the validator links above provide more information about how to enable them and customize their error messages." However, the links lead straight to the API homepage. A search of that page suggests that there i

[2018-09-22 01:06] #7035 closed

[2018-09-22 01:24] zerefel opened #7041 "findOneAndUpdate with an undefined update doc & timestamps enabled throws a TypeError"
Hey there. I am submitting a supposed **BUG** report.

**BEHAVIOR**
It looks like the fix for #6980 introduced a bug when updating documents with timestamps. This is a stack trace of the issue:

[code]
I had limited time to test, but it appears that it's happening when calling

[code]

Notice that the update object is `undefined`. We've corrected our code for that, but it might catch other people

[2018-09-22 08:02] snanilim commented on #348
markstos, solution work for me. Drop your existing collection and reconnect it again

[2018-09-22 08:55] kolbma commented on #6997
Should be clarified. ;-) Thanks @lineus

[2018-09-22 17:06] vorillaz opened #7042 "Mongoose cannot register a global plugin on runtime"
**Do you want to request a *feature* or report a *bug*?**
I think it's a bug

**What is the current behavior?**
I am trying to register a global plugin within a closure with not

**If the current behaviour is a bug, please provide the steps to reproduce.**
I am trying to bootstrap mongoose with a simple Express.js app. My app sets up a few dependencies and I am trying to pass a global plugin for m

[2018-09-23 02:07] vkarpov15 commented on #6778
This is trickier than I thought because how would you set up getters/setters? Something like this?

[code]

[2018-09-23 02:13] vkarpov15 commented on #7005
Can you please clarify with some code samples? I still don't understand

[2018-09-23 10:38] gianpaj commented on #6880
Thanks for writing this doc https://mongoosejs.com/docs/deprecations.html

Re: `findOneAndUpdate()` and `findAndModify()` deprecation, the only current (`5.2.17`) workaround is to set:
[code]
is that true?

I'm using `Model.findByIdAndUpdate()` and `Model.findOneAndUpdate()`

I assume the underlying mongo db driver functions being used by mongoose will be / should be updated at some point.
Would b

[2018-09-23 12:51] isitavi commented on #6397
I'm using mongoose  5.2.17 and face this error but when i downgrade mongoose version this problem fixed automatically

[2018-09-23 13:07] helgeh commented on #6382
@ntlzz93 Any way you could share what the issue was and how you resolved it?

[2018-09-23 13:17] cloakedch commented on #6890
Is there any functional difference between

[code]

and

[code]

? Because both seem to work just fine in 5.2.17

[2018-09-23 14:30] samuelcecilio commented on #6890
[code]

Works with the latest version

[2018-09-23 14:32] vkarpov15 commented on #7013
Here's a few ideas:

1) more practical example
2) demonstrate how you would do the example with ref as opposed to refPath
3) better name: just call it refPath rather than dynamic ref

Would

[2018-09-23 14:34] lineus commented on #6397
@isitavi can you please provide a reproducible script that shows the issue?

[2018-09-23 14:37] vkarpov15 commented on #7010
You should not need to set MONGOOSE_DRIVER_PATH to anything special. 5.2.15 should fix this issue

[2018-09-23 14:41] vkarpov15 commented on #7016
Mongoose doesn't support the syntax you're using. In the above example, Mongoose assumes that `bla` is mixed type. You need to define a separate schema for `_reference`, like `type: new Schema({ _reference: ... })`

[2018-09-23 14:41] #7016 closed

[2018-09-23 14:43] vkarpov15 commented on #7017
Does it work if you don't pretend + to the path? + is special and select('+c') is slightly different from select('c')

[2018-09-23 14:47] vkarpov15 commented on #7009
Yeah unfortunately this issue isn't something we can fix. For example, mongoose.set('debug', true) won't work if you create a model with `import {model} from mongoose`. We will add this to the faq

[2018-09-23 14:49] vkarpov15 commented on #6963
@lcw0622 unlikely to happen anytime soon, but thanks for the suggestion

[2018-09-23 14:53] vkarpov15 commented on #4790
As far as I know, you need to pass the same options to the discriminator schema. What makes you think that you don't have to? Does the former code cause an error for you?

[2018-09-23 15:01] vkarpov15 commented on #7019
Good suggestion, will do

[2018-09-23 15:02] vkarpov15 commented on #6975
@newbaluku I'd recommend failing fast if initial connection fails

[2018-09-23 15:07] cloakedch commented on #6890
Okay, i guess @types/mongoose are behind then (Doesn't work on typescript yet).

[2018-09-23 15:53] sebastian-nowak commented on #6972
I've just updated to 5.2.17 and all of my tests are now passing. The repro code from the first post seems to be working correctly too. I don't know how, but it looks like it has been accidentally fixed :)

[2018-09-23 18:13] vorillaz commented on #7042
Apparently, since mongoose compiles the first model global plugins are not applied any more.

[2018-09-23 18:13] #7042 closed

[2018-09-23 20:13] #6974 closed

[2018-09-23 20:14] vkarpov15 commented on #6974
I haven't been able to repro this @Hyperblaster , I put the patch in and will release it with 5.2.18. But it would be helpful if you could provide an example of a schema that causes this issue. Since we can't reproduce it, we can't add a test that makes sure this issue doesn't happen again...

[2018-09-23 20:59] vkarpov15 commented on #5323
Remove has an option called single: https://mongoosejs.com/docs/api.html#query_Query-deleteOne . MongoDB is deprecating remove in favor of explicit deleteOne vs deleteMany because too many people have mixed up whether remove deletes just one or all docs that match filter. In Mongoose 5.3 you will be able to do pre(/^delete/) with a regexp though

[2018-09-23 21:17] mjgchase commented on #7031
This was due to mongoose.createConnection being called in another npm package to the models , closing due to user error.

[2018-09-23 21:17] #7031 closed

[2018-09-23 21:27] joetidee commented on #3105
It would be good to understand how to get around this problem of having two models that both require each other. I would have thought that the nature of using a document database such as MongoDB should facilitate data de-normalisation. If this is the case, then I would think it quite common to have models that require each other (?)

[2018-09-23 21:32] Hyperblaster commented on #6974
No problem. I haven’t been able to test yet as we had to downgrade the mongoose version because of the array to object population issue. If i can get some code to cause it again i’ll reopen with more details.

Thanks for all your hard work!

[2018-09-23 22:01] RobertWSaunders commented on #4790
Both the `eventSchema` and the schema for `ClickedLinkEvent` don't need `options`. Only `eventSchema` needs the discriminator key.

[2018-09-24 05:39] deckyfx opened #7043 "some of the functions is missing with ^5.2.16"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

[BUG]
Version: ^5.2.16
MongoDB: not yet connected
Current behavior: some of the functions is missing, for example ```mongoose.mo

[2018-09-24 09:07] sebastian-nowak opened #7044 "String array flattened on assignment"
Assigning a nested array to `[String]` flattens the nested arrays. Validation succeeds instead of failing.

Repro script:

[code]

Output:
[code]

In the first example the array is incorrectly flattened. In the second it's not only flattened, but the inner array is converted to string: `asdasd,123`.

Tested on mongoose 5.2.17

[2018-09-24 09:10] sebastian-nowak opened #7045 "Support mongoose.SchemaType.cast() to overwrite Mongoose's built-in casting for a given SchemaType"
I find it very hard to write reliable validation code when values are silently converted to another type.

[code]

I think there should be a toggle to enable strict mode which would cause a validation error when there is a type mismatch.

[2018-09-24 09:15] sebastian-nowak opened #7046 "Number silently casted to an array"
When assigning a number to `[String]`, it's silently converted to an array. Document validation succeeds. It makes it impossible to write reliable validation code if values are converted like that.

[code]

Tested on mongoose 5.2.17

[2018-09-24 09:19] sebastian-nowak opened #7047 "Boolean silently casted to an array"
When assigning a boolean to `[String]`, it's silently converted to an array. Document validation succeeds. It makes it impossible to write reliable validation code if values are converted like that.

[code]

Tested on mongoose 5.2.17

[2018-09-24 09:33] ritwik310 commented on #2461
Is it possible without defining the schema?

[2018-09-24 13:18] vkarpov15 commented on #6972
Glad it works now :+1:

[2018-09-24 13:18] #6972 closed

[2018-09-24 13:27] V1LL0 commented on #2851
+1

[2018-09-24 14:32] sarneeh opened #7048 "How to check modified state on nested schemas"
**Do you want to request a *feature* or report a *bug*?**

A bug, I guess.

**What is the current behavior?**

`doc.modifiedPaths()` returns that paths have been modified (even if they didn't) on models that have nested schemas. What is also interesting: it works completely fine when i don't do `type: ChildSchema` and just embed the schema inline.

**If the current behavior is a bug, please provid

[2018-09-24 16:04] jackson-elfers commented on #1126
@lineus Just tried your example, looks like it's working fine. I was running at @5.2.7 although I scrapped whatever I was doing there for something entirely different. Could've been something strange I was doing thanks for the feedback.

[2018-09-24 21:03] daniyalawan commented on #6880
+1 I am having same deprecation warning for using Model.findByIdAndUpdate();

I am using following verisions:
- mongodb: 3.1.4
- mongoose: 5.2.16

[2018-09-24 22:48] felipevignon opened #7049 "refs using mongoose.Types.ObjectId throwing error"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
When using refs in a Schema by mongoose.Types.ObjectId, an error is being thrown:
"TypeError: Undefined type `ObjectID` at `referenceField`
  Did you try nesting Schemas? You can only nest using refs or arrays."

**If the current behavior is a bug, please provide the steps to reproduce.**
`sch

[2018-09-24 23:42] chumager commented on #6933
I copied my code from that page, the problem is I have several connection isolated and want to have the same type defined differently in each new mongoose but it's copied, so the last one gets the type defined. That's why I suggest to make the new mongoose with all the prototypes defined as new with no object references to avoid to share the same object, it's like you allow to have different conne

[2018-09-25 02:57] vkarpov15 commented on #7006
Yeah, bind_ip doesn't matter for what `members.host` is. You can set `bind_ip` to whatever you want, because `members.host` comes from the [linux `hostname`](https://linux.die.net/man/1/hostname) by default, not `bind_ip`.

[2018-09-25 05:17] ashokduraik commented on #4522
1+

[2018-09-25 06:17] thomasraydeniscool opened #7050 "select via populate force inclusion excludes other fields"
**Do you want to request a *feature* or report a *bug*?**
Report a bug regarding forced inclusion (`select: false`).

**What is the current behaviour?**
`Model.select('+field')` behaves differently compared to `.populate({ select: '+field' })`.

- `.populate({ select: '+field' })` is inclusive therefore excludes all the other fields not projected.

- `Model.select('+field')` *(desired behaviour)*

[2018-09-25 13:06] vkarpov15 commented on #6985
@trueter @Hyperblaster you don't have to specify justOne, Mongoose should be able to infer it from the schema. The justOne option is a fallback in case Mongoose is giving you an array when you expect an object and vice versa. There are no intentional backwarks breaking changes here.

@trueter if you're having an issue related to this, please open up a separate issue with code samples.

[2018-09-25 13:31] ILoveYouDrZaius commented on #6745
I agree with this issue, I don't understand why I have to switch between two functions.

[2018-09-25 15:57] vkarpov15 commented on #7026
Mongoose adds this property to keep track of the model that the lean document was populated with to work around issues like #6908. You're right, it does show up in `console.log()`, but it will never show up in `JSON.stringify()`. We'll see if we can work around this using [WeakMaps](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap) instead.

[2018-09-25 15:58] vkarpov15 commented on #7027
Thanks for reporting, will fix.

[2018-09-25 23:46] jrmatos commented on #6890
@Dionesio's answer did the trick to me. Thanks!

[2018-09-26 05:37] toniov opened #7052 "Nested populate and lean used together always return an array"
Hi there,

I'm using Mongoose version `5.2.17`.

When I populate in a nested way a leaned query, it always returns an array, even if it's not specified as an array in the schema.

It can be reproduced with this script:

[code]
`populated` is going to contain something like this:

[code]

According to the schema, `trick` should be an object, not an array. By the way, If `.lean()` is not used in the

[2018-09-26 07:42] dbellavista commented on #7015
Also `0` is not positive, so it may be `$limit: 0`

[2018-09-26 08:10] trueter commented on #6985
@vkarpov15 Thanks for the update. I noticed one place where issues occured specified
`key: Array` instead of `key: [Object]` in the schema. I'll give it another shot and will follow up if necessary.

[2018-09-26 09:44] lineus commented on #7044
Closing this in favor of #7045, as this is expected, but I agree it would be cool to be able to turn it off.

[2018-09-26 09:44] #7044 closed

[2018-09-26 09:45] lineus commented on #7046
Closing this in favor of #7045, as this is expected, but I agree it would be cool to be able to turn it off.

[2018-09-26 09:45] #7046 closed

[2018-09-26 09:45] lineus commented on #7047
Closing this in favor of #7045, as this is expected, but I agree it would be cool to be able to turn it off.

[2018-09-26 09:45] #7047 closed

[2018-09-26 09:49] sebastian-nowak commented on #7047
I believe this ticket is actually a bug. While automatically converting a number to a string is debatable, casting a boolean to `'true'` or `'false'` is a very weird behavior.

CC @vkarpov15

[2018-09-26 09:51] sebastian-nowak commented on #7044
@lineus: are you sure it's expected? It's only flattening a single level, the others are **concatenated** using commas. See the repro script.

CC @vkarpov15

[2018-09-26 09:56] toniov opened #7053 "Warning when adding hashed index to _id field"
Hi there,

I'm setting the `_id` field as `hashed`:

[code]

But I'm getting the next warning (current version 5.2.17):

[code]

I think in this case this warning does not make sense, since it's possible to [add a hashed index](https://docs.mongodb.com/manual/core/index-hashed/#create-a-hashed-index) to the `_id` field in MongoDB.

Regards.

[2018-09-26 09:57] lineus commented on #7045
This is a great idea. We'll give some thought to the implementation and add this. Thanks @sebastian-nowak !

[2018-09-26 10:16] sebastian-nowak commented on #7045
Thanks @lineus, that's great news :)

I think one edge case to consider is what to do about ObjectIds. I rarely see code that creates them as objects, they're often used as strings. I don't know what's the best option.
* Maybe it's fine to require creating proper ObjectId objects by hand? After all, it's called 'strict mode'.
* Or maybe ObjectIds should be still automatically converted, while all

[2018-09-26 10:36] lineus commented on #7028
**Please only open mongoose related issues in this queue.**

   1) arrow functions don't treat `this` the same as common functions. Use common a common function to define `success` on the ServerResponse prototype.
   1) http.ServerResponse doesn't have a send method ( maybe you're using express? if so, `this` should be correct now ).

**here's a simple example that shows a common function defining

[2018-09-26 10:36] #7028 closed

[2018-09-26 11:21] monasingh27294 opened #7054 "mongoose does not work with child processes nodejs ??"
mongoose does not work with child processes nodejs ??
const cp = require('child_process');
const child = cp.fork('./workers');

child.send({id:123});

child.on('message', function(m) {
   console.log('received: ' + m);
});

./worker file

const users = require('../models/user');
process.on('message', function (data) {
  users.findOne().then((user) => {
           **console.log("in this")**

[2018-09-26 11:38] Faran52 commented on #7026
I was thinking the same thing setting as WeakMap or if possible we can add another _mongooseOption like lean_debug something for getting lean property attached as a weakMap.

[2018-09-26 11:43] darshanan24 commented on #6990
Schema Model:

const mongoose = require('mongoose');

const EventTypes = ['Raw', 'Enriched', 'Joined']
const EventFormats = ["JSON", "DELIMITED", "FIXEDWIDTH", "REGEX"]
const ColumnDataTypes = ["int", "float", "Double", "string"]
const ColumnTypes = ["Description", "ID", "Time"]

const notEmptyRan = [];
const notEmptyMsg = 'Please add at least one feature in the columns array';
var notEmpty = func

[2018-09-26 12:49] lineus commented on #6990
@darshanan24 If you want to store an array of ObjectIds in the columns path, you'll need to provide an array of values that either are, or can be cast to, ObjectIds.

### In your `eventSchema` you have defined the columns path as an array of ObjectIds
[code]
### The input data shows that columns is an array of objects that **can't** be cast to ObjectIds:
[code]

If you're looking to store referenc

[2018-09-26 13:15] lineus commented on #7054
are you connecting to the database in your worker @monasingh27294 ?

The following example works:

### 7054.js
[code]
### workers.js
[code]

### Output:
[code]

[2018-09-26 14:31] lineus commented on #7029
@Rokt33r Are you explicitly closing your connection(s) after all of your tests have completed? Are you running jest in the 'node' testEnvironment?

Here is an example that has no open handles:

### jest.config.js
[code]

### 7029.test.js
[code]
### Output:
[code]

[2018-09-26 15:00] lineus commented on #7037
Should throw an error for being with a title field asrequired.

Update validators only run on paths in the update doc [as described in the docs here](https://mongoosejs.com/docs/validation.html#update-validators-only-run-on-updated-paths)

[2018-09-26 15:00] #7037 closed

[2018-09-26 15:03] #6944 closed

[2018-09-26 15:04] vkarpov15 commented on #6944
@lineus be careful, your solution converts `mesaTrees` to a Mixed type. As a workaround, do this instead:

[code]

That should work better.

The issue here is that Mongoose's steps for creating a new document via `new Article()` are:

1) `$__buildDoc()`
2) `$__applyDefaults()`
3) Initial set

`$__buildDoc()` sets all nested paths, like `mesaTrees`, to an empty object `{}` by default. Mongoose then

[2018-09-26 16:06] lineus commented on #7039
@maxbook I tried to replicate what you are describing with the following code, but it works as expected for me. Can you update the example so that it fails and share it here?

### 7039.js
[code]
### Output:
[code]

[2018-09-26 16:30] horoscop opened #7055 "List out all supported operations and options for `bulkWrite()`"
Hi!

With all due respect, could you please improve your documentation? We all have to search again and again for things that usually should be in the documentation.
Example: https://stackoverflow.com/questions/39988848/trying-to-do-a-bulk-upsert-with-mongoose-whats-the-cleanest-way-to-do-this

Make it available for edit, idk.. but do something..

Thank you!

Later edit:
Hit the like button to hig

[2018-09-26 17:59] vkarpov15 commented on #6981
@lineus I can't confirm that, I don't have nearly enough experience with the mongodb server to do anything beyond what you've already done.

[2018-09-26 18:00] vkarpov15 commented on #6981
I'm going to close this for now @Polqk . Feel free to re-open if it turns out this is an issue with Mongoose and not feathers-mongoose.

[2018-09-26 18:00] #6981 closed

[2018-09-26 18:02] vkarpov15 commented on #7030
This seems like expected behavior. If you overwrite a property that you're filtering by, Mongoose should overwrite it. I'll add it to the release notes, thanks for the info.

[2018-09-26 18:02] lineus commented on #7041
here's a repro script

### 7041.js
[code]
### Output:
[code]

[2018-09-26 18:06] #7030 closed

[2018-09-26 18:36] Sastidar commented on #6880
Any news on this ?

[2018-09-26 19:43] DevBrent commented on #5423
Documentation states to put autoIndex at the root level. In Mongoose 4.11.14 which apparently has the bugfix for this issue, Mongoose ignores the autoIndex parameter and passes it to MongoDB Client. I moved it to config: { autoIndex: false } while keeping everything else at the root level and this resolved the issue. Unsure if this will also be an issue in 5.X

[2018-09-26 20:01] lineus commented on #6880
@gianpaj **yes** `mongoose.set('useFindAndModify', true)` is the only current workaround for the findAndModify deprecation warning. **My guess** is that the underlying call to `collection.findAndModify()` will go away in mongoose@6.0.0. @vkarpov15 does that sound about right? or is it too early to commit to a time frame?

@daniyalawan [check out the docs here](https://mongoosejs.com/docs/deprecati

[2018-09-26 20:51] vkarpov15 commented on #7022
@lineus we should definitely add `close()` at least. That's something I missed. I'm wary of copying the driver's API exactly because every function we add to the change stream handler needs to support Mongoose buffering, which can be messy.

[2018-09-26 20:51] vkarpov15 commented on #7032
Thanks for reporting, will fix ASAP :+1:

[2018-09-26 20:55] vkarpov15 commented on #3483
@SnidelyWhiplash The only way is to just wrap your entire middleware in a `try/catch` if the middleware might throw a synchronous error. You can use the below wrapper function:

[code]

What is preventing you from upgrading to Mongoose 5.x?

[2018-09-26 22:00] rrlevy opened #7056 "noCursorTimout flag doensn't work on Aggregate"
I'm trying to make an aggregate query on a Model with the noCursorTimeout option.

However, the documented function addCursorFlag doesn't work.

I tried both:

` let cursor = Startup.aggregate(pipeline).cursor({batchSize: 100}).exec();
  cursor.addCursorFlag('noCursorTimeout', true);`

and

` let cursor = Startup.aggregate(pipeline).cursor({batchSize: 100}).addCursorFlag('noCursorTimeout', true).e

[2018-09-27 00:19] lineus commented on #5423
@DevBrent in the latest version of 4.x ( 4.13.17 ), the error `the options [autoIndex] is not supported` is no longer present and the option is handled correctly. In the latest version of 5.x it also works as advertised. Here are a couple of scripts, one for 4.x and one for 5.x:

### 5423_5.js on ( mongoose@5.2.17 )
[code]
### Output:
[code]

### 5423_4.js on ( mongoose@4.13.17 )
[code]
### Output

[2018-09-27 06:43] abhilash007 opened #7057 "How to create Schema and how to insert data"
[code]

can you please suggest create Schema  for this JSON , and how to insert data

[2018-09-27 07:38] SimonWang00 commented on #2471
I also used Python to encounter _id repeated problems and I did not manually add data in the collection.

[2018-09-27 14:17] #5704 closed

[2018-09-27 14:55] jaruszewskiG opened #7058 "text index doesn't get created"
Hi, I'm trying to do full text search with mongoose. It doesn't seem to work though. Here's how I'm adding text indexes to one of my schemas:
[code]

And then I'm using it like that:
[code]
But I'mstill getting error: `text index required for $text query`.

Everything works fine though when I'm adding text indexes to the mongo database directly by `db.advisors.createIndex({ name: 'text', email: 't

[2018-09-27 15:10] lineus commented on #7057
@abhilash007 There are myriad ways to define your schema, but here is a simple example that defines the schema and creates a document using the json that you provided:

[Check out the docs here](https://mongoosejs.com/docs/guide.html)

For general questions, and help getting started, feel free to join us on [Gitter](https://gitter.im/Automattic/mongoose) or [Slack](https://mongoosejsteam.slack.com

[2018-09-27 15:10] #7057 closed

[2018-09-27 16:07] rrlevy commented on #7056
Mongodb Version: 3.6.4 (cluster hosted on mLab)
Mongoose version: 5.2.17 (error first found on 5.1.1 before upgrading to latest)
Nodejs version: 8.12.0 (error first found on 8.11.1 before upgrading to latest)

Stack trace:
`
Trace: { MongoError: unrecognized field 'noCursorTimeout'
    at queryCallback (/Users/rafaellevy/repos/app-backend/node_modules/mongodb-core/lib/cursor.js:248:25)
    at /Use

[2018-09-27 18:47] simllll commented on #6998
Hi, just have removed elastic-apm-node to see if the issue reoccurs.. didn't took long, but it's still there:

{"stack":"MongoError: pool destroyed\n at Pool.write (/var/app/current/node_modules/mongodb-core/lib/connection/pool.js:1113:12)\n at WireProtocol.getMore (/var/app/current/node_modules/mongodb-core/lib/wireprotocol/3_2_support.js:344:14)\n at Cursor._getmore (/var/app/current/node_module

[2018-09-27 19:37] NormanPerrin commented on #7037
So this should run validations? @lineus

[code]

[2018-09-27 20:00] vatex commented on #7015
Thanks, somewhere limit was negative and that's why the error was occurring.

[2018-09-27 20:00] #7015 closed

[2018-09-27 21:27] vkarpov15 commented on #7040
Thanks for reporting, will fix ASAP

[2018-09-27 21:29] vkarpov15 commented on #6997
Thanks for reporting, will fix ASAP

[2018-09-27 21:41] vkarpov15 commented on #7031
@mjgchase just for completeness' sake, what npm package was this?

[2018-09-27 21:42] vkarpov15 commented on #3105
@joetidee there are ways to "have models that require each other", but it depends on specifically what you mean by "require" - do you mean explicit Node.js `require()`? Perhaps you can clarify with a code sample?

[2018-09-27 21:49] vkarpov15 commented on #4790
I see what you mean. You don't need `options` in this particular case, but in general you do, because otherwise you might get "Can't customize discriminator option" errors. Since it is a little tricky to know when you need `options` and when you don't, the docs just always pass the `options` param.

[2018-09-27 21:51] vkarpov15 commented on #7043
`import * as mongoose` is not supported. The only ES6 import syntax we currently support is `import mongoose from 'mongoose';` and in general there really isn't a way for us to support `import * as mongoose` with the way our code is currently structured. Sorry for the trouble.

[2018-09-27 21:51] #7043 closed

[2018-09-27 22:31] vkarpov15 commented on #5704
Thanks for your patience @florianbepunkt , we really kicked this issue very far down the road. The issue should be fixed in 5.2.18.

[2018-09-27 22:43] joetidee commented on #3105
An example would be where I have `Item-model.js` which uses the `User` model:
`const User = mongoose.model('User');
`

and where I have `user-model.js` which uses the `Item` model:
`const Item = mongoose.model('Item');
`
I am currently loading these model files when my express server starts:
[code]

This causes an error to be thrown.

[2018-09-28 01:47] jwerre opened #7060 "TypeError: crypto.randomFillSync is not a function"
I'm getting the following error:

[code]

Looks like `crypto.randomFillSync`  wasn't added until `v7.10.0`. I'm using Node `v6.10`. Which version of monoose is compatible with Node v6?

**Please mention your node.js, mongoose and MongoDB version.**
Node: v6.10.3
Mongoose: v4.13.15
MongoDB: v3.4.14

[2018-09-28 02:32] grantcarthew commented on #2471
Sorry @SimonWang00 I didn't find a solution, I have moved to using JSON Schemas and the MongoDB driver. Mongoose was more APIs to learn with legacy version responses on StackOverflow.

[2018-09-28 02:34] RobertWSaunders commented on #4790
Sounds good to me, thanks for clarifying and providing a reason!

[2018-09-28 02:47] jwerre commented on #7060
I've switch to mongoose `v4.11.14` & `v4.12.6` still running into the same issue.

[2018-09-28 04:22] joshuaanthonydeleon opened #7061 "Error inserting into databases on atlas using options for connection creditials"
"mongoose": "^5.2.13"
NodeJS - v8.11.4
Mongodb - MongoDB shell version v3.6.1
**Do you want to request a *feature* or report a *bug*?**
Bug report
**What is the current behavior?**
When saving data into database, connecting to the database works perfectly, I get the result of "MongoError: user is not allowed to do action [insert] on [database]" - this seems to be a issue with passing the basic uri

[2018-09-28 09:45] lineus commented on #7060
@jwerre Mongoose 4 and 5 both work on node 6, it's your dependency nanoid that is calling `crypto.randomFillSync()` and hence is incompatible with node 6.

[2018-09-28 09:53] VinceLyn opened #7062 "DeprecationWarning: collection.ensureIndex is deprecated. Use createIndexes instead"
node.js v9.11.1,
mongoose :5.2.18
MongoDB version:4.0.2

(node:3294) DeprecationWarning: collection.ensureIndex is deprecated. Use createIndexes instead.

mycode:
//======================
var mongoose = require('mongoose');
mongoose.connect(config.dburl.url, { useNewUrlParser: true });
let db = mongoose.connection;
db.once('open', function () {
    var playerScheme = new mongoose.Schema({

[2018-09-28 09:55] VinceLyn commented on #7062
mongoose :5.2.8 do not has this DeprecationWarning.

[2018-09-28 09:59] #7062 closed

[2018-09-28 10:08] lineus commented on #7061
@joshuaanthonydeleon this should be fixed as of 5.2.16 ( related to #6881 ), can you upgrade to mongoose@latest and verify?

[2018-09-28 11:14] andrew-polyansky opened #7063 "'createdAt' and 'updatedAt' timestamps are set at the same time"
**Сurrent behavior:**
[code]
After it we have document like this:
[code]
`createdAt` and `updatedAt` timestamps are set at the same time, when I have created document

**Expected behavior:**
Only `createdAt` should be seted during creation (`updatedAt` should not be seted).

I think issue is here: https://github.com/Automattic/mongoose/blob/b41f93c0fc073c8a702f4c2101ed42d09705a5ca/lib/schema.js#L8

[2018-09-28 13:15] Chnovo28 opened #7064 "How can i insert data into database"
### input : year , class_name , student_no (unique)
These things must be unique, How can i insert data into database?
can you provide the syntax code to achieve the expected result(at the bottom) for the following data.

[code]

[code]

[code]

[2018-09-28 13:34] joshuaanthonydeleon commented on #7061
@lineus  I've updated to package 5.2.18 and the error still persists. Is there additional info I can give to help?

[2018-09-28 14:04] lineus commented on #7037
@NormanPerrin No, regardless of the update method called or whether defaultsOnInsert is true or false, **only on the paths that are in the update doc** *( the second parameter to `Model.*update*()` )* will be **validated** with `{ runValidators: true }`.

### Here are a couple of potential solutions

You could write a static method that calls `Model.findOne()` and either `Model.updateOne()` or `Mo

[2018-09-28 14:50] lineus commented on #7061
@joshuaanthonydeleon you're right, I don't think the underlying driver bug was fixed as I can still reproduce this with the latest version of the native driver and useNewUrlParser = true.

I'm going to reopen #6881 and I've already reached out the native driver folks about the issue [here](https://jira.mongodb.org/browse/NODE-1635)

[2018-09-28 14:51] lineus commented on #6881
reopening this as the issue seems to be unresolved in the latest native driver.

[2018-09-28 15:49] joshuaanthonydeleon commented on #7061
@lineus thanks for the link. I'll be following along as well.

[2018-09-28 15:53] lineus commented on #7061
I'm going to close this since we have #6881 opened back up. Apologies for closing that one without explicitly testing the native driver fix. Thanks for pointing it out @joshuaanthonydeleon !

[2018-09-28 15:53] #7061 closed

[2018-09-28 16:29] jwerre commented on #7060
My fault, I guess I should have looked at mongoose dependancies instead of just the stack trace. This is coming from me using `shortId` on one of my schemas:

        shortId = require('shortid')

	let schema = new Schema({
	  id: {
	    type: String,
	    unique: true,
	    "default": shortId.generate
	  }
	});

[2018-09-28 16:48] vkarpov15 commented on #6737
It works for query cursors, still need to add support for aggregation cursors.

[2018-09-28 17:57] lineus commented on #7060
Oh yeah, that makes sense. It looks like older versions of shortid don't pull in nanoid, you might be able to get away with shortid@2.1 below or upgrade to a newer version of node.

[2018-09-28 17:57] #7060 closed

[2018-09-28 18:00] vkarpov15 commented on #2461
@ritwik310 you can just define an empty schema. Mongoose does not cast values coming out of MongoDB, so you should get the whole document back from `Model.findOne()` even if you do `const Model = mongoose.model('EmptySchema', new Schema({}));`

[2018-09-28 18:04] vkarpov15 commented on #7048
Thanks for reporting, will look into this ASAP. As a workaround, you can use a deep equality check like `lodash.deepEquals()`, just make sure you call `toObject()` on both documents that you're comparing.

[2018-09-28 19:29] felipevignon commented on #7049
quick update: for some reason mongoose is all over the place now. Still won't let me use mongoose.Types.ObjectId, yet when I use mongoose.Schema.Types.ObjectId, assigning a perfectly valid hex string to an objectid (i.e. `let oid = new mongoose.Schema.Types.ObjectId(hexStr)`) throws an error. I'm absolutely at a loss here, please help!

[2018-09-28 20:03] felipevignon commented on #6760
If I may add: I don't feel like it's clear AT ALL in the docs what's the difference between mongoose.Types.ObjectId and mongoose.Schema.Types.ObjectId. It's possible that I just missed it but it was quite the challenge understanding when to use each and it took me a few server crashes. Please add a few lines regarding this in api docs!

[2018-09-28 21:03] #6815 closed

[2018-09-28 21:03] #5144 closed

[2018-09-28 21:03] #6677 closed

[2018-09-28 21:03] #6680 closed

[2018-09-28 21:03] #6878 closed

[2018-09-28 21:03] #6897 closed

[2018-09-28 21:03] #3054 closed

[2018-09-28 21:03] #4412 closed

[2018-09-28 21:03] #6489 closed

[2018-09-28 21:03] #7018 closed

[2018-09-28 21:03] #6728 closed

[2018-09-28 21:03] #6737 closed

[2018-09-28 21:03] #6760 closed

[2018-09-28 21:06] vkarpov15 commented on #6760
That's a good idea, thanks for your suggestion. In https://github.com/Automattic/mongoose/commit/b68c992ff3d9d23c45803ac431a7faac280817e9#diff-6d186b954a58d5bb740f73d84fe39073 we added some notes about how to use `mongoose.ObjectId` vs `mongoose.Types.ObjectId`. TLDR; `mongoose.ObjectId` is the same as `mongoose.Schema.Types.ObjectId`. `mongoose.ObjectId` is only useful when declaring a schema, it

[2018-09-28 21:07] #6841 closed

[2018-09-28 21:07] #6813 closed

[2018-09-28 21:07] #6711 closed

[2018-09-28 21:10] ORESoftware commented on #7018
might want to be

`mongoose.set('debug', true, new Writable());`

so to turn it off, do:

`mongoose.set('debug', false, new Writable());`

but either way

[2018-09-28 22:49] vkarpov15 commented on #7049
I'll make a note to clarify this in the docs. Plus, Mongoose should be able to handle `type: mongoose.Types.ObjectId`, no reason why not, and it'll save people some headache.

[2018-09-28 23:09] vkarpov15 commented on #7050
Thanks for reporting, will fix ASAP

[2018-09-29 06:14] Anant016 opened #7066 "new TypeError('Undefined type `' + name + '` at `' + path + ^ TypeError: Undefined type `undefined` at `name.required`"
let mongoose = require('mongoose');

let UserSchema = mongoose.Schema({
    name:{
        user: String,
        required: true
    },
    password:{
        type : String,
        required:true
    },

})

let User = module.exports = mongoose.user('User', UserSchema);

[2018-09-29 07:36] lineus commented on #7066
@Anant016 it looks like you want the `name.user` path to be required, if that's the case you need to nest the required path with a type under `name.user` like:

[code]

[2018-09-29 10:36] horoscop commented on #7013
@vkarpov15 Hello! Thank you for your answer!
So, I want to create a commenting system. Users will be able to comment to a specific blog post or a specific product.
[code]

Do you know how this can be achieved? (I want to keep the required attribute)

Thank you!

[2018-09-29 11:05] lineus commented on #7058
@jaruszewskiG it sounds like your query is running before the index is completely created on the collection.

You can add `await Advisor.init()` before you start querying your data and that should resolve the issue ( *you can uncomment the init call in the failing example below to fix the script* ).

For more explicit control over your index, you can disable mongoose's autoIndexing and await the i

[2018-09-29 13:05] st3h3n commented on #5285
Careful! This will just skip non primitive types that don't offer keys, including Date().

[2018-09-29 16:04] lineus commented on #7064
@Chnovo28 When you say:

If I understand you correctly, you mean that the student array within each class object needs to only contain unique students?

**You can use the `addToSet` method when adding students to the student array to prevent duplicates from being added.**

*Keep in mind that **every property** within the embedded doc that you are adding needs to be exactly like the one that alread

[2018-09-29 20:46] BaileyJM02 opened #7067 "Cyclic dependency detected, no fix found"
**Do you want to request a *feature* or report a *bug*?**
Report Bug

**What is the current behavior?**
It doesn't work: `Unhandled rejection at: Promise  [object Promise] reason:  Error: cyclic dependency detected`
**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
On ` newGuild.save()` is when it seems to error.

**What is the expected behavior?**
Save to the co

[2018-09-29 22:08] lineus commented on #7067
@BaileyJM02 There's nothing obviously wrong in the snippet above, unless `GuildModel` is just a Model constructor created with `mongoose.model` in which case the await isn't necessary ( this isn't the cause of your issue though ). A simple script that creates a new instance and saves it works as expected ( see below ).

Can you share a more complete example that demonstrates the error and include

[2018-09-29 22:43] lineus commented on #7052
@toniov Thanks for reporting this!

complete repro script:

### 7052.js
[code]
### Output ( with .lean() )
[code]
### Output ( without .lean() )
[code]

[2018-09-30 00:48] samuelcecilio opened #7069 "[Question] Async/Await with Mongoose and Express"
I'm sorry if I'm asking this question in the wrong place.

The code below should work fine? It's safe? Is it the best way?

[code]

Thank you very much for your attention.

[2018-09-30 09:19] lineus commented on #7052
I took another look at this when I had some more time this morning, and **if you simplify the 2 populate calls down to 1 by nesting the 2nd populate call in the 1st, the error goes away.**

*The code that follows is the same as my last comment with only 1 call to populate, and it works as expected:*

### 7052.js
[code]
### Output (with .lean() ):
[code]

[2018-09-30 10:35] noname2534 commented on #7052
ในวันที่ อา. 30 ก.ย. 2018 16:19 น. Kev <notifications@github.com> เขียนว่า:

[2018-09-30 15:13] monasingh27294 commented on #7054
I am using this code in worker file

process.on('message', function (m) {

    require('../../../config/mongoose'); // connection to a DB
   let user = require('./models/user)

    user.find((x) => {
        console.log("----------------")
        process.send(x);

    }).catch((err) => {
        console.log(err)
    });

});

but receiving null

[2018-09-30 16:38] vkarpov15 commented on #6745
There's some more detail about why you would use one vs the other in the API docs:

* https://mongoosejs.com/docs/api.html#model_Model.estimatedDocumentCount
* https://mongoosejs.com/docs/api.html#model_Model.countDocuments

TLDR; `estimatedDocumentCount()` is faster when you're looking to count how many documents are in the entire collection, but might not be 100% accurate in a [sharded cluster](

[2018-09-30 16:38] vkarpov15 commented on #6985
@trueter thanks. Looking forward to seeing what you come up with :+1:

[2018-09-30 16:39] vkarpov15 commented on #7053
Thanks for reporting, will fix ASAP :+1:

[2018-09-30 16:42] vkarpov15 commented on #7045
@sebastian-nowak what do you think about making it possible to edit this on a per-schema-type basis? So instead of toggling casting on/off at the global level, you can do stuff like:

[code]

What do you think of that idea?

[2018-09-30 16:45] vkarpov15 commented on #7026
The problem with adding a _mongooseOption is that a lean document doesn't have _mongooseOptions :) That's why we added a symbol instead. But a WeakMap will likely be a better approach for debugging purposes.

[2018-09-30 16:50] vkarpov15 commented on #7055
Thanks for the suggestion re: listing out what operations and options go into `bulkWrite()`. We'll add that. But next time, can you please provide more actionable issues than "please improve your documentation"? The more concrete your suggestions are, the more we can do to help :+1:

[2018-09-30 17:44] aletorrado opened #7070 "Cannot manually populate a dynamic reference (refPath)"
Hi, I'm trying to manually populate a dynamic reference, because I'm applying a custom filter for populating (which doesn't seem to fit the populate options, because it receives a static match query), but it doesn't seems to be working.

This is the code to verify:

[code]

Can you confirm me if this is a bug, or which workaround may I use?

Thanks

[2018-09-30 20:38] vkarpov15 commented on #6880
@lineus @gianpaj  yep the need for the useFindAndModify option will go away with Mongoose 6.0.0. No timeframe for when we will release Mongoose 6.

[2018-09-30 20:46] vkarpov15 commented on #5762
@gabzim that would be pretty messy because JSON.stringify does not support promises. So res.json() will never be able to handle async virtuals unless you add extra helpers to express.

[2018-09-30 21:30] vkarpov15 commented on #6998
Are each of the lookups in eachAsync fast or is it possible for one of them to take several seconds?

[2018-09-30 21:32] vkarpov15 commented on #3105
How do you use itemModel in user-model.js ? Sounds like you could benefit from exporting schemas rather than models

[2018-09-30 21:40] vkarpov15 commented on #7063
This is expected behavior for Mongoose. We count initial creation as an update for timestamps so you don't need extra logic for querying for all documents that have been updated since a certain time. What about this behavior is causing a problem for you?

[2018-09-30 21:50] vkarpov15 commented on #7037
It might be an interesting idea to validate that all required paths are set in $set or $setOnInsert if upsert and run validators are set. What do you think about that @lineus ?

[2018-09-30 22:01] #7066 closed

[2018-09-30 22:06] vkarpov15 commented on #7013
Instead if ref: 'Post', use refPath: 'elementModel'. You then have an elementModel path in your schema that contains either 'Post' or 'Product'. Does that make sense?

[2018-09-30 22:15] vkarpov15 commented on #7069
This should be fine since your try/catch wraps everything that might throw. I would recommend you check out `@awaitjs/express` : https://www.npmjs.com/package/@awaitjs/express . It will save you from having to remember to try/catch around everything

[2018-09-30 22:15] #7069 closed

[2018-09-30 23:28] joetidee commented on #3105
[code]

[2018-09-30 23:46] aletorrado commented on #7070
Yeap. I have a model named Conversation which is transversal to any model. I defined it like this:

[code]

[2018-10-01 02:17] #7041 closed

[2018-10-01 06:03] toniov commented on #7052
Thanks for the workarounds!

[2018-10-01 06:46] simllll commented on #6998
In General they are very fast,but could be due to some circumstances that it takes a bit longer from time to time. But not more than a second, in average it processes between 500 and 1000 entries per second.

[2018-10-01 09:16] Faran52 commented on #7026
Yeah you are right

[2018-10-01 09:22] Faran52 opened #7071 "deleteOne is not an option when used with find query indexes"
I have a query like this
`model.find({}, (err, res_query) => {
   /** some additonal code here*/
    res_query.map(q => {
        q.deleteOne();
    })
})`

the problem is deleteOne does not work in this case and reports deleteOne is not a function, I've updated from mongoose 4 to 5 so I've changed remove to deleteOne. It was working fine with remove,  can I not do this and must use removeMany in

[2018-10-01 09:38] lineus commented on #7037
I like that idea @vkarpov15. I think a shortcoming in my handling of the missing paths in the pre hook above is that it will error out on the first path, it might be better if we include all paths that are missing in the update doc instead.

[2018-10-01 09:51] lineus commented on #7054
@monasingh27294 you should either pass a callback or use the promise like methods on queries, not use both at the same time.

The first parameter to the callback is error, so in your example you are only handling the error in the callback and the error in catch, you never see the found documents.

try:
[code]

[2018-10-01 11:13] monasingh27294 commented on #7054
Thanx

[2018-10-01 11:13] #7054 closed

[2018-10-01 12:52] leanpilar opened #7072 "sort of populate with nested populate not working"
this works:
[code]
this works:
[code]
but combined don't
[code]
All 3 version doesn't throw an error, in all 3 version the populate is correct, but in the 3rd it doesen't sort

[2018-10-01 12:58] gom3441 opened #7073 "transactions Error.... help me.... error message : Transaction numbers are only allowed on a replica set member or mongos"
I had tried transactions. An error occurs when you put options.
Brothers find problems .....plz
I followed the example here and followed it.
http://thecodebarbarian.com/a-node-js-perspective-on-mongodb-4-transactions.html
However, an error occurs.
I need a transaction.

Delete the option and it will work normally....

this is code

     const mongoose = require('mongoose');
     const uri = 'mongo

[2018-10-01 14:11] lykmapipo opened #7074 "timestamps: false schema options does not work for sub-schema"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
All sub-schema defines using `new Schema([...fields], {timestamps: false})` end up
having the timestamps
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
Disabling timestamps i.e `{ timestamps: false }` should remove timesta

[2018-10-01 14:27] lineus commented on #7072
@leanpilar It's worth noting that sorting in populate has been precarious in the past, [enough so, to be mentioned in the FAQ](https://mongoosejs.com/docs/faq.html#populate_sort_order). I created the following example to try and replicate what you're seeing, but it works as expected. Can you edit the script so that it fails in the way you're seeing, or create a complete script like it that does?

[2018-10-01 15:34] BaileyJM02 commented on #7067
I’ll upload the rest of my code in a minute 👍

[2018-10-01 16:27] leanpilar commented on #7072
I'm googled for 2 days and I found as you mentioned a lot of sort problems...
And because all my normal sort works I think that a lot of that I read it was fixed...
more difficult is that Englis is my second foreign language so, I'll try again :D

in my collection, I have a field called position of type number not in order

calling
[code]
will sort correctly and output:

[code]

if I add a nested(

[2018-10-01 17:19] BaileyJM02 commented on #7067
## mongo.js
[code]
## hue.js
[code]
## guild.js
[code]
## guildCreate.js
(event)
[code]

[2018-10-01 17:20] BaileyJM02 commented on #7067
## Stack Trace
[code]

[2018-10-01 17:26] gom3441 opened #7075 "mongoose : replica set , Error message ::: no primary found in replicaset or invalid replica set name"
mongoose version : 5.3.0

    cont  mongoose = require('mongoose')

    mongoose.connect('mongodb://localhost:27017,localhost:27017,localhost:27017/test?replicaSet=rsName', {useNewUrlParser:true, });

error message  : no primary found in replicaset or invalid replica set name

I want to duplicate. Yes I followed it correctly and I get an error. What is the problem?

[2018-10-01 19:17] StefanBalea commented on #6981
Hi, using **countDocuments** in combination with near query leads to the same error. I used **estimatedDocumentCount** instead and it works ok. :)

[2018-10-01 19:46] #7022 closed

[2018-10-01 20:39] lineus commented on #7067
@BaileyJM02 what are you passing into the function that guildCreate.js exports? Can you provide the data that causes the error?

[2018-10-01 21:10] lineus commented on #7072
@leanpilar in your **not translated** example, you're applying the query helper `.sort({ position: -1 })` to the `UpravaGrupa` model,

**does `UpravaGrupa` have a position field as well as `upravaList`?**

That `.sort()` will apply to the initial find on `UpravaGrupa`, not to the populated docs returned after `.populate()`.

[2018-10-01 21:29] #7013 closed

[2018-10-01 21:35] sebastian-nowak commented on #7045
I think it would be okay for majority of use cases, assuming that:
* Cast callback would be called only on type mismatch, otherwise there would be a lot of boilerplate code
* It would be somehow possible to invalidate the field from within the callback. Perhaps by throwing an exception? The value would be assigned as is, but the field would be invalidated.

A nice extra thing to have would be an a

[2018-10-01 23:10] #7040 closed

[2018-10-01 23:11] vkarpov15 opened #7076 "Fix broken links in schematypes.html"
In https://mongoosejs.com/docs/schematypes.html, the 'Number' and 'Buffer' links are still broken. I did some work in #7040 to add the missing sections to `schematypes.html` but didn't quite have time to finish.

[2018-10-02 02:15] adamreisnz opened #7077 "Document the `fields` parameter for `Model`"
**Do you want to request a *feature* or report a *bug*?**
Docs update

**What is the current behavior?**
Docs don't mention the `fields` parameter for the `Model` constructor

**What is the expected behavior?**
Document this behaviour so that we can use it.

To clarify:

https://github.com/Automattic/mongoose/blob/master/lib/model.js#L66
https://mongoosejs.com/docs/api.html#model_Model

I was wond

[2018-10-02 07:43] andrew-polyansky commented on #7063
@vkarpov15

Some causes when it may be needed:

- When you need query only created data (which were not updated)
- When you need to know is it initial state or updated

Also e.g. `sequelize` has such behavior.

It would be nice to have some setting for control this behavior. What do you think?

[2018-10-02 09:45] andersnm commented on #7029
FYI I had what sounds like a related issue. After adding an index to a schema, Jest started to randomly complain about `Timeout - Async callback was not invoked within the 5000ms timeout specified by jest.setTimeout.` and failed the test. (although running Jest with --detectOpenHandles seemed to fix the issue!)

To progress, I had to await the model's init method like this:

[code]

(Spent a day o

[2018-10-02 10:14] Jugis opened #7079 "BUG: update with $[] and arrayfilters does not set arrayelements."
Mongodb: 4.0.0, Mongoose: 5.3.0.
The $set part never udpates anything in my docs when I use updateMany (or simple update) with arrayFields and $[<identifier>].
Schema:
[code]
update function:
`TableBooking.updateMany({}, {
    '$set': {
        'tables.$[].reservedDuring.$[arr].reservedFrom': Date.now()
    }
}, { arrayFilters: [{
        'arr.reservedFrom': { $gte: Date.now() }
    }],
    multi:

[2018-10-02 12:20] lineus commented on #7079
@vkarpov15 should mongoose cast in arrayFilter? Or should we add a note to the docs about it?

@Jugis mongoose doesn't cast the date in the arrayFilters option for you, and Date.now() returns a number, so the filter doesn't match anything. You'll need to change your `$gte` value to a date with `new Date()` or `new Date(Date.now())` and it should work.

Here's a complete repro script that shows it

[2018-10-02 12:28] Jugis commented on #7079
Oh wow it works!
I was convinced that my "opts" part was correct: I presumed that in **"{"n":2,"nModified":0,"ok":1}"** the "n" part indicated how many matches were found for the criteria in "arrayFilters".
Thank you so much, and sorry about the nonsensical question. :)

[2018-10-02 12:32] lineus commented on #7079
yeah, the "n" is the number of documents matched by the overall query condition. It's not nonsensical at all, I think it would be neat if mongoose cast that value to a date for us 👍

[2018-10-02 12:50] leanpilar commented on #7072
yes, both parent and first child have a field named 'position' and both of them are sorted as I want, until I add the populate for the second child.
adding: populate: {path: 'pozicija'}, then the sort of the first child fail, but the query sort() on parent works.
for testing, I removed the sort() on the parent, and renamed the field on the parent, but the result is the same.
Today I notice that th

[2018-10-02 12:54] #7053 closed

[2018-10-02 13:59] lineus commented on #7072
@leanpilar I've got the data from the console you pointed to, can you share all of your **actual** schema for this and I'll use them to try and reproduce this.

[2018-10-02 14:15] leanpilar commented on #7072
ok, let's try

[code]

[code]
[code]
the router call is the same

[2018-10-02 14:29] abhishekjain2604 commented on #3775
That solution would have worked but the 'specific prices' are user specific. In this 'userPrice' virtual example, localField of productSchema matches against the foreign field of priceSchema. But there's another field in priceSchema(user) that needs to be matched against a field that is not present in the productSchema. It will come from the 'request' object inside the controller. request.user.id

[2018-10-02 19:12] Christilut opened #7083 "Timestamps not working in 5.3.1"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Mongoose 5.3.1
Mongo 3.6.8

Saving any document with the `timestamps` option enabled seems to no longer add any timestamps.

My previous version was `5.2.17` where it does work (downgraded to confirm).

**If the current behavior is a bug, please provide the steps to reproduce.**
The following code:
[co

[2018-10-02 21:52] tsybinAndrey opened #7084 "Timestamps error when updating document field"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Get document by id.
Change field and doc.save() return error TypeError: (intermediate value)(intermediate value)(intermediate value).constructor.base.now is not a function
Works OK if I remove `{timestamps: true}` from model
**If the current behavior is a bug, please provide the steps to reproduce.**
[c

[2018-10-02 22:09] vkarpov15 commented on #7083
Thanks for reporting, will investigate ASAP. Can you add more substantial code samples? That will help us investigate.

Also, it looks like you're modifying the schema after compiling your model. That is generally not right. Can you try calling `schema.set('timestamps', true)` before calling `mongoose.model('InvoiceModel', schema)`?

[2018-10-02 22:13] vkarpov15 commented on #7084
The below script works without any errors. Can you please modify the below script to repro your issue?

[code]

[2018-10-02 22:37] Christilut commented on #7083
I'm using Typegoose and AFAIK it doesn't support setting schema options
during creation so I'm setting them afterwards. Maybe something changed
that setting them afterwards doesn't work anymore?

I thought the timestamps bug might have been Typegoose somehow but since a
mongoose version downgrade fixes it I figured it isn't.

On Wed, 3 Oct 2018, 00:10 Valeri Karpov, <notifications@github.com> wrot

[2018-10-03 00:40] lineus commented on #6976
Let us know if this is still an issue for you @kimmanwky, closing this for now.

[2018-10-03 00:40] #6976 closed

[2018-10-03 00:41] lineus commented on #6986
@jcindex I'm closing this for now. Please provide a code sample that demonstrates the issue for you if it comes back up.

[2018-10-03 00:41] #6986 closed

[2018-10-03 00:43] #6991 closed

[2018-10-03 00:44] lineus commented on #6992
@deepak-pal2016 I'm closing this for now, if you need further assistance please comment here and we can re-open it.

[2018-10-03 00:44] #6992 closed

[2018-10-03 00:49] lineus commented on #7020
@wuteng606 I just re-read your question, and I think the simple answer is that the $project stage frequently mutates the shape of the input documents before passing them to the next stage which might potentially change $match's effectiveness ( ie the path you're matching on no longer exists ). If you need more specific help, please include an example here and we can sort it out together.

[2018-10-03 00:49] #7020 closed

[2018-10-03 01:34] aletorrado commented on #7070
Hi, do you need any more info about this? It's pretty straightforward to test, but let me know how can I help.

BTW, do you have any bulletproof way to force manual population in the meanwhile?

[2018-10-03 01:49] lineus commented on #7063
@andrew-polyansky Since you're on mongodb 3.6.6, you can use the `$expr` operator to test the equality of the`createdAt` and `updatedAt` fields to get this now, [here's a contrived example](https://gist.github.com/lineus/f26d828435408fff3af0a51195268051).

@vkarpov15 It might be nice to be able to configure this behavior in the future, especially if the `$expr` operation from my example is noticea

[2018-10-03 04:28] deckyfx commented on #7043
```import mongoose from 'mongoose'; ```
raise error ```mongoose has no default export```

while
```import * as mongoose from 'mongoose'; ```
still work at the following versions
[code]

[2018-10-03 08:31] leanpilar commented on #7072
found the problem...
Today after I boot my pc the sort it starts working and I start investigating...
after I upgrade the mongoose to the last version I needed to restart mongodb.

the same on my ubuntu-nginx-pm2 server

`service mongodb restart`

and now it works like it has to.

[2018-10-03 09:41] tsybinAndrey opened #7086 "Timestamps error when updating document field"
[code]

_Originally posted by @vkarpov15 in https://github.com/Automattic/mongoose/issues/7084#issuecomment-426448395_

It's strange but when I run it from one file everything work OK.
I've got User.js
[code]
And your script
[code]
it throws
[code]

[2018-10-03 09:56] #7084 closed

[2018-10-03 12:06] lineus commented on #7070
@aletorrado you've defined the path `doc` on your Conversation schema with `type: ObjectId`, but after you find `doc` from the referenced collection, you try and save the whole value of `doc` back to the conversation `doc` path.

**Because the Conversation `doc` path is defined as `type: ObjectId`, the value you attempt to assign to it will be cast to an `ObjectId`.** Meaning you end up with the e

[2018-10-03 12:08] lineus commented on #7072
@leanpilar that's perplexing, but I'm glad you got it sorted out.

[2018-10-03 12:08] #7072 closed

[2018-10-03 12:43] aletorrado commented on #7070
Thanks for all those examples. That workaround seems to do the trick fine.

I understand the casting behavior of the mongoose document, but if I hardcode the `ref: 'OtherModel'` option, and set on that path a document of OtherModel, the casting behavior is disabled (Manual Population). I think the same should apply when using `refPath` if the referenced document's model matches the one stated on t

[2018-10-03 13:44] lineus commented on #7070
@vkarpov15 should we formalize ( add to the docs ) the current behavior of paths that are defined with `ref` being allowed to be set manually, and also make paths defined with `refPath` behave the same way?

This issue can be summed up with:

### 7070_3.js
[code]
### Output:
[code]

[2018-10-03 16:01] Christilut commented on #7083
Okay I re-created the bug in a minimal case but the problem must indeed be typegoose since the identical scenario works in mongoose but not typegoose.
Sorry for the waste of time!

[2018-10-03 16:01] #7083 closed

[2018-10-03 19:00] gwuah commented on #7074
@lineus @vkarpov15  , I'd like to take on this bug.
Can you please guide me on how to fix it?

[2018-10-03 19:06] xoscar commented on #6409
I'm having the same issue, this is my connection function:

`
const openMongodbConnection = ({ config }) => (
  process.mongoConnection ? Promise.resolve() : mongoose.connect(config.MONGO_URL, {
    bufferCommands: false,
    bufferMaxEntries: 0,
    keepAlive: true,
  })

  .then((connection) => {
    process.mongoConnection = connection;
    return Promise.resolve();
  }, err => (
    Promise.re

[2018-10-03 19:58] lineus commented on #7074
@gwuah I'm not sure if you're asking for procedural steps, like forking the repo in git or which file to start investigating, etc. I would suggest that you start by checking out [the contributing guide](https://github.com/Automattic/mongoose/blob/master/CONTRIBUTING.md) if you haven't already and join us on [Slack](http://slack.mongoosejs.io/) to ask any questions you may have. I look forward to s

[2018-10-03 20:11] lineus commented on #7074
@vkarpov15 I think I made a mistake marking this as a bug. [The docs](https://mongoosejs.com/docs/guide.html#timestamps) say

Looking at the code and the wording in the docs it looks like this is intentional. It's either not set or is set, so true/false appear to have the same effect. Is this something we *should* change or is the answer here to set them to true/obj or don't set them at all?

[2018-10-03 22:23] wlockiv opened #7087 "BUG. Embedded Documents Return Only [Object] from Aggregate Query"
Howdy, I'm currently using v8.11.3 of Node, 4.0.3 of MongoDB Shell, v3.1.6 of the MongoDB js library v5.3.1 of Mongoose.

I am trying to render an ejs page with some data from a Mongo db. I am using an aggregate function to `$match`, and `$project` the data (I would like to break the date up into a friendlier format). Instead of displaying the entries (`date`and `hoursWorked`) from the embedded do

[2018-10-03 23:27] gwuah commented on #7074
@lineus 👀

[2018-10-04 01:58] ORESoftware opened #7089 "Question - what happens upon errors during bulk create"
Just a quick question for Mongoose/mongodb library:

https://stackoverflow.com/questions/52637923/bulk-create-what-happens-on-errors

anyone know?

[2018-10-04 06:19] subhashish12 opened #7090 "aggregating"
productModel.aggregate( [
        {$match:{ txtProductName: { $regex:regexStr}} },
        {
            $lookup: {
              from: 'productSeller',
              localField:'_id',
              foreignField: 'productId',
              as: 'productDetails'
            }
        }
    ]).exec((err,resp)=>{
        if(err) {
            res.status(400).send('error')
        }
        else {

[2018-10-04 08:49] yoannpicquenot opened #7091 "Encoding issue in mongoose documentation"
**Do you want to request a *feature* or report a *bug*?**
Report a little bug in the documentation

**What is the current behavior?**
Just an error of encoding in the **Error message templates:** section of https://mongoosejs.com/docs/api.html#schematype_SchemaType-validate

**If the current behavior is a bug, please provide the steps to reproduce.**

![image](https://user-images.githubusercontent

[2018-10-04 11:00] lineus commented on #7090
@subhashish12 Here is an example that shows two levels of $lookup in an aggregation. My example includes schema definitions and doc creation in addition to the aggregate call and it's pipeline stages.

### 7090.js
[code]
### Output:
[code]
*If this doesn't answer your question, please create a complete example like mine, with the most basic schema necessary, doc creation, and preferably with asser

[2018-10-04 11:17] lineus commented on #7089
[code]

**if `foo` is defined as having a schema path type of `String`, the false value will be cast to a string 'false' and the document will be created.** For example:

### 7089.js
[code]
### Output:
[code]

**If you do pass in a value that mongoose won't cast to a string, like an object, then an error will be returned to the callback or promise.** For example:

### 7089_2.js
[code]
### Output:

[2018-10-04 11:42] joniba opened #7092 "mongoose custom query options: migrating from mongoose 4 to mongoose 5"
(copied [from stackoverflow](https://stackoverflow.com/questions/52645767/mongoose-custom-query-options-migrating-from-mongoose-4-to-mongoose-5))

I'm trying to upgrade from mongoose 4 to the mongoose 5 (currently 5.3.1). It seems that mongoose 5 no longer supports passing custom options (or even any options for `find`?). Our codebase is highly dependent on various mongoose middlewares that receiv

[2018-10-04 11:59] lineus commented on #7087
@wlockiv To fix the `laborEntries: [ [Object], [Object] ]`, instead of `console.log(result)` try `console.log(JSON.stringify(result, null, 2))`. This will display the contents of result[0].laborEntries. This doesn't change the data returned from the aggregation, but it will allow you to see the entirety of the object on console.

[2018-10-04 12:44] lineus commented on #7086
@tsybinAndrey what's in your `./db` file? This example works for me on `@5.3.1`:

### index.js
[code]
### user.js
[code]
### db.js
[code]

### Output:
[code]

[2018-10-04 12:56] tsybinAndrey commented on #7086
I've got something like this
### db.js
[code]

[2018-10-04 12:59] lineus commented on #7092
@joniba The following example shows that your custom option is still passed to the pre query hook. I'm using the `query.prototype.getOptions()` method to get the options in the hook.

### 7092.js
[code]
### Output:
[code]

I'll do a bit of research, I suspect `.options` changed to `._options` or something like that. I'll open a PR for the migration docs once I find the change.

[2018-10-04 13:40] #7026 closed

[2018-10-04 14:58] wlockiv commented on #7087
@lineus Thank you! I also realize the aggregate method isn't the only way to do what I'm wanting to do, it seems virtuals are the mongoose way.

[2018-10-04 15:08] #7048 closed

[2018-10-04 15:40] andreafdaf commented on #3258
Hello everyone, sorry if I'm bringing this issue back to life after so long but I've stumbled on this behavior (on v5.1.5)

I have a populated doc with a date, that must be formatted according to a timezone in the parent element. So for example:
doc A (timezone: Europe/Rome), subdoc X (date: 2018-10-04T15:00:00.000Z)
doc B (timezone: America/New_York), subdoc X (date: 2018-10-04T15:00:00.000Z)

It

[2018-10-04 15:59] joniba commented on #7092
sorry it does seems to be working, closing the issue

[2018-10-04 15:59] #7092 closed

[2018-10-04 18:38] ORESoftware commented on #7089
@lineus thanks, my question was more general though, say we pass an array of 5000 docs to the Model.create() method.

If there is an insert error on the 3000th doc, do the remaining 2000 docs get inserted or does the operation get _aborted_?

[2018-10-04 19:17] lineus commented on #7089
@ORESoftware My bad. The 2nd example above shows that despite one of the three docs being invalid, create still saves the other 2. A similar example with 2500 good and 2500 bad documents works the same way, resulting in 2500 saved docs ( as verified with the assertion in the example ).

**If there's a validation error in the docs being created, `Model.create()` returns an error to the callback/pro

[2018-10-04 21:41] tsybinAndrey commented on #7086
Worked it out. Problem was in project structure.

[2018-10-04 21:41] #7086 closed

[2018-10-05 02:06] Spown opened #7093 "Contradictions in 'remove' hooks docs"
Node 10, Mongoose 5.3.1, Mongo 3.2

There are numerous contradictions in the docs regarding this.

Firstly in the very start there is this:

![](https://drive.google.com/uc?id=1B108_hLgasTuNcpknWQbFSN3FTn0UjL7)

Then goes this note:

![](https://drive.google.com/uc?id=1kWS2DJqTdeLadvSVxGX97xzOpVtpnCs6)

Furthermore to make things even more complicated there is this [Naming Conflicts](https://mongo

[2018-10-05 07:59] subhashish12 commented on #7090
thanx

[2018-10-05 07:59] subhashish12 commented on #7090
thanks.

[2018-10-05 07:59] #7090 closed

[2018-10-05 08:32] ergoithz opened #7094 "Performance improvement proposal for mongoose Query streams"
I've benchmarked mongoose streams against mongodb streams and found mongoose was one order of magnitude slower.

I think there is a performance problem on current implementation, relying on continuously using mongo's cursor.next along with non-trivial flow control code to mongoosify returned documents.

IMHO, using and streaming approach involving mongo's Cursor.pipe along with stream's Transform,

[2018-10-05 09:37] Ncifra opened #7095 "[BUG] Aggregate $match with dates not working"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
Having an aggregation with dates in $match, returns no results.
The following:

[code]

With debug on produces this query:

The above returns results from MongoDB's shell directly, but seems not to be working with mongoose.

[2018-10-05 10:43] darshanan24 commented on #6890
mongoose.connect("mongodb://localhost:27017/test", {useNewUrlParser: true});
mongoose.set('useCreateIndex', true);

This solved all my deprecation warnings.

[2018-10-05 13:11] Ncifra commented on #7095
@lineus $date seems to be available only in [MongoDB's strict mode](https://docs.mongodb.com/manual/reference/mongodb-extended-json/#data_date). And from mongoose's documentation it should be [enabled](https://mongoosejs.com/docs/guide.html#strict) by default. In case these two are different types of 'strict' we should be okay in recognizing it.

Also, as I said, the query from the debug mode of m

[2018-10-05 16:43] BaileyJM02 commented on #7067
It just exports the code as a function so it can be binded to the event guildCreate.

[2018-10-05 16:53] DorisKGB opened #7096 "is not function updateOne"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

[2018-10-05 18:57] vkarpov15 commented on #7050
Hmm upon closer inspection it looks like I can't repro this. The below script gives me the desired output on 5.2.17 and 5.3.1:

[code]

Can you please modify the above script to reproduce your issue?

[2018-10-05 19:13] vkarpov15 commented on #7001
The below script seems to work fine for me in Mongoose 5.1.5 and 5.3.1, with `express-http-context@1.1.0`, `express@4.16.3`. Can you try modifying the below script to demonstrate your issue?

[code]

[2018-10-05 19:14] #7002 closed

[2018-10-05 19:14] #7007 closed

[2018-10-05 21:00] ORESoftware opened #7097 "bug: bulk create fails after first error"
If we do this:

[code]

if inserting m3 fails, the remaining inserts also seem to fail. I would expect that if an insert fails, the other inserts would not be affected. Is there a setting we can use to allow everything else to succeed even if there is a failure?

It looks like `Model.insertMany([])` has the same behavior as `Model.create([])`

[2018-10-05 21:38] ORESoftware commented on #7097
I tried this too:

		const bulk = Model.collection.initializeUnorderedBulkOp();

I got the same problem. Sad.

[2018-10-05 23:12] vkarpov15 commented on #3105
Ah, that's right, that has been a pain point in the past for me too. Try `this.db.model('Item').bar()` instead. That's how mongoose generally works around circular require() calls with models.

[2018-10-05 23:33] lineus commented on #7095
If by "produces", you mean *allows* it, this is expected. **Mongoose performs no sanity checks, or mutations on aggregation pipeline stages**. We only verify that there is a pipeline present. So whatever objects you put into the pipeline array is exactly what mongoose will send to the native driver's `collection.aggregate()` method.

Aggregations can be resource intensive on the server side; both

[2018-10-06 02:29] vkarpov15 commented on #7071
There's a `delete()` function for documents: https://mongoosejs.com/docs/api.html#model_Model-delete . But it is just an alias for doc.remove() , which becomes a deleteOne under the hood. You can use either one interchangeably

[2018-10-06 02:29] #7071 closed

[2018-10-06 05:51] lineus commented on #7095
@Ncifra here's an example script that uses the [mongodb-extjson](https://www.npmjs.com/package/mongodb-extjson) package to convert your pipeline stages to objects that mongodb understands whether they're defined in extended JSON or not. it's a better solution than the convoluted way I came up with :smile:

*NOTE that the output of ejson.parse() on your `$match` object is an equivalent conversion f

[2018-10-06 05:51] #7095 closed

[2018-10-06 05:55] lineus commented on #7097
@ORESoftware what kind of error are you getting when `Model.create()` fails on one of the inputs?

[2018-10-06 05:58] lineus commented on #7089
#7097

[2018-10-06 05:58] #7089 closed

[2018-10-06 06:04] lineus commented on #7096
Can you please include a code sample that reproduces what you are seeing @DorisKGB? Here's an example that shows the schema, doc creation, using `Model.updateOne()`, and assertions that codify my expectations for clarity. The Output shows the result of running the script.

### 7096.js
[code]
### Output:
[code]

[2018-10-06 06:05] lineus commented on #7091
That's a weird one 👍 Thanks for reporting @yoannpicquenot.

[2018-10-06 09:10] joetidee commented on #3105
Thank you. Would e great to post your answer here to help other too:
https://stackoverflow.com/questions/52677446/mongoose-circular-model-reference

[2018-10-06 09:54] lineus commented on #7067
@BaileyJM02 I've got some time to look at this, but the example you provided isn't quite enough to go on **for me**.

Knowing what gets passed in as the value of `guild` when this event fires and fails might help get us closer to an answer.

[2018-10-06 11:07] BaileyJM02 commented on #7067
Sure, I’ll get the now 👍

[2018-10-06 11:16] BaileyJM02 commented on #7067
@lineus this is the object passed into `guild`
[code]

[2018-10-06 12:57] thomasraydeniscool commented on #7050
I just tested and your right, it has gone away for me too. I think it might have been a problem with my node_modules. I have been having this issue on and off, so it's been hard to pin it down. I'll let you know if it starts happening again and I can reproduce it.

[2018-10-06 13:52] lineus commented on #7067
@BaileyJM02 You're using `process.send()` from both hue.js and guildCreate.js, those IPC calls suggest that you're using one or more child processes to run this. Rather than make guesses as to how you have that setup, it would be easier if you could share the code that runs all of this. Is that possible?

[2018-10-06 14:59] BaileyJM02 commented on #7067
@lineus Please see [my repo](https://github.com/BaileyJM02/Hue/tree/Bot). I have moved `../../Utilities/mongo.js` etc. to the base to make it simpler.

[2018-10-06 16:40] lineus commented on #7067
@BaileyJM02 [Here is a gist](https://gist.github.com/lineus/f37bc994bf2bb4a1926c2417c967a300) that shows it working for me.

I had to guess at some of your input data, and I didn't use eris/eris-sharder as I'm not sure how to start reproducing this in a reasonable way using those packages. I substituted just using a child process wrapper around index.js instead.

It's probably intentional, but I d

[2018-10-06 18:14] fazelmk opened #7098 "BulkWrite updateOne Converting number to array"
BUG

**What is the current behavior?**
What I sent to mongoose:
[code]
What mongoose sent to MongoDB
[code]

The set value should be a number not an array containing the number.
in the Schema weekProcessedData is an object with 7 fixed keys 1..7 and each key contains an array of 1440 positions.

the update should set a value for the specified position ( in this case the position 0 ).
But instead i

[2018-10-06 20:00] lineus commented on #7098
@fazelmk I tried to reproduce this but the following repro script works as expected. Can you modify it to reproduce the error you are seeing?

### 7098.js
[code]
### Output:
[code]

[2018-10-06 22:43] lineus commented on #7098
@fazelmk I tried this update syntax with bulkWrite, findOneAndUpdate, and then eventually with the native driver directly. It fails in both of the mongoose operations as described, and succeeds in the native driver. Thanks for reporting this, I'll see if I can sort this one out 👍

### 7098.js
[code]
### Output:
[code]

[2018-10-06 22:44] lineus commented on #7098
for grins, here's the native script:

### 7098_native.js
[code]
### Output:
[code]

[2018-10-07 00:55] #6933 closed

[2018-10-07 01:37] Akrion opened #7099 "orFail() returns undefined when a match IS found"
Mongodb: **3.6.5**, Mongoose: **5.3.1**, Node Driver: **3.1.6**

As per the docs `onFail()` helper function should throw when nothing is found (or done in the case of update/delete) but if it matches on a document should return it right? It seems that just adding it to a working query with a valid `_id` it would make the query output `undefined`:

Schema:
[code]

Running this then:
[code]

Would r

[2018-10-07 04:28] gsandorx commented on #7099
Just want to point out that if the query filter passed to the findOne() function is not matched, orFail() does work as expected by throwing the specified exception (if any)

[2018-10-07 05:48] venkyyPoojari commented on #6922
(node:6455) DeprecationWarning: GridStore is deprecated, and will be removed in a future version. Please use GridFSBucket instead. What about this ??

[2018-10-07 10:51] renehauck opened #7100 "middleware not working after update"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

I updated an application today by "npm update" for about 2 months and now mocha threw me a few errors.
After a short debug I found out that the two middlewares `post("save")` and `post("remove")` are no longer triggered.
I used the old mongoose version "5.1.6" again and the middlewares was executed as

[2018-10-07 11:07] lineus commented on #7100
@renehauck The following script shows that they should still work as expected. Can you edit it to replicate what you're seeing?

### 7100.js
[code]
### Output:
[code]

[2018-10-07 11:31] lineus commented on #7099
@Akrion Nothing in the docs suggests that `orFail()` will return the found document, just that it throws when a document matching the query doesn't exist ( *I assumed it would too though.* ).

@vkarpov15 can we make `orFail()` return the doc on a successful match?

[2018-10-07 12:14] lineus commented on #7097
@ORESoftware What version of mongoose on you using?

The following example shows explicitly that with the latest version, **a unique index failure does not inherently cause `Model.create()` to skip creating the rest of the documents**. Can you edit the code to reproduce the issue?

### 7097.js
[code]
### Output:
[code]

**Side Note**: *if you want your issue addressed without getting asked questio

[2018-10-07 13:27] lineus commented on #1731
@vkarpov15 `Model.create()` does currently create all valid documents, but it returns the error on the first instance of a either a validation error or a duplicate index error (E11000). Should/Can we change the behavior of `Model.create()` to collate all errors and return some sort of collection in the Error only after all saves are completed?

The following script shows that an error is generated

[2018-10-07 13:54] lineus commented on #7097
One thing worth noting is that `Model.create()` doesn't currently collate all of the errors and return them **all** in the Error. I think this is something we could potentially do, [I updated this pre-existing issue](https://github.com/Automattic/mongoose/issues/1731) for this.

[2018-10-07 15:04] maverickpravin commented on #7032
[code]

When I run below code, parent's `updateAt` changes but not the child's `updateAt`. What am i doing wrong?
[code]

[2018-10-07 15:28] gsandorx commented on #7099
@lineus http://thecodebarbarian.com/whats-new-in-mongoose-53-orfail-and-global-toobject.html

Reading that blogpost by @vkarpov15 , one would assume that if a document is found, `findById()` would return the matched document. Only when the query filter doesn't match any document, `orFail() ` would kick in...

[2018-10-07 16:00] NikitaVlaznev commented on #4941
Still getting the "the $sort key specification must be an object" error when running:
    aggregate([{"$sort":[["name",-1]]}, {"$limit":10}]);

Mongoose 5.3.1.
Mongo Server: 3.4.2

[2018-10-07 16:07] lineus commented on #7099
@gsandorx thanks for pointing that out! That answers my question to @vkarpov15. This is reproducible with the following script:

### 7099.js
[code]
### Output:
[code]

[2018-10-07 16:36] gsandorx commented on #7099
File: [https://github.com/Automattic/mongoose/blob/master/lib/query.js](url)
Line: 3716

I added a `return res` statement (just testing this out, given that the `res` object contains the found document) and the problem is gone. The problem is that if the (res == null) statement is false (ie. a document was found), there's no code branch returning the `res` object, thus we are getting `undefined`.

[2018-10-07 16:38] nmaxcom commented on #5409
To me it's still an issue, I'm using mongoose 5.2.8.

Debugging seems to show that you are forced to use a callback within insertMany() parameters, instead of being able to use .then() and .catch() as it should allow.

[2018-10-07 16:40] lineus commented on #7099
I was just working on it too 👍

I think all of the cases in that swtich (including the default?) should return res if they don't throw an error. Also, all of the tests for `orFail` need to be updated.

If you want to submit a PR, I'm happy to stand aside on this one :smile: just let me know if that's the case.

[2018-10-07 16:50] gsandorx commented on #7099
@lineus I just did it :)

I didn't add the `return res` to the `default` case, just in case `undefined` was more appropriate for an unsupported query type. Maybe I'm wrong :)

[2018-10-07 17:27] vkarpov15 commented on #7073
You must run a [MongoDB replica set](https://docs.mongodb.com/manual/replication/) to use transactions. Check out [run-rs](https://www.npmjs.com/package/run-rs) for this. Here's Mongoose's [official guide to getting started with transactions](https://mongoosejs.com/docs/transactions.html) with more info.

[2018-10-07 17:28] #7073 closed

[2018-10-07 17:39] vkarpov15 commented on #7075
Why do you have 'localhost:27017' repeated 3 times? You need 3 distinct host/port combinations. Also, can you [connect with the mongodb shell](https://docs.mongodb.com/manual/reference/program/mongo/#description)?

[2018-10-07 17:41] #7099 closed

[2018-10-07 18:31] rajveerg opened #7102 "Cannot read property 'apply' of undefined\n at Buffer.MongooseBuffer.mixin.copy"
I have reactjs application running on nodejs_4.2.3 using MongoDB_3.0.12 and the ODM as mongoose_^4.3.1. Now I have fallen in to a case to upgrade to MongoDB_3.6.2 and the compatible ODM driver as mongoose_^5.0.0 on the same legacy node version.

Now if I try to persist a mongoose schema model I am getting the below error.

at serializeBinary (/usr/src/app/node_modules/mongoose/node_modules/mongodb

[2018-10-07 20:36] sebastian-nowak opened #7103 "'Strict: throw' schema option broken in mongoose 5.3.1"
I just updated from 5.2.17 to 5.3.1 and the `strict: 'throw'` schema option stopped working.

Repro script:

[code]

On mongoose 5.2.17 it correctly produces validation error for `doc2`.
On mongoose 5.3.1 validation succeeds in both scenarios.

[2018-10-07 20:46] vkarpov15 commented on #6981
@StefanBalea that sounds like a problem. [`estimatedDocumentCount()` does **not** take a filter parameter](https://mongoosejs.com/docs/api.html#query_Query-estimatedDocumentCount). Using `estimatedDocumentCount()` with `$near` doesn't make sense because you can't specify a query.

[2018-10-07 20:48] vkarpov15 commented on #7045
Yeah that sounds like a great idea as well. Right now, Mongoose's cast functions throw a `CastError` if casting fails, so your logic would work in theory. I'll prioritize custom cast functions for built-in types for the next release.

[2018-10-07 20:50] vkarpov15 commented on #7077
Good idea. We should also make the document constructor public, that will help with this because the `Model()` constructor just calls `Document()` under the hood.

[2018-10-07 21:00] vkarpov15 commented on #3775
Perhaps the below will work?

[code]

See [this example](https://mongoosejs.com/docs/populate.html#query-conditions). The above code will find the `userPrice` doc whose `productId` matches the product's `_id` and whose `userId` matches the request-specific user id. Does that help?

[2018-10-07 21:15] vkarpov15 commented on #7063
I'm struggling to think of a realistic case where I want to find documents that were created and not updated, or updated after creation. In my experience, timestamps are used almost exclusively for newsfeeds (where you only care about `createdAt`) and clients polling for updates (where you only care about `updatedAt`). Can you provide an example of where you would want data that has not been updat

[2018-10-07 21:18] vkarpov15 commented on #7043
@deckyfx what transpiler are you using? I haven't seen the 'no default export' error you mentioned even though we [support building with webpack](https://mongoosejs.com/docs/browser.html#webpack). If you're using typescript, you might try the suggestion from [this comment](https://github.com/Microsoft/TypeScript-React-Starter/issues/8#issuecomment-301265017)

[2018-10-07 21:18] sebastian-nowak opened #7104 "Associated document session isn't propagated to its subdocuments"
Transaction that's associated with a doc isn't propagated to its subdocuments:

[code]

[2018-10-08 02:58] prema6 commented on #3056
i created a recursive schema attribute as per above example - ReplySchema.add({ replies: [ReplySchema] });

My question now is, i see "replies" having "_id"'s created.  Can we eliminate the "_id" creation in recursive attributes ? is there a way ?

[2018-10-08 07:47] Ncifra commented on #7095
This is supposed to be used for advanced filtering, but from what has been used up until now, the searches can be achieved with find() too actually. We used it first to have the concat() method, but we can have the same with a virtual when I think about it.

I normally posted this not because of not being able in achieving those results, but because as I said, I think that the funcionality in mong

[2018-10-08 11:31] ILoveYouDrZaius opened #7105 "Error with collation and empty results"
Hello,
I am using the latest version of Mongoose, 5.3.2. My problem is this: if I use collation in the query, and it does not get results, the query does not work. No error is thrown, simply the query is not executed.

[code]

When I remove the collation, the query always works.

Thank you.

[2018-10-08 11:55] andrew-polyansky commented on #7063
@vkarpov15 Thanks a lot for enhancement this.

Just imagine some Admin control panel that has many entities and rules. And you as Admin should know who create or update some rule and when it was.

For some causes you don't need know who, but you must know when. E.g. this may apply to information that is rapidly becoming obsolete (seasonal discounts, promotions, etc.)

[2018-10-08 14:13] jakesjews opened #7106 "Update command with timestamps on parent schema against an array nested in array throws exception"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running an update command against a double nested array when the parent schema uses timestamps throws an exception `TypeError: Cannot read property 'schema' of undefined` The bug appeared in version 5.3.0.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is t

[2018-10-08 14:25] lineus opened #7107 "add a transform property to populate objects"
Linus on slack posed an interesting question,

can I in any way get { name: 'foo', address 'bar' } as returnobject from populate instead?

**I think it would be cool to have a transform property on the populate object that would be applied to each doc returned from the population before it gets assigned back to the document's path.**

### linus.js
[code]

### Current Output:
[code]

### Desired Ou

[2018-10-08 14:38] vkarpov15 commented on #6409
@xoscar are any of your database operations particularly slow? One explanation for that error message is that your operation was queued behind an operation that took longer than `socketTimeoutMS`, so perhaps try [increasing `socketTimeoutMS`](https://mongoosejs.com/docs/connections.html#options).

Another workaround would be to try doing an operation when you reuse the connection:

[code]

[2018-10-08 15:16] Dev-Wito opened #7108 "DeprecationWarning: collection.findAndModify is deprecated"
https://github.com/Automattic/mongoose/blob/5c0e444ae8c50e352de5c4f7a763419fbb4dd316/lib/query.js#L2727

DeprecationWarning: collection.findAndModify is deprecated. Use findOneAndUpdate, findOneAndReplace or findOneAndDelete instead.

"mongoose": "5.3.1",

[2018-10-08 15:18] lineus commented on #3056
@prema6 When your nested schema is recursive, **the nested path's schema is a reference to the top level schema**.

**So, any changes you make to the nested path's schema will also apply to the top level schema**
( *e.g. if you remove the `_id` path from the replies's schema with `ReplySchema.remove('replies._id')`, it will also remove the `_id` property from the top level schema.*).

[This gist](

[2018-10-08 15:36] lineus commented on #7108
@Dev-Wito  In mongoose@5.3.1 you can use `mongoose.set('useFindAndModify', false)`. There's [a guide here](https://mongoosejs.com/docs/deprecations.html) with more details. Here's an example script and it's output:

### 7108.js
[code]
### Output:
[code]

[2018-10-08 16:02] lineus commented on #7108
**It seems like there may be an issue with setting useFindAndModify in the connection options in mongoose@5.3.2 though**

Repro script:

### 7059.js
[code]
### Output:
[code]

I'll dig a bit deeper into this.

[2018-10-08 18:12] vkarpov15 commented on #7087
When you use aggregate, mongoose doesn't hydrate the returned object, so you don't get any of Mongoose's handy inspect output. See https://mongoosejs.com/docs/api.html#model_Model.hydrate

[2018-10-08 18:17] vkarpov15 commented on #3258
@andreafdaf  I'm not sure I understand your issue, can you elaborate with code samples? Dates in MongoDB are just numbers, JavaScript is responsible for all date formatting, so you should be able to handle date formatting with a virtual

[2018-10-08 18:18] vkarpov15 commented on #7093
Good catch, will fix asap

[2018-10-08 18:19] vkarpov15 commented on #7094
Not a bad idea. Can you share your benchmark?

[2018-10-08 18:22] vkarpov15 commented on #7050
Thanks, will investigate ASAP

[2018-10-08 18:27] vkarpov15 commented on #7067
I would do a close `require('util').inspect()` on the object you're passing in to guildModel, there's likely a circular object in there somewhere.

Also, you don't need to do `await new guildModel`, calling the mongoose model constructor is synchronous, `save()` is async

[2018-10-08 18:43] xoscar commented on #6409
Hello @vkarpov15, yes I've tried to increase the `socketTimeoutMS` but still getting the same issue, I'm using a Model base connection so I'm not actually running the queries using the raw client.

Non of my queries have been slow for now, when the connection is successfully open it works like charm.

I also tried to open a connection and closing it before finishing the process but I still have th

[2018-10-08 19:00] Daniel-M opened #7109 "Document SchemaType Object not working as expected"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
The documentation for mongoose schema types [states that for mixed schema types](https://mongoosejs.com/docs/schematypes.html):

I'm working with a document schemaType which goes like this,

[code]

When doing, after a `myDocSchema.findById(...)`

[code]

I get an error,

[code]

 unless I cha

[2018-10-08 20:16] #7091 closed

[2018-10-08 20:34] ORESoftware commented on #7097
We are on mongoose version `"mongoose": "4.13.13"`, do you think the behavior changed with mongoose version 5?

[2018-10-08 20:38] #7093 closed

[2018-10-08 21:32] ajbieber commented on #3093
Just to confirm what is being said here...

I have 5 documents based on the following model:

[code]

If I want update each of my documents using
[code]
then it will replace all of the 'meta' fields in my 5 documents, not add to them.

If I already had data in the meta fields, this will be deleted. Am I correct with this assumption? If not, is there a way I can add to a 'Mixed' field using Model.u

[2018-10-08 22:45] ORESoftware commented on #7097
Ok so I tried this with version 4.13.13:

[code]

and it works. My only remaining question - is this sending 5 HTTP requests or just 1?

[2018-10-09 01:14] prema6 commented on #3056
Thank you for the response.

[2018-10-09 02:16] farwayer opened #7111 "Error in castUpdate when updating Map type field"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

[code]

[code]

**What is the expected behavior?**

Look like invalid number of arguments passed to `castUpdateVal()` in `lib/helpers/query/castUpdate.js`.
[code]
`context` is string instead of Query in result.

**Please mention your node.js, mongoose and MongoDB version.**

[code]

[2018-10-09 02:52] aletorrado opened #7112 "Question: is it possible to use a match query when populating a refPath field?"
Hi, as I recently stated in #7070 I use refPath in some cases, and need to filter the results with a match query.

I think it's not possible at the moment. Can someone please confirm me if this is true?

[2018-10-09 04:47] shivgarg5676 opened #7113 "How to abort transection in mongoose."
F.Y.I- I am using mongoose 5.3.2 with transection support and mongo relica set on version 4.0.2.

I just want to know how to abort transection in mongoose. I could not found a method in mongoose official guide.
I tried session.abortTransection(). but threw an error saying
`session.abortTransection is not a function`

What is valid mechanism to abort transection using mongoose?

[2018-10-09 06:33] #7105 closed

[2018-10-09 06:33] ILoveYouDrZaius commented on #7105
It was an error from my database.

[2018-10-09 08:48] yuklia commented on #6140
Why this issue closed?
**mongoose still has an issue with autoReconnect.**

"mongoose": "^5.2.14"
[code]
[code]

Reconnect event never arises.

[2018-10-09 09:21] samtsai15 opened #7114 "use aggregate.count() and return collection (array object)."
MongoDB : 3.4
Mongoose : 5.1.6

Hi , I use count with aggregate and return array object. example:

[code]
and it return :

[code]

According to MongoDB Docs.
https://docs.mongodb.com/v3.4/reference/operator/aggregation/count/

It should be return object only.
So it will be fix or not ?

Thanks.

[2018-10-09 09:30] cr05s19xx commented on #3768
So, to try and clarify, running

[2018-10-09 09:32] cr05s19xx commented on #3768
So, to try and clarify, running
[code]
...exposes the `model` object to the global namespace, whereas
[code]
places the model in the scope of the already connected mongoose singleton object. Can some confirm this for me please.
Thanks

[2018-10-09 09:53] andreafdaf commented on #3258
@vkarpov15 Sorry, my example wasn't really clear... talking about dates and timezones was just a specific use case, let me illustrate with some pseudojs:
[code]
Suppose we have:
- user Bob: { local_timezone: 'Europe/Rome' }
- user Alice: { local_timezone: 'America/New_York' }
- event Conference Call: { start: '2018-10-04T15:00:00.000Z' }

Bob and Alice have a reservation for Conference Call, so le

[2018-10-09 12:42] lineus commented on #7097
`Model.insertMany()` [only sends one insert](https://mongoosejs.com/docs/api.html#model_Model.insertMany).

[2018-10-09 13:42] fega opened #7115 "Disable Version Validation but keeping increment"
Hello, there is any way to skip version validation but keeping it? (Im not interested on accuracy)

Thanks

[2018-10-09 13:42] vkarpov15 commented on #7050
@thomasraydeniscool I ran your script locally and got the expected output, the `cat` property shows up on both Mongoose 5.2.17 and 5.3.2.

[code]

Does this not work on your machine?

[2018-10-09 14:01] #7077 closed

[2018-10-09 14:26] tomanagle opened #7116 "BUG: {new: true} on the create method returns unexpected results"
**What is the current behavior?**
When you give the create method a settings object that contains {new: true}, it will create your given object and an object with just default fields populated, all packed up into an array.

Here is a create method with the {new: true} option.
[code]

[code]

**What is the expected behavior?**
The create method should either:
1) Ignore the new option and return a s

[2018-10-09 15:27] juona opened #7117 "Array subdocument validation does not work in certain conditions"
Mongoose 5.2.8 + Mongo 4.0.1

This seems like an odd **bug** with differing outcomes in only slightly different scenarios. I have found some extremely weird behaviors, so this is going to be a long bug report, please bear with me.

First of all, here is my code (a simplified example I wrote to test this specifically):

[code]

Quick summary. The schema is as follows:

[code]

There are three stati

[2018-10-09 16:53] ORESoftware commented on #7097
You mean it's just one HTTP request. I assume the 5.x behavior is the same as the 4.x behavior in this case. It seems to be.

[2018-10-09 17:19] lineus commented on #7097
Mongodb doesn't use http to communicate, it uses the [mongodb wire protocol](https://docs.mongodb.com/manual/reference/mongodb-wire-protocol/#mongodb-wire-protocol) ( hence the `mongodb://` in all of our connection strings ). The `insertMany()` function sends only one insert command/operation/message to the server containing all of the docs, where as create sends one insert operation per doc. This

[2018-10-09 19:12] ORESoftware commented on #7097
Yeah I should have just said "network request" instead of HTTP, thx

[2018-10-09 19:13] #7097 closed

[2018-10-09 20:30] israelidanny opened #7118 "pre/post query hooks return a different query"
**Do you want to request a *feature* or report a *bug*?**
reporting a bug

**What is the current behavior?**
Currently, a "pre" and a "post" query hook will return a different result for `this.getQuery()`. For example, mongoose usually converts "true" strings into boolean trues, as well as document objects into `_id` ObjectId fields.

**What is the expected behavior?**
pre/post queries shouldn't b

[2018-10-10 01:48] thomasraydeniscool commented on #7050
That script doesn't work on my machine no.

I should have included the expected output, sorry, because you got the error also.
**Notice how inside the friends array the object has no** `name` **field?**

The output should be:
[code]

[2018-10-10 03:06] brodeynewman commented on #7116
I'd like to hop on this if this is a confirmed bug?

[2018-10-10 05:02] AlwaysConfused9 opened #7119 "updating a 2d array in mongoose when position is known"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

[2018-10-10 05:03] AlwaysConfused9 commented on #7119
I have this seats property on my schema now what i want is to update a particular position in the array suppose 2nd row 3rd column i want to change the value from 0 to 1 how do i query such a thing
const seatsSchema=new Schema({seats : { type:Mixed, default:[ [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ] , [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ] , [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,

[2018-10-10 05:05] AlwaysConfused9 commented on #7119
this is neither a issue nor a bug report i just want to know how to query such a thing
I know this is not the correct place to ask such doubts but I need it urgently and on stack overflow no one has answered yet
plzz help

[2018-10-10 12:42] vkarpov15 opened #7120 "Deprecate aggregate.addCursorFlag()"
Re: #7056, #4241, there simply isn't a way to support `noCursorTimeout` with MongoDB aggregations currently: https://jira.mongodb.org/browse/SERVER-6036 .

[2018-10-10 12:52] #7056 closed

[2018-10-10 23:00] bscotchAdam opened #7121 "Model update functions not being called"
`model.update` and `model.findOneAndUpdate` do not actually perform updates even when they match documents.

+ MongoDB v3.4.9 is running locally on my machine.
+ I am directly running `node index.js` on the same machine (Node v8.12.0).
+ Mongoose is version 5.3.2

The *entirety* of the code being run via `node index.js` is:

    const mongoose = require('mongoose');
    mongoose.set('debug',true);

[2018-10-11 00:28] vkarpov15 commented on #6922
@venkyyPoojari that's an old one, predates mongoose 5, but worth addressing. We will fix.

[2018-10-11 00:53] lineus commented on #7103
Thanks for reporting this @sebastian-nowak!

[2018-10-11 00:55] lineus commented on #7104
@sebastian-nowak I don't have a lot of meaningful experience with sessions yet. What impact does this have on you?

[2018-10-11 01:07] lineus commented on #7109
confirmed with

### 7109.js
[code]
### Output:
[code]

[2018-10-11 01:09] bscotchAdam commented on #7121
Prior case was on Linux (Ubuntu 16.04). Replicated on Windows10 with fresh installs of Mongoose (v5.3.2, same result with 4.0.7) and MongoDB (v3.4.17) using Node 8.11.3.

Am I just being super dumb about something?

[2018-10-11 01:47] lineus commented on #7111
@farwayer I wasn't able to replicate the **exact** error you saw, I do however get a different error with the following script. Can you edit this script to reproduce the error you're seeing? As a workaround, it looks like using dot notation in the query works. ( if you comment out the failing query below and uncomment the query with dot notation the tests pass. )

### 7111.js
[code]
### Output:
[c

[2018-10-11 01:51] venkyyPoojari commented on #6922
Thanks, I am going to use this for production, so please help as soon as possible

[2018-10-11 02:17] MegaphoneCA opened #7123 "[REMOVE PLEASE]this.estimatedDocumentCount always returning 0"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
estimatedDocumentCount when called on a static method of the class using 'this' always returns a count of 0.

**If the current behavior is a bug, please provide the steps to reproduce.**

const mongoose = require('mongoose');
const Schema = mongoose.Schema;

const MySchema = new Schema({
    /

[2018-10-11 08:45] JeremieTouze commented on #7100
Same issue there. Since I updated from mongoose 5.2.12 to 5.3.2  yesterday none of my ".pre" middleware are not triggered (without any error catched). I went back to 5.2.12 and it works again.

[2018-10-11 10:00] lineus commented on #7100
@JeremieTouze can you create a reproducible example ( or edit mine above ) to demonstrate the behavior you're seeing? I haven't been able to reproduce this yet.

[2018-10-11 10:13] joniba commented on #5139
so what is the workaround now to get the previous behavior that validates that there is at least one member?

Also, shouldn't this be mentioned in the[ mongoose-4-to-5 migration doc](https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md)?

[2018-10-11 10:28] lineus commented on #7113
@shivgarg5676 try `session.abortTrans`**a**`ction()` instead. The [mongoose trans**a**ction guide](https://mongoosejs.com/docs/transactions.html) would be improved by including an example of aborting a trans**a**ction. We'll add one.

[2018-10-11 11:04] JeremieTouze commented on #7100
@lineus just did a simple script with mongoose 5.3.2 and the middleware work fine. As soon as I have time, I'll build upon this script to meet to same "non triggered middleware issue", and hopefully figure out where the problem is.

[2018-10-11 13:12] farwayer commented on #7111
@lineus you got cascade error from `catch` block https://github.com/Automattic/mongoose/blob/5.3.2/lib/types/map.js#L62
Initial error is from `applySetters` in `try`

[2018-10-11 13:58] shivgarg5676 commented on #7113
sorry my bad

[2018-10-11 14:16] #7123 closed

[2018-10-11 14:48] lineus commented on #7121
@bscotchAdam your example schema only defines one path, `hello`. In your update you are trying to set an unknown ( **to the schema**) path called `dummy`.  Check out the [docs on strict mode here.](https://mongoosejs.com/docs/guide.html#strict) By default strict mode is enabled preventing you from setting paths that don't exist in the schema.

When no valid update paths exist in the update doc, i.

[2018-10-11 14:55] lineus commented on #7106
confirmed with:

### 7106.js
[code]
### Output:
[code]

[2018-10-11 15:09] lineus commented on #7114
@samtsai15 Mongoose, as well as the underlying Mongodb Native Driver, either return an AggregationCursor or an array ( the default in mongoose ) from calls to aggregate. The example in the docs you linked to is from the mongo shell, whose behavior can differ from other drivers/libraries.

@vkarpov15 In future versions of mongoose, would it be a good idea to detect when `$count` is the last stage i

[2018-10-11 15:16] bscotchAdam commented on #7121
Thank you so much for clarifying this!

That totally makes sense. I was originally doing this with an `$unset`, which is why this behavior was somewhat unexpected (I had removed a field from my schema, and then wanted to update all my docs accordingly to remove that field). I can see how it makes sense to now allow modification of any field when it's not in the schema though.

[2018-10-11 15:19] #7121 closed

[2018-10-11 15:46] NishantDesai1306 opened #7125 "Mongoose global error event"
Feature query

I was wondering is there's some way to get all errors in mongoose like some sort of global error event on mongoose or even at a collection level ?

node version: 8.11.3
mongoose version: 4.13.6

[2018-10-11 17:49] vkarpov15 commented on #1731
@lineus we could just add a list of saved docs and a list of docs that failed to save in the error. Thoughts?

[2018-10-11 17:50] vkarpov15 commented on #7032
@maverickpravin thanks for reporting, will fix asap :+1:

[2018-10-11 17:51] vkarpov15 commented on #4941
@NikitaVlaznev I'm not certain MongoDB aggregation supports that syntax, but I'll double check

[2018-10-11 20:14] #7076 closed

[2018-10-11 20:45] vkarpov15 commented on #6984
The below script works fine for me against 5.0.11, although there is a related issue for 5.3.2 that we'll fix. Can you modify the below script to reproduce your issue?

[code]

Output:

[code]

[2018-10-11 20:53] vkarpov15 opened #7127 "Bug with saving a ValidationError in a Mongoose document"
[code]

This throws "Error: key $isValidatorError must not start with '$'"

[2018-10-11 20:54] vkarpov15 commented on #7127
Re: #6984

[2018-10-11 21:04] #7127 closed

[2018-10-11 22:06] vkarpov15 commented on #7102
@rajveerg can you provide more detailed code samples? Schemas, webpack config, etc. would be very helpful.

[2018-10-12 05:42] brucesemple commented on #6999
Circling back to this issue finally ..
I did turn off mongoose buffering just to see if that would have any effect on the problem, it did not.

I started with this post ==> https://docs.mongodb.com/manual/tutorial/geospatial-tutorial/

If I add a select to my query and only return the name of the neighborhood .. the query works ...
The query appears to fail if I return the geometry as well.

If I

[2018-10-12 05:47] brucesemple commented on #6999
Use the  neighborhood dataset from that geospatial-tutorial post .. The neighborhoods have a very large number of sides of the polygon.  That first neighborhood - Bedford - has at least 150 pairs of coordinates.  Does mongoose just have a hardcoded array limit?

[2018-10-12 07:19] Rokt33r commented on #7029
It works fine after I run tests in `node` test env!

[2018-10-12 07:19] #7029 closed

[2018-10-12 09:03] lineus commented on #7107
@vkarpov15 **yeah, a virtual getter solves this already** ( *I can't believe this never even crossed my mind* )

## This works ( [full gist here](https://gist.github.com/lineus/1a774e8a5f8ae02f508ba7938d0948ed) ):
adding a virtual with getter:
[code]
and adding the `$` to the assertions:
[code]

[2018-10-12 09:10] lineus commented on #1731
sounds good to me. I'll take a stab at it.

[2018-10-12 10:52] sebastian-nowak commented on #7104
It's causing a lot of a trouble. JavaScript has no reasonable way of creating an execution context, the only existing API that was available in node.js was deprecated a while ago. The only way to implement transactions in JS is to pass along the transaction handle manually, which gets incredibly hard in complex systems. All methods have to be transaction aware.

Mongoose implemented a nice approac

[2018-10-12 12:40] darshanan24 commented on #4614
@vkarpov15 hi, can i know how to use Mixed schema type without assigning any property name(key )?

for example: This  is a valid mongoose schema:

the output for above code is: // just taking some random json

[code]

But i would like to Post the data and get the data without propertyname(key).
for example something like this:

Expected output:
// without the cube(key name)
{
            "name": "

[2018-10-12 12:42] darshanan24 opened #7128 "Mixed schema type without assigning any property name(key )"
can i know how to use Mixed schema type without assigning any property name(key )?
for example: This  is a valid mongoose schema:

the output for above code is: // just taking some random json

[code]

But i would like to Post the data and get the data without propertyname(key).
for example something like this:

Expected output:
// without the cube(key name)
{
            "name": "JdbcSourcennecto

[2018-10-12 15:46] vkarpov15 commented on #6838
Hmmm so looking more closely at this, the `not authorized on nanowire to execute command { find: "system.users", filter: {}, $db: "nanowire" }` error message in your logs looks suspicious. Does your application query the `system.users` collection directly? Or does your application call [`addUser()`](http://mongodb.github.io/node-mongodb-native/3.1/api/Db.html#addUser) or [`removeUser()`](http://mo

[2018-10-12 15:47] vkarpov15 commented on #6594
This issue's gone stale, I'm gonna close this. Feel free to open if new information surfaces.

[2018-10-12 15:47] #6594 closed

[2018-10-12 16:01] #7006 closed

[2018-10-12 16:39] vkarpov15 commented on #3093
@ajbieber you're correct, `Model.updateMany({}, { meta: { message: 'Hello' } } )` will replace the `meta` property in all documents. If you want to add a `meta.message` property instead, do this:

[code]

[2018-10-12 16:41] vkarpov15 commented on #3056
@lineus @prema6

[code]

See [clone](https://mongoosejs.com/docs/api.html#schema_Schema-clone) and [remove](https://mongoosejs.com/docs/api.html#schema_Schema-remove) in docs.

[2018-10-12 16:44] vkarpov15 commented on #6409
@xoscar can you elaborate on what you mean by "Model base connection" and "open a connection and closing it before finishing the process"?

[2018-10-12 17:40] Stathismi opened #7129 "Is it possible to not apply the uniqueness on other documents and only on array-subdocuments???"

[2018-10-13 03:57] anlexN opened #7130 "please writing source code in ecmascript 2015+ syntaxs, ok?"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
very boring
**What is the expected behavior?**
mordern syntaxs
**Please mention your node.js, mongoose and MongoDB version.**
latest

i reviews mongoose source code that is written by older javascript, it' s very verbose and boring

[2018-10-13 18:27] #7049 closed

[2018-10-13 19:08] khansamad47 opened #7132 "Support to specify time out for a given query"
Requesting feature.
Currently, there is no support to specify a timeout for a given query.

mongoose version: ^5.2.17

[2018-10-13 19:35] #7132 closed

[2018-10-13 19:47] vkarpov15 commented on #6826
Looking more closely at this, it looks like I can compile Mongoose 5.1.8, 5.2.18, and 5.3.3 with `npm run build` and `npm start` with just adding `import mongoose from 'mongoose/browser';` to the output of create-react-app v1.1.0.

![image](https://user-images.githubusercontent.com/1620265/46909373-2bb40300-ceff-11e8-9975-41f111e37829.png)

Can you please clarify what version of Mongoose you're us

[2018-10-13 21:02] #6802 closed

[2018-10-13 21:30] vkarpov15 commented on #6140
@yuklia because to the best of our knowledge this issue is fixed. Can you modify the script from https://github.com/Automattic/mongoose/issues/6140#issuecomment-413812004 to repro your issue, and clarify your exact versions of MongoDB and mongoose please?

[2018-10-13 21:32] vkarpov15 commented on #3768
@cr05s19xx that is generally correct. In the former, `this` is the global namespace, but in the latter `this` in `model()` refers to the mongoose singleton

[2018-10-13 21:36] vkarpov15 commented on #3258
Thanks for the detailed explanation @andreafdaf , that was very helpful. I have a much better understanding of the why of this issue now

[2018-10-13 21:37] vkarpov15 commented on #7115
Not currently. What's your use case?

[2018-10-13 21:47] vkarpov15 commented on #7117
Thanks for the detailed bug report. Have you tried upgrading to mongoose 5.2.18? I believe we made some fixes related to $cachedRequired since 5.2.8.

[2018-10-13 22:01] vkarpov15 commented on #7118
This is a very good point. Mongoose 5 defers casting the query conditions until all middleware is done, which makes it easy to modify the query in middleware in a predictable way, but hard to get the actual query going to the server. We will add a function that explicitly casts the query conditions.

[2018-10-13 22:01] nik72619c commented on #7130
what type of changes are expected here ... kindly describe? willing to work on this one.

[2018-10-13 22:03] vkarpov15 commented on #7050
Oh good catch, I missed that. Will fix this asap

[2018-10-14 03:12] #7130 closed

[2018-10-14 03:17] vkarpov15 commented on #7116
Not a bug. If you want the 2nd arg to create to be treated as an options object, you need to pass an array as the first arg. Use `Conversation.create([doc], { new: true })` . Also, why are you passing a `new` option to create? See create docs: https://mongoosejs.com/docs/api.html#model_Model.create

[2018-10-14 03:17] #7116 closed

[2018-10-14 16:46] #7050 closed

[2018-10-14 16:55] vkarpov15 commented on #7118
Turns out we already have a function for this: [`Query.prototype.cast`](https://mongoosejs.com/docs/api.html#query_Query-cast).

[code]

[2018-10-14 16:55] #7118 closed

[2018-10-14 16:57] vkarpov15 commented on #7117
No worries, thanks for looking into it.

[2018-10-14 16:57] #7117 closed

[2018-10-14 19:07] vkarpov15 commented on #6835
I dug into this in excruciating detail and came to the conclusion that this is due to a known bug with unindexed sorts in MongoDB 2.4: https://jira.mongodb.org/browse/SERVER-12438 . Under the hood, the MongoDB driver sets a batch size of 1000, so that's why you're getting this issue. Another way to work around it is to sort by `_id` instead of `'_id title'`:

[code]

If you want to sort by title,

[2018-10-14 19:07] #6835 closed

[2018-10-14 19:24] YuriGor opened #7133 "pre update(One) - no way to change anything?"
Is there any way to do something useful in the update hook?
`this` is just global or even undefined when setting hook from mongoose plugin.
Nothing useful is passed into hook callback as arguments.
I Expected to have a query object or modifier object parameter.

(K)Ubuntu 18.04
Node v10.7.0
mongodb 3.6.3
mongoose v5.3.3

https://gist.github.com/YuriGor/cc8114a0d0b1ad151eaf58baab24aa3a

regex hook

[2018-10-14 20:16] YuriGor commented on #7133
Shame on me, it was not a good idea to use arrow functions as pre callbacks.

[2018-10-14 20:16] #7133 closed

[2018-10-14 23:40] YuriGor commented on #7133
Okay, regex works on latest version of mongoose,
but `options.document/query` parameter looks like ignored.
no matter how do I set this flags, hook always runs.

[2018-10-14 23:50] freewil commented on #6835
Awesome, thanks for the investigation! Glad it's already a known bug that's since been fixed.

[2018-10-15 04:28] vkarpov15 commented on #6922
@venkyyPoojari @romain10009 that's because gridfs-stream is out of date. The MongoDB driver has a new streaming API for GridFS that you should use instead: https://thecodebarbarian.com/mongodb-gridfs-stream

[2018-10-15 04:45] #6922 closed

[2018-10-15 05:08] vkarpov15 commented on #6998
In the interest of making some progress on this, I started a minimal sharded cluster using [this script](https://github.com/Automattic/mongoose/blob/master/tools/sharded.js) and ran the below script for 15 mins. No errors.

[code]

Can you try modifying the above script to repro your issue?

[2018-10-15 09:09] YuriGor opened #7134 "How to get document _id in pre updateOne hook?"
I do updateOne for my model and have pre updateOne hook on my scheme like this:
[code]
But I cant find any way to get currently updating document's id
Here is a working test script:
https://gist.github.com/YuriGor/04192230fb63542c1af5ff5c19b3a724

Note: in real life this will happen inside mongoose plugin, so I cant just save doc _id to some variable in parent scope, as I do in this script.

[2018-10-15 13:12] JeremieTouze commented on #7100
@lineus  Okay I figured out what was wrong ! This issue has been described before [https://github.com/Automattic/mongoose/issues/4955](url). Middleware must be defined before calling mongoose.model . However I don't understand why with mongoose 5.2.12, middleware were called even if declared after mongoose.model call.
Please let me know if you would like to see the scripts (the issue version and t

[2018-10-15 14:34] asafch opened #7135 "Array validation doesn't occur with $set but does with $push during an updateOne operation"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
When attempting to update a document's property, which is an array, during an `updateOne` operation and turning on validation with the `{runValidators: true}` option, the array isn't validated when it's updated with the `$set` operator, but it does get validated when using the `$push` operato

[2018-10-15 14:35] asafch commented on #7135
Please note that this is not the same issue as described in #6102.

[2018-10-15 19:45] vkarpov15 commented on #7119
@AlwaysConfused9  `Model.updateOne({}, { 'seats.1.2': 1 })`

[2018-10-15 19:45] #7119 closed

[2018-10-15 19:46] vkarpov15 commented on #7103
Thanks for reporting, will fix ASAP

[2018-10-15 19:52] vkarpov15 commented on #5139
@joniba it is there, just towards the bottom: https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#required-validator-for-arrays

Workaround is:

[code]

[2018-10-15 20:06] vkarpov15 commented on #7114
@lineus that's an interesting idea, but I don't think it offers enough benefit to justify breaking consistency with the MongoDB API.

The MongoDB docs you linked to are misleading in their use of the term 'return'. When you `aggregate()` with `$count` in the mongo shell, you actually get back a cursor (see below). The reason why it shows up as a single doc in the output is that's how the mongo she

[2018-10-15 20:15] vkarpov15 commented on #7125
This is a great idea. We should add the ability to handle errors at the model level and the connection level. Right now the closest thing we have is a `Model.on('error')` event, but that only catches errors from index builds and uncaught errors in callbacks.

[2018-10-15 20:17] vkarpov15 commented on #7107
I'll close this for now. Re-open if this is still an issue.

[2018-10-15 20:17] #7107 closed

[2018-10-15 20:21] vkarpov15 commented on #6999
@brucesemple we do not have any hardcoded limit on array size. It might be that you're running into the 16MB document size limit but unlikely. Can you give me an example doc so I might try it out?

[2018-10-15 20:30] vkarpov15 commented on #7104
Thanks for reporting @sebastian-nowak , you're exactly right about this. We'll make it so that `$session` propagates down to all child docs.

[2018-10-15 20:31] vkarpov15 commented on #4614
@darshanan24 so you're trying to make the whole document mixed, with no casting or validation? You can just try:

[code]

[2018-10-15 20:32] vkarpov15 commented on #7128
I answered in https://github.com/Automattic/mongoose/issues/4614#issuecomment-430002218

[2018-10-15 20:32] #7128 closed

[2018-10-15 20:33] vkarpov15 commented on #7129
@Stathismi can you please clarify your question, I'm not sure I understand? Based on my reading, [this blog post](https://thecodebarbarian.com/whats-new-in-mongoose-4.10-unique-in-arrays) might be helpful.

[2018-10-15 20:34] vkarpov15 commented on #3056
@lineus that's a good point. I'll edit my comment to cross out my response, your response is more correct.

[2018-10-15 20:38] vkarpov15 commented on #7133
Right now we don't support hooking `doc.updateOne()`, we only support hooking the functions listed on the [middleware docs](https://mongoosejs.com/docs/middleware.html). In particular, the document/query parameter only affects `remove()`. We'll add hooks for `doc.updateOne()` in a future release.

[2018-10-15 20:40] vkarpov15 commented on #7134
[code]

Does that help?

[2018-10-15 20:40] vkarpov15 commented on #7134
See https://mongoosejs.com/docs/api.html#query_Query-getQuery

[2018-10-15 20:41] #7100 closed

[2018-10-15 20:42] vkarpov15 commented on #7135
Thanks for reporting, will fix ASAP

[2018-10-16 06:54] asafch commented on #7135
@vkarpov15 I haven't tested this bug in `update` and `updateMany` operations to see if it exists there as well - I think it would be prudent to do so.

[2018-10-16 10:11] YuriGor commented on #7134
Hi Valery, thank you for reply!
`this.getQuery()` returns empty object `{}`
I believe `this` is already pointing to query object, but there is no _id inside.
The most relevant i found inside this is
[code]
but _conditions is empty too.

[2018-10-16 11:58] Fr4nk1n0 commented on #7074
**Mongoose version**: 5.3.4
**Node version**: 8.11.3
**MongoDB version**: 3.2.10

**File path**: mongoose/lib/schema.js:853

I think the find condition `s.schema.options.timestamps != null` is to be changed to `s.schema.options.timestamps` without `!= null` because the timestamps of the child Schemas have a Boolean value.

**Extended example**

**From:**
`const childHasTimestamp = this.childSchema

[2018-10-16 12:40] Ron537 opened #7136 "Conditional required field"
**Do you want to request a *feature* or report a *bug*?**
Neither a bug nor a feature request

**What is the current behavior?**
Schema with optional required field has no validation when performing an `update` operation

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Create the following schema:
[code]

2. Create a valid model
[code]

3. Try to update the model w

[2018-10-16 15:06] lineus commented on #7074
@Fr4nk1n0 can you show a test case where the current version doesn't behave as expected? I created the following test based on the example code in this issue's original report, but it passes without any changes:

### test added
[code]
### Output:
[code]

I'm not refuting that the test in find could be changed, I just need to know how to reproduce the problem it's causing so I can add a test that w

[2018-10-16 17:09] vkarpov15 opened #7137 "https://github.com/vkarpov15/mongoose-lean-virtuals/issues/9"
https://github.com/vkarpov15/mongoose-lean-virtuals/issues/9

[2018-10-16 17:14] vkarpov15 commented on #7134
What does your query look like? If _id is in your query, you can get the id with getQuery. If _id isn't in the query, you unfortunately can't get it unless you execute an extra query.

[2018-10-16 17:17] YuriGor commented on #7134
Please take a look at first comment here
[code]
it is my updateOne query.

[2018-10-16 17:19] YuriGor commented on #7134
also at first comment I provided link to gist. There are full version of the script and query object(this) exported as JSON file.

[2018-10-16 19:19] bam-tbf opened #7138 "replaceOne saves subdocument array of strings as null values instead"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Executing replaceOne with a subdocument array of strings results in saving an array of null items instead.

**If the current behavior is a bug, please provide the steps to reproduce.**
Steps to reproduce:

[code]

Result:
[code]

**What is the expected behavior?**

replaceOne should save the subdocum

[2018-10-16 19:33] Fr4nk1n0 commented on #7074
@lineus Try using **.save()** instead of **.create()**

[2018-10-16 19:38] santhosh77h commented on #7134
No need of using $set in update it seems.
https://stackoverflow.com/questions/14199529/mongoose-find-modify-save

[2018-10-16 19:49] santhosh77h commented on #7138
Hi, is your schema correct
items: [{

        type: String,
        default: []
    }].

[2018-10-16 19:52] bam-tbf commented on #7138
I just tried my test code with the schemas as you suggested, @santhosh77h, but it results in the same bug.

[2018-10-16 19:57] YuriGor commented on #7134
AFAIK mongoose will wrap it into $set anyway, so there is no difference.
I tried both ways.
I think this is a bug.
`this._conditions` should be filled with update search criteria described in first parameter of updateOne method, but it's empty.

[2018-10-16 23:31] #7103 closed

[2018-10-16 23:34] vkarpov15 opened #7139 "Remove schema default options in favor of determining schema default options in `Model.compile()`"
#7103 exposed an important flaw with how we handle options. The `_userProvidedOptions` construct we use for determining whether a user explicitly set an option or whether we're using a default doesn't work if the user modifies options using `schema.options.optionName = optionValue`. This makes it super messy to handle global options like `strict` in schemas. The problem comes down to the fact that

[2018-10-17 01:42] #7032 closed

[2018-10-17 06:07] toniov commented on #7052
I tried with newest version (5.3.4) and it's not working properly for me.

[2018-10-17 07:19] bakasura980 commented on #5205
I had the same problem with field modifications.

Try https://www.npmjs.com/package/mongoose-immutable-plugin

The plugin will reject each modification-attempt on a field and it works for

Update
UpdateOne
FindOneAndUpdate
UpdateMany
Re-save

It supports immutability on array, object, etc. type of field and guards deep immutability.

Plugin also handles update-options as $set, $inc, etc.

[2018-10-17 10:28] lineus commented on #7052
@toniov this script adapted from your example shows that it's working now for me. Can you adapt it to demonstrate that there is still a problem?

### 7052.js
[code]
### Output:
[code]

[2018-10-17 10:32] lineus commented on #7074
that works for me too:

### updated test
[code]
### Output:
[code]

[2018-10-17 10:33] pankajs-iprogrammer opened #7140 "Mongoose + Aggregate : Date Casting issue"
I'm new to mongoose, please guide me if I'm doing anything wrong here..

When I perform following query in mongo, its working fine :

[code]
But when I remove new Date(), its not working.

[code]
Now why I want to remove this is because when I'm trying to send date, its going in string format, following is my code :

 `filter["demographics.dob"] = new Date(filter["demographics.dob"]).toISOString()

[2018-10-17 11:40] lineus commented on #7102
**I was able to repro this with the following script on node 4.2.3** ( *this works as expected on newer versions, e.g. node 10.11.0* ):

### 7102.js
[code]
### Output:
[code]

[2018-10-17 12:11] rajveerg commented on #7102
Thanks @lineus for providing the stuff to reproduce the issue.
I have to stick to node 4.2.3 and but have to upgrade mongodb 3.6.x and compatible ODM mongoose ^5.0. Is there a fix to solve the issue.

[2018-10-17 15:07] baterson opened #7141 "How to define a custom query helper with typescript?"
Hello! I want to define custom query helper using  [query helper api][1] .
Here the example:

    // models/article.ts

    import { Document, Schema, Model, model } from 'mongoose';

    interface IArticle extends Document {
	   name: string;
    }

    interface IArticleModel extends Model<IArticle> {
	   someStaticMethod(): Promise<any>;
    }

    const ArticleSchema = new Schema( { name: Stri

[2018-10-17 15:57] vkarpov15 commented on #7136
This is expected behavior, update validators only run on paths that are in the update: https://mongoosejs.com/docs/validation.html#update-validators-only-run-on-updated-paths . Since a is not in your update, mongoose won't validate it because mongoose doesn't know whether the document in MongoDB has `a` set. If you want to ensure `a` is always in your update, you will have to write your own middle

[2018-10-17 15:57] #7136 closed

[2018-10-17 16:17] Bexanderthebex commented on #5986
Hello @vkarpov15, I encountered this issue in v5.3.2 using mongodb 4.0

here is the following code I used:
`    await User.updateOne(
      { _id: userId, 'courses.course_id': courseId },
      {
        $set: {
          'courses.$[].course_progress.$[cp].status': 'IN_PROGRESS',
        },
      },
      {
        arrayFilter: [
          {
            'cp.chapter_order_no': 1,
            'cp.co

[2018-10-17 16:35] lineus commented on #7141
@baterson check out [this issue in DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/23132) that directly relates to your question. It looks like it's been open for a while, you might add a comment there to help get some traction on it.

Mongoose doesn't provide support for the typescript definitions, and from what I can tell, the current type definitions maintained by Def

[2018-10-17 16:35] #7141 closed

[2018-10-17 16:39] lineus commented on #5986
@Bexanderthebex it looks like you're passing in an option called `arrayFilter` to your query, I believe this should be `arrayFilters`.

[2018-10-17 17:57] #7109 closed

[2018-10-17 19:37] laino opened #7142 "Make Query.map() chain-able and document it."
Query.map() is one of the best ways afaik for creating custom statics which support both callbacks and promises in a pain-free way, however it doesn't return ``this``, making it impossible to write concise code like this:

[code]

1. Query.map() should return ``this``
2. Query.map() should be documented.

[2018-10-17 20:13] abarriel opened #7143 "validate doesn't throw any error with nested object in schema"
Hey!
I am wondering why the script below doesn't throw any validation error.
I set strict to throw, if I tried to add a key who doesn't exist in the schema it should throw an error which is not the case here.

**Solution Found:**
		If I remove the required for `jerome`, it works fine. I think the issue may come in the way mongoose handle nested object, for example in this case if I create a subSch

[2018-10-17 22:04] Dewb commented on #1156
For posterity's sake, it looks like an option to disable command buffering was indeed added: https://mongoosejs.com/docs/guide.html#bufferCommands

[2018-10-17 23:07] Bexanderthebex commented on #5986
Still the same error after changing arrayFilter to _arrayFilters_ tho

[2018-10-17 23:57] vkarpov15 commented on #7138
Thanks for reporting, will fix ASAP :+1:

[2018-10-18 00:00] vkarpov15 commented on #7134
Thanks for your patience @YuriGor , I repro-ed the issue locally and will fix ASAP.

[2018-10-18 00:03] vkarpov15 commented on #7140
Why don't you just do `filter["demographics.dob"] = new Date(filter["demographics.dob"])`? If you want to match by a date, you should put a native JS date in your `$match`.

[2018-10-18 02:00] vkarpov15 commented on #7102
Thanks @lineus , will fix this ASAP

[2018-10-18 02:03] vkarpov15 commented on #7142
We'll add this in the next minor release. Right now `.map()` is private because we added it as an experiment to support `.orFail()`.

[2018-10-18 02:07] vkarpov15 commented on #7143
This looks like a bug, will investigate ASAP

[2018-10-18 02:09] rajveerg commented on #7102
Thanks @vkarpov15 for taking this on priority.

[2018-10-18 02:15] vkarpov15 commented on #5986
Can you show your schemas please? Also, why does 'cp.content_order_no' appear twice?

[2018-10-18 05:43] YuriGor commented on #7134
Thank you!
Also please check `update` and `updateMany` - this methods has absolutely the same bug.

[2018-10-18 06:38] pankajs-iprogrammer commented on #7140
@vkarpov15 : I tried that too but it was also not working as It returns date in "Thu Oct 18 2018 12:07:34 GMT+0530 (India Standard Time)" format where I'm storing date in  ISO String format i.e "2018-10-18T06:38:01.709Z"

[2018-10-18 06:44] pankajs-iprogrammer commented on #7140
@vkarpov15 : I found the solution, it started working when I did following change :

[code]

[2018-10-18 07:31] adamreisnz commented on #5110
@vkarpov15 is there any way to "retain" a moment on a document without having it be cast to a `Date` object all the time, and only cast it when saving?

E.g.:

[code]

Can the moment instance be retained and have conversion to a Date take place only when the data is saved into the database?

[2018-10-18 12:49] srokatonie opened #7144 "Error: key {key} must not contain '.' (working on 5.1.5, not on later versions)"
**BUG**

We were running Mongoose on version 5.1.5 and all was good. Then cloned repo, npm installed everything (Mongoose updated to 5.1.7, but not working on most recent release 5.3.4).

Started getting error:
[code]

It happens when you try to create a key that contains "." (dot), for example:
[code]

I believe that `"settings.appName"` is a valid JSON string and should be supported?

Node versi

[2018-10-18 12:55] paglias opened #7145 "Regression in custom validation since 5.2.7"
I'll try to create a reproduction but in the meantime: while upgrading mongoose from version 5.1.x to 5.3.x one of our tests started to fail, I went through all the minor versions and found that it started to happen in 5.2.7

The test is the following:

[code]

It looks like that this custom validation isn't being run correctly:

[code]

The document (a sub-document) is validated correctly and cre

[2018-10-18 13:03] paglias commented on #7145
Not a full reproduction but

[code]

So it looks like the error is caught when running the sync validation but not the async one

[2018-10-18 13:13] paglias commented on #7145
I think the issue has been introduced with https://github.com/Automattic/mongoose/commit/b9b5b00cb4236bde53dc53ec50a1b157df563818, I seem to be able to fix it by chaning the validation from

[code]

to

[code]

[2018-10-18 13:30] rogerkirkness commented on #5708
@vkarpov15 setDefaultsOnInsert is not working on bulkWrite again in 5.3.4 but did in all prior versions we tried were as we've used it for a while. Let me know what you need to diagnose.

[2018-10-18 13:55] Bexanderthebex commented on #5986
Hi @vkarpov15, the other one is 'cp.chapter_order_no'

`` courses: {
    type: [
      {
        course_id: {
          type: mongoose.Schema.Types.ObjectId,
          required: true,
        },
        organization_id: {
          type: mongoose.Schema.Types.ObjectId,
          required: true,
        },
        status: {
          type: {
            enum: ['DONE', 'IN_PROGRESS', 'TO_TAKE'],

[2018-10-18 15:02] TheTaz25 opened #7146 "Multiple Queries one the same object sometimes do not give a result"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Using `find(...)` on a Model causes not to find something while executing multiple queries on the same search
**If the current behavior is a bug, please provide the steps to reproduce.**
Schema> Ingredients.js:
[code]
Schema> User.js:
[code]
When a user tries to add an Ingredient to their shoppingList,

[2018-10-18 15:16] lineus commented on #5986
@Bexanderthebex The error in the image you shared says that it's looking for an identifier called `sample` not `cp`. Is there a place where you have sample instead of cp in your code?

I created [this working gist](https://gist.github.com/lineus/1945ca7f142bb9c3ca4f251e42c1b86a) based on the relevant parts of your example/schema.

[2018-10-18 15:19] Bexanderthebex commented on #5986
@lineus that is because I tried doing running this instead:

`    await User.update(
      { _id: userId, 'courses.course_id': courseId },
      {
        $set: {
          'courses.$[sample].course_progress.$[cp].status': 'IN_PROGRESS',
        },
      },
      {
        arrayFilters: [
          {
            'cp.chapter_order_no': 1,
            'cp.content_order_no': 1,
          },
        ]

[2018-10-18 15:24] Bexanderthebex commented on #5986
I will try your gist

[2018-10-18 15:31] Bexanderthebex commented on #5986
@lineus can we you make a working gist where you will filter the object in the 'top' array?

[2018-10-18 15:32] lineus commented on #5986
@Bexanderthebex I think I see what's going on, in your query.... yeah that :)

[2018-10-18 15:39] lineus commented on #5986
@Bexanderthebex [Here is a working gist](https://gist.github.com/lineus/9b17b14031b47938d2050f0fe0bbc43f) that moves the `top` _id condition from the query to a second arrayFilter.

[2018-10-18 15:43] vkarpov15 commented on #7134
@YuriGor I found the issue, it isn't a bug in Mongoose, it is a weird syntactic quirk in your code:

[code]

In JavaScript `(1, 2) === 2`, so those extra params mean the above is equivalent to `await Model.updateOne({ $set: { name: 'I was updated!' } })`. I can confirm the below update works as expected:

[code]

[2018-10-18 15:43] #7134 closed

[2018-10-18 15:44] Bexanderthebex commented on #5986
Ahh that did it. Would want an explanation why this worked:

`    await User.update(
      { _id: userId, 'courses.course_id': courseId },
      {
        $set: {
          'courses.$.status': 'IN_PROGRESS',
        },
        $inc: {
          'courses.$.last_course_content.chapter_order_no': 1,
          'courses.$.last_course_content.content_order_no': 1,
        },
      }
    );`

[2018-10-18 15:49] lineus commented on #5986
`$[]` means all elements in the array. `$` is the first matching element from the query doc.

[2018-10-18 15:54] Bexanderthebex commented on #5986
Got it!

[2018-10-18 16:19] #7138 closed

[2018-10-18 18:14] rvaz55 opened #7147 "$pull operator doesn't work with dot notation"
-Reporting a bug
-Version I'm using: "mongoose": "^5.0.17"

**What is the current behavior?**
I'm trying to delete a sub-document the way that is specified in the documentation but I keep getting an error that says

**What is the expected behavior?**
Delete the 'jerk spices' subdocument by using its 'itemID'

    code: 28
    codeName: "PathNotViable"
    errmsg: "Cannot use the part (itemID) of (

[2018-10-18 18:46] YuriGor commented on #7134
Thank you a lot and sorry for wasting your time.
Looks like I copy-pasted arguments from some manual with parentheses, and prettier made it multiline, so it's become difficult to detect.

[2018-10-18 19:36] lineus commented on #7147
@rvaz55 As far as I can tell, the `$pull` operator doesn't accept dot notation ( e.g. stockedItems.itemID' ). I tested it out in the mongo shell and got the same error. Your update doc syntax should look more like `{ $pull: { stockedItems: { itemId: req.params.itemId } } }`

Here's  a contrived example:

### 7147.js
[code]
### Output:
[code]

[2018-10-18 19:38] lineus commented on #7144
@srokatonie can you please include your schema and the operation that leads to the error?

[2018-10-18 19:43] lineus commented on #7145
@paglias  where does `validator.isUUID` come from? is that a package installed from npm or something you wrote? Can you share the package name or source here? I'd be happy to help try and reproduce/help fix this.

[2018-10-18 19:45] lineus commented on #5708
@rogerkirkness can you elaborate on what you mean by "not working"? Can you point to an existing example, or create a minimal one necessary to reproduce what you're seeing?

[2018-10-19 00:32] lineus commented on #7135
@vkarpov15 Is this expected?

The offending `$set` operation doesn't have any paths defined and [update validators only run on updated paths](https://mongoosejs.com/docs/validation.html#update-validators-only-run-on-updated-paths):
[code]

[2018-10-19 01:12] lineus commented on #7145
@paglias it looks like as of 5.2.7 more than just the value being validated gets passed to the validator function, which due to the nature of the way `validator.isUUID` is written throws a wrench in the works ( **arguments[1] becomes** *`{"message":"invalid name","type":"user defined","path":"name","value":"not-a-uuid"}`* **in my example below, instead of the uuid version the function expects** ).

[2018-10-19 07:51] Sudarshan101 opened #7148 "How to use view in mongoose"
I have to try to create the view in mongoose but not provide any solution to create a view in Mongoose.
Anyone please provide me the solution
Thanks a lot.

[2018-10-19 08:36] #7147 closed

[2018-10-19 09:05] lineus commented on #7146
@TheTaz25 You are using both the promise and callback simultaneously in many places, e.g. here:
[code]
The promise may resolve before the callback runs, resulting in unexpected behavior. In addition, using the promise and the callback will send 2 queries each time to the db.

Instead use **either** the callback or the promise, something like:
[code]

Also, If you're going to use asynchronous route

[2018-10-19 11:51] ArinCantCode commented on #3634
Having a similiar issue, after around 12-24hours of being connected our we get an error  "No primary server available"

Restarting usually fixes the issue.

connection: "url":
"mongodb://user:password@cluser-shard-00-00, cluser-shard-00-01, cluster-shard-00-02/settings?ssl=true&replicaSet=primarycluster-shard-0&authSource=admin&retryWrites=true",
  "options": {
    "db": {
      "w": 1,
      "wti

[2018-10-19 12:49] lineus commented on #7146
Here is a script that shows what I mean by using the callback and promise simultaneously has unpredictable results:

### promiseAndCallback.js
[code]
### Output 75% of the time:
[code]
### Output 25% of the time:
[code]

[2018-10-19 13:36] slim-hmidi opened #7149 "Unit test failed when using mongoose.Types.ObjectId() in aggregate()"
**Do you want to request a *feature* or report a *bug*?**
Maybe a bug.
**What is the current behavior?**
I wrote a query that filter a list of tasks and returns an array:
[code]
The query works well when I test it with postman.
I tried to write unit testfor the api containing this query using jest, when I run the api and I give such inputs `statusId` and `attributeTypeId`, the query doesn't work .

[2018-10-19 14:03] pronebird opened #7150 "Validation fails when the required string field is empty string"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

`required` field with empty string `""` throws validation error `reason: Path `reason` is required.`

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

Should never throw validation if `typeof FieldType === typeof value`.

**Plea

[2018-10-19 15:00] TheTaz25 commented on #7146
Thank you for the feedback @lineus . Currently rewriting a lot of the code and also saving some lines (so far everything works smooth :D)
Had a look at awaitjs but it seems I'm doing something wrong with that lib, however I did not have problems with raw async in express so far, so I'll leave that as is.

Thank you a lot for the help and have a nice day!

[2018-10-19 15:00] #7146 closed

[2018-10-19 15:43] pronebird opened #7151 "Required validator does not run"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

My schema:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

`Wat.create({})` should fail because `url` is `undefined`

**Please mention your node.js, mongoose and MongoDB version.**

Not sure

[2018-10-19 16:37] lineus commented on #1215
@isaachinman I was looking at this again because of a related issue, and I was wondering if you can provide an example and/or versions to duplicate passing in an empty string to a required String path that doesn't fail validation.

I realize it's been quite some time since you brought this up, but after looking at the checkRequired function on the String schemaType, the value having a truthy lengt

[2018-10-19 16:52] isaachinman commented on #1215
Hi @lineus. Unfortunately I'm not sure exactly what version I was on at the time of that comment. Most likely it was `4.10.8`.

Can you link to whatever `checkRequired` function you're talking about? We've heard from @vkarpov15 directly that empty strings pass `required` validation.

And by "empty string", I do mean a string with a length of zero, not a string containing whitespace. Handling white

[2018-10-19 17:03] lineus commented on #1215
[this is the string checkRequired function I was referring to](https://github.com/Automattic/mongoose/blob/master/lib/schema/string.js#L398)

I just always assumed this was the case myself. Another issue was opened recently saying that all required strings, including zero length strings should be considered valid, and I verified that they aren't currently, and that actually [this behavior goes bac

[2018-10-19 17:11] #7111 closed

[2018-10-19 17:12] isaachinman commented on #1215
I just created a [basic example here](https://repl.it/repls/PastDisastrousCopyrightinfringement). @lineus is correct, an empty string is being rejected.

@vkarpov15 Can you explain when this change happened, and why it was made? This seems to be a complete reversal of your previous comments.

Specifically:

[2018-10-19 17:44] rogerkirkness commented on #5708
It doesn't set defaults, it just silently fails to. I haven't changed the code, it just changed behaviour.

[2018-10-19 18:29] srokatonie commented on #7144
@lineus I tried to reproduce, but it worked fine for some reason! possibly creating schema/collection using one version and then updating may cause the error, but need to look deeper into that. Let's close for now and reopen if I come up with something.

[2018-10-19 20:38] MaxVinogradov commented on #3105
Hi! I have the same problem. Anybody have idea how to solve this?

[2018-10-19 21:44] simllll commented on #6964
Wasn't ware of clone() looking into it right now :+1:

[2018-10-19 21:49] simllll commented on #6998
I was playing around with this already more, unfortunantely I was not able to extract the issue. Most of the time it works now though, I guess it only happens under high server load. As soon as I find any new insights I will let you know

[2018-10-19 23:15] callumgare commented on #6608
Hi just want to check up on this and also submit my use case for it (which is similar to @shruti8597 use case). I'm making an online forum thing and my schema is like this:

Board
   which contains multiple:
Thread
   which contains multiple:
Post

I would like to populate a virtual array in Thread with all the posts in that thread. But to do so I need to match not just one field but two (ie board

[2018-10-20 00:42] teddis opened #7152 "Bug: Model.ReplaceOne() fails to update timestamps"
I'm using replaceOne() for the first time and timestamps are being stripped and not added to the document even though the Schema specifies the timestamps property:

     await RestModel.replaceOne({_id: rest.id}, rest.toObject()).exec();

I would expect Mongoose/MongoDB to respect this setting and properly update createdAt and updatedAt fields.

Using Mongoose 5.3.4, MongoDB 3.6.6, Typegoose 5.4.1

[2018-10-20 00:59] lineus commented on #7149
@slim-hmidi is `entityTypeId` the same type **(e.g. typeof entityTypeId === 'string')** in both the route that you're testing with postman and the mocha test? *It sounds like you're passing in a string to the api route and an ObjectId to the mocha test.*

[2018-10-20 01:17] lineus commented on #7151
@pronebird in your example, when the required function is called, `value` is `undefined` which is not strictly equal `===` to `null`, and *obviously isn't a string*. The result is that the required validator is set to false.

You can test for `undefined` loosely equal to `null` with `==` or strictly test for `undefined`. Here's an example:

### 7151.js
[code]
### Output:
[code]

[2018-10-20 01:17] #7151 closed

[2018-10-20 04:26] yokingma opened #7153 "'MongoNetworkError: failed to connect to server' when connecting ReplicaSet"
I set up a 3 node replica set server with docker, it works fine

myhost:27017 =>172.18.0.2:27017
myhost:27018 =>172.18.0.3:27017
myhost:27019 =>172.18.0.4:27017

but get error when try to connect :
[code]

code:
[code]

if connecting without ReplicaSet , works fine:
[code]

mongoDB: 4.0.3
node: v8.11.3
mongoose: 5.3.4

Please help to find the problem

Thanks!

[2018-10-20 09:16] lineus commented on #7151
yes, the `required` schemaType option as a custom function can conditionally disable/enable whether or not the specified path is required as opposed to the `validate` schemaType option which allows you to specify a function to actually validate a field. It allows us a great deal of flexibility in our schema design. Rather than have a binary choice between required or not required, we can have path

[2018-10-20 11:09] reanraynera opened #7154 "Im having a deprecation warning upon connecting to mongodb via cloud.."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

[2018-10-20 11:10] reanraynera opened #7155 "Deprecation warning Mongodb"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

[2018-10-20 11:11] reanraynera commented on #7155
Im having a connection issue on mongodb, im using cloud and url.

mongoose.connect("mongodb+srv://rei:dvkeAocjgrkAgRCb@cluster0-tzdlx.mongodb.net/test?retryWrites=true", { useNewUrlParser: true })
  .then(() => {
    console.log('Connected to database!');
  })
  .catch(() => {
    console.log('Connection failed!');
  });

when i added the { useNewUrlParser: true } i dont get the deprecation warnin

[2018-10-20 11:42] lineus commented on #7155
@reanraynera what version of mongoose are you using?

[2018-10-20 11:45] lineus commented on #7154
@reanraynera There is a [guide here](https://mongoosejs.com/docs/deprecations.html) for handling the various deprecation warnings from the native driver. You can also find [previously closed issues here](https://github.com/Automattic/mongoose/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+deprecation+in%3Atitle) for more details.

[2018-10-20 11:45] #7154 closed

[2018-10-20 12:04] reanraynera commented on #7155
im using 5.3.4v.. pls help me :(

[2018-10-20 12:05] reanraynera commented on #7155
im using 5.3.4v.. pls help me :(

[2018-10-20 18:16] vkarpov15 commented on #7140
That works. Although you shouldn't need to do that, you should be able to just pass in a native JS date object.

[2018-10-20 18:16] #7140 closed

[2018-10-20 18:18] vkarpov15 commented on #5110
You would need a custom type for that: https://mongoosejs.com/docs/customschematypes.html . That will be a useful plugin :)

[2018-10-20 18:20] vkarpov15 opened #7156 "Plugin: Luxon type"
Re: #5110

[2018-10-20 21:44] weeco opened #7157 "Fix npmignore"
You should consider adding the following items to the .npmignore as they are currently shipped along with the NPM package:

.github
.vscode
examples
.eslintignore
.travis.yml
CONTRIBUTING.md
History.md
migrating_to_5.md
release-items.md

[2018-10-20 21:44] woh-dev commented on #6087
Just want to flag that this would be super helpful for our app us as well. Would be awesome if this does get prioritized soon.

Thanks for all the great work on Mongoose!

[2018-10-20 23:00] chumager opened #7158 "Custom Types does not work anymore for custom mongoose connection"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Since 5.3.2 I can't use custom types, nor by class neither by function for my custom mongoose instance (fix(mongoose): isolate Schema.Types between custom Mongoose instances #6933)
**If the current behavior is a bug, please provide the steps to reproduce.**

"use strict";
const mongoose = require("mongo

[2018-10-21 02:17] #7102 closed

[2018-10-21 11:31] lineus commented on #7157
I agree with most of these, but personally, I use the History.md file to see changes made in a specific version ( usually the latest ) without having to go to a browser window ( *shown below* ). I can always rewrite my function to get the data from github though.

@vkarpov15 I have a branch ready to go with this change, I just need to know which (**if any**) files should remain in the published pa

[2018-10-21 19:15] yyosifov opened #7159 "Find document with Select statement doesn't populate the default values"
BUG

**What is the current behavior?**

We're migrating mongoose from `4.3.0` to `5.3.4` in our project and we hit a breaking change, which our system doesn't expect.

If you have a nested document with a property with default value, and in the DB the document doesn't have this property set - the default value is not populated when `find/findOne` the document from the DB with a `select` statement.

[2018-10-21 20:50] govindrai opened #7160 "Document method to Update all modified properties"
I am wondering if there is a method to **_update_** all modified properties of a document (`Document.prototype.modifiedPaths()` beautifully describes changed properties). I know `Document.prototype.save` does this but it runs a bunch of middleware I don't need, I just want to update, but don't want to have to explicitly set properties to update which is the case with `Document.prototype.updateOne`

[2018-10-21 21:53] fmeynard commented on #6349
@lineus

Can you consider reopening this one ?

A findOneAndReplace function calling the native mongoose function with similar name would allow us to only have 1 mongo query to retrieve the updated document instead of 2 using the replaceOne() function.

[2018-10-21 22:45] lineus commented on #7108
`useFindAndModify` in connection options is fixed in 5.3.4.

[2018-10-21 22:45] #7108 closed

[2018-10-21 22:55] lineus opened #7161 "Implement Model.findOneAndReplace"
re #6349 we should create a Model method `findOneAndReplace` that implements the native driver's `findOneAndReplace`. This will make it one operation to replace a doc and get the new doc back instead of the commandResult returned from `replaceOne`.

[2018-10-21 23:00] ghost opened #7162 "Implement Model.findOneAndReplace"
re #6349 Implementing the native driver's `collection.findOneAndReplace` method would allow us to replace a doc and return the new/old doc in an atomic operation instead of getting back a commandCursor from `replaceOne`.

@vkarpov15 thoughts?

[2018-10-22 03:17] kevinhimawan opened #7163 "Bug in Updating multiple model (Number)"
Hello, i have a problem in updating multiple model in mongoose

Here is the steps
1. We got labels id from client (Process printing label)
2. Find all labels and reduce to get total Quantity of all labels
 *Each labels has different Quantity
3. Update Section (a.k.a Product) quantity ++
4. Update Order item totalProduction quantity ++
5. Update Label print repition ++1

**Step 1**
for (let i = 0;

[2018-10-22 03:22] kevinhimawan opened #7164 "asdas"
aadsa

[2018-10-22 03:22] #7164 closed

[2018-10-22 05:50] adamreisnz commented on #6075
This doesn't work for me:

[code]

[code]

[2018-10-22 08:08] SachinBhandari commented on #2901
Cast error while finding doc:
 `CastError: Cast to Number failed for value "{ '$lt': 32164 }" at path "to"`

The schema is:
`const spoiledSchema = new mongoose.Schema({
    from: {type: Number, required: true},
    to: {type: Number, required: true},
    remarks: {type: String, required: true}
}, {timestamps: true, _id: false});

const allocatedStationerySchema = new mongoose.Schema({
    name: {t

[2018-10-22 08:19] SachinBhandari commented on #2901
Cast error while finding doc:
 `CastError: Cast to Number failed for value "{ '$lt': 32164 }" at path "to"`
I'm using mongoose version `5.3.2`

The schema is:

    const spoiledSchema = new mongoose.Schema({
        from: {type: Number, required: true},
        to: {type: Number, required: true},
    }, {timestamps: true, _id: false});

	const allocatedStationerySchema = new mongoose.Schema({

[2018-10-22 08:47] amiiy opened #7165 "mongoNetwork error when using replicaSet option in connecting"
when connecting to another host MongoDB from application I used:
[code]
now when I want to connect to local database its fine and connect well. but when `connectionsString` changed to `mongodb://172.116.12.8:27017/new` for example it returns some error like below:
[code]
pay attention to its error log which say cannot connect to port `27019` which is another replica but i said to application to co

[2018-10-22 09:09] #7161 closed

[2018-10-22 10:43] diego-inflightvr commented on #2851
+1

[2018-10-22 11:22] #7070 closed

[2018-10-22 11:35] vkarpov15 commented on #7070
Closed in https://github.com/Automattic/mongoose/commit/7d46351bacd732701441253d013c2a7067802989

[2018-10-22 13:11] #7137 closed

[2018-10-22 13:22] vkarpov15 commented on #7137
https://github.com/Automattic/mongoose/commit/c1d3c64a0dfe01579f00d8171fcf87ff2a31f6e4

[2018-10-22 13:44] lineus opened #7166 "query casting attempts to cast comparison operator on nested objects"
regarding #2901, a comment by @SachinBhandari [here](https://github.com/Automattic/mongoose/issues/2901#issuecomment-431769767)

### Repro Script (2901.js)
[code]
### Output:
[code]

[2018-10-22 13:54] lineus commented on #2901
@SachinBhandari I opened a new issue 👆

[2018-10-22 14:46] jaruszewskiG commented on #7058
Hi, thanks for the response, @lineus !

I did it based on your `7058_2.js` example. It works fine, but I'm a bit concerned about running `createIndexes` funciton everytime I'm querying the database. I'm mainly concerned about performance.

How does it work? Does it check if the index is already created and if it's not it does nothing?

[2018-10-22 15:21] jonaswindey opened #7167 "setName from ismaster does not match provided connection setName"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Connection to a replica cluster gives error
`setName from ismaster does not match provided connection setName [475bfca3040d4b3dac793cf5bb68612a] != [475]`

What's weird is that it tries to compare the guid with 475, like it has been split up.

Full stack:

[code]

**If the current behavior is a bug,

[2018-10-22 15:22] sonar004 commented on #5606
@stephengardner  sure:

**disclaimer**: I'm not sure if this relays on some internal implementation, I think not. Please share if you needed adjustments.
**disclaimer2**: It is correct to the version of mongoose at the time I've opened the PR.

replace: `require('mongoose')` with require the next file:

`
'use strict';

const mongoose = require('mongoose');

module.exports = ((mongoose) => {

  /*

[2018-10-22 15:51] developdeez opened #7168 "Bug: Sorting Infinite Scroll with Mongo and Mongoose shows wrong results"
I'm trying to sort the results of my infinite scroll. Basically Mongo pulls 10 docs and I sort those results, then when the user gets tot he bottom is does that again skipping the first 10.

The trouble is, this isn't in order. If I want the data sorted by date. It currentl brings back the top 10 results and sorts that by date AFTER finding based on 'natural order'.

How can I make Mongo find base

[2018-10-22 17:39] sibelius commented on #6580
We are having this issue again, we think this only happens when we have an embedded document that causes a circular dependency

so we have an `User` model that has a `FileSchema` embedded that represents the `logo` of her/his image, and inside `FileSchema` we have the `user` that uploaded this file, so this created a maximum call stack size

[2018-10-22 18:30] bam-tbf opened #7169 "QueryCursor.js is throwing an error on line 246: "TypeError: Cannot read property 'length' of undefined""
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

QueryCursor.js is throwing an error on line 246:
[code]
Trying to find the length of an undefined property (ctx._transforms).

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

This bug only arose when I upgrade to 5.3.5. I don't think I can easily provide a script

[2018-10-22 19:44] fernan256 commented on #2682
Hi, little bit old question, but just to be sure, I can use pool Size with process.env.VAR without troubles? or should I use the parseInt option?

[2018-10-22 20:09] adamreisnz commented on #6075
@lineus could you see what's happening here? Only if I specify paths to depopulate does it actually work.

[2018-10-22 23:51] Nektoram opened #7170 "new mongoose.Schema() is throwing: Cannot read property 'options' of undefined at..."
Hello everyone,

I want to report a bug that randomly occured today, it worked completely fine yesterday and the only thing I did with the project was move the folder it was inside.

I am using Mongoose inside of Electron.js for a desktop application and what happens when I try to run this app is this:

![cef40660567fccc4a22c69380ea8787d](https://user-images.githubusercontent.com/39199931/47325513

[2018-10-23 01:42] Nektoram commented on #7170
Alright, seems like I've fixed this issue myself now. If anyone has the same issue and is interested in how I fixed it: I just changed the problematic line of code myself, it's inside of this file: node_modules/mongoose/lib/schema.js - Line 332 was the one that caused the issue. Changed it from it's original: `strict: 'strict' in this.base.options ? this.base.options.strict : true,` which caused t

[2018-10-23 03:28] saiichihashimoto commented on #6826
Using create-react-app, mongoose 5.3.4 builds in the browser whether importing mongoose or mongoose/browser.

Also, using create-react-app, mongoose 5.3.5 does NOT build in the browser whether importing mongoose or mongoose/browser. The error seems related to NodeBuffer, possibly because of #7102.

Unless ejecting from create-react-app, you don't have access to change the webpack & babel configs,

[2018-10-23 05:39] govindrai opened #7171 "Model.updateOne not sending query to db"
Using the latest Mongoose 5.3.5 and node 8.11.4.

Here's some code that I am using to send updateOne commands:

[code]
All other mongoose calls are working perfectly. this refers to a User document. Values are valid as can be seen from an example query.

Here's the query actually printed out. I have my debugging turned on and I can't find mongoose's debug statement printed for this operation, neit

[2018-10-23 06:14] govindrai opened #7172 "When does debug print? Before or after the successful call?"
Hi, I am wondering whether debugging statements get printed before or after a successful db operation. I am asking because my debugging statements seem to print out of order from time to time (sometimes way later). Of course everything is asynchronous, but I have some operations that I wait (`await`) to complete and so the debugging statements should show up before any future operations get printe

[2018-10-23 08:17] gaohuifeng commented on #7169
same problem,
code
[code]

[2018-10-23 08:46] misland opened #7173 "Uncaught TypeError: Cannot read property 'prototype' of undefined"
**What is the current behavior?**
I just import mongoose in a project that initialized by vue-cli 2.0,when I run the project ,an error thrown as the title said,can anyone explain why?thanks!!
here is the detail of error:
Uncaught TypeError: Cannot read property 'prototype' of undefined
    at eval (webpack-internal:///./node_modules/mongoose/lib/types/buffer.js:184)
    at Array.forEach (<anonymou

[2018-10-23 09:37] SachinBhandari commented on #2901
@lineus Thanks man!

[2018-10-23 09:39] SachinBhandari commented on #7166
Any help on evading this casting?

[2018-10-23 11:51] hdorgeval commented on #7157
@lineus : may be you could give a try to next version of publish-please (not yet published) : https://github.com/inikulin/publish-please/pull/77

[2018-10-23 14:24] lineus commented on #7166
@SachinBhandari You can use dot notation in the query doc instead of nested objects. e.g. if you change the query doc in my example to

[code]
The output becomes
[code]

[2018-10-23 17:41] bam-tbf commented on #7169
Confirming this bug was fixed by release 5.3.6. @gaohuifeng

[2018-10-23 17:47] lineus commented on #6075
@adamreisnz yeah 👍  looking into now.

[2018-10-23 18:06] lineus commented on #6075
@adamreisnz it looks like if you call depopulate on a doc that hasn't been populated this error is thrown. while tracking this down I noticed that it doesn't remove populated virtual paths. I think I should have put more energy into testing this before I closed it :smile:. Reopening this. Thanks for pointing it out!

[2018-10-23 19:59] adamreisnz commented on #6075
Cheers thanks! Pretty sure my document was populated though, as it was outputting populated JSON, and after I added the line to depopulate, it wasn't.

[2018-10-23 21:36] nihlton opened #7174 "using 'await' with 'model.update' and a callback can trigger an error (E11000 duplicate key)"
This may be user error, but this seems like a stumbling block that could be looked at / removed to prevent others from running into the same problem.

`await this.model.update(query, data, { upsert: true }, (err, result) => { // do stuff })`

on upsert, tries to save a new record twice because of the callback.

The result is a mongo error `E11000 duplicate key error collection index: _id_ dup key`

[2018-10-23 21:37] sebastian-nowak commented on #7104
Hey @vkarpov15,

I just updated to the latest version (5.3.6) and the issue from the first post still occurs.  I think that the session handle is still not propagated on `push()`, it only works when the subdoc was there from the start and session handle was set later.

Cheers,
Sebastian

[2018-10-24 01:45] NZMia commented on #7108
![snip20181024_159](https://user-images.githubusercontent.com/10533181/47400294-178ec200-d799-11e8-8bf6-22a51f72b69e.png)

I got the warning msg if `findByIdAndUpdate`used but no `findAndModify` in the project.

[2018-10-24 01:56] NZMia commented on #7108
My mistake, apologies for annoyance.
fixed by `mongoose.set('useFindAndModify', false);`

[2018-10-24 04:36] huafu opened #7175 "[question] is there an option/custom type for Date to handle number directly?"
**Do you want to request a *feature* or report a *bug*?**
That would be a feature if it doesn't exist yet

**What is the current behavior?**
Codewise (javascript side and not mongodb), `Date` fields are read/written as instances of `Date`, `Number` fields are read/written as `number`.

**What is the expected behavior?**
This is of course the expected behavior, but what if I want to have my `ISODat

[2018-10-24 06:04] cloakedch opened #7176 "Typescript: Declaration of Document"
**Do you want to request a *feature* or report a *bug*?**
possibly a bug

**What is the current behavior?**
Mongoose is preventing my project from being able to use only `production` dependencies (using `npm install --only=production`).

**If the current behavior is a bug, please provide the steps to reproduce.**

I have the following `package.json` file:

[code]

I am then using mongoose for inst

[2018-10-24 07:04] SachinBhandari commented on #7166
Actually my use case is different, I want to match the condition in the same embedded document. I have already also posted my query over there #2901 .

[2018-10-24 07:39] marcuspoehls opened #7177 "Thank you!"
Thanks a ton @vkarpov15 for your dedication and hard work on Mongoose. Your passion to drive the project and keep it going is fantastic. I use Mongoose for personal projects and don't want to miss it. It is a great piece of software.

Thank you :heart:

[2018-10-24 08:30] SachinBhandari commented on #7166
Thought $elemMatch solved the problem,

    AllocatedStationery.find({
        "kind":"awb",
        "serial":true,
        "consumerTeamId":"5afcedd5236ca628a123e41",
        "prefix":"ON",
        "to":{"$gte":32164},
        "from":{"$lte":32164},
        "consumed":{"$ne":32164},
        "$or":[
            {
                "spoiled":
                    {
                        $elemMatch:

[2018-10-24 09:33] abarriel opened #7178 "strictQuery throw an error where it shouldn't"
Hey!
I am wondering why the script below throw a validation error.
I set strictQuery to throw, but the filter in find is correct.

**Solution found**  if a use a dot notation in the find filter, it works great.
There is a slice difference between `dot notation` and using an `object notation` in the filter (either it look for  exactly the same object, or only the key provided) but still we should b

[2018-10-24 09:50] lineus commented on #6075
@adamreisnz can you share a simplified example schema that demonstrates this on a populated doc?

[2018-10-24 10:36] lineus commented on #7166
@SachinBhandari

I'm not sure if you meant to say **"Though $elemMatch solved the problem"** or that *you* **"Thought $elemMatch solved the problem"** *but it didn't.*

If it's the second case, here's an example of what I meant, that instead has 2 fields in the nested doc/query.

### 2901.js
[code]
### Output:
[code]

[2018-10-24 10:49] lineus commented on #7058
@jaruszewskiG once your collection is stable ( *i.e. you are done changing/adding/deleting indexes* ), you should remove the `createIndexes()` call altogether. During development, you don't need to run `createIndexes()` for every query, just when you want to add a new index and wait before running queries that use it.

After looking at the [Native Driver docs](http://mongodb.github.io/node-mongodb

[2018-10-24 11:10] cannap commented on #6996
Hi any news about this?

[2018-10-24 11:20] jaruszewskiG commented on #7058
Thanks for the response, everything's clear now! :)

[2018-10-24 11:20] #7058 closed

[2018-10-24 12:54] Milo24s1 commented on #5469
face

haha
face the same issue

[2018-10-24 13:11] lineus commented on #5469
I think just about everyone runs into this at some point, at least that's what I tell myself every time I do it :smile:

There is an entry on the FAQ [here](https://mongoosejs.com/docs/faq.html#model_functions_hanging) that points to the [docs on operation buffering](https://mongoosejs.com/docs/connections.html#buffering). By default mongoose will buffer Model operations until the connection is es

[2018-10-24 14:06] SachinBhandari commented on #7166
@lineus ,
    Sorry for the typo. I actually mean $elemMatch solved my problem.

Above example does not solved my problem as I want to match `nested.from` and `nested.to` to same
sub document.

[2018-10-24 14:53] #7145 closed

[2018-10-24 15:04] lineus commented on #7039
@maxbook I'm closing this for now, if you continue to experience the issue please leave a comment here and we can reopen this issue.

[2018-10-24 15:04] #7039 closed

[2018-10-24 19:05] RobinJayaswal opened #7179 "_id duplicate key error when inserting into empty collection"
For my testing suite, I am connecting to a test database, dropping everything in all collections, and then rebuilding all collections from mock data. This setup worked before, but suddenly I am getting duplicate _id errors when inserting into an empty collection.

Sample code:

[code]

The above somehow gives me

[code]

Note that this is only when running my mocha testing suite. Everything still

[2018-10-24 19:17] RobinJayaswal commented on #7179
Seems my local db was just corrupted in some way. Dropping the database and rebuilding it seems to have fixed the issue

[2018-10-24 19:17] #7179 closed

[2018-10-24 19:19] nikdunn commented on #7173
The fix for this issue: #7102 seems to have been what introduces this bug. There is no Buffer property on global when NodeBuffer gets created.

[2018-10-24 23:11] SavePointSam commented on #6629
Hit this issue today running mongoose@5.2.3 and mongoDB@4.0.2. Not too sure what caused it and we've never hit this problem before. I'll post any other findings I have if something comes up!

[2018-10-25 07:05] andcosta commented on #1106
thanks a lot @aheckmann , you saved my life today : )

[2018-10-25 13:37] vkarpov15 commented on #7143
Upon closer investigation, this isn't a bug. When you do `type: { ayoub: String }`, Mongoose interprets it as `type: Mixed`. We'll add more details about this to the FAQ. The below is how you should do this:

[code]

[2018-10-25 14:43] vkarpov15 opened #7181 "Make `foo: { type: { name: String } }` behave the same as `{ foo: new Schema({ name: String }) }`"
Re: #7143. Right now the below declarations are different, and its a very subtle footgun that's hard to notice.

[code]

Demo using Node shell:

[code]

Anybody have thoughts on this? I'm thinking it makes sense to deprecate this behavior, and make it so that `new Schema({ foo: { type: { name: String } } })` makes `foo.name` a string in Mongoose 6.x.

@lineus  @fonger ?

[2018-10-25 14:45] #7143 closed

[2018-10-25 15:06] SankaD commented on #6838
I'm also getting following error when connecting to MongoDb Atlas from Firebase functions. Only happens when the servers been idle for sometime. Then doesn't work till I deploy functions again.

[code]

[2018-10-25 15:20] #7135 closed

[2018-10-25 15:20] nikdunn commented on #7173
Why did you close this Issue? It's not fixed. This should be an open issue.

[2018-10-25 16:29] lineus commented on #7173
@nikdunn does 5.3.6 fix the issue for you?

[2018-10-25 16:41] nikdunn commented on #7173
No, @lineus , 5.3.6 is where the issue is introduced. I was using 5.3.4 and then an npm install bumped me to 5.3.6 where I started experiencing the issue.

[2018-10-25 19:13] bloveridge opened #7182 "Fix for "Apply defaults after setting initial value" doesn't work when documents are loaded via a query"
PR #6119 for issue #3781 addressed an issue that caused the context object (`this`) provided to `default` function callback handlers to only have access to properties set in other default handlers, not the contents of the document itself. This works when creating a document, but it does not work when loading a document via a query. This causes problems where we are trying to do conditional default

[2018-10-25 20:21] antmarot commented on #1512
Is this issue supposed to be solved?
I don't see it documented anymore (the *Pass this option during schema construction* bit has been removed) but I've had the same problem.

[2018-10-26 00:10] lineus commented on #7173
i am able to replicate this using a new vue-cli@2.9.6 webpack app and just adding the mongoose import statement `import mongoose from 'mongoose/browser';`.

[2018-10-26 00:37] adamreisnz commented on #6075
Yes this was the schema:

[code]

The `club` field is what I was trying to depopulate. `integration.depopulate('club')` worked fine, but `integration.depopulate()` threw the error I reported above.

[2018-10-26 00:46] misland commented on #7173
@nikdunn sorry that I didn't quite familar with github issues,@lineus has opened this already

[2018-10-26 02:52] bangbang93 opened #7183 "findByIdAndUpdate upsert race condition"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Duplicate key
**If the current behavior is a bug, please provide the steps to reproduce.**
<https://gist.github.com/bangbang93/083711c487b61237a09d2d789954f42b>
the mongoose function throws an exception `MongoError: E11000 duplicate key error collection: test.ts index: _id_ dup key: { : 1 }`.
But the mo

[2018-10-26 10:43] lineus commented on #6826
@saiichihashimoto you can follow #7173 for the browser buffer issue. This issue is related to older versions of mongoose. The problem you are describing was introduced in 5.3.5.

@vkarpov15
With regard to the issue with react/Buffer pointed out by @saiichihashimoto , It's worth noting that `npm run build` passes without error on 5.3.{5,6}, but `npm run start` shows the problem in the browser: `Typ

[2018-10-26 13:12] vkarpov15 commented on #7173
Thanks for helping us find this issue. We started using the core node buffer for a couple use cases to work around a bug in safe-buffer (https://github.com/feross/safe-buffer/pull/23) .

[2018-10-26 13:12] #7173 closed

[2018-10-26 13:13] #6075 closed

[2018-10-26 14:49] manojsethi commented on #1124
@manast Can you please provide a little detailed example or if you have found any better approach now?

[2018-10-26 15:20] JoeHetfield opened #7185 "Mongoose point-free style functions are not been called"
**Do you want to request a *feature* or report a *bug*?**
No, I'm not request feature or report bug, I just need some guidance and instructions. I'm sorry if this violate the guidelines. I tried the stackoverflow and google, but no luck. so I think here is the last resort.

**What is the current behavior?**

I encounter a problem while using mongoose with nodejs.

I want process documents with som

[2018-10-26 20:03] vkarpov15 commented on #1215
I'm going to have to investigate more, but that checkRequired function hasn't changed in over 3 years so I was incorrect in my original comment. We will add a workaround.

[2018-10-26 20:05] vkarpov15 opened #7186 "Add Schema.String.checkRequired() to overwrite checkRequired for strings"
Plus other schema types

[2018-10-26 20:05] vkarpov15 commented on #1215
See #7186

[2018-10-26 20:11] vkarpov15 commented on #5708
@rogerkirkness can you provide some code samples, or better yet open up a new issue and follow the instructions? We have tests for setDefaultsOnInsert and they're passing

[2018-10-27 00:41] notflip commented on #5337
I don't seem to have access to the res.ops using that same code. It's returning an empty array for me ..

[2018-10-27 09:43] lineus commented on #5337
@notflip what version of mongoose/node/mongodb are you using?

[2018-10-27 11:34] paglias commented on #7145
thanks!

[2018-10-27 13:56] lineus commented on #6167
@vkarpov15's PR has been merged in mongoose-history. Closing this now, Thanks Val!

[2018-10-27 13:56] #6167 closed

[2018-10-27 14:35] lineus commented on #7181
I agree with this change @vkarpov15. I can't think of a reason why anyone would create a new mixed path like this **on purpose**.

[2018-10-27 17:38] vkarpov15 commented on #6998
I'll close this for now, re open if you have more info

[2018-10-27 17:38] #6998 closed

[2018-10-27 17:39] vkarpov15 commented on #7152
Thanks for reporting, will investigate. Can you post your schema please? That will help move this along

[2018-10-27 17:42] vkarpov15 commented on #7153
Make sure the host names that running rs.conf() outputs line up with the ones in your connection string as described here: https://mongoosejs.com/docs/connections.html#replicaset-hostnames . That should fix it.

[2018-10-27 17:45] vkarpov15 commented on #7158
Thanks for reporting, will investigate asap

[2018-10-27 17:46] vkarpov15 commented on #7159
Thanks for the detailed report, will investigate asap

[2018-10-27 19:18] vkarpov15 commented on #7160
So you just want to basically run save() but skip all middleware?

[2018-10-27 19:19] vkarpov15 commented on #7162
Nice. Let's add that in 5.4

[2018-10-27 19:28] notflip commented on #5337
Latest, I suppose. Installed last week

On Sat, 27 Oct 2018, 22:43 Kev, <notifications@github.com> wrote:

[2018-10-28 03:19] ivanseidel opened #7187 "Subdocument schema not propagating validate error"
The following code uses a subschema that produces errors during validate. If that same code is placed in the root document, it fails, but all subschemas does not prevent saving or validating.

The following code should have prevented saving, but succeeded:

[code]

output:
[code]

[2018-10-28 07:34] govindrai opened #7188 "What is the limit for number of docs returned in a query?"
When I invoke a Model.find() query, if there are a million docs in the database, will all million be returned? What is the output if there are still more documents to query from the database than are returned? I couldn't find this in the docs (except for information on cursor, which I hope I don't need to use). Thanks!

[2018-10-28 14:05] Fedox8 opened #7189 "markModified doesn't work"
**A Bug**
Here's code which does't work
[code]

It logs `[ 'endResult', 'tournaments' ]` but only `endResults` are changed in database.

I'm using:
 * Node.js v10.4.1
 * MongoDB v4.0
 * Mongoose v5.3.7

[2018-10-28 15:03] lineus commented on #7169
@bam-tbf thanks for reporting it @bam-tbf. You're correct, this should be fixed as of @5.3.6.

[2018-10-28 15:03] #7169 closed

[2018-10-28 15:06] lineus commented on #7165
@amiiy are you using docker?

[2018-10-28 16:56] lineus commented on #7167
@jonaswindey, I am able to reproduce this using only the native driver,  `useNewUrlParser: true `, and passing your replicaSet name in the connection string. This appears to be a bug in the new url parser. I will either open an issue with the driver folks or submit a patch.

In the meantime, passing your replicaSet name in the connection options instead of the connection string is probably the bes

[2018-10-28 17:04] lineus commented on #7167
Here's my native driver script

### 7167_native.js
[code]
### Output:
[code]
*Moving the replicaSet name to the options here also works*
**This shows that even the latest version 3.1.8 of the native driver is still effected by this.**

[2018-10-28 18:09] carvalhoviniciusluiz opened #7190 "select: false to ref path"
this question is only for clarification. I often want to have a referenced attribute that does not appear by default in the query

[code]
I did not see anything like this in the documentation. Would it be possible?
If not, would not it be nice to attribute this behavior to it?