[2018-03-23 13:12] wentout commented on #2596
Hello ;^)
@arciisine, @zoellner,  @vkarpov15

Can you answer if this is still open or not?
My example is here:
https://github.com/Automattic/mongoose/pull/6100#issuecomment-375109453

I can confirm this works well for me after 5.0.8 release.
I wish I need make pull request to the docs, but is this solved?

[2018-03-23 14:18] BorntraegerMarc commented on #6052
Turns out there was a misconfiguration in the mongo docker container. We didn't use the env variables specified here: https://github.com/docker-library/mongo/issues/189

Now it works! Thanks for your support!

[2018-03-23 14:18] #6052 closed

[2018-03-23 14:27] sravzpublic commented on #4596
I get the same error in Node 8. Node 6 works fine. Any ideas?

Error: Cannot determine state of server
    at canCheckoutReader (/home/vagrant/SravzNew/Sravz.Rest/node_modules/connect-mongo/node_modules/mongodb/lib/mongodb/connection/server.js:779:12)
    at Server.checkoutReader (/home/vagrant/SravzNew/Sravz.Rest/node_modules/connect-mongo/node_modules/mongodb/lib/mongodb/connection/server.js:793

[2018-03-23 17:17] jiripospisil commented on #5973
I just stumbled upon the same error in one of our applications and while we don't use `Mongoose` (we use the `mongodb` driver directly), I believe the cause is the same.

I'm not sure whether the change in MongoDB 3.6 was intentional or not (I cannot find it the release notes), however, it seems that MongoDB now doesn't like if you set the same field in `$set` and `$setOnInsert`. It *looks* like a

[2018-03-23 18:22] adamreisnz commented on #6262
No I understand that, but that's not the use case or problem I was trying
to solve.

My problem is having to create multiple simple getter/setter properties on
a single schema, which is quite verbose currently.

Hence the idea of a simple default setter / getter for every new virtual
property.

On Sat, Mar 24, 2018, 00:55 Kev <notifications@github.com> wrote:

[2018-03-23 18:38] lineus commented on #6263
Hi @cocoasoda. When you make the default value an empty array `[]` it returns a schemaType of Mixed `{}`. Arrays implicitly have a default value of `[]`, so you can drop the default property on the members path. The docs [are here](http://mongoosejs.com/docs/schematypes.html)

When I run your example I get `this: false`

### 6263.js
[code]
### Output:
[code]
when a schema gets compiled by mongoose

[2018-03-23 19:12] #6261 closed

[2018-03-23 19:45] lineus commented on #6262
You're right. My example sucked.  I got so excited about the possibilities of what someone could do to automate adding virtuals to a schema... Then in order to not get carried away, I re-focused instead on the fact that it was possible at all and lost sight of the point of your feature request in the process. Apologies if I came off as shooting your idea down, I wasn't.

[2018-03-23 20:38] jeremyml opened #6269 "Prevent default sub-document on object creation"
Mongoose version 4.13.8

I was suprised to see a subdocument created when I create the parent with `findOneAndUpdate()` and options `setDefaultsOnInsert: true`.  My schema has no default value set for the field with the subdocument.

[code]

[code]

Is it possible to prevent the subdocument without using `$unset`?

[2018-03-23 23:37] adamreisnz commented on #6262
No worries, no offence taken :)

[2018-03-24 06:24] iTonyYo opened #6271 "Want to $inc 1, but it's actually increasing by 2"
- mongodb v3.6.3
- mongoose v5.0.11
- node v8.9.4

The strange problem is described in the comment below.

[code]

[2018-03-24 09:04] lineus commented on #6264
@hemor I tried to duplicate this on mongoose@5.0.7, but it seems to work for me. Can you comment with a minimal but complete example that demonstrates the issue you're seeing?

### 6264.js :
[code]
### Output:
[code]

[2018-03-24 10:01] cocoasoda commented on #6263
@lineus Thanks for your help and advice. Pre-save hook runs very well for me.

[2018-03-24 10:01] #6263 closed

[2018-03-24 10:43] lineus commented on #6266
@puntnomads  I'd like to fix any broken examples. Can you please point out the examples in the docs that don't work for you? ( I did find one error in the api docs commented in my example below )

I created a contrived example of the two other ways besides calling .lean() on the query that I know of:

### 6266.js
[code]
### output:
[code]

[2018-03-24 12:45] jimmytsao opened #6273 "Error with Virtual Population of Field on Embedded Discriminator"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When trying to perform a virtual population of a field on an embedded discriminator, I receive the following error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
The query should not have errored and should have populat

[2018-03-24 14:19] lineus commented on #6264
You're correct @hemor , unique only applies to documents. I played around with this some, and did a bit of research ( I'm new to mongoose/mongodb ).  [This](https://github.com/Automattic/mongoose/issues/2746#issuecomment-78318349) comment from @vkarpov15 in a previous issue and [this mongodb doc](https://docs.mongodb.com/manual/core/index-unique/#unique-constraint-across-separate-documents) confir

[2018-03-24 15:02] lineus commented on #6264
Adding an example that (hopefully) illustrates the necessity of dropping the index explicitly from my [Edit] above.

### uniqueFalseTest.js
[code]
### Output:
[code]

[2018-03-24 19:43] JasonCust opened #6274 "Model construction modifies the referenced schema object"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When declaring a model the referenced schema object is modified (a side effect).

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
**What is the expected behavior?**
The schema object to not be modified.

**Please mention your node.js, mongoose and MongoDB version.**

[2018-03-24 23:08] juancarlucci commented on #5169
Hi  @joeytwiddle.

I am having the same issue on deployment to Heroku.
` MongoNetworkError: failed to connect to server [localhost:27017] on first connect [MongoNetworkError: connect ECONNREFUSED 127.0.0.1:27017]`

On your comment on Jul 12, 2017 you gave a work-around/solution. I am brand new to Mongoose/Node. Can you tell me what file your createConnection function should go in?

I am running mo

[2018-03-25 10:34] lineus commented on #6271
Hi @iTonyYo have you tried setting `mongoose.set('debug', true)` ?  If that doesn't help (ie. seeing multiple .update() calls when you only expect one, etc) then please comment here with a minimal but complete example of how to reproduce the behavior you are seeing.

Here is an example of a reproducible example:
### 6271.js
[code]
### Output:
[code]

[2018-03-25 15:06] natanavra opened #6276 "setters not run on discriminator find queries"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Setter is not being called on `findOne` query

**If the current behavior is a bug, please provide the steps to reproduce.**
Code below:
[code]

**What is the expected behavior?**
Setter to be called on query

**Please mention your node.js, mongoose and MongoDB version.**
Node v9.6.1
Mongo v3.4.0

[2018-03-25 15:11] #6276 closed

[2018-03-25 15:13] natanavra commented on #6276
I guess I jumped the gun.
I'm unable to reproduce this right now, but the setter functionality is not documented regarding all operations.

[2018-03-25 15:56] natanavra opened #6277 "Setters not running on array types on query?"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Array setter function not called on find query

**If the current behavior is a bug, please provide the steps to reproduce.**
https://gist.github.com/natanavra/abaf9a334e69d663a66952d8cb02297c

**What is the expected behavior?**
The array setter should be called when running a query.

**Please mention y

[2018-03-25 16:01] natanavra opened #6278 "Setters are called twice on primitives when running query"
I saw an issue that was closed and fixed around 5.0.8, but it still happens on 5.0.11

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Primitive set function is called twice on query

**If the current behavior is a bug, please provide the steps to reproduce.**
https://gist.github.com/natanavra/bde432a4f54fc6e7b44961d0ba30c08b

**What is the expected

[2018-03-25 17:45] newkillerbeast2017 opened #6279 "Support for pagination along with sorting and filters"
Currently, Mongoose allows to filter results, limit them and do some sorting. It would be nice to have some offset that can be used to paginate the data. This will be particularly useful when the data to be shown on the UI is huge and needs to be paginated and support lazy loading. Let us assume the below example:

[code]
What would be great to have is some sort of an offset that can given first 2

[2018-03-25 19:27] puntnomads commented on #6266
The reason I raised this issue is because I didn't want to write "find().lean().exec()" and that a boolean on the model would generate a lean object without changing how I call find(). The createQueryFromModel example requires that I write "roFindOne.where("_id").equals(gibson._id).exec();", which is even more verbose. Is it possible to have lean on the model (doesn't matter how verbose this part

[2018-03-25 23:44] wilimitis commented on #6245
Yes, the call to `populate`, as you've pointed out, is useless and was causing a problem around an unintentional use case - thank you for looking into this!

[2018-03-26 02:01] alexnum commented on #2851
+1

[2018-03-26 02:12] #6245 closed

[2018-03-26 08:08] neyasov commented on #2851
+1

[2018-03-26 09:59] lineus commented on #6266
@puntnomads my initial response only referenced your statement above about the docs, not your feature request as a whole. Hence, I followed the docs to create the code in my previous comment and demonstrated that it is possible to return POJOs without calling .lean(). I also identified one place in the documents where there was a typo. I've since put in a PR to fix that.

I also remembered about c

[2018-03-26 12:07] lineus commented on #6277
@natanavra I edited your example slightly so the query would find a matching doc:
[code]
### output:
[code]

[2018-03-26 12:17] lineus commented on #6277
the setter also does not run if you actually update the value of the array:
[code]
output:
[code]

[2018-03-26 13:47] dudilugasi commented on #6258
ahh so if the connection is closed after connection it will not emit an error event?

[2018-03-26 14:07] lineus commented on #6258
That is correct. It will however eventually emit reconnect and reconnectFailed events depending on your reconnect [connection options](http://mongoosejs.com/docs/connections.html#options).

[2018-03-26 14:07] dudilugasi commented on #6258
ok thank you for the help! this issue can be closed now

[2018-03-26 14:09] #6243 closed

[2018-03-26 14:34] natanavra commented on #6277
I meant I was expecting the setter to run on the query object, so the 't' would be removed by the setter. This does happen with primitive fields setter.
The behaviour is not documented and I'm not sure what to expect.

[2018-03-26 15:18] prasad47 commented on #6215
I mailed you@ vkarpov15   @ val@karpov.io a day ago .. pls take a look thanks !!

[2018-03-26 16:18] vkarpov15 commented on #6245
The bug does also affect the case where you have an Employee model that you're populating against:

[code]

[2018-03-26 16:18] vkarpov15 commented on #6245
Fix will be in 5.0.12

[2018-03-26 16:25] vkarpov15 commented on #6149
@zbornstein below script works fine for me. Please modify the below script to reproduce your issue.

[code]

Output:

[code]

[2018-03-26 16:29] vkarpov15 commented on #6131
I think this is the same issue as #6244, because with that fix I get the below output:

[code]

Fix should be in 5.0.12

[2018-03-26 16:29] #6131 closed

[2018-03-26 23:58] vkarpov15 commented on #6002
@pwhissell but then how would that map to models? How would models know about the classes that extend from a given schema?

[2018-03-27 00:01] vkarpov15 commented on #6252
Right now you would have to use [query middleware](http://mongoosejs.com/docs/middleware.html), so `pre('find')`, `pre('findOne')`, etc. if you want to implement your own caching. I haven't used any of the caching plugins out there so I don't have any suggestions for plugins.

[2018-03-27 00:01] #6252 closed

[2018-03-27 00:02] vkarpov15 commented on #6251
Fixed by #6272, fix will be in 5.0.12

[2018-03-27 00:02] #6251 closed

[2018-03-27 00:04] vkarpov15 commented on #5075
@cAstraea please provide code samples

[2018-03-27 00:09] vkarpov15 commented on #6237
@mirkods @lineus is right, we made this change in 4.12.0 (specifically #5546) because this was an unintentional quirk of how nested docs were implemented that caused a lot of problems, and was not a supported feature.

Can you elaborate a bit on some use cases where you used this pattern? We'd love to help and see if we can make your task of migrating to mongoose 5 easier.

[2018-03-27 00:13] vkarpov15 commented on #6255
Add a handler to `Model.on('error')`, or you can [set the `autoIndex` option to `false` for your schema](http://mongoosejs.com/docs/api.html#schema_Schema) if you just want to skip building indexes for this one model because you know it'll fail anyway.

[code]

[2018-03-27 00:22] vkarpov15 commented on #1335
@GeneralG any complications other than the obvious one of having to do `doc.array = doc.array || [];` before calling `push()`?

[2018-03-27 00:26] vkarpov15 commented on #6259
@akaNightmare that's because the `expires` field creates a [TTL index](https://docs.mongodb.com/manual/core/index-ttl/), so unfortunately you need to [drop the index in the mongodb shell](https://docs.mongodb.com/manual/reference/method/db.collection.dropIndex/) before mongoose will be able to successfully create the new index. In general, mongoose doesn't delete old indexes for you, so you still

[2018-03-27 00:26] #6259 closed

[2018-03-27 00:26] vkarpov15 opened #6281 "Add method to drop all indexes in a collection that aren't defined in the schema"
Re: issues like #6259 . Mongoose will not call this method automatically, but it would make it easier for people to clean up their indexes on their own.

[2018-03-27 00:28] vkarpov15 commented on #2906
That's reasonable, we'll investigate and see if we can find what's causing this issue

[2018-03-27 00:29] vkarpov15 commented on #4797
Nope that's a bug, will fix ASAP :+1:

[2018-03-27 01:26] gualopezb commented on #4797
@vkarpov15 #6282 fixes the bug. I added the corresponding test as well.

[2018-03-27 02:00] vkarpov15 commented on #4797
Fixed by #6282

[2018-03-27 02:00] #4797 closed

[2018-03-27 02:15] binarytracer opened #6283 "custom fields for swagger UI"
**first question:** can i  add some "meta" fields for mongoose schema without disrupting its internal behaviours?

user.model.js
[code]
this is my first time attempting to do this, by adding the **description** and **example**. My intention only is to have expressive way of presenting description to [Swagger Data Model](https://swagger.io/docs/specification/data-models/).

**second question**: if

[2018-03-27 02:50] diegohaz commented on #6155
Accordingly to https://github.com/diegohaz/mongoose-keywords/issues/12#issuecomment-376360406, it seems that the issue wasn't completely solved.

It can still be something with my plugin though. I'll try to look at that next weekend.

Just posting here so you guys may find something in the meanwhile.

[2018-03-27 03:39] AbdelrahmanHafez opened #6284 "Nested populate array and spaces in path don't work together"
**Do you want to request a *feature* or report a *bug*?** Report a bug.
The following code would populate the cityId & districtId fields succesfully, _with only using the space between the two fields_.

[code]

The following would populate the `houseId` succesfully, and would *only* populate the `cityId` field, would not populate both `cityId` & `districtId` as expected.

[code]

Node v8.9.3
Mongo

[2018-03-27 03:53] mosaic101 commented on #6257
code:
[code]
@lineus Thanks,  This function include mysql and mongo database.

[2018-03-27 05:41] pramod1792 commented on #5400
I am getting this same error [ MongoError: E11000 duplicate key error collection: bases Failed _id or unique key constraint ] while using mongoose(^5.0.11) with discriminators

[2018-03-27 05:51] pramod1792 opened #6285 "Upsert duplicate key error mongoose with discriminators"
I have implemented  discriminators with mongoose and connecting to Azure cosmos db's Mongo APIs.
I have a base collection as bases and 2 other collections say coll1 and coll2 inherited from bases (code looks like one in here https://anthonychu.ca/post/cosmos-db-mongoose-discriminators/ )

Those 2 collections contains same field(macId) on which i have implemented upsert on update.

Insert on 1st co

[2018-03-27 06:55] mirkods commented on #6237
Hi @vkarpov15 and thanks for your explanation. I have already migrated my code to mongoose 5.

[2018-03-27 09:22] lineus commented on #6277
@natanavra I agreed with you in my first comment that the setter for the array path is not running on query.

Here is an example that codifies the expectation that setters on arrays should behave the same on queries as string setters do ( but they don't):
### 6277.js
[code]
### Output:
[code]

My second comment was just me trying to understand the problem space and I should have just kept it in a

[2018-03-27 09:41] natanavra commented on #6277
@lineus Sorry, I misinterpreted your comments, looked at the modified code example (which does return the desired output, but the original was written that way on purpose to show that if the setter would have executed, we would get the desired output).
Thanks for the elaborate response.

[2018-03-27 10:04] lineus commented on #6278
@natanavra running your example on mongoose 5.0.11 I see only 2 calls to the setter:

### example from gist ( 6278_orig.js )
[code]
### output:
[code]
There is no doc returned from the findOne because you are running two asynchronous calls concurrently ( item.save() and Model.findOne() ).

### slightly modified example ( with async main() ) (6278_mod.js):
[code]
### output:
[code]

[2018-03-27 10:13] lineus commented on #6277
That's my fault, I wasn't clear about the purpose of the comment :)

I was also totally wrong about the query not returning a result because of the condition in the findOne({ strings: 'first' }). I tried to read everything I could about setters/getters, but I misunderstood that the setter would effect the condition before the query gets sent. Which in hindsight is silly :)

[2018-03-27 11:54] prasad47 commented on #6215
Hi vkarpov15  could you confirm your availability  .. i work in IST timings i am avaialbe from 9 to 9 IST .. Please confirm your availability . i can adjust my time as per your availability

[2018-03-27 12:59] natanavra commented on #6278
You're right, I was on 5.0.7 (even though running npm update, but the semver was a strict version...)

[2018-03-27 12:59] #6278 closed

[2018-03-27 16:08] vkarpov15 opened #6286 "Use `client.db()` syntax instead of parsing URI"
Re: https://github.com/mongodb-js/connect-mongodb-session/issues/50#issuecomment-373041196

[2018-03-27 17:45] lineus commented on #6284
confirmed with the following repro script:

### 6284.js
[code]
### Output:
[code]

[2018-03-27 18:47] ajsharp commented on #3105
@vkarpov15 I agree that _sometimes_ models that bi-directionally reference each other reflects poor design choices, but other times it's just a necessary evil. Is there a recommended way of handling this? If so, could it be added to the docs? Or better yet, supported by the library.

[2018-03-27 19:02] puntnomads commented on #6266
@lineus Thank you very much. Custom query helpers is what I was looking for.

[2018-03-27 19:02] #6266 closed

[2018-03-27 19:59] varunjayaraman commented on #6253
I'm not able to reproduce this, here is a simple repro script:

[code]

This logs out without error:

[code]

[2018-03-27 20:02] varunjayaraman commented on #6254
@lineus i think @janckerchen 's request was to dry up the `populate` call across various routes.

You can do this @janckerchen with a model static and use that model static instead of the default mongoose ones.

Another thing to consider: if you are always going to need the `address`, one of the benefits of mongodb is that you can just nest it in the document. If its a 1 to many association that m

[2018-03-27 20:03] varunjayaraman commented on #6256
@tphanson im sorry the code you posted is just a schema? Where is the code running a delete operation?

[2018-03-27 20:05] varunjayaraman commented on #6257
how many documents is it potentially fetching @mosaic101 ?

[2018-03-27 20:05] #6258 closed

[2018-03-27 20:08] varunjayaraman commented on #6262
i don't think it's a good solution to default to using underscore-prefixed private properties like that. That seems a bit too opinionated on mongoose's part. Some people abhor that convention and others like it, i think it's a slight inconvenience but overall better for the library to not inject magic like that

[2018-03-27 20:10] varunjayaraman commented on #6264
or you can just put a custom validator on the array (the advantage here is that it will catch it before you even attempt to save)

[2018-03-27 20:11] varunjayaraman commented on #6264
You can also use the mongoose unique array plugin: https://www.npmjs.com/package/mongoose-unique-array

[2018-03-27 20:12] #6264 closed

[2018-03-27 20:18] varunjayaraman commented on #6269
youre right, this seems to be a bug with `setDefaultsOnInsert`:

[code]

[2018-03-27 20:20] varunjayaraman commented on #6271
yeah, could you show us your mongoose debug output @iTonyYo ?

[2018-03-27 20:25] varunjayaraman commented on #6274
Unfortunately, this is the default behavior. There is a `Schema.clone()` method you can call to avoid this problem. See this issue for more details: https://github.com/Automattic/mongoose/issues/5098

We discussed this at one point but I believe it's not something we plan on changing in the near future. I'll let @vkarpov15 chime in for more details

[2018-03-27 20:37] varunjayaraman commented on #6277
I've narroed the problem down. The one time the setter runs is because of the save operation i believe. SO it does look like setters are not being run in find operations on array fields:

[code]

[2018-03-27 20:42] varunjayaraman commented on #6283
no, because mongoose will strip those fields it doesnt recognize in your options for defining a field's parameters:

[code]

[2018-03-27 20:44] varunjayaraman commented on #6285
can you please post your schemas?

[2018-03-27 21:04] JasonCust commented on #6274
@varunjayaraman The default behavior is to modify the input schema object? Why wouldn't the `model` method use the `clone` method internally so as to avoid modifying the input schema directly?

[2018-03-27 21:51] adamreisnz commented on #6262
I didn't mean to recommend that we use underscores, if there's a better way of implementing it I'm all for it!

This is my default approach though to creating simple getter/setter virtual properties, as it's easiest and simplest. Yet, if you have to create several properties like that it just feels quite verbose.

[2018-03-28 01:43] iTonyYo commented on #6271
Sorry for the late reply. Maybe you can turn it off first. I‘ll try to set `mongoose.set('debug', true)`, If that doesn't help, I will seek your help again. Thanks a lot! @lineus @varunjayaraman

[2018-03-28 02:26] binarytracer commented on #6283
you can get the **description** and **example** by this,
[code]

[2018-03-28 02:27] Hideer opened #6289 "I have a Request optimization problems."

[2018-03-28 02:47] mosaic101 commented on #6257
@varunjayaraman @lineus Thanks for taking time to respond, I found that the query data was too large.

[2018-03-28 02:47] #6257 closed

[2018-03-28 04:55] iTonyYo commented on #6271
Here is the mongoose debug output,
[code]

It could have been executed successfully, but now it can only be stored successfully without the same `stId`, unable to update doc of the same `stId`.

[2018-03-28 05:48] varun1729 opened #6290 "Deep Population of Sub Documents Across Arbitrary Levels"
Potenial Feature request

Currently in Mongoose I can populate references to documents by using the populate() function. However the function only works when I know how many levels deep I want to populate. There is no way for me to populate references to documents across arbitrary levels.

Consider the following schema of task with references to child tasks:

[code]

I want a task object returned,

[2018-03-28 05:55] iTonyYo commented on #6271
@lineus @varunjayaraman

**A minimal but complete example,**
[code]

:cyclone: it can only be stored successfully without the same `stId`,
[code]

:cyclone: unable to update doc, and it tries to update twice,
[code]
:cyclone: fixed `MongoError: '$set' is empty.` by adding `$set` above,
[code]
the debug output is,
[code]

[2018-03-28 08:46] lineus commented on #6271
@iTonyYo I don't think you want to modify the birth field of the document just to increment the visit counter. I understand why you did it to make the query work, but I assume you'd like to ultimately keep it set to when the document was *actually* "born".

I believe that you've either identified a bug in Model.update, or a place for improvement in the docs (or a gap in my knowledge). I'll explore

[2018-03-28 11:11] lineus commented on #6262
@adamreisnz I edited my example above to be more relevant ( I hope! ).

[2018-03-28 16:08] joeytwiddle commented on #5169
@juancarlucci You can put it in whatever file you like. Just call it to get a mongoose instance and use that to create your models.

I have updated the earlier post to show an example of usage.

[2018-03-28 18:26] #6269 closed

[2018-03-28 18:26] vkarpov15 commented on #6269
Fix will be in 5.0.13, thanks for reporting :+1:

[2018-03-28 20:35] adamreisnz commented on #6262
Interesting idea, but I don't like having to apply the plugin afterwards. I generally define all general plugins globally for all schema's, in advance of defining the schema's. So it kind of moves the problem to having to remember to apply this plugin to each schema after setting up virtuals.

But good effort, I might look at hacking it into Mongoose in some way if I find the time.

[2018-03-28 22:03] lineus commented on #6262
I was actually thinking about this earlier, so I decided to test it when I had time tonight. I just assumed that because the plugin was relying on the virtuals being declared already, that it would have to run afterwards. I was wrong.
**It turns out that this works just fine as a global plugin.**

[2018-03-29 00:55] gianpaj commented on #5235
I got a similar issue:

works ✅:
[code]

doesn't work ⛔️:
[code]

[code]

[code]

[2018-03-29 01:54] gianpaj commented on #5235
Actually the issues was that I wasn't encoding the username using `encodeURIComponent()` 😅

[2018-03-30 02:13] juancarlucci commented on #5169
@joeytwiddle Thanks for the usage example! Cheers.

[2018-03-30 02:27] pratraj opened #6293 "Mongoose populate query on populate field and filter the result that have null"
I have users collection that has data and their post referenced id.

[code]
I am writing a query on Users Scheme and filter the post that is Deleted. I want to filter the User data that post returns null.

[code]

[2018-03-30 04:15] cuongsimplypost commented on #2596
Agreed with @zoellner. The discriminators should be treated as sub model instead of top model

[2018-03-30 04:35] cuongsimplypost commented on #2851
+1

[2018-03-30 05:31] stieg opened #6294 "`toJSON` does not include nested virtuals when invoked on a nested object containing the nested virtual"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Assume a schema contains a virtual in an inner object.  The`toJSON` method _does_ include the virtual when invoked at root level but _does not_ include virtual when invoked on a sub-object within the Document.  Observe the following script and its output when run:

**If the current behavior is a bug, p

[2018-03-30 05:34] ztrange opened #6295 "Missing Document.prototype.remove() method from api docs"
Documentation for 5.0.12

http://mongoosejs.com/docs/api.html#Document

[2018-03-30 08:31] wentout commented on #2596
@cuongsimplypost just read it, everything is already done:
"[Discriminator value no more tied to ModelName](https://github.com/Automattic/mongoose/pull/6100#issuecomment-375109453)"

[2018-03-30 12:51] lineus commented on #6284
@AbdelrahmanHafez I wasn't able to find any documentation that sets the expectation that the options object passed into .populate() should accept an array as the value of the populate parameter. `.populate({ path: 'somepath',  populate: [{..}] })`

I think this is a **very reasonable** feature request as opposed to a bug.

In the meantime ( while this issue is being addressed ), you can chain two

[2018-03-30 13:28] AbdelrahmanHafez commented on #6284
I haven't looked for it in the documentation, but it sure works (except for the spaces case).
I would think that the double `.populate({ path: 'userId' })` Would look for the userId twice, to do the population, as opposed to the array, where it only finds it once.

[2018-03-30 13:36] lineus commented on #6284
yeah, it's the array **and** the space separated value of path that cause it to not work as you expect. The fact that it works with an array at all appears to me to be a side effect of the implementation of the internal utils.populate method, as opposed to a documented feature it provides.

If I can sort out a reasonable fix for it I'll put in a PR to add the feature.

[2018-03-31 07:58] adamreisnz opened #6299 "Not playing along nicely with Decimal.js library"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I am using [decimal.js](https://github.com/MikeMcl/decimal.js/) to work with numbers, and it's supposed to have a cast to `Number` support, so you can just substitute Decimal objects whenever you'd use `Number`'s

However, when I pass these values to a Mongoose model, it seems to incorrectly cast it to

[2018-03-31 09:26] lineus commented on #6295
@ztrange  a Document is an instance of a Model:
[code]
output:
[code]
When you call `.remove()` on a document, you're actually calling `Model.prototype.remove()` which is documented [here](http://mongoosejs.com/docs/api.html#model_Model-remove)

[2018-03-31 13:43] prasad47 commented on #6215
Hi Guys,

My Issue has been troubleshooted by Mr.Valeri karpov . Valeri Described it as Strange Issue when i screen shared  my problem in detail . He suggested me a simple fix..

While i am trying to create new Object mongoose is not recognizing the object as New  .. it is supposing the object as already exists which is Really Strange . So Valeri suggested a Fix
OBJ.isNew = true before executing t

[2018-03-31 18:06] ztrange commented on #6295
Wow, that actually helps me a lot. Thank you for clarifying it.

[2018-03-31 18:06] #6295 closed

[2018-03-31 18:29] lineus commented on #6295
@ztrange please feel free to submit a PR for any changes to the documentation/code.

Currently the first paragraph on [The Document page](http://mongoosejs.com/docs/documents.html) in the guide covers the relationship of documents to models. If you think it should also be in the API docs, or be explained differently, [here](https://github.com/Automattic/mongoose/blob/master/CONTRIBUTING.md) is the

[2018-04-01 14:05] lineus commented on #6277
just a quick update: the value of `this` in `this.setters` in SchemaType.prototype._applySetters() **during the query operation** is `SchemaString`, so it's not magically picking the correct SchemaType based on the schema, but more than likely picking it based on the condition type in the query. Trying to sort this out now.

[2018-04-01 14:26] elliotjyoung commented on #4181
Hilarious mistake 🥇

[2018-04-01 14:40] rwmia commented on #6299
Decimal js creates objects from values. Use demicaljs to convert to number before inserting to db. I think it’s toDP(num).

[2018-04-01 21:57] gonenduk opened #6300 "Support for selected fields in Model.hydrate()"
I'm using node 9.10.1 and mongoose 5.0.12.
When I declare a schema, I don't want to expose the __v field in my API but I do want it to be in the DB.
What I do is add this line to the schema to remove the field from queries:
schema.add({__v: {type: Number, select: false}});
When doing find operations it is indeed not shown in the results.
When doing create it is included in the returned document. I

[2018-04-01 22:32] adamreisnz commented on #6299
I am aware of the [`toNumber`](http://mikemcl.github.io/decimal.js/#toNumber) method in Decimal.JS, but the whole point is _not_ having to use that in every single location because it will be a royal pain the ass to refactor the whole codebase to guard against Decimals.

I figured this is a perfect task for Mongoose, since for example, it can also handle conversion of `moment` objects to primitive

[2018-04-02 01:00] #6286 closed

[2018-04-02 01:06] vkarpov15 commented on #6262
I understand @varunjayaraman 's concerns about having an opinionated default, but to work around that we could also support `CustomerSchema.virtual('totalValue', '$totalValue')` or some similar syntax. Thoughts?

[2018-04-02 01:11] vkarpov15 commented on #6277
As a workaround, instead of this:

[code]

Do this:

[code]

Should be equivalent for most cases and I can confirm this setter will run in mongoose 5.0.12.

[2018-04-02 05:43] adamreisnz commented on #6262
Yes, that could work, to specify the underlying field. But I still think a default could be used, as long as the likelihood of it clashing with another property is very small, e.g. something verbose as `$__private_totalValue`. As long as it's dynamically generated under the hood, who cares really how the properties are called? And it would save further keystrokes and verbosity when setting up simp

[2018-04-02 11:34] aliasgherbadshah commented on #5035
it does not work...........................................................
LOL

[2018-04-02 13:15] lineus commented on #6299
Hi @adamreisnz! The casting ( in this case ) happens in `mongoose/lib/schema/number.js`.

The specific part of 5.0.12 is:
[code]
if you play this out in the repl it goes a little something like this (hit it):
[code]

I think in most cases the assumption that if val.toString and Number(val) are loosely equal returning new Number(val) works, but in the case of decimal.js obviously it's not going to

[2018-04-02 15:05] lineus commented on #6299
I feel like I want to object to my own solution of preferring toNumber, because who knows what toNumber is *really* going to return? (at least on non decimal.js objects)

I think a better solution would be to change the return in SchemaNumber.prototype.cast:
from:
[code]
to:
[code]
Returning Number vs new Number:
   1. aligns SchemaNumber.prototype.cast's intent of conversion with Number's documen

[2018-04-02 18:24] dsinecos commented on #6279
@newkillerbeast2017 Any chance `.skip()` would be of help? [Reference](http://mongoosejs.com/docs/api.html#query_Query-skip)

[2018-04-02 18:52] adamreisnz commented on #6299
Thanks for looking into it. Personally, I think checking for a `toNumber` is better than checking for a `toString` anyway. Yes, you don't know what it will return, but it's a pretty high chance that it will return a number right?

Who knows what `toString` is really going to return? 😄

That has more chances of being non-conform output than `toNumber` imo. For example, it's conceivable that some ob

[2018-04-02 19:28] kitce opened #6301 "Enhance ObjectId#equals()"
I know that the type `ObjectId` comes from the native MongoDB driver, I wonder if it could be enhanced.

**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

[code]

**What is the expected behavior?**

Since I am comparing two parameters, they could be either a `Document` or an `ObjectId`, I assume they are same when their `_id` match.
It could be

[2018-04-02 20:32] trash-anger opened #6302 "pre save runs before the user.create call ..."
Hi,

I don't really understand what happens in [my code](https://github.com/FLEstiam/gotIt) ...
In my firsts commits, the signup worked well.
Now, I have this issue : ``data and salt arguments required`` when I try to create a new user.
After debugging, I understood than the password was undefined on the "pre save" but not in the router...

Then I logged the execution time :
[code]
So the "pre sav

[2018-04-02 23:33] joetidee opened #6303 "exec() expecting 1 argument"
In Webstorm code editor, it is saying that `exec()` is expecting one argument. I'm assuming that the code editor looks at the npm package installed (mongoose v4.9.2) and works this out, so is there a way to improve the code hinting?

[2018-04-03 00:32] vkarpov15 commented on #6277
Upon closer inspection I'm going to have to chalk this up to expected behavior. Sorry for the inconvenience, but the [workaround I mentioned](https://github.com/Automattic/mongoose/issues/6277#issuecomment-377831918) is the right way to go about this. This change would likely be backwards breaking and also break the contract that a setter on a given schematype runs when we're actually casting a va

[2018-04-03 01:08] vkarpov15 commented on #6274
This is something we want to support, but unfortunately if we `clone()` internally that causes a lot of tests to fail. It isn't really a breaking change, more that there's a lot of nuance in cloning a schema and we're not sufficiently confident in `clone()` to turn it on for everyone. We'll dedicate more time to figuring out what's wrong with `clone()` and see if we can `clone()` whenever someone

[2018-04-03 01:41] lineus commented on #6299
After some background processing of this during the day, and reading your excellent point on toString vs toNumber, I agree with you.

All of **our** tests still pass, after returning `Number(val)` instead of `new Number(val)`, but that doesn't mean other people's code won't break on typeof vs instanceof. I can argue for and against both potential solutions.

@vkarpov15 @varunjayaraman Thoughts?

[2018-04-03 01:46] adamreisnz commented on #6299
Good point, that might indeed be an issue.

What if we do something like:

[code]

This should only call the function if an object is passed and such a method is present on it, and fall back to the current implementation if it isn't. In theory, that should remain backwards compatible and only add new functionality for objects that do have a `toNumber` converter to use it.

[2018-04-03 01:47] adamreisnz commented on #6299
By the way that last condition in the existing code should probably be updated to `val.toString() === String(Number(val))`, in order to be explicit and avoid the weak `==` comparison.

[2018-04-03 05:55] Al-Imran123 commented on #542
Hi c4milo did you define foos array into your BarModel schema ?

[2018-04-03 10:03] natanavra commented on #6277
How is that expected behaviour? Can you point me in the direction? Since the documentation is rather vague about Setters to begin with.
This makes finding bugs very difficult, I'm not sure when mongoose works its magic and when not...

[2018-04-03 12:51] anlexN opened #6305 "”option:id“ and "option:_id“ , what differences?"
i can't understand those two
[option:id](http://mongoosejs.com/docs/guide.html#id)
[option:_id](http://mongoosejs.com/docs/guide.html#_id)

[2018-04-03 12:51] jeremyml commented on #6269
@vkarpov15 thank you for the work you do on Mongoose

[2018-04-03 14:36] lauriejim opened #6307 "Can't .where on virtual relations"
**Do you want to request a *feature* or report a *bug*?**

A bug I think or maybe it's not possible.

**What is the current behavior?**

Can't make .where() on virtuals

**If the current behavior is a bug, please provide the steps to reproduce.**

Create `Articles` with virtual (`created_by`) relation to `User` (`owned`, polymorph relation)
And try to get `Articles` witch have a specific `created_

[2018-04-03 15:37] natanavra commented on #2851
+1

[2018-04-03 21:08] vkarpov15 commented on #6262
Yeah that's fair. I would probably err on the side of just using `$totalValue` by default, but you're right, it isn't really a big deal unless the property clashes, in which case we would be better off nesting these virtual properties underneath a separate object.

[2018-04-03 21:09] vkarpov15 commented on #4064
What behavior specifically are you referring to?

In general, saving the same document reference multiple times in parallel leads to unpredictable results, and you shouldn't need to do that...

[2018-04-03 21:13] #6194 closed

[2018-04-03 21:14] #6211 closed

[2018-04-03 21:14] #6222 closed

[2018-04-03 21:14] #6233 closed

[2018-04-03 21:16] vkarpov15 commented on #4596
@sravzpublic please look closely at your stack trace, it shows that the error is in connect-mongo and has nothing to do with mongoose. FWIW, mongoose does support node 8.

[2018-04-03 21:24] vkarpov15 opened #6308 "Docs for `schema.loadClass()`"
Re: https://github.com/Automattic/mongoose/pull/4668#issuecomment-376268022

[2018-04-03 21:27] vkarpov15 commented on #6155
@diegohaz thanks for the heads up. If you can provide a script that reproduces the issue, we'd be happy to take a look.

[2018-04-03 21:28] vkarpov15 commented on #6237
Great! Thanks for upgrading and for reporting this issue, feel free to reach out if you run into any more difficulties.

[2018-04-03 21:30] vkarpov15 commented on #3105
@ajsharp I don't know of any such cases off the top of my head. But, assuming there is such a case, there's nothing stopping you from having an array of refs in two different schemas that point to each other, I don't really see how adding that to the docs would help.

[2018-04-03 21:36] vkarpov15 commented on #6254
If you always want to populate `address` you can just use [the mongoose-autopopulate plugin](https://www.npmjs.com/package/mongoose-autopopulate) to automatically populate using your preferred options. This works great if you rarely need to load an account without calling `populate('address')`.

You can also use [query helpers](http://mongoosejs.com/docs/guide.html#query-helpers) to encapsulate `p

[2018-04-03 21:36] #6254 closed

[2018-04-03 21:45] vkarpov15 commented on #6283
@binarytracer you're right, I think Varun just misread your question. You should be able to put any meta properties you want except for these:

* `type`
* `validate`
* `required`
* `min`
* `max`
* `minlength`
* `maxlength`
* `default`
* `get`
* `set`
* `default`
* `alias`

These are [listed in the docs](http://mongoosejs.com/docs/schematypes.html#schematype-options). These are the only ones mongoo

[2018-04-03 21:45] #6283 closed

[2018-04-03 21:45] #6289 closed

[2018-04-03 21:49] vkarpov15 commented on #6290
Mongoose already has [support for deep populate](http://mongoosejs.com/docs/populate.html#deep-populate)

[2018-04-03 21:49] #6290 closed

[2018-04-03 21:54] vkarpov15 commented on #6294
Thanks for reporting, will fix ASAP :+1:

[2018-04-03 21:55] vkarpov15 commented on #2596
@wentout yeah this is correct. I'll keep this issue open because we need to add docs

[2018-04-03 21:58] vkarpov15 commented on #6284
Yeah this is definitely a feature to add. As a workaround, do the below.

[code]

[2018-04-03 22:03] lineus commented on #6302
hi @trash-anger! It's the arrow function that's causing your grief. [documented on the faq here](http://mongoosejs.com/docs/faq.html)

I was able to duplicate your issue with the arrow function.

I wrote an example that fixes it with a regular function below:

###6203.js
[code]
###output
[code]

[2018-04-03 22:09] vkarpov15 commented on #6300
Unfortunately that isn't something we can support, that would be a huge breaking change because then creating a new document with `new MyModel()` would also exclude de-selected fields. However, I think we should add this feature to [`Model.hydrate()`](http://mongoosejs.com/docs/api.html#hydrate_hydrate)

[2018-04-03 22:10] vkarpov15 commented on #6279
@dsinecos is right, `.skip()` does exactly what you want :+1:

[2018-04-03 22:10] #6279 closed

[2018-04-03 22:11] vkarpov15 commented on #6301
This is a good idea, we will add this feature in a future release :+1:

[2018-04-03 22:14] vkarpov15 commented on #6303
We don't have any formal support for webstorm or any other IDE, so there's not much we can do. However,  you usually don't need to do `.exec()` without any parameters. If you're trying to use queries with promise chaining, you can just do `MyModel.find().then(docs => { /* ... */ });`.

[2018-04-03 22:14] #6303 closed

[2018-04-03 22:36] vkarpov15 commented on #6277
What do you mean by "can you point me in the direction"?

[2018-04-03 22:39] vkarpov15 commented on #6305
`_id` adds an `_id` property to the schema if it isn't already there, `id` adds a virtual that acts as a getter for `_id`.

[2018-04-03 22:39] #6305 closed

[2018-04-03 22:40] vkarpov15 commented on #6307
Can you elaborate with more code samples? I don't understand

[2018-04-03 22:42] vkarpov15 commented on #6302
@lineus good catch, that's exactly the issue

[2018-04-03 22:42] #6302 closed

[2018-04-04 00:24] binarytracer commented on #6283
@vkarpov15 thanks for the confirmation.

[2018-04-04 01:52] #2596 closed

[2018-04-04 02:47] lakamsani opened #6310 "mode.save fails with new style MongoDB 3.6.3 Atlas URL"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`model.save` fails with new style URL but work with old style URL. See this [gist](https://gist.github.com/lakamsani/d5e13580b5e36cf399aafaad95e15d92) for details. Error when it fails is:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

https://gist.github.com/lakams

[2018-04-04 03:27] anlexN commented on #2851
when to achieve?

[2018-04-04 07:35] natanavra commented on #6277
Where the expected behavior is documented and explained

[2018-04-04 08:52] trash-anger commented on #6302
Oh !!! Great ! Thank you very much !!! I'm trying it during the day !

[2018-04-04 09:33] anlexN opened #6311 "how to achieve multi-level schema inheritance or compose?"
i have read mongoose document once by once.
Summary:
**there are 4 possible solution**
* [populate](http://mongoosejs.com/docs/populate.html)
* [discriminators](http://mongoosejs.com/docs/discriminators.html)
* [plugin](http://mongoosejs.com/docs/plugins.html)
* [loadClass](http://mongoosejs.com/docs/advanced_schemas.html)
i expect such like this relational schema , inspired by [shema.org](http://

[2018-04-04 09:34] dinhanhhuy opened #6312 "[bug] Mongoose generate weird query when using find method."
**I want report this is a *bug***

**The current behavior:**
Can't find the matching documents.
When i run this code, with moongoose as debug mod
[code]
`console.log` say can't find any match document (empty array).
[code]
**The expected behavior:**
I don't know why`{ fields: {} }` exist in the query log.
When i put whole query log in `MongoDB` it's reponse error:
[code]
When I remove that weird o

[2018-04-04 09:44] BrunoGodefroy commented on #6277
@vkarpov15 Your work around is an elegant solution in the use case described above but what would be your recommended way to go in case the setter is supposed to transform the array globally? Like in this example:

[code]

[2018-04-04 10:32] dinhanhhuy commented on #6312
I'm find that this issue cause by using many connection on 1 object moongose. Delete this.

[2018-04-04 10:32] #6312 closed

[2018-04-04 14:08] mserege opened #6313 "Schema toObject default "depopulate" option is not applied"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Schema toObject default "depopulate" option is not applied when called on a document.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
Expected output of console logs is:
[code]
Actual output however is:
[code]
Objects should have

[2018-04-04 15:33] AbdelrahmanHafez opened #6314 "Documentation href not set properly"
http://mongoosejs.com/docs/api.html#update_update

In this page, under Model.update() the options appear like this:
[code]
I believe that's not what was intended

[2018-04-04 15:36] vkarpov15 commented on #6271
Here's a minimal repro script:

[code]

The problem is the callback in your `update()` call.

[code]

When you pass a callback to your query, you execute the query. Then, when you `await` on the query, you execute it again, so you're actually executing the query twice by passing that unnecessary callback.

[2018-04-04 16:44] vkarpov15 commented on #6271
As @lineus has pointed out, `findOneAndUpdate()` behaves differently than `updateOne()`, so there's still work to be done on this one:

[code]

[2018-04-04 18:05] sjohnson540 commented on #4101
Hello! I know this issue is closed, but I was wondering what the root cause was. I have run into the same problem, and upgrading fixed it, but I was hoping to know what the underlying issue was. I did not see a relevant commit attached to this issue.

[2018-04-04 20:07] stieg commented on #6294
Thanks for the quick turnaround on the patch @vkarpov15 .  Tis apprecaited :)

[2018-04-04 20:48] #6271 closed

[2018-04-04 20:49] vkarpov15 commented on #6271
In 5.0.13, the `findOneAndUpdate()` script in [the above comment](https://github.com/Automattic/mongoose/issues/6271#issuecomment-378667358) will also print `n: 2`, because there was a bug where `Model.findOneAndUpdate()` would not return the query (as documented) if a callback was passed.

[2018-04-05 07:40] BorntraegerMarc opened #6315 "Docs for Mongoose 5.0 Promise error handling in hooks"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
In http://mongoosejs.com/docs/middleware.html#pre it is written: `In mongoose 5.x, instead of calling next() manually, you can use a function that returns a promise. In particular, you can use async/await.`

Which is very nice! But under the Section "Error handling" it is written: `If any middleware

[2018-04-05 09:25] BorntraegerMarc commented on #5768
@vkarpov15 With 5.0 now released should we maybe add this post hook to the docs?

[2018-04-05 10:21] vkarpov15 opened #6316 "schema.clone() with discriminators and `set()` options"
Re: #6274

[2018-04-05 10:21] #6316 closed, assigned to nobody

[2018-04-05 11:34] priyank21 opened #6317 "$limit and $skip not working in aggregate"
`
var perPage = 2;
 var skip = perPage * (page - 1);
Order.aggregate(
      [
        {
          $match: find_query
        },
        {
          $lookup: {
            localField: local_id,
            from: "users",
            foreignField: "_id",
            as: "order_to"
          }
        },

        { $sort: { created_at: -1 } },
        { $limit: perPage },
        { $skip: skip },

[2018-04-05 11:52] BorntraegerMarc commented on #5768
And how would it be done with `insertMany`? can we also use population directly in a post hook?

[2018-04-05 14:28] lauriejim commented on #6307
To be more simple @vkarpov15

Is it possible to make a where on `virtuals` ?

[2018-04-05 14:42] dreadrocksean commented on #2262
There are better ways to implement an optimistic query than this.  It is very counter intuitive and time wasting for new comers.

[2018-04-05 18:27] varunjayaraman commented on #6293
thanks @lineus . Yeah i think what he is asking for is to modify the initial query based on fields within the "join"ed or populated collection. That's not really possible @pratraj  without, as you suggested, using aggregation or making separate queries and combining them. This is just an inherent difference between MongoDB and other SQL solutions because mongoose populates are illusory joins and a

[2018-04-05 18:27] #6293 closed

[2018-04-06 00:04] lineus commented on #6317
@priyank21 Can you please create an example with a schema and all variable definitions including your query and any relevant output or errors?

[2018-04-06 14:31] lineus commented on #6313
@mserege You're right, `toObject.depopulate` doesn't work when set at the schema level.

I modified your example slightly
### 6313.js
[code]
### output:
[code]

@vkarpov15 $toObject is explicitly only looking at the passed in options object for depopulation. Should this be a documentation change excluding schema level depopulation in toObject?

[code]
Or should I keep trying to find a fix? Various

[2018-04-06 15:49] lineus commented on #6315
@BorntraegerMarc I think the wording in the docs makes it sound like returning a promise and using async/await are one inextricably linked feature, but it's actually two separate features.

## You can call the next hook by returning a promise
Consider the following
### contrived example:
[code]
### output:
[code]

You can see that all three hooks get called despite not explicitly calling next() on

[2018-04-06 15:57] BorntraegerMarc commented on #6315
thanks for the input @lineus
that makes sense. So this should work:
[code]

correct?

[2018-04-06 15:57] BorntraegerMarc commented on #6315
Maybe a small description (with the above code examples) would be helpful in the docs

[2018-04-06 16:54] lineus commented on #6315
yeah, that's a valid pattern. Though this got me to wondering if we would get a different Error stack by returning next(error) instead, but alas, they're the same either way.

I don't personally know of a reason not to just throw in this context ( as opposed to returning next(new Error()) ).

[2018-04-06 18:44] nelsonlarocca commented on #4049
any update about pushing and timestamps ?

[2018-04-07 07:25] StanislavRastorguev opened #6321 "model.save response too slow"
Probably bug
with mongoose 5.0.12 and 5.0.13 mongoose model.save after start project first response 1s, with mongoose 5.0.4 it start fine (this problem only with 1st save, get.request returns fast, after 1st save it works fine)

first run with 5.0.4v  55.944 ms
first run with 5.0.13v  1076.606 ms
first run with 5.0.12v 1076.509 ms

node 8.7.0
mongoDB 3.6.1

[2018-04-07 11:09] lineus commented on #6321
@StanislavRastorguev I tried to duplicate what you are seeing with the following script

### 6321.js
[code]
### output for versions 5.0.{4..13)
[code]
Can you please provide a similar script that demonstrates the issue? Feel free to use mine and report back with your results.

[2018-04-07 11:57] lineus commented on #6174
I took a look at this again today and finally got it to work.
A couple of notes
   1. I couldn't abide by the square having different side lengths. It sent the OCD ( that I didn't even know I had ) into a downward spiral.
   1. if you're nesting classes, you have to create an instance of the nested class in the cast function of the parent.

### my changes
[code]
### output
[code]

[2018-04-07 13:29] nairihar opened #6322 "Timeout error when connecting replication set"
Probably bug

Hi, I have created mongo replication set, trying to connect but getting Timeout Error.
Here is the code, please help to understand the problem.

[code]

[code]

Node v8.11.0
Mongo v3.6.3

[2018-04-07 14:50] lineus commented on #6322
@nairihar you've got your socketTimeoutMS set to 0. have you tried it with a higher value?

[2018-04-07 15:39] olnazx opened #6323 "Unexpected Model.count() behaviour"
Mongoose throws `TypeError` on `Model.count()` I use object without prototype in the query.

[code]

[code]
[code]

**Node.js**: 9.4.0
**Mongoose**: 5.0.13
**MongoDB**: 3.6.3

[2018-04-07 15:47] nairihar commented on #6322
@lineus Here is a video how I making mongo cluster.

australia is name of my docker container,

when I running node file, in mongo logs I see this

[code]
https://www.youtube.com/watch?v=XLLF3fsEZqs

[2018-04-07 15:55] nairihar commented on #6322
I have tested mongo cluster on Mongo Chef, it works fine.

[2018-04-07 16:03] lineus commented on #6322
my machine is too old to support docker 👎 so I don't really have a way to test this, and sadly no experience to base an answer on. @varunjayaraman do you have any insights?

[2018-04-07 16:56] StanislavRastorguev commented on #6321
I took part of your script in my project, mongoose conection starts with project, so no need to include it.

process.stdout.write(`version: ${ver} `);
          const saveStart = mtime.now();
          board.save((err, newBoard) => {
            const saveTime = (mtime.now() - saveStart) / 1000;
            process.stdout.write(`save: ${saveTime} ms `);

All this results is only 1s save after star

[2018-04-07 17:32] lineus commented on #6321
@StanislavRastorguev can you include your schema, connection details, and some sample data to help isolate the problem?

[2018-04-07 17:38] StanislavRastorguev commented on #6321
@lineus sure, just tell me what you need, this my schema, idk what you mean about connection details and sample data
[code]

[2018-04-07 18:12] lineus commented on #6321
by connection details I mean the uri string ( minus any sensitive data ) and the options that you are passing into mongoose.connect or mongoose.createConnection.

sample data would be an example of a doc that you are saving ( minus any sensitive data )

[2018-04-07 19:48] useo6 opened #6324 "Unauthorized: Not authorized on ... to execute command"
Hi,
I'm a small application that runs every 10 minutes and uses mongoose to fetch some data from my database. The first few hours everything works fine but later I'm getting the following error:

I'm using mongoose 5.0.7 and mongodb 3.4. Are there any known issues regarding this topic?

[2018-04-07 20:47] nairihar commented on #6322
I have tested in my os mongo (not with docker) all works fine, maybe it's my problem with docker configs, thanks

[2018-04-07 20:47] #6322 closed

[2018-04-07 21:14] StanislavRastorguev commented on #6321
@lineus db connection data
[code]

[2018-04-07 21:15] StanislavRastorguev commented on #6321
and data for save
{ lists:
   [ { tasks: [], _id: 5ac840cf7f7a1718d8390dfc, listName: 'Test1' },
     { tasks: [], _id: 5ac840db7f7a1718d8390dfd, listName: 'Test2' },
     { tasks: [], _id: 5ac840dd7f7a1718d8390dfe, listName: 'Test3' },
     { tasks: [], _id: 5ac86650f5692c19c81d072f, listName: 'aaaaaaa' } ],
  color: '#D29034',
  _id: 5ac840c27f7a1718d8390dfb,
  __v: 133 }

[2018-04-07 21:35] StanislavRastorguev commented on #6321
@lineus if you need more information, i can invite you in bitbucket repository

[2018-04-07 22:15] lineus commented on #6323
confirmed with the following repro script:

### 6323.js
[code]
### output:
[code]

[2018-04-07 22:27] lineus commented on #6321
@StanislavRastorguev did you happen to try running my test script as is? I'm curious if the isolated test-case behaves the same as your app. Can you change the db or collection names as necessary if you already have a db called test, and try to run my code?

[2018-04-07 22:44] StanislavRastorguev commented on #6321
@lineus did you reload app after every start script? this happens only after first start project and first save

[2018-04-07 22:48] lineus commented on #6321
yes. I installed each version of mongoose and ran the test script in a for loop on the command line. So this would have been the first connection and first save each time.

[2018-04-07 22:52] StanislavRastorguev commented on #6321
@lineus Acually i tested few min ago 5.0.12 version on another project, and it works fine. Its rly wierd, because that project have same algoritm. Any idea what i need to do now?

[2018-04-07 22:53] lineus commented on #6321
let me see if I still have a bitbucket account and I'll take a look at it if you like.

[2018-04-07 22:53] StanislavRastorguev commented on #6321
or not
{ tasks: [], _id: 5ac94af29f43341f2883f342 }
POST /api/list/5ac94af29f43341f2883f342/task 201 1088.834 ms - 132

this another project with 5.0.12

[2018-04-07 22:56] lineus commented on #6321
and your mongodb server is on localhost?

my bitbucket account name is nerdfizzle and my email is lineus@gmail.com

[2018-04-07 22:58] StanislavRastorguev commented on #6321
@lineus yes, mongo in localhost
i invited you in this project, and you can see in github another project, it has problem with 5.0.12 too
https://github.com/StanislavRastorguev/todo-list

[2018-04-07 23:30] StanislavRastorguev commented on #6321
Since you master of mongoose, can you tell me how solve one problem. When i start mongo before project it works fine, if i reload mongo it works fine, but if i start project and then start mongo, it not connecting.

[2018-04-07 23:33] lineus commented on #6321
I installed your app, then added the timing bits to your controller, and ran it. In the UI I then created a todo list.
here's my output on 5.0.4 ( note the save time log )
[code]
here's my output on 5.0.13 ( note the save time log)
[code]
here's the change to the todoLists.js
[code]

[2018-04-07 23:35] lineus commented on #6321
I'm just a nutcase who enjoys learning by solving problems ( or trying to )

the mongodb native js driver does not attempt to reconnect on a failed first connection, so the db must be up and running first.

[2018-04-07 23:38] StanislavRastorguev commented on #6321
@lineus can you try another way pls, install in this tido-list mongo 5.0.12, create few lists, then reload project and try to create task, this where in this todo list i have problem, it creating lists without problem

[2018-04-07 23:42] lineus commented on #6321
sure:
[code]

[2018-04-07 23:45] StanislavRastorguev commented on #6321
Then i don't understand what is the problem, it's only with some mongoose versions and with some apis and only 1st save after reload. I can ofc just install mongoose 5.0.7 as i did, but it not solving problem.

[2018-04-07 23:46] lineus commented on #6321
what version of mongodb server are you running locally?

[2018-04-07 23:50] StanislavRastorguev commented on #6321
i guess it's 3.6.1, can you tell me how i can check it?

[2018-04-07 23:51] lineus commented on #6321
controllers: mongo --quiet todo_list_mean

3.6.2

[2018-04-07 23:53] StanislavRastorguev commented on #6321
yes, its 3.6.1

[2018-04-08 00:06] StanislavRastorguev commented on #6321
@lineus idk how it works, we end on this stage or we will try to find problem until we don't solve it?

[2018-04-08 01:34] lineus commented on #6321
We can pick it back up tomorrow for sure. It’s late here :) maybe we can chat in either the mongoose slack or gitter channel. I have a feeling we blew up some inboxes today!

[2018-04-08 01:51] StanislavRastorguev commented on #6321
here is 4:51 am ;) sure, can you invite me in slack channel?

[2018-04-08 08:50] Jinshihao opened #6326 "How automatically create databases and collections?"
I create a connection use createConnection,but the mongodb not have any database and collections.

[code]

NodeJS Version: 8.11.1
mongoose Version: 5.0.12
Mongodb Version: 3.6.3

[2018-04-08 09:18] sarmask33 opened #6327 "Mongoose Save API fail with Document Not Found Error"
Mongoose version: 5.0.0

**Do you want to request a *feature* or report a *bug*?**
I'm new to mongoose and I'm not sure its a bug or i'm missing something.

**What is the current behavior?**
I'm getting "Document Not found Error" when updating a model and saving them using mongoose save method.

**If the current behavior is a bug, please provide the steps to reproduce.**

Attached the zip file whi

[2018-04-08 13:10] lineus commented on #6327
Hi @sarmask33 Welcome to mongoose and node!

I took a look at the code in seed.js and found the problem.

In order to run the seed file with minimal changes I created a file called index.js:
[code]

here are the changes that I made to seed.js
   1. Use the builtin addToSet method of the mongoose array. It casts the value to the definition in the schema and won't duplicate existing entreis, so you

[2018-04-08 13:42] lineus commented on #6326
Hi @Jinshihao,

In order to create a collection with mongoose you need to create a Model and save a document.
Consider the following example:

### 6326.js
[code]
### output:
[code]

If you have any questions or just want to chat about mongoose, feel free to join us on the [slack channel for mongoose](https://mongoosejsteam.slack.com/) or the [gitter community for mongoose](https://gitter.im/Automa

[2018-04-08 13:58] lineus commented on #6324
@useo6 what connection options if any are you passing into `mongoose.connect()` or `mongoose.createConnection()`?

[2018-04-08 15:35] vkarpov15 opened #6328 "Make clone() handle aliases, single nested, init, and alternative syntaxes for options"
Fixed by https://github.com/Automattic/mongoose/commit/0558156845b47e6045f9a1d2a023091a98a91b5f, just here for tracking purposes. Re: #6274

[2018-04-08 15:35] #6328 closed

[2018-04-08 16:07] useo6 commented on #6324
I'm using createConnection because I need two connections.
The connections strings are nothing special.
mongodb://<user>:<pass>@<ip>:27017/production

At the moment I replaced the login credentials of my dbOwner-User with the credentials of the admin and at the moment it works without any error. But it confuses me that it sometimes work and sometimes not.

[2018-04-08 16:31] lineus commented on #6324
yeah, that's a little weird, if it was an auth issue on the db I would expect it to happen every time, and if it was the default socketTimeout of 5 minutes, I would expect it to happen on the 2nd run of the script (assuming you're not re-running the script with cron or launchd). Have you checked the mongodb jira bug queue yet? I'll have some time later to dig around if you haven't already.

[2018-04-08 16:33] vkarpov15 commented on #6299
@adamreisnz see my comments on #6306, I think the better approach would be to look for `.valueOf()` rather than `.toNumber()`, which is non-standard. Any thoughts?

[2018-04-08 16:35] vkarpov15 commented on #6314
Thanks for reporting, will fix :+1:

[2018-04-08 16:36] #6314 closed

[2018-04-08 19:13] adamreisnz commented on #6299
Thanks I've commented in the PR

[2018-04-08 20:42] vkarpov15 commented on #6284
Fixed by #6296

[2018-04-08 20:42] #6284 closed

[2018-04-08 22:30] #6273 closed

[2018-04-09 02:11] sarmask33 commented on #6327
HI @lineus Thanks for your clarification. It solved the issue. But I have two questions,

1) The error was misleading, it was prompting for "Document Not found" and not Duplicate Unique Id. How do you explain that.
2) By retaining the line "foundCg.comments = foundCg.comments.concat(foundC);"  and by using findByIdAndUpdate instead of save also works fine.

/*Campground.findByIdAndUpdate(foundCg._

[2018-04-09 03:06] Jinshihao commented on #6326
@lineus I've solved the problem, because I used the global `mongoose.Model() ` when I mounted the Schema. thx for your reply.

[2018-04-09 03:07] #6326 closed

[2018-04-09 05:04] sagarpatel9697 opened #6329 "How to get parent and child both schema with discriminator in plugin?"
**Do you want to request a feature or report a bug?**
I don't know this is a bug or not. I want to know how to access parent & child schema in plugin when using discriminator

**What is the current behavior?**
I am having diffrent schemas like below:

**_user-model.js_**
[code]

**_patient-model.js_**
[code]

**_doctor-model.js_**
[code]

**_title-case-plugin.js_**
[code]
when i use plugin with di

[2018-04-09 17:09] useo6 commented on #6324
Alright, this error also occurs when I use my mongodb-root account. I started my small application on 08.04.2018 17:20:51 and the first error occurred today at 03:54:37. I'll check the mongodb jira bug queue...

[2018-04-09 19:27] varunjayaraman commented on #6307
@lauriejim is the feature you're looking for the ability to use a virtual fieldname in a query?

 like so:

[code]

[2018-04-09 19:28] #6285 closed

[2018-04-09 19:28] varunjayaraman commented on #6253
@akashbharadwaj can you see if the error is producible in that script i created?

[2018-04-09 19:34] varunjayaraman commented on #6313
i get the same results @lineus, i'll mark this as a confirmed bug for now.

[2018-04-09 19:35] varunjayaraman commented on #6315
yeah @lineus is right, async/await is just a wrapper around promises at the end of the day :)

I'm open to adding to the docs

[2018-04-09 19:38] varunjayaraman commented on #6317
yeah, please create a more reproducible script. Can you also clarify what you mean by "not working" ?

Also please format your code more readably next time, it makes it easier for us to understand your issue.

[2018-04-09 19:40] varunjayaraman commented on #6323
yeah this looks like a bug

[2018-04-09 19:42] varunjayaraman commented on #6324
@useo6 yeah thats weird. you dont have multiple dbs you might be hitting right? Are your dbs load balanced? Might you have a rogue db with some invalid credentials?

[2018-04-09 21:55] mjgallag opened #6330 "Fix for Apply defaults after setting initial value doesn't work on find"
Fix for Apply defaults after setting initial value doesn't work on find. The default function runs but the values of existing fields are undefined. Defaults not based on existing fields are correctly set on find for documents where they did not previously exist (i.e. a new default field).

https://github.com/Automattic/mongoose/issues/3781
https://github.com/Automattic/mongoose/pull/6119

Note tha

[2018-04-10 02:11] sarmask33 commented on #6327
HI @lineus Thanks for your detailed explanation and clarification. The gist helped me.
I understood the difference between "save" and "findByIdAndUpdate" and "Document not found error due to version". But still one thing is bothering me in this,
* How $addToSet solves the issue?
It just removes the duplicates in comment array of campground, but how adding it solves "async save issue and document n

[2018-04-10 05:06] NikhilAshodariya commented on #6174
@lineus, But the problem is typecasting is not possible in all cases.

[2018-04-10 08:10] lauriejim commented on #6307
Yes, something like that.

[2018-04-10 09:45] zysam opened #6331 "define a Decimal type, but old data(int32) will return NaN."
mongoose: 5.0.12
mongoDB: >= 3.4

when schema has defined the path  Decimal128 type, and the old data type is number. it return Nan.

model.js
[code]
main.js
[code]

node main.js

in d1 collection, amount already exists, and it is a int32 type, not a decimal type.
It will return amount: NaN

I have to fix db data to solve the problem.
like this:
[code]

So, Is it a bug?

[2018-04-10 10:43] lineus commented on #6327
You're welcome @sarmask33!

It just removes the duplicates in comment array of campground, but how adding it solves "async save issue and document not found error". Looks like i'm still missing something.

mongoose can detect when your array path has been changed with addToSet vs. other methods
( such as concat in this case ). If the array has been changed with addToSet it does not require the ver

[2018-04-10 15:35] sjagadee opened #6332 "MongoError: authentication fail while trying to connect to database through mongoose client"
Hi I have encountered this error while connecting through mongoose.

`Error: { MongoError: authentication fail
    at /Users/srinivas/Documents/JavaScript/nodejs/my-node-shop/node_modules/mongodb-core/lib/topologies/replset.js:1429:15
    at /Users/srinivas/Documents/JavaScript/nodejs/my-node-shop/node_modules/mongodb-core/lib/connection/pool.js:874:7
    at /Users/srinivas/Documents/JavaScript/no

[2018-04-10 18:53] trudyga commented on #1844
Hi, everyone. As i could understand, this error is caused by divergence of _v field of a document, it is not a bug of mongoose itself.

**Consider following code:**
`return await Promise.all(personCompanyUniqueInteractions.map(i => updateMarketingConsent(i)));`
_It updates documents in parallel._
The error situtation may happen when in db:
`{_id: 'some_id', _v: 3}`,
but in memory for next update t

[2018-04-11 09:46] sarmask33 commented on #6327
Thank you for the clarifications.

[2018-04-11 09:46] #6327 closed

[2018-04-11 12:13] pelzerim commented on #6140
I am experiencing this, too. Downgrading to 4.13.12 and explicitly using the **decrepated** connection logic by not using Mongo Client  fixed it for now (`useMongoClient: false` in options). Be aware that the options object has a different structure in that version.

[2018-04-11 16:52] vkarpov15 commented on #4064
Because `save()` has a bunch of async steps: validation, middleware, etc, so if you `save()` the same doc twice in parallel you might cases where two of these async tasks conflict with each other, like validating and then invalidating the same path. We should consider throwing an error in this case.

[2018-04-11 16:56] vkarpov15 commented on #6277
@BrunoGodefroy if your query is `MyModel.find({ numbers: 2 })` there is no array to transform, just a single isolated value. However, you are right that the setter won't run if you do `MyModel.find({ numbers: [2] })`, that's a problem that we need to fix.

[2018-04-11 16:59] #6310 closed

[2018-04-11 16:59] vkarpov15 commented on #6310
@lineus bumped in master, will release with 5.0.15 :+1:

[2018-04-11 17:01] vkarpov15 commented on #4101
@sjohnson540 can you show the code that's causing this issue? This issue shouldn't show up in newer versions of mongoose, the issue was that the `async` flag that mongoose used internally was getting down to the mongodb server.

[2018-04-11 17:02] vkarpov15 commented on #5768
@BorntraegerMarc thanks for your PR. You should be able to `populate()` in `post('insertMany')` as well, don't see why not.

[2018-04-11 19:38] shivpatel opened #6333 "MongoDB 1243 ($[] notation) - Mongoose Support?"
Does Mongoose support the functionality added in https://jira.mongodb.org/browse/SERVER-1243 (MongoDB 3.5.12)?

I am specifically interested in the update all documents in array capability:

[code]

I have tried this syntax style with Mongoose 4.11.9 and 5.0.14 and get the following error:

`MongoError: '$unset' is empty. You must specify a field like so: {$unset: {<field>: ...}}`

My code looks l

[2018-04-11 22:36] #6277 closed

[2018-04-12 01:28] anlexN commented on #6174
@NikhilAshodariya, i also think so. @lineus fighting! 👍

[2018-04-12 04:19] sj82516 opened #6334 "[bug] Is mongoose populate object share the same object reference?"
**What is the current behavior?**
Here is my pseudo code
[code]

I want to make sure why populated object would share the same object reference ?

**What is the expected behavior?**
It would be nice if very single populated object does not share the same object reference.

**Please mention your node.js, mongoose and MongoDB version.**
nodejs v 6.10 / mongoose v 4.12 / mongodb v 3.2.4

[2018-04-12 07:06] mariodu opened #6335 "The promise api doubts"
versions:
+ mongoose 5.x

see the code:

[code]
why `query` is a instance of `Query`, but not a normal promise object?

I should call `then` or `exec` to get promisify return. I think it's easy to be confused.

[code]

[2018-04-12 10:03] lineus commented on #6332
@sjagadee I don't see anything wrong with your connection string.

If you console.log(process.env.MONGO_ATLAS_PW) before you try to connect, are you seeing the expected value?

If so, can you connect via mongo shell to the same replica with the same username/password?

[2018-04-12 12:01] lineus commented on #6335
@mariodu

In addition to having all of the same behaviors as Promise, the Query instance also has several additional methods like `.populate()`, `.and()`, `.where()`, and `.gte()` [documented here](http://mongoosejs.com/docs/api.html#Query). These are referred to as query builder methods. They help make very human-readable queries like:

`Users.find({}).where('name', 'betty').gte('age', 23).popula

[2018-04-12 12:52] lauriejim commented on #6307
And in my case the virtual value is an ObjectId of an other model.

[2018-04-12 13:29] lineus commented on #6329
@sagarpatel9697

because the discriminator schemas inherit the properties of the base schema
**you only need add the plugin to the base schema**.

I created the following simplified version to illustrate this:

### 6329.js
[code]
### output:
[code]

Notice that I used the document that gets passed into the first parameter of the transform function, *it has a schema property with the value of the c

[2018-04-12 15:35] #6255 closed

[2018-04-12 15:38] vkarpov15 commented on #4049
@nelsonlarocca yes, we added it years ago

[2018-04-12 16:46] lineus commented on #6331
I am able to confirm the behavior with the following repro scripts:

### 6331Populate.js
[code]
### 6331.js
[code]
### output:
[code]

[2018-04-12 17:50] #6313 closed

[2018-04-12 17:50] vkarpov15 commented on #6313
Thanks for reporting, fix is in master and will be deployed with 5.0.15 :+1:

[2018-04-12 19:13] etshy opened #6337 "CastError when trying to populate files Ref"
As the title title says
here are my  schema

[code]

When I try that
[code]

It raises the CastError : `{ CastError: Cast to ObjectId failed for value "DBRef ...`
The error object seems super long, so I don't want to paste it here
but here is a pastebin with the full error message/object

https://pastebin.com/8n54Dhzt

My ref is in an embeddedDocument, like that

`Chapter.pages[0].image`
image is

[2018-04-12 21:26] gsteri1 opened #6338 "Mongoose version 5.0.13 stops responding after a while"
Hello,

I am reporting a presumed bug. I am running Mongoose v5.0.13 under Node 8.9.4 with MongoDb version 3.0.4. The setup is as follows:

On one openSUSE server reside Node and a MongoDb instance. The server is not under any extreme load, the load average numbers rarely make it over 1.0. There is no replication. There are no network hops between app and db, the total size of the db is 6.4Gb on d

[2018-04-13 01:37] jimmytsao opened #6339 "Virtual Populating Embedded Docs with Dynamic "ref""
**Do you want to request a *feature* or report a *bug*?**
This is a request for clarification on usage or feature if it's currently not possible

**What is the current behavior?**
Unable / unclear on how to perform a virtual population of embedded docs with dynamic "ref"

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
**What is the expected behavior?**
I was e

[2018-04-13 02:38] ctmackay opened #6340 "find().sort({'modified':-1})).limit(100) returns every document in my collection"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
limit does not limit the amount of documents returned. it returns every document in the database (9452 items)

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
**What is the expected behavior?**
returns 100 documents. This code was working previously on an older versi

[2018-04-13 02:44] mariodu commented on #6335
Get your point.

In some cases, `.then()` or `.catch()` not must be called. The other module may be doing this like:

[code]

Some people will be used to think it's the same.

[2018-04-13 02:44] sj82516 commented on #6334
Thanks for your comments!
It's my fault that I forget to add test code.
However, in my case the populate item is the same.
They are not two individual objects.
Here is my test code modified from yours(thanks for helping out again).
[code]

[2018-04-13 02:52] mariodu commented on #6335
The wrong example: https://github.com/myfjdthink/pandora-koa-mongoose-demo/blob/master/src/App.ts#L21

Found it in one of our feedback. It use Chinese to describe, so may be have trouble to understand.
But the key question is what I wrote above.

https://github.com/midwayjs/pandora/issues/221

[2018-04-13 05:55] krassx opened #6341 "Using $pull on nested array causes ValidationError"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When using $pull to remove item by ID from nested array, I get ValidationError stating that the fields, holding that array is required. I've checked various cases and each time ensured that nested array always have more than 1 item in it.

**If the current behavior is a bug, please provide the steps to

[2018-04-13 05:56] krassx commented on #6341
I also tried to use { $in: [recId] }, like described in #6240, but that did not help.

[2018-04-13 08:43] chelsh opened #6342 "will support mongodb 4.0 multi-document ACID transactions？"
will support mongodb 4.0 multi-document ACID transactions？

[2018-04-13 08:53] lineus commented on #6334
@sj82516

In your version of the example, you are only storing one name document in the names collection.
The name properties of the different people have the same object reference because there is only one object to refer to.

Here is what get's stored in the db when you run your example:
[code]

Can you elaborate on what effect this is having on your code?

[2018-04-13 09:00] sj82516 commented on #6334
Because I would loop through people and modify the event object, it would bother me if the same event share the same object reference.
I thought db.people.find() would return pure json object.

Thanks for your help! It save my days.
If mongoose design in this way , I would change my code.
Thanks a lot.
please mark solved.

[2018-04-13 10:49] shiwaniB opened #6343 "duplicate key error mongoose with discriminators"
I have implemented discriminators with mongoose and connecting to Azure cosmos db's Mongo APIs.
I have a base collection as bases and 2 other collections say collection1 and collection2.

Insert on collection at first time is successful But getting following error while inserting second object
MongoError: E11000 duplicate key error collection: bases Failed _id or unique key constraint

Example Mod

[2018-04-13 12:49] lineus commented on #6341
Hi @krassx! The query options are telling mongoose to run the validators in the query context, but your schema doesn't have a custom validator setup. If you remove the query options or write a custom query validator, your query should work as expected. [Update Validator docs are here.](http://mongoosejs.com/docs/validation.html#update-validators)

### contrived example:
[code]

### output with val

[2018-04-13 13:06] lineus commented on #6340
Hi @ctmackay! As of mongoose version 5, when you pass in a callback, the query is returned immediately. In order for this to do what you want move your callback to a .exec() call after the limit and sort. Here is an example:

### 6340.js
[code]
### output:
[code]

[2018-04-13 13:16] lineus commented on #6343
@shiwaniB Can you please provide a reproducible example that shows not only your schemas, but sample data and behavior that causes the error you are seeing?

[2018-04-13 15:12] vkarpov15 commented on #6315
Re: "the wording in the docs makes it sound like returning a promise and using async/await are one inextricably linked feature, but it's actually two separate features" @lineus , they are one inextricably linked feature. An `async` function always returns a promise and there's no way to tell the difference between a regular function that returns a promise and an `async` function based on their ret

[2018-04-13 15:12] #6315 closed

[2018-04-13 15:13] vkarpov15 commented on #6323
:tada: love it when bugs are already fixed

[2018-04-13 17:40] alperdemirci opened #6344 "aggregate(...).allowDiskUse(...).cursor(...).exec(...).toArray is not a function"
I recently updated my mongoose to version ^5.0 and this is the issue I am having now.
TypeError: model.collection.aggregate(...).allowDiskUse(...).cursor(...).exec(...).toArray is not a function

This query used to work just fine but now it doesn't work at all: model.collection.aggregate(query).allowDiskUse(true).cursor({batchSize:1000}).exec().toArray()

I ran the process without the .allowDiskUs

[2018-04-14 05:59] shiwaniB commented on #6343
Apart from models I have a mongoose code to save device data in collection.
device.create(devicedata, function (error, result) {
        if (error) {
res.status(500).send(error);
        }
else{
        res.status(200).send(result);
}
    });

My json request to API is  function is:-
{
"name": "device1",
"model": "model1"
}

First time it saves a data in collection, but after that even if I change

[2018-04-14 11:47] lineus commented on #6343
@shiwaniB

I created the following example based on your schemas above:

### 6343.js
[code]
### output:
[code]

**When we add a unique index on a path in a schema, it creates a unique index for that path on the mongodb server collection**.

By first saving a Base instance without a name path set, then saving a User instance without a name path set, we have attempted to create 2 documents with non-

[2018-04-14 13:12] lineus commented on #6344
@alperdemirci

mongoose 5 returns a mongoose AggregationCursor now all of the time. [Mentioned Here](https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#aggregation-cursors) in the migration guide.

Here is a quick example based on the docs:
[code]
### output:
[code]

[2018-04-14 13:53] lineus commented on #6335
@mariodu I tried both of the examples you provided, and in both cases, queries behave exactly like promises.

### 6335.js
[code]
### output:
[code]

I copied the async functions from the example you provided and ran them with just mongoose:

### 6335.js
[code]
### output:
[code]

[2018-04-14 15:58] etshy opened #6345 "Can't save a DBref changes"
**Do you want to request a *feature* or report a *bug*?**
Maybe a bug.
**What is the current behavior?**
can't save DBRef changes

**Please mention your node.js, mongoose and MongoDB version.**
node : v8.9.4
mongoose : "mongoose": "^5.0.14" (from package.json)

-------------------

so  here is my situation (it'll be long):

I have a symfony app working with DoctrineODM and Reference in ODM use DBR

[2018-04-14 16:02] etshy commented on #6337
I somehow manage to get the DBRef "properly"but got another problem to save changes in the DBRef. see #6345

[2018-04-14 16:02] #6337 closed

[2018-04-14 16:56] lineus commented on #6343
@shiwaniB Indexes only apply to the specific collection they are defined on.

for example:

if you create separate collections ( Models ) for users and devices, you can then use a unique index on the specific path in each schema that you use to create the models.

[code]

This will cause mongodb to throw an error any time you attempt to save a document with a duplicated value for the specified uni

[2018-04-14 19:15] lineus commented on #6343
# We can do this now :)

After giving it a little more thought, you can create a partial index on a schema with options that will make this work now:

[code]
As you can see by the output below, this allows us to apply the index specifically to the documents with the matching discriminator key for our type.

The example is fine with saving all three different doc types:
[code]

and still honors the

[2018-04-14 19:42] vkarpov15 commented on #6331
Closed by #6336

[2018-04-14 19:42] #6331 closed

[2018-04-14 19:43] vkarpov15 commented on #6299
Fixed by #6306

[2018-04-14 19:43] #6299 closed

[2018-04-14 20:00] #6190 closed

[2018-04-14 20:00] vkarpov15 commented on #6190
I investigated and it looks like this is safe. Fix will be in 5.0.15 :+1:

[2018-04-15 08:58] lineus opened #6347 "Discriminator schema path: convert unique index to partial unique index"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

When a discriminator schema path is created with the `unique: true` option, the resulting index  on the collection breaks the discriminator. The unique index on the collection means that the 2nd document ( and every one after it ) saved in the collection without that path will technically be a du

[2018-04-15 09:09] lineus commented on #6343
@shiwaniB I'm happy I could help 👍

Would you mind closing this issue? Feel free to subscribe to #6347 to get updates on it's progress.

[2018-04-15 13:13] TheCactusBlue opened #6348 "Mongoose query on a very small collection takes 2.1ms"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Mongoose takes between 2~2.2 seconds to execute a query
**If the current behavior is a bug, please provide the steps to reproduce.**
Measure model findOne speed using console.time.

**What is the expected behavior?**
When tried directly from mongo shell, it takes much less. Query on a collection with 1

[2018-04-15 13:56] TheCactusBlue commented on #6348
I've confirmed it to be a bug: testing with mongoose 5.0.9 gives a much higher result of 20ms per query.

[2018-04-15 16:30] #6115 closed

[2018-04-15 16:30] vkarpov15 commented on #6115
@alexksso yeah your issue is that, since `newcircus.animals` is not populated, `newcircus.animals[0].id` is a buffer. Re: the original issue, we're adding the `toHexString()` helper in 5.0.15 :+1:

[2018-04-15 17:36] lineus commented on #6348
Some attempts to replicate this behavior.

**I added a document in the collection**
**With the following versions:**
   node 9.3.0
   mongoose 5.0.14
   mongodb 3.6.2

**Here is my output:**
[code]

**After adding a call to connection.close and augmenting the console.time string**
like this:
[code]

**I ran the following loop several times to install each version since 5.0.10 and run the example:*

[2018-04-15 18:04] alexksso commented on #6115
Awesome guys! Kudos!

[2018-04-15 21:45] M4rkFlor opened #6349 "#feature findOneAndReplace"
*feature*

**What is the current behavior?**
Currently To replace a document you need to Model.findOneAndRemove() then NewDoc.save()
in my case i'm saving it first to check if it already exists then if it dose i delete it and then save again to replace the deleted picture document.

`TempPicObj.save(function (err, origCBPicObj) {
            if (err) {
                //pic with same name
////////

[2018-04-15 22:10] lineus commented on #6349
Model has a method called [replaceOne](http://mongoosejs.com/docs/api.html#replaceone_replaceOne). I think this is what you’re looking for.

[2018-04-16 01:36] vkarpov15 commented on #6321
@StanislavRastorguev worth asking: are you connecting to MongoDB Atlas or are you running MongoDB locally, and if you're running locally are you running with SSL enabled? We had an issue a while back that affected Atlas connections that should be fixed but maybe this is related.

[2018-04-16 01:42] vkarpov15 commented on #6311
@anlexN populate and plugins aren't really a mechanism for inheritance. Discriminators are used if you want to have multiple types of documents in a single collection, but that's a special case of general schema inheritance. IMO the below would be the cleanest way to do generic schema inheritance:

[code]

[2018-04-16 01:42] #6311 closed

[2018-04-16 01:54] #6253 closed

[2018-04-16 01:58] vkarpov15 commented on #6324
My hunch is that you're mixing up the connections somewhere. Do you have a model that is attached to both connections? Perhaps you have a model with the same name on both connections and you're mixing up the models? Also, what's the difference between the two connections you have?

[2018-04-16 04:42] M4rkFlor commented on #6349
Wow I did not realize, thank you for pointing that out.

[2018-04-16 04:42] #6349 closed

[2018-04-16 04:49] fralonra commented on #6109
Same issue when I tried to create a text index.

[code]

[2018-04-16 06:50] sagarpatel9697 commented on #6329
Thank you so much @lineus,  I will look into it and move back to you with result

[2018-04-16 07:29] mariodu commented on #6335
I think `User.findOne()` and `User.findOne().then()` may have difference with executed.

[2018-04-16 08:32] xu1260114313 opened #6350 "如果类型为number,以0开始，会自动省略"
如果类型为number,以0开始，会自动省略.。

[2018-04-16 08:32] xu1260114313 opened #6351 "如果类型为number,以0开始，会自动省略.。"

[2018-04-16 08:33] #6351 closed

[2018-04-16 10:30] DavidHaintz opened #6352 "TypeError: callback.apply is not a function"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Crashes on update negative increase.

**If the current behavior is a bug, please provide the steps to reproduce.**
`await whereResult.update({ $inc: { x: -1 } }).exec();`

**What is the expected behavior?**
Should just work as positive increase.

**Please mention your node.js, mongoose and MongoDB vers

[2018-04-16 11:00] lineus commented on #6352
Hi @DavidHaintz The following example shows that it should work as you expect:

### 6352.js
[code]
### output:
[code]

Can you include a complete example that demonstrates the behavior you're seeing? Feel free to modify mine to replicate the behavior of your current code.

[2018-04-16 11:16] DavidHaintz commented on #6352
Sorry, I can't provide more data. The exact same code with positive value (1) works. Starting value is bigger than 0 (but shouldn't matter, right?).

Thanks for your reply!

[2018-04-16 11:28] StanislavRastorguev commented on #6321
@vkarpov15 i'm running MongoDB locally, abut SSL, i didn't turn it on, but idk, maybe it enable automaticly. I'll make more tests with mongoose versions a little bit later. If you need some information for fix, i'll glad to share with you.

[2018-04-16 12:56] DavidHaintz commented on #6352
Seems like the issue is on my side. I'll close since it's not reproducable.

[2018-04-16 12:56] #6352 closed

[2018-04-16 14:55] alperdemirci commented on #6344
@lineus
Right! but what is the reason I am getting such an error when I try to pass an option to cursor.  Are you saying I dont need cursor() at all to determine the batchSize? or is it because of the promise I am waiting for?

following example from the [document](https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#aggregation-cursors).
[code]

[2018-04-16 15:39] vkarpov15 commented on #6274
So with 0558156 we made it so that tests pass with cloning the schema every time, with a couple exceptions due to:

1) A couple tests check for deep equality between the model's schema and the original schema. This won't necessarily hold if we do `clone()` because we have built-in plugins, versioning, etc.
2) We allow calling `db.model(name, schema)` multiple times so long as `schema` is the same

[2018-04-16 15:46] vkarpov15 commented on #6174
@NikhilAshodariya sounds like you need [discriminators](http://mongoosejs.com/docs/discriminators.html). In general, you rarely need custom types in mongoose

[2018-04-16 15:46] #6174 closed

[2018-04-16 16:10] lineus commented on #6344
It's not the options that you are passing to `.cursor()` that are the problem. It's calling `.toArray()` on the return value of

`Model.aggregate(..).cursor(..).exec()`.

Starting in mongoose 5, this returns a special mongoose aggregation cursor, rather than a cursor from the native mongodb driver. The mongoose AggregationCursor doesn't have a `.toArray()` method like the native cursor does.

[2018-04-16 16:16] lineus commented on #6344
as a related side note, I noticed that the api docs don't include the aggregation cursor docs. I'll submit a PR to add those in.

[2018-04-16 16:31] alperdemirci commented on #6344
@lineus

I tried my query without the `toArray()` as follow
[code]
returned `TypeError: model.collection.aggregate(...).allowDiskUse(...).cursor(...).exec(...).then is not a function`

This is also problematic unless I remove the ` .cursor({batchSize: 1000})`.
Not sure what is going on.
FYI: migrated from mongoose version: 4.1.13

[2018-04-16 16:53] lineus commented on #6344
there are several methods on AggregationCursor, `.eachAsync(fn, opts, callback)`, the one used in the example, will run a function on each doc ascynhronously as they are returned from the db.

[here is the link to AggregationCursor](https://github.com/Automattic/mongoose/blob/master/lib/cursor/AggregationCursor.js) until the API docs are updated.

The comments before each of the available methods

[2018-04-16 17:33] lineus commented on #6344
added PR #6353 to include Aggregation and Query Cursor docs in the API docs.

[2018-04-16 18:53] mapo-job opened #6354 "Model includes() does not works as indexOf()."
**Report *bug***

**What is the current behavior?**
Model includes() does not works as indexOf().  As define here: [Includes  ES6 ](https://nodesource.com/blog/six-of-the-most-exciting-es6-features-in-node-js-v6-lts/#checkingarrayvalueswitharrayincludes)

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Use these schema:
[code]

2. Insert doc in DB

User:
[code]
Rel

[2018-04-16 19:15] vkarpov15 opened #6355 "Allow eachAsync() to continue execution on error"
http://thecodebarbarian.com/cursors-in-mongoose-45#comment-3663648177

[2018-04-16 19:29] reduxdj commented on #6012
We're having the opposite error now, saving a document doesn't work, but documents are saving, switching safe to false we get a result, but depending on that seems bad
MongoDB 3.6.3 - ReplicaSet
Mongoose 5.0.14
and node 8.5

{ DocumentNotFoundError: No document found for query "undefined"
    at DocumentNotFoundError (/Users/ckpalk/Documents/iFlipd/Repos/admin-reactql/node_modules/mongoose/lib/err

[2018-04-16 19:52] vkarpov15 commented on #6330
Can you provide some code samples please? This bug report isn't very actionable

[2018-04-16 19:55] vkarpov15 commented on #6332
It sounds like your password is incorrect. I'd recommend you do what @lineus said about printing out your environment variable, and also make sure you do `encodeURIComponent(process.env.MONGO_ATLAS_PW)` if you have special characters in your password

[2018-04-16 19:55] #6332 closed

[2018-04-16 19:56] reduxdj opened #6356 "Dubious Document `No document found for query "undefined"` saving on replica sets returns"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Documents don't save correctly often to replica sets, documents are created but a Document Not Found Error comes back where a result is expected, unless safe: false, this seems similar to a bug I had https://github.com/Automattic/mongoose/issues/6327. What's interesting is that the issue is very simil

[2018-04-16 19:57] vkarpov15 commented on #6333
@shivpatel mongoose 5.x does have support for this syntax. Can you please provide your schemas and more substantial code samples? We [added tests for this](https://github.com/Automattic/mongoose/commit/4ffbb4b6345db0daf8d79be4665d08ea1f907d11) and those tests are passing.

[2018-04-16 19:59] vkarpov15 commented on #6307
@lauriejim no, `Article.where({ someVirtualFieldName: someVirtualValue })` doesn't work because `someVirtualFieldName` is not stored in the database, so MongoDB can't filter on it.

[2018-04-16 19:59] #6307 closed

[2018-04-16 20:46] vkarpov15 commented on #6338
This bug report is exceedingly vague, I'd need a lot more information before I could make an educated guess. Regarding general sluggishness, no ideas. Regarding the read failures, does this app go through long periods of inactivity, where no database operations happen? Your socket might be timing out if that's the case: https://scalegrid.io/blog/understanding-mongodb-client-timeout-options/

[2018-04-16 21:35] simllll opened #6357 "Cursor session id (none) is not the same as the operation context's - release 5.0.15 broken"
bug with the latest mongoose (guess the underyling problem lies in mongodb-core though).

**What is the current behavior?**
After upgrading to 5.0.15 no queries are running anymore:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Just upgrade it, didn't change anything else.

**What is the expected behavior?**
Work the same way like it does with 5.0.14. Downgra

[2018-04-16 22:42] TheCactusBlue commented on #6348
Currently using 4.13.12 until the problem is fixed.

[2018-04-17 00:15] felipevignon opened #6358 "Deep Populate sometimes returns 'null'"
Reporting what seems to be a bug

Suppose you have 3 collections, Players, Teams and Houses, with the following Schemas:

PlayerSchema: {
  email: String,
  name: String,
  city: String
},

TeamSchema: {
  name: String,
  leader: {
    type: mongoose.Types.ObjectId,
    ref: 'Player'
  },
  players: [
    {
      type: mongoose.Types.ObjectId,
      ref: 'Player
    }
  ]
},

HouseSchema: {
  name

[2018-04-17 02:06] coayscue commented on #5973
At the end of your schema, add the versionKey: false option, if you don't use version keys.
[code]

[2018-04-17 03:40] shiwaniB commented on #6343
@lineus Sure you can close the issue.

Thanks for the help.

[2018-04-17 13:58] kerberjg commented on #627
Doesn't seem to work in 5.1.1:

[code]

returned by:

[code]

[2018-04-17 15:40] cobola commented on #5899
i use mongoose 5.0.15
it still save objectID when use ```findOneAndUpdate```
[code]

[2018-04-17 16:05] lakamsani commented on #6310
Just tried this with mongoose 5.0.15 +  mongodb 3.0.6 and still get the same error with the sample in https://gist.github.com/lakamsani/d5e13580b5e36cf399aafaad95e15d92 with Atlas/MongoDB 3.6.3. `npm ls` shows:

[code]

[2018-04-17 18:36] jwhollingsworth opened #6359 "Adding toHexString() function causes a document to pass ObjectId.isValid test"
**What is the current behavior?**
After upgrading to mongoose 5.0.15 -- with the addition of the 'toHexString()' function (#6115) -- documents are now considered valid ObjectIds because of the below check in ObjectID.isValid() of the bson module (https://github.com/mongodb/js-bson/blob/1.0-branch/lib/bson/objectid.js#L351):

[code]
If nothing else, this change may have more impact than first reali

[2018-04-17 20:48] xerofoify opened #6361 "Mongoose Complains Even when Correctly Defining Schema"
**Do you want to request a *feature* or report a *bug*?**
This is a bug
**What is the current behavior?**
When I use postman to post a well formed object to my hosting on heroku it complains like this
TypeError: User is not a constructor
even through the object is clearly defined here:
 User = db.model("users", userSchema);
**If the current behavior is a bug, please provide the steps to reproduce.

[2018-04-17 20:54] #6361 closed

[2018-04-17 23:34] vkarpov15 opened #6362 "First-class support for sessions"

[2018-04-18 07:36] lineus commented on #6310
I just tested mongoose 5.0.15 against my atlas free cluster using the new srv uri using the following code and it works for me. The only obvious difference being that the uri provided from my atlas dashboard doesn't have the authSource query parameter.

### 6310.js
[code]
### output:
[code]

[2018-04-18 09:25] lineus commented on #6357
@simllll I'd like to dig into this, can you provide an example script that works for you on 5.0.14 but not on 5.0.15?

[2018-04-18 09:57] simllll commented on #6357
@lineus any idea how I get a backtrace to track this a bit more down?

I tried several approaches to extract the issue, but can't find it. But if I start my application the error appears, unfortuantely I cannot see what triggered it.

[2018-04-18 10:26] lineus commented on #6357
@simllll I would start the node process with `# node --inspect-brk myapp.js` and then attach a debugger ( ie. chrome dev tools or vscode ). You can then use the debugger to step through the app until it breaks. It can be tedious, but that's the only way I know of to really dig in to it.

[2018-04-18 16:54] jaredpetersen opened #6364 "Mongoose allows null into a list of subdocuments"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When you define a schema with a list of subdocuments, Mongoose allows those subdocuments to be null. This is not desired, since a list of null objects should be represented as an empty list.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected be

[2018-04-18 21:04] mapo-job commented on #6354
Hi @lineus,
    Thanks for the clarification, I understand that adding `MongooseArray.includes()` would be a backward compatibility issue and prefer if it's in a major release. Until then, I'll use indexOf...

I try with ObjectID but the object is not the same so it does not work.

[code]

[2018-04-18 23:06] vkarpov15 commented on #2906
@williamknn looks like the pastebin is gone?

[2018-04-18 23:16] vkarpov15 commented on #6249
Yep this only happens with mongos. Investigating now.

[2018-04-19 04:33] williamknn commented on #2906
@vkarpov15 it has expired, I made a new one: https://pastebin.com/0p6pvhdg

[2018-04-19 05:14] mzahidriaz-tr commented on #4789
I was also having the same issue with mongo 3.6.2 and mongoose 4.9.2
I fixed it by passing additional connection parameters

`MONGO_URI=mongodb://user:password@127.0.0.1:27017/dbname?keepAlive=true&poolSize=30&autoReconnect=true&socketTimeoutMS=360000&connectTimeoutMS=360000`

[2018-04-19 05:15] mzahidriaz commented on #4789
I was also having the same issue with `mongo 3.6.2` and `mongoose 4.9.2`
I fixed it by passing additional connection parameters

`MONGO_URI=mongodb://user:password@127.0.0.1:27017/dbname?keepAlive=true&poolSize=30&autoReconnect=true&socketTimeoutMS=360000&connectTimeoutMS=360000`

[2018-04-19 08:29] simllll commented on #6357
I kind of narrowed it down already, and unlikely my first guess is that this is also related with the connection issue I experienced awhile ago (https://jira.mongodb.org/plugins/servlet/mobile#issue/NODE-1340).

I enabled debug log for mongodb-native and that's the output when I do 7 very simple queries in parallel (get entries from a table limited by one key .. something like translate.find({'lan

[2018-04-19 14:53] vkarpov15 commented on #6249
I put in a PR mongodb/node-mongodb-native#1685 :point_up: that looks like it fixes this issue. Will hustle to get it out, thanks for your patience @tomgrossman

[2018-04-19 15:10] vkarpov15 commented on #6321
SSL is off by default, so if you're running MongoDB locally and didn't turn on SSL we can rule out that issue. Here's a couple possible ideas:

1) Try increasing [the `poolSize` option](http://mongoosejs.com/docs/connections.html#options) to 15. Maybe you have some initial operation that's hogging a socket.

2) Is mongoose connected when your first save starts? Print out `db.readyState`, or `TodoL

[2018-04-19 15:40] vkarpov15 commented on #5973
Fix is in master and will be in 5.0.16

[2018-04-19 15:53] ZiedChekir opened #6368 "Mongodb TTL"
im using mongoose 4.13.12
i want to use the TTL expire feature of mongodb in mongoose. i tried everything i could fine in mongodb docs, stackoverflow and this one https://github.com/Automattic/mongoose/issues/3545 but none worked for me. Here is my schema
`var mongoose = require('mongoose');
var Schema = mongoose.Schema;
mongoose.Promise = global.Promise;
var schema = new Schema({
     createdAt:

[2018-04-19 16:30] vkarpov15 commented on #6339
Currently, the best way to do this is just return an array of the `refKeys`:

[code]

There's room for improvement here on mongoose's end because you'll get unpredictable behavior if you have a book and a magazine with the same id. Below is the output with `mongoose.set('debug', true);` and the above schema config:

[code]

It'll search for both ids in both collections, but as long as you don't ha

[2018-04-19 16:32] vkarpov15 commented on #6342
Yes, as soon as we can after the [mongodb driver finalizes their transaction support](https://github.com/mongodb/node-mongodb-native/pull/1681)

[2018-04-19 16:35] vkarpov15 commented on #6334
This is a duplicate of #3258, see [my comments here](https://github.com/Automattic/mongoose/issues/3258#issuecomment-130314827)

[2018-04-19 16:35] #6334 closed

[2018-04-19 17:14] StanislavRastorguev commented on #6321
@vkarpov15  i did all your advices, but it don't helps

my connection
const mongoose = require('mongoose');
const dbURI = 'mongodb://localhost/trello_clone';
mongoose.connect(dbURI, {poolSize: 15});

const db = mongoose.connection;

db.on('error', (err) => {
  console.log('Mongoose connection error: ' + err);
});
db.on('connected', () => {
  console.log('Mongoose connected to ' + dbURI);
  console

[2018-04-19 17:17] StanislavRastorguev commented on #6321
@vkarpov15 with mongoose 5.0.15 it works fine? this save i tested with mongoose 5.0.12

[2018-04-19 18:41] mattc41190 opened #6369 "Using Delete > Create"
https://github.com/Automattic/mongoose/blob/0693937abb8bc55a696795f48ab75553f0342cc4/docs/api.html#L343

Looks like a simple case of copy paste :)

[2018-04-19 18:42] mattc41190 commented on #6369
<img width="934" alt="screen shot 2018-04-19 at 1 41 28 pm" src="https://user-images.githubusercontent.com/8837616/39011603-88298d48-43d7-11e8-98a4-1cf85e46ae7a.png">

[2018-04-19 20:00] #6368 closed

[2018-04-20 09:16] cnits opened #6371 "Runner error: Overflow sort stage buffered data usage..."
**## Report Issue**

I met this case:

**Memo**
- I have a dataset with 844 documents.
- I paginate them with page size: 15 and total page: 57
- From page 1 -> 27, getting data is OK.
- But from page 28 -> end, it throw the above message.
- **Note**: When I run by mongo shell, everything is OK.

**Thanks in advance.**

**Additional Info**

[2018-04-20 10:36] lineus commented on #6371
@cnits can you please include more details?

For instance:
   1. What code causes it to fail?
   1. What commands are you running in the mongo shell that succeed?
   1. What does your schema look like?
   1. Do you have any indexes created on the collection?

[2018-04-20 10:40] #6321 closed

[2018-04-20 11:42] cnits commented on #6371
@lineus Thank you for you reply.
For more details:

1. `myModel.find({}).sort({name: -1}.skip(27).limit(15)`

2. `db.getCollection('mymodel').find({}).sort({name: -1}.skip(27).limit(15)`

3. `mongoose.model("mymodel", new mongoose.Schema({code: string, name: string}));`

4. I have no any index.

Thanks!

[2018-04-20 13:01] Asafb26 commented on #2228
i can confirm that post init doesnt work, anyone found a solution?

[2018-04-20 17:15] talesluna opened #6373 "How to set a custom method to call after aggregate, find, findOne, etc... ?"
Hey guys, i need this:

[code]
Its possible? how to?

Thanks for your support.

[2018-04-20 18:39] vkarpov15 commented on #6341
@lineus I think the issue here has nothing to do with custom validators, it's about `$pull` and `required: true` with update validators bugging out. I can see this being an issue, just need to see if I can repro it first.

[2018-04-20 18:40] vkarpov15 opened #6375 "Investigate mongoose-keywords issue"
https://github.com/diegohaz/mongoose-keywords/issues/12#issuecomment-380974911

[2018-04-20 18:42] vkarpov15 commented on #6345
Thanks for reporting, will investigate ASAP :+1:

[2018-04-20 23:22] suchitagarwal opened #6376 "Query times in mongoose"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
N/A

**If the current behavior is a bug, please provide the steps to reproduce.**
N/A

**What is the expected behavior?**
A way to log the time taken by each mongoose query

Context:
We recently had an issue where our mongo instances were thrashing because we were running a really large and slow qu

[2018-04-21 09:41] lineus commented on #6373
@talesluna

You can apply a custom function to **ALL** find, or aggregate, or findOne calls with access to the results using post middleware for each specific query [documented here](http://mongoosejs.com/docs/middleware.html).

You can also write a function that returns a promise and chain it on the query using `.then()`. These two strategies can be used together or independently.

 Here is a con

[2018-04-21 10:01] mweiczorek opened #6377 "Why was findOneAndUpdate() changed to returning the old document by default?"
Not a bug, but the rationale behind requiring `{ new: true }` to be set is something I want to understand.

I realize it's the default in Mongo, but isn't the point of an abstraction library to hide away some of the nitty-gritty of the native API?

For update operations, returning the NEW document by default is simply the more logical choice - as opposed to explicitly passing an option that fits 9

[2018-04-21 10:08] lineus commented on #6373
You can also add a static method to your Model like this:

### 6373_2.js
[code]
### output:
[code]

[2018-04-21 10:11] krassx commented on #6341
@lineus no worries. If any other info is required, just let me know.

[2018-04-21 11:11] lineus commented on #6375
In @AshworthHub's example from https://github.com/diegohaz/mongoose-keywords/issues/12#issuecomment-380974911 the successful query searches by id, the failing one queries by name. I created the following repro script using @diegohaz's multiple path example from the plugin's docs and added 3 queries that demonstrate the failure.

### 6375.js
[code]
### output:
[code]

for some reason, querying by a

[2018-04-21 11:32] ImranPanjwani opened #6378 "Unable to implement auto increment (a custom unique id) for a collection"
node - v8.8.1
mongoose - v5.0.14

Reference - [Auto increment document number in Mongo / Mongoose](https://stackoverflow.com/questions/14454271/auto-increment-document-number-in-mongo-mongoose?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)

I am trying to implement the above-mentioned answer in my app. The only difference is I am trying to separate concerns by dividing t

[2018-04-21 13:33] talesluna commented on #6373
Thanks @lineus

That's what i was looking for.

[2018-04-21 13:33] #6373 closed

[2018-04-21 15:38] alikarimii commented on #4587
just add `?authSource=yourDB&w=1` to end of db url

 `mongoose.connect('mongodb://user:password@host/yourDB?authSource=yourDB&w=1')`
this work for me . `&w=1` is important

[2018-04-21 17:29] matinkaboli opened #6379 "{ model } doesn't work"
Hi, I want to use
`import { model, Schema } from 'mongoose';`

instead of

`import mongoose, { Schema } from 'mongoose';`

but when I replace that, I get this error

[code]

Mongo version = 3.6.3
Node version = 9.8.0
Mongoose version = ^5.0.1

[2018-04-22 01:48] #6341 closed

[2018-04-22 01:51] vkarpov15 commented on #6341
@lineus definitely a bit of a gotcha when working with mongoose internals. The fix ended up being pretty easy, I love it when fixing a bug involves just removing some dubiously useful code :tada:

[2018-04-22 05:27] tomgrossman commented on #6249
@vkarpov15 thanks for updating! I had many re-connections problems to non-consistent `mongos` instances when I tried to upgrade to `mongoose` 5. Both this and [6244](https://github.com/Automattic/mongoose/issues/6244) issues were forced me to rollback to 4.13. After this one is fixed I will be able to try again.
But is there any chance you will add a "re-connection" tests? Especially to `mongos` i

[2018-04-22 08:54] lineus commented on #6371
@cnits can you create an index on the collection for name ( either by adding the index option to your schema path for name, or issuing the create index command in mongodb)? I'm researching why it would work in the shell but not in mongoose, but having the index should help.

[2018-04-22 09:08] lineus commented on #6379
There is already an open issue that addresses this problem, #6039.

`import { model, Schema } from 'mongoose'` isn't supported yet.

For the time being you'll need to use `import mongoose from 'mongoose'`.

[2018-04-22 10:04] thaoula commented on #6362
Hi @vkarpov15,

Thanks for your work on this!

When are you aiming to release a test version. Mongo DB 4 beta has just been released and we would love to start playing around with transactions.

Regards,
Tarek

[2018-04-22 11:20] bhushankumarl opened #6380 "mongoose doesn't load property which value is empty object"
I am using mongoose : 5.0.15

**Do you want to request a *feature* or report a *bug*?**
It does look like a bug.

**What is the current behavior?**
I am not able to retrieve properties which are empty. i.e `address : {} ` than Non of find query does return address property in response.

**If the current behavior is a bug, please provide the steps to reproduce.**
Add any document in the MongoDB.
Ma

[2018-04-22 12:12] lineus commented on #6380
@bhushankumarl Check out the schema option [minimize](http://mongoosejs.com/docs/guide.html#minimize).

Here is an example:

### 6380.js
[code]

### Output:
[code]

[2018-04-22 12:49] bhushankumarl commented on #6380
I am using the nested property :
[code]

And when I use ``` {minimize: false} ``` option. It does show me all children in output :oncoming_police_car:

[code]

My actual document is like :
[code]

[2018-04-22 15:53] lineus commented on #6350
Can you please provide a reproducible example that demonstrates the behavior you are describing?

[2018-04-22 18:13] fundon opened #6381 "timestamps problem"
**What is the current behavior?**

[code]

In Mongodb:

[code]

Why Zildjian and ob's createdAt or updatedAt  is different?
Which behavior is right?

* node: v8.11.1
* mongodb: stable 3.6.4
* mongoose: 5.0.15

[2018-04-22 18:42] #6375 closed

[2018-04-22 18:59] vkarpov15 commented on #6345
@etshy as you probably noticed, mongoose doesn't have support for the DBRef type because we have our own notion of refs. Your best bet would be to mark `image` as a [`Mixed` type](http://mongoosejs.com/docs/schematypes.html#mixed) so you can make modifications easily, the below script works for modifying the DBRef's `oid` property.

[code]

[2018-04-22 18:59] #6345 closed

[2018-04-23 01:54] fundon commented on #6381
ping @vkarpov15

[2018-04-23 04:38] ntlzz93 opened #6382 "Db.prototype.authenticate error"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
**What is the expected behavior?**
no throw this warning again

**Please mention your node.js, mongoose and MongoDB version.**
Node 8.11.0 LTS
MongoDB version: 3.6.4
Mongoose: 4.13.12

[2018-04-23 06:05] AbdelrahmanHafez opened #6383 "module.exports once db is open"
Okay, this is not exactly a mongoose question, but I am not sure where else to turn.

What I'd like to do is module.export the app but only once the db is open, to run my tests using superagent.

Any idea how can I accomplish this?

[code]

mongoose v5.0.14
MongoDB v3.2.7
Node v8.9.3

[2018-04-23 06:26] cnits commented on #6371
Thank you, @lineus .

I'll try with setting the index.

[2018-04-23 07:35] jmcollin78 commented on #6224
Thx @pascallemoine, I feel so lonely with my problem....
When @vkarpov15 says "there's no way to remove a subdoc without updating the parent doc", I agree with that but updating the parent list (with a subdoc removed from the list) don't call the hook also.
This lead to confusion and makes some resources not cleaned after removal.

[2018-04-23 08:18] yy0608 commented on #4695
Did u resolve the problem? I got the same problem.

[2018-04-23 08:26] Saravanan90 commented on #3793
Option 3 doesn't work @vkarpov15

[2018-04-23 12:40] githubjiangweiling commented on #2471
Hi,
I have a problem about using Mongo to set up a local Blast2GO GO Database.
I'm trying to set up Blast2GO based on Blast2eGO CLI User Manual on Linux 64 bit(Ubuntu 16.04).After I finished downloading Mongo 3.6.4, I ran the command "mongorestore --host 192.168.1.240 --db go_db --collection 2017.12 --gzip --archive=2017.12.gz". But the screen showed “Failed: error connecting to db server: no reac

[2018-04-23 13:26] iofjuupasli opened #6384 "sync error in pre hook"
Bug

Throwing sync error in pre hook should stop calling middlewares and return error.
Now it continues to call hooks, and returns without error

[code]

v5.0.15

[2018-04-23 15:12] iofjuupasli opened #6385 "Pre hook for custom method"
This code works in v4, but doesn't in v5:

[code]

It seems that it was undocumented, but maybe it would be nice to restore that feature?

[2018-04-23 16:43] vkarpov15 commented on #6347
That's a very good idea. Even easier would be to use a sparse index, and that would work with mongodb 3.0.

[2018-04-23 16:50] vkarpov15 commented on #6343
Follow #6347 for updates on this. Until then, [partial unique indexes](http://thecodebarbarian.com/enforcing-uniqueness-with-mongodb-partial-unique-indexes) are the way to go.

[code]

[2018-04-23 16:50] #6343 closed

[2018-04-23 16:55] vkarpov15 commented on #6335
I don't really understand what the issue is here. The reason why `User.findOne()` returns a query object is because [mongoose has a chainable query builder](http://mongoosejs.com/docs/queries.html), so you can chain method calls to construct a query. `await User.findOne();` should work fine, see [this article on mongoose with async/await](http://thecodebarbarian.com/using-async-await-with-mocha-ex

[2018-04-23 16:55] #6335 closed

[2018-04-23 17:03] vkarpov15 commented on #6012
@reduxdj I'd recommend just getting rid of the `safe` option, that option is a remnant of the pre-2012 era when mongodb did unacknowledged writes by default and isn't really useful these days

[2018-04-23 17:05] vkarpov15 commented on #6356
This bug report isn't really actionable, but I can suggest [not setting the `safe` option as I mentioned in the other issue you commented on](https://github.com/Automattic/mongoose/issues/6012#issuecomment-383648689). Also, are you sure this issue only occurs on replica sets?

[2018-04-23 17:07] vkarpov15 commented on #6348
@TheCactusBlue are you connecting to a local mongodb instance or are you connecting to Atlas?

[2018-04-23 17:09] vkarpov15 commented on #627
@kerberjg there is no 5.1.1 release at the time of this writing. Also, get rid of the arrow function for `addPoints` and it should work because of how arrow functions handle `this`

[code]

[2018-04-23 17:10] vkarpov15 commented on #5899
@cobola please open a new issue and provide more detailed code samples and description of the issue you're experiencing

[2018-04-23 17:11] vkarpov15 commented on #6359
Thanks for catching this, we'll fix this issue ASAP. We had not considered this issue when adding `toHexString()`.

[2018-04-23 19:47] zachrickards opened #6386 "FindOneAndUpdate ArrayFilters"
I'm getting an error when adding it to the list of options:
Code:
[code]

Error:
[code]

Here are my versions:

mongoose@5.0.14
mongodb@3.0.4

[2018-04-23 20:10] williamknn commented on #2906
@vkarpov15 I made this pastebin without an expire date ;)

[2018-04-23 20:12] brunodb3 commented on #2275
Hello guys.

I have the same error, but changing Mongoose versions didn't work for me. My code is fairly similar, I'm using Mongoose 4.11.5, but I've tried 5.0.15 and 3.8.8 (which gives me an error with indexes).

Before I was using multiple models, creating new ones for each request (which then I found out was a pretty bad practice), but even after changing to creating the models only once didn't

[2018-04-23 20:17] ORESoftware opened #6387 "Support - changestream error"
I have this Q on SO, and looking for answers:
https://stackoverflow.com/questions/49989101/mongoerror-unrecognized-pipeline-stage-name-changestream

Here is the error I am getting:

[code]

I am on Mongoose `5.0.16`, and running Mongo version `3.4.10`.

I start Mongo locally with:

[code]

When I connect to the mongo instance, the replica sets are in action, I connect to the PRIMARY.

Here is my c

[2018-04-23 20:37] ORESoftware commented on #6387
Given some comments on the SO question, my current best guess is that because ChangeStreams are a new feature to version 3.6, that because I am using 3.4, my code won't work.

However, what is confusing to me, is that it looks like I can run this code against Mongo version 3.4:

[code]

where coll is:

[code]

I thought  `q.stream()` returned a `ChangeStream`, so what gives?

[2018-04-23 21:42] lineus commented on #6386
**Ignore MOST of what I just said**.

Apparently this *does* work:

### 6386.js
[code]
### Output:
[code]

[2018-04-23 21:58] lineus commented on #6386
@zachrickards, Also, just curious, are you using typescript? This error:

  Object literal may only specify known properties, and 'arrayFilters' does not exist in type 'ModelFindOneAndUpdateOptions'.

doesn't look like it came from mongoose or any of it's dependencies.

[2018-04-23 22:10] ORESoftware opened #6388 "findOne / findById only respond with _id field"
I have this Q on SO: https://stackoverflow.com/questions/49990411/findbyid-query-is-only-returning-id-field

this seems like a bug.
My exact Mongoose version is `5.0.16`

I have this query:

[code]

I am getting this logged:

**Why would the findById function only return the _id field of the document? So weird. I swear this used to work fine.**

**_Note that I also tried:_**

`Role.findById(_id).l

[2018-04-23 22:38] zachrickards commented on #6386
@lineus yup, using TS. I'll give it a try again and see if it works.

[2018-04-24 02:41] TheCactusBlue commented on #6348
I am testing on a local instance.

[2018-04-24 08:16] Yui8681 opened #6389 "Model.find.exec() returns the results with joined fields' Promise in pending status"
**Do you want to request a *feature* or report a *bug*?**
Yes
**What is the current behavior?**
In .then block, I got the result, but the result still include the fields in pending status which was stored _id， need to join the field.
**If the current behavior is a bug, please provide the steps to reproduce.**

### Schema
[code]
`DocumentSchema` have `ContentSchema`s, if the `ContentSchema` have a

[2018-04-24 11:50] elissaioskon opened #6390 "refPath not work corrently"
RefPath not works when i populate.
My schema is:
for Yacht model
  {
		yachtWebId: String,
		url: String,
		ownerFromModelOf: String,
		ownerId: {
			type: mongoose.Schema.ObjectId,
			refPath: 'ownerFromModelOf'
		}
                 baseId: {
                      type: mongoose.Schema.ObjectId,
                       ref: 'Base'
                 }
})

At yacht schema ownerId property can referen

[2018-04-24 14:12] shivajivarma commented on #2851
@vkarpov15 : any progress on this?

[2018-04-24 14:12] RomanSchmidtAppinio opened #6391 "memory leak since version 5.0.15"
**Do you want to request a *feature* or report a *bug*?**
It seams to be s a bug since version 5.0.15. Was seen also in 5.0.16.

**What is the current behavior?**
A continuously growing memory heap. NodeJS Server consistently has 0.5gb of memory usage in version 5.0.14. Server reaches 2gb in less than 30 minutes with version 5.0.15 and 5.0.16.

**If the current behavior is a bug, please provide th

[2018-04-24 16:29] BenceUszkai opened #6392 "mongoose module import error"
**Do you want to request a feature or report a bug?**
bug

**What is the current behavior?**
When i import mongoose then its throw error

If the current behavior is a bug, please provide the steps to reproduce:
`
var bodyParser = require('body-parser');
import mongoose from 'mongoose'
let express = require("express");
let ejs = require("ejs");
let methodOverride = require("method-override");

let

[2018-04-24 17:28] BenceUszkai commented on #6392
If the repo is cloned, then the issue is unreproduceable.

[2018-04-24 17:28] #6392 closed

[2018-04-24 18:32] univec opened #6393 "TypeError: Cannot create property '_idlePrev' on string '[Circular]'"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**

Error crashing the server:

internal/linkedlist.js:30
    item._idleNext._idlePrev = item._idlePrev;
                             ^

TypeError: Cannot create property '_idlePrev' on string '[Circular]'
    at remove (internal/linkedlist.js:30:30)
    at Object.append (internal/linkedlist.js:45:3)
    a

[2018-04-24 19:28] vkarpov15 commented on #6381
Thanks for reporting, will investigate ASAP :+1:

[2018-04-24 19:39] vkarpov15 commented on #6357
As a workaround, try passing the `skipSessions` option to the failing query.

[code]

The MongoDB driver implicitly creates sessions if you're connected to MongoDB 3.6 running WT, that option will turn off that behavior. Should help with this issue.

[2018-04-24 19:45] simllll commented on #6357
They fixed the issue already upstream. Unfortunately no new release of mongodb-core yet... So far I go with older mongoose ;)

Thanks for the workaround.

Simon

[2018-04-24 19:47] vkarpov15 commented on #6357
I'll keep this open to track, glad they fixed the issue :+1: I got bit today by implicit sessions as well, got some good feedback for the MongoDB driver team to improve them

[2018-04-24 19:48] vkarpov15 commented on #6369
Closed by #6370

[2018-04-24 19:48] #6369 closed

[2018-04-24 20:00] vkarpov15 commented on #6109
Locking this because "Currently experiencing the same issue" is too vague to be actionable. Please open up a new issue and follow the issue template.

[2018-04-24 22:16] ORESoftware opened #6394 "debug logging stopped working"
I had this code with a mongoose 4.x version:

[code]

**I changed it to this and now it works:**

[code]

why did the first code snippet stop working? It allows us to control the logging ourselves which is nice.

[2018-04-25 00:40] mattdone01 commented on #5888
Hi there. Are there docs for this? Can you do collection.watch({ fullDocument: 'updateLookup' }); I am keen to use it into a AWS Lambda function and replicate changes to S3 for Redshift ingestion.

[2018-04-25 06:25] natanavra commented on #3171
I had the issue of Mongoose telling me it didn't find the property in the Schema (renamed schema property and ran a script on server up to rename documents)

I found out it's important to use `{strict: false}` when doing a rename

[2018-04-25 07:22] albertyou2 opened #6395 "How to count in aggregate ?"
hi  @Automattic
this is my test code here :

 pageItems = await app.model.UserFiles.aggregate([
            {
                $match: { uid:uid }
            },
            {
                $lookup: {
                    from         : 'statistic_user_poster_total',
                    localField   : 'fid',
                    foreignField : 'fid',
                    as           : 'statistic'

[2018-04-25 07:46] bhushankumarl commented on #6380
@lineus Thank you.

[2018-04-25 07:46] #6380 closed

[2018-04-25 08:04] AbdelrahmanHafez commented on #6383
If anyone's still wondering, I took a completely different approach that doesn't require the db to be open to do the `initRolesPolicies ` bit.

Also found another solution

[code]

and where I need to import it, I would do the following

[code]
I am not entirely comfortable with this approach, but I couldn't think of anything else. I'll close the issue for now, but any different approaches are wel

[2018-04-25 08:04] #6383 closed

[2018-04-25 11:03] harshad-shirsat commented on #4101
@sjohnson540 MongoDB 3.6 version has made cursor option mandatory as opposed to version 3.4. Hence you get the warning while running aggregate queries. Refer this link for more information: [https://docs.mongodb.com/manual/reference/command/aggregate/#dbcmd.aggregate]()

[2018-04-25 11:08] lineus commented on #6382
I set up a db with auth enabled and attempted to reproduce this with the following code:

### 6382.js
[code]
### Output:
[code]

I was able to reproduce the error on a version previous to @4.11, but not on @4.13.12.

@ntlzz93 can you add a call to `console.log(mongoose.version)` in your example code and share the output here as it appears on your console ( like I did above )?

[2018-04-25 11:13] lineus commented on #6387
@ORESoftware yes, changeStreams are only available on 3.6. The return from `Cursor.stream()` in the native driver is not a [ChangeStream](https://mongodb.github.io/node-mongodb-native/3.0/api/ChangeStream.html), it's a [Readable Stream](https://nodejs.org/dist/latest-v8.x/docs/api/stream.html#stream_readable_streams).

[2018-04-25 12:01] lineus commented on #6388
@ORESoftware

In your example query, you are passing `{ lean: true }` as the second parameter to `findById()`. The 2nd parameter to `findById()` is the projections object which determines which fields get returned in the document. Your query would return the `lean` and `_id` fields, but since you don't have a field called lean you only get the `_id` field back.

here is a minimally complete exampl

[2018-04-25 12:26] lineus commented on #6389
@Yui8681 Please include a minimally complete example that is [formatted](https://guides.github.com/features/mastering-markdown/) in a readable way.

In addition to your schema, we'll need to see your query in the context that you are executing it, along with any relevant output or errors.

[2018-04-25 12:49] lineus commented on #6389
Here's a minimally complete example that demonstrates populating multiple paths:

### 6389.js
[code]
### Output:
[code]

[2018-04-25 13:25] lineus commented on #6390
@elissaioskon in order for us to better assist you, please include a complete example that shows **all** of the relevant schema, preferably [formatted in more readable way](https://guides.github.com/features/mastering-markdown/).

Here is an example based on the information you provided:
### 6390.js
[code]
### output:
[code]

[2018-04-25 14:04] lineus commented on #6393
@univec Can you provide some details about the mongodb server you are connecting to? Is it a cloud service like atlas, etc or is it a server that you maintain?

[2018-04-25 14:11] univec commented on #6393
@lineus Absolutely. It is an atlas cluster of 3 servers hosted on AWS.

[2018-04-25 14:26] vkarpov15 commented on #6321
Glad it's fixed! :+1:

[2018-04-25 14:28] vkarpov15 commented on #2228
@Asafb26 not yet. I'll re-investigate this this week, perhaps recent changes have made this doable.

[2018-04-25 14:30] vkarpov15 commented on #6373
@talesluna @lineus  there's also [query helpers](http://mongoosejs.com/docs/guide.html#query-helpers)

[2018-04-25 14:34] vkarpov15 commented on #6376
Use [query middleware](http://mongoosejs.com/docs/middleware.html)

[2018-04-25 14:34] #6376 closed

[2018-04-25 14:37] lineus commented on #6393
@univec your connection options aren't going to work as they are.

Here is an example of my connection details using mongoose 4.13.12 and Atlas
that demonstrates a working connection.

### 6393.js
[code]
### Output:
[code]

I hope this helps, let me know if you have any questions 😀

[2018-04-25 14:39] vkarpov15 commented on #6378
I'm not entirely certain but I suspect the simplest explanation is that you you have a bad race condition in `sequenceGenerator.js`. If you're trying to `save()` multiple jobs in parallel, you might have multiple `sequence.next()` calls execute at the same time, all see that `Sequence.find()` returns no results, and all create a new sequence. Do this instead:

[code]

[2018-04-25 14:39] #6378 closed

[2018-04-25 14:45] vkarpov15 commented on #6379
@lineus is right, those import syntaxes are not currently supported.

[2018-04-25 14:45] #6379 closed

[2018-04-25 14:50] vkarpov15 commented on #6377
Thanks for clarifying @lineus . `new: true` is what I use more often personally, but an abstraction library should provide meaningful benefit, and in this case I don't think we provide enough benefit by making `new: true` by default. You can easily make it true by default across your entire app:

[code]

[2018-04-25 14:50] #6377 closed

[2018-04-25 14:50] ORESoftware commented on #6387
@lineus thank you for that clarification! good to know.

[2018-04-25 14:50] #6387 closed

[2018-04-25 14:51] ORESoftware commented on #6387
@lineus btw if you add an answer to the SO question I can guarantee at least 25 points from me.

[2018-04-25 15:44] lineus commented on #6394
When I run the following code:

### 6394.js
[code]
### Output on mongoose 4:
[code]
### Output on mongoose 5:
[code]

In both cases, the underlying driver passes the same arguments into the custom log function. Can you be more specific about what you mean by "doesn't work"?

[2018-04-25 16:14] jimmytsao commented on #6339
Yes - the ids in both collection will be unique in my scenario and this solution works. Thanks for the clarification!

[2018-04-25 16:46] elissaioskon commented on #6390
Thank you very much for your answer. I still have the bug.I post my schema with detail.
[code]

[2018-04-25 16:47] ORESoftware commented on #6394
@lineus  forgive me this was my mistake. I had set my log level to `warn` (so the` log.debug()` calls you see in my original code were not showing up). FML, sorry!

[2018-04-25 16:47] #6394 closed

[2018-04-25 16:49] msoula opened #6396 "Indexes and schema options not recreated after calling dropDatabase()"
Hello,
Mongoose does not recreate the indexes and schema options after running mongoose.connection.dropDatabase().

I use `dropDatabase()` as part of unit testing to reset capped collections. It is impossible to delete capped collection documents, the only possibility is to drop the collection.

As part of my unit tests, each scenario starts with a drop of the base and then I populate every collec

[2018-04-25 17:17] msoula commented on #6395
I think you should read this article: https://docs.mongodb.com/manual/reference/operator/aggregation/sum/

[2018-04-25 17:18] markstos commented on #5888
@mattdone01 You asked "Are there docs for this?", but the the previous comment said "Docs are here" and provided a link. Did you follow the link?

[2018-04-25 21:03] elissaioskon commented on #6390
Thanks again for the answer but unfortunately it doesnt populates.i have checked everything many times but can not figure out why.
i had tried refPath: 'additionalData.ownerFromModelOf' but didnt have every thing.
if i change refPath to ref:'Owner' it works but it is static.
Here is an example.
This is one of my yachts.
![image](https://user-images.githubusercontent.com/26840252/39272332-4ad09010-

[2018-04-25 21:14] mattdone01 commented on #5888
I sure did. The Link provided doesn't go anywhere.

[2018-04-25 21:25] markstos commented on #6391
Thanks for the notice, I'll stick with 5.0.14 until I hear more about this.

[2018-04-25 22:01] markstos commented on #6044
@vkarpov15 Is there is a chance of getting an option to `mongooose.connect()`, like `encodeAuth`. I have  several tasks that share the same config and connect like this:

       mongoose.connect(config.get('mongodb.url'), config.get('mongodb.options'));

The same code base is used with 50+ databases, so it's not easy to encode every password string.  All the connections worked fine until the attem

[2018-04-25 22:25] markstos commented on #6044
I'm not sure this needs to be an option. Here's a solution that I think could be used all the time with connection strings that avoids the possibility of double-encoding:

     var url = require('url');

      url.parse(urlString).format();

Whether "urlString" starts out with encoded or un-encoded auth credentials, it gets re-built with proper encoding.

Since DB connections are rarely rare, the

[2018-04-26 08:02] msoula commented on #6396
This issue may be a duplicate of #2671

[2018-04-26 08:09] #6396 closed

[2018-04-26 09:27] m00zi commented on #4537
**Thanks**, works for me too.

[2018-04-26 09:56] elissaioskon commented on #6390
i appreciate your support very very much.
Thank you with lean() it works!!

[2018-04-26 10:02] lineus commented on #6382
@ntlzz93 can you run this isolated test case with your mongodb host, port, and auth details and post your output here?

[code]

[2018-04-26 12:47] natanavra commented on #2851
Since there's still no support for this, I solved this by keeping a base model and exporting another schema to a separate file and then adding properties to it as needed.

Hope that helps:
[code]

You create more sub models by creating more sub-schema factories.

[2018-04-26 13:17] vkarpov15 commented on #6364
We can't change this behavior by default without backwards breaking changes, but I'll look in to why the nested `require` doesn't cause a validation error. Use the below as a workaround for now.

[code]

[2018-04-26 14:15] markstos commented on #5888
@mattdone01 As @vkarpov15 says, the underlying driver is used for this feature, which is documented here: https://docs.mongodb.com/manual/changeStreams/ You can select the "Node.js" tab.

[2018-04-26 14:18] markstos commented on #6044
Turns out the `url` module is insufficent to handle MongoDB's custom URI format, but this module with parse/format it correctly:

     `mongodb-uri`

[2018-04-26 16:13] #6364 closed

[2018-04-26 16:34] vkarpov15 commented on #6364
In 5.0.17 you'll be able to do:

[code]

Analogous to how arrays of primitives work now :+1:

[2018-04-26 17:15] jaredpetersen commented on #6364
@vkarpov15 Awesome! Thank you! 😄

[2018-04-26 17:39] natanavra opened #6397 "schema.options is null if Schema is not created inline (TypeError: Cannot read property 'collation' of undefined)"
Apologies for the bad title, don't know how to describe the issue.

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`myDoc.update(myDoc, {upsert: true});` throws
[code]

Namely this line of code:
[code]

It seems like an `options` object is not created for the schema, if I change the above `if` to:
[code]

It throws in another place:
[code]

**If th

[2018-04-26 19:19] neeraj24 commented on #6215
Thanks. Got the same issue and the fix suggested worked for me. Is this fix going to be included in the newer version?

[2018-04-26 19:36] mpsijm opened #6398 "Pushing an object into a nested array makes mongoose crash"
**Do you want to request a *feature* or report a *bug*?** Bug :bug:

**What is the current behavior?**
**If the current behavior is a bug, please provide the steps to reproduce.**
Pushing an object into a nested array (as introduced in #1361) makes mongoose crash. Standalone example:
[code]

This throws a TypeError:
[code]

**What is the expected behavior?**
The document should be updated without

[2018-04-26 19:56] mpsijm commented on #6398
Another way of updating the array does not work as expected either:

[code]
This throws a ValidationError instead:
[code]

[2018-04-26 20:14] lineus commented on #6215
@neeraj24 if you can create a reproducible example that shows the error please open a new issue and include it there. Thanks!

[2018-04-26 21:58] vkarpov15 commented on #5966
Fixed by https://github.com/Automattic/mongoose/commit/dd2483d1167f0878ca075835858d5708dfc307ac

[2018-04-27 03:32] ntlzz93 commented on #6382
@lineus : The program's output was posted previous comment. The same code with you.

[2018-04-27 05:26] cosminn777 commented on #5446
Hello,
For me it's still not fixed:
mongoose 5.0.16  Model.find.exec query:

MongoError: cursor id 2923793755420 not found
at node_modules\mongodb-core\lib\connection\pool.js:598:61
at authenticateStragglers (node_modules\mongodb-core\lib\connection\pool.js:516:16)
at Connection.messageHandler (node_modules\mongodb-core\lib\connection\pool.js:552:5)
at emitMessageHandler (node_modules\mongodb-core

[2018-04-27 07:34] lineus commented on #6382
are you running this code using [clonq/revo](https://github.com/clonq/revo)?

[2018-04-27 07:36] ntlzz93 commented on #6382
@lineus No , I don't. This is just only program name. No specical

[2018-04-27 07:41] lineus commented on #5446
@cosminn777  please open a new issue with the code needed to reproduce what you are seeing along with the output. Thanks!

[2018-04-27 08:13] #6388 closed

[2018-04-27 09:23] #6395 closed, assigned to nobody

[2018-04-27 11:09] priyank21 opened #6399 "How to get matched sub documents by Geowithin from mongodb?"
What I am trying to do here is that I want only those subdocument which is within the provided latitude and longitude but if only one subdocument inside my document matches and others do not it should only return me the document with that particular document. but it is returning me all subdocument too can someone you guys help me out.
my document is like this
[code]

I am applying this query.
[cod

[2018-04-27 12:13] yaoyonstudio opened #6400 "can I find objects with specific age (calculate age from a birthday string field)"
I have "birthday" field in my User model, like '1990-8-12',  I want query some objects base on the user's age.

like:
http://test.com/users?min_age=25&max_age=30

How can I do that??  need help?

[2018-04-27 12:50] lineus commented on #6384
Hey @iofjuupasli, thanks for the complete repro script!

If you don't supply your first pre-hook with at least one parameter, it must return a promise in order to call the next one with an error.

### Passing a next parameter only

changing your example to:
[code]

### or returning a promise:

either:
[code]
[code]

### all 3 examples above result in the error being handled correctly:
[code]

[2018-04-27 12:50] #6384 closed

[2018-04-27 14:46] #6381 closed

[2018-04-27 14:48] vkarpov15 commented on #6381
Much of the issue is due to the fact that, if you already have a `createdAt` property, mongoose will use it for timestamps unless you explicitly tell mongoose not to. You also identified a minor bug with timestamps and `createdAt`, which will be fixed with 5.0.17. With the below schema:

[code]

You'll get the below output with mongoose 5.0.17:

[code]

[2018-04-27 19:51] vkarpov15 commented on #6385
Definitely an unintentional change. Will look into fixing :+1:

[2018-04-27 19:59] vkarpov15 commented on #2906
@williamknn so I took a look and ran your schema against mongoose 5 and I can't see any reason why your schema wouldn't work with mongoose 5. Can you provide more info about what issues you're having with upgrading?

[code]

[2018-04-27 20:03] vkarpov15 commented on #2275
@brunodb3 what is `AutomationModel` in the above code?

[2018-04-27 20:04] vkarpov15 commented on #6386
[Array filters are new in MongoDB 3.6](http://thecodebarbarian.com/a-nodejs-perspective-on-mongodb-36-array-filters.html), so they won't work if you're using mongodb server 3.0.4.

[2018-04-27 20:04] #6386 closed

[2018-04-27 20:09] vkarpov15 commented on #6362
@thaoula we normally don't do formal beta programs with mongoose, but we may for this release if there's sufficient demand for it. Is this blocking you from trying out transactions?

[2018-04-27 20:13] vkarpov15 commented on #6383
I would recommend using [an async function in your mocha `before()` hook to bootstrap your app](http://thecodebarbarian.com/using-async-await-with-mocha-express-and-mongoose). Exports are necessarily synchronous, so only exporting once an async operation is done isn't really possible.

[2018-04-27 20:17] vkarpov15 commented on #6393
I would recommend you don't set `ssl` and `replicaSet` in your options, for connecting to Atlas you should just copy the Atlas URL.

[2018-04-27 20:19] vkarpov15 commented on #6387
@lineus is correct, you could tail the oplog in previous versions of MongoDB, but change streams are new in 3.6

[2018-04-27 20:26] vkarpov15 commented on #6382
@ntlzz93 can you post the output of `npm list | grep "mongo"`? This message may be coming from another npm module

[2018-04-27 20:28] vkarpov15 commented on #5888
It'll be good to have mongoose-specific docs for this. The closest thing we have right now is [a blog post on the subject](http://thecodebarbarian.com/a-nodejs-perspective-on-mongodb-36-change-streams.html#change-streams-in-mongoose)

[2018-04-27 20:29] vkarpov15 commented on #6044
@markstos can you put your username and password in the options rather than the connection uri? You only need to encode the username and password if they're in the URI.

[2018-04-27 20:32] vkarpov15 commented on #6397
Thanks for reporting, will investigate ASAP :+1:

[2018-04-27 20:33] vkarpov15 commented on #6398
Thanks for reporting, will investigate ASAP :+1:

[2018-04-27 20:34] suchitagarwal commented on #6376
Thanks @vkarpov15, I should have replied earlier. I tried that and it worked. Thanks for your help

[2018-04-27 20:37] vkarpov15 commented on #6399
There's 2 ways to do this, you can either use the aggregation framework or use a module like [`@turf/inside`](https://www.npmjs.com/package/@turf/inside) to filter the subdocuments in Node.js.

[2018-04-27 20:39] vkarpov15 commented on #6400
I'd just use [moment](https://www.npmjs.com/package/moment) for this sort of thing

`User.find({ birthday: { $gte: moment(date).subtract(30, 'years'), $lte: moment(date).subtract(25, 'years') } })`

[2018-04-27 20:39] #6400 closed

[2018-04-27 20:41] lineus commented on #6400
Hi @yaoyonstudio! For future reference, you'll get help faster by asking for help in one of the following communities:

[StackOverflow](https://stackoverflow.com/questions/tagged/mongoose)
[Gitter.im](https://gitter.im/Automattic/mongoose)
[Slack](https://mongoosejsteam.slack.com/)

The best way (IMO) to do what you are asking is to store the person's age in the document on the DB, this will make

[2018-04-27 20:43] vkarpov15 commented on #6376
Happy to help :beers:

[2018-04-27 20:45] markstos commented on #6044
@vkarpov15 I represent perhaps a less common use-case. Our app is used with 60+ customer configurations. For improved security, the connection details are stored in customer-specific environment variables, where they are conveniently stored as a single string, rather than several options.

Open source software might be a similar use-case: An product that depends on Mongoose might depend on a lot o

[2018-04-27 20:47] markstos commented on #6391
@vkarpov15 I chose to deploy 5.0.14 based on this report. After 24 hours, the memory use of 5.0.14 looks stable.

[2018-04-28 03:05] phucvo0709 opened #6402 "Fix error using mongoose with vuex"
I trying to use mongoose with vuex, but it have all of all packages that are installed enough, but run program error!

![untitled](https://user-images.githubusercontent.com/35060381/39391756-ad374de4-4ad2-11e8-942e-2e60e66ef9e3.png)

[2018-04-28 09:53] lineus commented on #6402
Hi @phucvo0709

The **warnings** you have pointed out are from webpack. [They are documented here](https://webpack.js.org/guides/dependency-management/#require-with-expression) and shouldn't cause your code to fail.

Can you please describe in more detail how your code isn't working as expected and include any relevant stack trace info?

[2018-04-28 12:53] vkarpov15 commented on #6397
I'm unable to reproduce this either:

[code]

Can you work on modifying the above script to reproduce your issue? In particular, what are you using the `.schema` export for?

Also, 2 more ideas to try:

1) Can you try cloning `schema` before exporting it?
2) `MySchema.obj` should contain the original object you pass to `mongoose.Schema`, so you shouldn't need to export the object.

In the meantime

[2018-04-29 02:56] tarun1793 opened #6403 "Turn off colors when mongoose debug is set to true"
How do we turn off colored debug output?
It adds extra colors data to the printed logs, which breaks our log parsing system

[2018-04-29 07:51] natanavra commented on #6397
The `.schema` is for exporting the schema to another model to be used.
Even if I'm not exporting it, the issue persists.

1. I tried cloning, there was some error related to it as well, I'll try to reproduce it.
2. Thanks, didn't know about it - I'll use this.

Thanks for providing the fix with `_.get`

[2018-04-29 08:34] lineus commented on #6403
@tarun1793

You can pass a custom log function as the second parameter to `mongoose.set()` instead of a boolean.

A simple example:

### 6403.js
[code]

### Output:
[code]

[2018-04-29 08:36] tarun1793 commented on #6403
Thanks for this workaround!

On Sun 29 Apr, 2018, 10:34 AM Kev, <notifications@github.com> wrote:

[2018-04-29 08:42] lineus commented on #6403
happy to help 😄

[2018-04-29 08:54] lineus commented on #6317
@priyank21 if you're still having an issue with this please comment per the instructions above and we'll be happy to re-open this and take a look.

[2018-04-29 08:54] #6317 closed

[2018-04-29 09:04] lineus commented on #6344
The api docs now include AggregationCursor  [here](http://mongoosejs.com/docs/api.html#Cursor/aggregationcursor).

@alperdemirci were you able to get the aggregationCursor methods working?

[2018-04-29 09:06] #6171 closed

[2018-04-29 09:08] lineus commented on #6371
@cnits did adding the index fix the problem?

[2018-04-29 11:57] Decapitary opened #6404 "RangeError: Maximum call stack size exceeded"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**
node 8.4
mongoose  5.6.0
mongoDB 3.6.3

[2018-04-29 14:45] vkarpov15 opened #6405 "Store nested array paths as `embedded.$`, `embedded.$.$`, etc."
Re: issues like #6398, the current logic for embedded arrays is not very durable when it comes to figuring out what level of embedding it is at.

[2018-04-29 14:56] #6398 closed

[2018-04-30 03:25] priyank21 commented on #6399
I have tried aggregation framework but not succeeded to get the result.

[2018-04-30 06:55] odedsh opened #6406 "Update of an existing document with _id value of null causes server to crash"
model.Model.$__delta assumes that this._doc._id. In unlikely cases it can be null (mongodb certainly allows it).
However instead of failing and return an MongooseError the function crashes and no callback is called causing the server running mongoose to crash / hang

Here is a simple reproduction:

[code]
I'd expect this code to reach either the then block or catch block for all documents, not to

[2018-04-30 09:54] Decapitary commented on #6404
nvm it seems like newAuthor wasnt saved. I move the push function in newAuthor callback and problem was solved!

[2018-04-30 09:54] #6404 closed

[2018-04-30 10:25] priyank21 commented on #6399
Thanks for showing me the right direction what i had did is this and finally it working now.
`User.aggregate([
  { "$match": {
    "parking_space.location": {
      "$geoWithin": {
        "$centerSphere": [
          [76.7786787, 30.7352527], 7 / 3963.2
        ]
      }
    }
  }}
  { "$unwind": "$parking_space" },
  { "$match": {
    "parking_space.location": {
      "$geoWithin": {
        "$c

[2018-04-30 11:50] RomanSchmidtAppinio commented on #6391
FINALY FOUND:
Sense version 5.0.15 you have to close the cursor manually. Every request as cursor will not close automatically as before so you will run into a memory leak.

sry, too dumb to format right

``
const
    async = require('async'),
    mongoose = require('mongoose'),
    schema = new mongoose.Schema({
        bar: Number,
    });

const
    dbServer = mongoose.createConnection(connecti

[2018-04-30 14:50] univec commented on #6393
Thank you for your advice. We are trying with the only option being `useMongoClient: true`. Will report back soon.

[2018-04-30 18:15] brunodb3 commented on #2275
@vkarpov15 Sorry, forgot about that. It's the model file/class containing the schema for Mongoose, as follows:

[code]

[2018-04-30 21:08] vkarpov15 commented on #6044
That's a reasonable use case. The problem is that unfortunately how URIs are structured changed, so if mongoose were to encode auth credentials for you then mongoose would have to support a different connection string format than the MongoDB driver does. That's something I really don't want to do unless there's a lot of demand for it, but I appreciate you pointing out this issue.

[2018-04-30 21:27] vkarpov15 commented on #6402
Are you trying to use mongoose in the browser or is this for server-side rendering?

[2018-04-30 23:33] vkarpov15 commented on #6406
Thanks for reporting, will fix ASAP :+1:

[2018-04-30 23:35] vkarpov15 commented on #6399
@priyank21 looks like you got it, well done :+1: Thanks for posting your code

[2018-04-30 23:35] #6399 closed

[2018-04-30 23:36] vkarpov15 commented on #6391
Thanks for reporting, I need to investigate this.

[2018-04-30 23:46] vkarpov15 commented on #2275
So then why do you have `const Automation = new AutomationModel(accountName);` ? Why are you creating a new document and then `Automation.findOne()`?

[2018-05-01 00:29] tannerwelsh opened #6407 "Custom Schema Types for BSON "Double" failing"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Despite using a custom schema type to coerce a value to the BSON type "double", Mongoose fails to save the field as the appropriate type unless the input value is a non-integer.

**If the current behavior is a bug, please provide the steps to reproduce.**

Attempting to force a number to use the `"do

[2018-05-01 06:09] thaoula commented on #6362
Hi @vkarpov15,  yeah, it is a little blocking.

[2018-05-01 10:59] BengBu-YueZhang opened #6408 "mongoose document Getting Started it is wrong！！！！！"
你好，我在查看 mongoose 文档，使用 http://mongoosejs.com/docs/index.html 的 案例 ，结果是错误的。
Hello, I am see mongoose documentation, use http://mongoosejs.com/docs/index.html's case, the result is wrong.

我按照文档的代码，结果保存的结果是 空的
I follow the document's code, and the result is empty.

[code]

[code]

fluffy 的 结果是空的
fluffy is result is empty.

[2018-05-01 11:08] lineus commented on #6408
@BengBu-YueZhang

Your example doesn't show a connection to any mongodb servers. Are you calling `mongoose.connect('mongodb://host/db')` in your code?

[2018-05-01 11:15] BengBu-YueZhang commented on #6408
对不起，问题解决了，请关闭

 Sorry, the problem is solved. Please close it.

[2018-05-01 12:59] stevezau opened #6409 "Guide for AWS Lambda"
Hi,

I'm looking for some guidance here. I've been using Mongoose via an AWS Lambda (as a Graphql API) for a while now and had suffered from random timeout issues.

I've just upgraded to Mongoose 5 and was wondering what is the best prac to keep the connection alive and handle disconnects within a warm lambda container.

I've read https://hackernoon.com/building-a-serverless-rest-api-with-node-js-

[2018-05-01 16:12] djanowski opened #6410 "Default value function gets called even when document has the field set"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

When using a function to create a default value, the function gets called every time a document is initialized, regardless of whether the document has the field set or not.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

Func

[2018-05-01 16:50] #6406 closed

[2018-05-01 17:28] vkarpov15 commented on #6409
Can you tell me a bit more about the timeout issues, do you know what specifically is timing out? We had a related bug report, #5849, a while back but never managed to actually reproduce any timeouts in Lambda.

The approach the hacker noon article you linked to has only surface-level differences because it doesn't actually check `readyState` in the case where the container is warm. The [mongoose

[2018-05-01 21:05] jimmytsao opened #6411 "Virtual Population of Field on a Nested Embedded Discriminator Not Working"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When trying to perform a virtual population of a field on an embedded discriminator that is at the root of the model, everything is populated correctly. However, when I try do the same on a **_nested_** embedded discriminator, the results are not populated. See working and non-working example in repro

[2018-05-01 23:28] vkarpov15 commented on #5813
Should work fine now with the rewrite of mongoose-double :+1:

[2018-05-02 02:14] gustvao commented on #6109
guys, I guess I found the cause - apparently it is related to mongodb 3.6 (I recently upgraded from 3.2 to 3.6 and mongoose got upgraded to 5.x too)...

so I was not being able to run my app anymore, I was getting these cyclic dependency errors... the only work-around that worked for me was to add `autoIndex: false` into `mongoose.connect` - but doing so my indexes were not being created anymore e

[2018-05-02 03:27] stevezau commented on #6409
I am trying to nail down what the issue is but I'm finding it a little hard to track it down.

I think there are two issues here.

**Issue 1 - Calling lambda times out **
Right now I've got a graphQL lambda which acts as the api/data interface to rest of the lambdas. Randomly the requesting lambas's (calling the graphql/mogoose api) are getting `ESOCKETTIMEDOUT` which is probably due to the AWS AP

[2018-05-02 03:49] stevezau commented on #6409
I've added the following options to see if it helps

I'm not 100% confident i fully understand the impacts of bufferMaxEntries and bufferCommands but the way i read it should fail faster.

the timeout settings should also help fail faster.

[code]

[2018-05-02 03:53] stevezau commented on #6409
Now getting

[code]

[2018-05-02 07:18] stevezau commented on #6409
Done some more testing.

It seeems the connection is lost but readyState is not reflected. So instead of trying to reconnect it waits for socketTimeoutMS/connectTimeoutMS then reconnects.

Not sure if this is normal?

[2018-05-02 09:47] iofjuupasli commented on #6385
@vkarpov15
Now I have issues with args in hook and with return type:

[code]

[2018-05-02 11:55] Phillys opened #6413 "TypeScript: User model is not firing index event"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Model event is not firing on index rebuild.

**If the current behavior is a bug, please provide the steps to reproduce.**

`app.get('/test', (req: Request, res: Response) => {
    User.on('index', (err: any) => {
        console.log('@index', err);
    });

    Promise
        .all([
            User.c

[2018-05-02 12:43] lineus commented on #6413
@Phillys I created the following script to try and reproduce what you are seeing:
### 6413.js
[code]
### output:
[code]
Can you create an example that is reproducible so that we can investigate further?

[2018-05-02 13:29] RomanSchmidtAppinio commented on #6391
@markstos

The script I wrote does not make any big sense then just show the behavior of the memory leak.

My script shows how the forever function of npm async creates a new instance of the closure that creates a new cursor over and over again. As soon as the closure gets destroyed the smart pointer loses his only reference in this closure and gets closed. The used memory gets free again.

Like i

[2018-05-02 13:32] AbdelrahmanHafez opened #6414 "populate an array with space separated single id and array of ids doesn't work"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

Related to #6284, we now can populate an array with spaces separated only in nested population, however, when providing an array of things to populate directly to the `.populate(...)` function, the same issue still exists

reproduction script:
[code]

output:
[code]

MongoDB v3.2.7
mongoose v5.0.14
node v8.9.3

[2018-05-02 14:36] TreantBG commented on #5446
I had to loop through 350 000 records or more in the future
and this problem was emerging every 3-5 minutes
so i solved this problem like this:

[code]

[2018-05-02 16:29] martonboti commented on #6348
I can confirm. It occurs when trying to run tests, they all fail because a simple query takes more than 2 seconds. Version 4.13.12 works fine.

[2018-05-02 16:47] #6359 closed

[2018-05-02 16:48] vkarpov15 opened #6415 "_id getter for ObjectIds"
Re: #6115, make it much easier to get an id regardless of whether a path is populated or not

[2018-05-02 16:52] vkarpov15 commented on #6115
@alexksso I'm very sorry but re: #6359 we're going to have to remove this helper. It causes an unexpected bug related to an module down the stack that's tricky to change. In 5.1.0 we're going to add a getter so the below will succeed, follow #6415 for updates.

[code]

In the meantime, you can easily work around this by dropping the below lines in your code:

[code]

[2018-05-02 17:36] hnitzsche opened #6416 "insertMany results in empty documents when using not declared keys"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Saving an array of objects with keys not declared in the Schema result in new empty documents with just an ObjectID written to the database.

Setting {strict: true} explicitly in the Schema (read that it is default actually) makes no difference.

If I set {strict: "throw"} a StrictModeError is thrown,

[2018-05-02 18:35] Phillys commented on #6413
I hope this example is a bit clearer.

## 6314.ts

[code]

## User.ts

[code]

[2018-05-02 18:39] wy193777 opened #6417 "Add document field that stores whether this document was the result of an upsert"
**Do you want to request a *feature* or report a *bug*?**

Might be a bug.

**What is the current behavior?**

[code]

Then doc.isNew always equal to false even a new document indeed been created.

**What is the expected behavior?**

doc.isNew should equal to true if a new document has been created.

**Please mention your node.js, mongoose and MongoDB version.**
nodejs: V10.0.0
mongoose: 5.0.17
Mo

[2018-05-02 19:18] lineus commented on #6413
@Phillys You are attaching the listener after the index event has already implicitly been fired.

Some alternatives (links to docs):
   1. [use the promise returned from Model.init()](http://mongoosejs.com/docs/api.html#init_init)
   1. [use the promise returned from Model.ensureIndexes()](http://mongoosejs.com/docs/api.html#ensureindexes_ensureIndexes)
   1. attach the listener before exporting t

[2018-05-02 21:36] AndrewBarba commented on #6109
I'm specifically encountering this issue when attempting to add index on an array:

[code]

Simply adding that prop/index to my schema is causing this issue

[2018-05-02 21:46] gustvao commented on #6109
hey @AndrewBarba .. try adding the index like I mentioned, not on the field but on the schema and see if it works

[2018-05-02 21:47] AndrewBarba commented on #6109
@gustvao I actually tried that first, no luck :(

[2018-05-02 23:28] vkarpov15 commented on #6407
This is very ironic, I just [rewrote mongoose-double yesterday to make it actually work](https://github.com/mongoosejs/mongoose-double/pull/4) before I saw this bug report, I just haven't been able to publish to `mongoose-double` because  @aheckmann hasn't given me npm publish access yet. Unfortunately the old `mongoose-double` did not actually verify the type in the db, but the [new iteration doe

[2018-05-03 00:40] Mayocampo commented on #3090
Same issue happening nowadays. Can get documents with an specific objectId() inside an array

/*My model*/
[code]

/*My route*/
[code]

/*My mongo collection*/
[code]

Searching docs by any other of the ObjectId fields, works without problems..

Any solution to this?

[2018-05-03 01:04] vkarpov15 commented on #6415
@djanowski I'd love to hear more about why you're so excited for this change if you care to share :+1:

[2018-05-03 01:40] vkarpov15 commented on #5929
@Jeff-Lewis so I'm very hesitant to put this into mongoose core because it looks like the entire heart of the embedder API, the `emitBefore()` and `emitAfter()` functions, was deprecated in node 10. I also don't quite understand how async hooks are supposed to work, but I think the below plugin does the trick in node 8:

[code]

Below script seems to tie mongoose correctly to an HTTP trigger:

[co

[2018-05-03 05:39] Phillys commented on #6413
Thank you for the clarification.

So why does this example work?
http://mongoosejs.com/docs/validation.html#the-unique-option-is-not-a-validator

Regarding the usage of the init method, it seems like the init method is missing from the TypeScript declaration file.

error TS2339: Property 'init' does not exist on type 'Model<any>': `Model.init()...`
error TS2339: Property 'init' does not exist on t

[2018-05-03 10:55] marcelh-gh commented on #6299
I don't see this working. Assigning a decimal.js object to a property of type Decimal128 I get a cast error.

@lineus I have seen your test for this. Have you also actually tried it out with a decimal.js object?

Thanks!
Marcel

[2018-05-03 11:50] marcelh-gh commented on #6299
adding something like
`  if (typeof value === 'object' && typeof value.valueOf === 'function') {
    return Decimal128Type.fromString(value.valueOf());
  }`

to decimal128.js

probably solves this...

[2018-05-03 12:17] lineus opened #6418 "Add Decimal.js support to Decimal128"
like #6299, we should allow the valueOf method in decimal128 casting.

[2018-05-03 15:04] isaachinman commented on #4037
@r3wt Why do you consistently behave like this? OSS is not created and maintained for your own personal benefit. It's really a shame when I come across your borderline abusive comments, which is semi-frequently.

[2018-05-03 15:30] tannerwelsh commented on #6407
Fantastic! What timing, @vkarpov15. Thank you!

[2018-05-03 15:30] #6407 closed

[2018-05-03 18:29] r3wt commented on #4037
How about a compromise: Add a disclaimer and common pitfalls sections to the docs/readme.

[2018-05-03 19:57] adamreisnz commented on #6299
@marcelh-gh Mongoose probably doesn't want to have decimal.js as a dependency, so your proposed solution won't work as it implies Mongoose needs to load the library to do that string conversion.

[2018-05-04 11:46] muuvmuuv opened #6420 "DEP0079 warning on Node 10"
I get following error: `(node:30514) [DEP0079] DeprecationWarning: Custom inspection function on Objects via .inspect() is deprecated` when I use:

[code]
`T` is just a text string like "I search for some food". The error disappears when I use a $or operator with some $elemMatch cases. I really need to use full-text search, my script breaks the hole function when this error occurs.

Node: 10.0.0
m

[2018-05-04 18:34] vkarpov15 commented on #6411
Thanks for reporting, will fix ASAP :+1:

[2018-05-04 22:34] AbdelrahmanHafez commented on #6414
An obvious solution is that we use multiple `.populate(...)` chained one after the other, but since we're supporting arrays in nested populating, and it somewhat works with an array directly to the `.populate(...)` method. We should support it all the way to avoid confusion.

[2018-05-04 23:16] vkarpov15 opened #6422 "mongoose-autopopulate depth"
https://github.com/mongodb-js/mongoose-autopopulate/issues/37

[2018-05-04 23:26] vkarpov15 commented on #6348
Hmm @TheCactusBlue is there any way we can hop on a video chat? I haven't been able to repro and I don't think we'll be able to make much progress on this via GitHub issues, we'll need a faster feedback loop.

[2018-05-04 23:26] vkarpov15 commented on #6416
Please provide code samples, converting prose to code is error prone.

[2018-05-04 23:27] vkarpov15 commented on #6410
Not sure off the top of my head, I need to investigate. Thanks for reporting, will look into this ASAP.

[2018-05-04 23:30] vkarpov15 commented on #6417
@wy193777 this is intended behavior. `isNew` is only true if you created the doc with `let doc = new model(obj)` and have **not** saved the document to the database yet. If you want to see whether a new document was upserted or not, you will have to use [the `rawResult` option for `findOneAndUpdate()`](http://mongoosejs.com/docs/api.html#query_Query-findOneAndUpdate)

[2018-05-04 23:59] #6418 closed

[2018-05-05 00:12] vkarpov15 commented on #4037
@isaachinman your concern is appreciated, but unnecessary in this thread. I love a good spirited debate.

@r3wt this behavior is already in the [schematypes docs](http://mongoosejs.com/docs/schematypes.html#arrays) and [the FAQ](http://mongoosejs.com/docs/faq.html#array-defaults). I moved these questions up in priority based on your feedback. Do you have any other suggestions for where to put this

[2018-05-05 00:13] vkarpov15 commented on #6299
@marcelh-gh is right, I merged the PR and the fix will be in 5.0.18 :+1:

[2018-05-05 00:17] vkarpov15 commented on #6420
@muuvmuuv this isn't an error, just a deprecation warning in Node.js 10. Looks like [this](https://nodejs.org/api/deprecations.html#deprecations_dep0079_custom_inspection_function_on_objects_via_inspect) is the relevant deprecation. Mongoose relies on custom `inspect()` functions to make debug output readable, but looks like Node.js 12.x will not support that. We'll work around that, but for now i

[2018-05-05 01:28] adamreisnz commented on #6299
My bad, I thought `Decimal128Type` came from decimal.js 👍

[2018-05-05 07:11] hnitzsche commented on #6416
[code]
[code]

[code]

Result is an empty document in the collection _members_ with just an _ObjectID_. So I see the strictmode is correctly omitting the keys that aren't in the Schema. But why is the result an empty document? Is this maybe MongoDB behaviour itself and hast nothing to do with Mongoose?

[2018-05-05 19:16] i0natan opened #6424 "Mongoose best practices"
Hey friends, we want to add to our "node best practices" repo (link below) a section about data-access practices, will you kindly contribute some ideas based on your vast experience?

For example, the following might be best practices when working with ORMs: (a) Instantiating the ORM object only once per process (b) never do automatic sync in production (c) your ideas?

Thanks for your help!

[2018-05-06 08:00] nasr18 opened #6425 "mongoDB Atlas connection error"
I can't able to connect to my `mongoDB Atlas` db. My connection string starts with `mongodb+srv://`. when i try to connect via mongoose, getting error as `invalid uri. Must begin with 'mongodb://'`.

Can anyone pls help me overcome this?

[2018-05-06 10:12] vjoshihumancare opened #6426 "Aggreation dateToString for converting UTC dates to local timezones not working"
Hi,

We are using nodejs 9.8 version , mongo 3.6 and mongoose 5.0.7.

We have a need to convert dates from UTC format to user provided local timezone format .
I was looking into the aggregation function dateToString to do that.

Seems like dateToString ,with timezone does not take effect.

Following is my code snippet, where trying to convert created_date field to America/newyork timezone.

    Pr

[2018-05-06 10:14] vjoshihumancare opened #6427 "Examples for using aliases in mongoose find"
We are using nodejs 9.8 , mongo 3.6 , mongoose 5.0.7

I am looking for some examples of aliasing fields  in find query.

Any help appreciated. I cant seem to find any examples. But also read that mongoose 4.0.0 onward supports this feature

[2018-05-06 12:37] stevezau commented on #6409
Tried that also, seemed to make it worse.

[2018-05-06 17:38] vanchonlee commented on #4087
- [ ]

- 1.

[2018-05-06 20:02] moustafamakadi opened #6428 "mongo error"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

[2018-05-06 20:06] moustafamakadi commented on #6428
i am trying to find the nearby hotels by using geoNear method i also use mongoos and make an schema
and this the is Hotel.model code var mongoose = require('mongoose');

var reviewSchema = new mongoose.Schema({
  name : {
    type : String,
    required : true
  },
  rating : {
    type : Number,
    required : true,
    min : 0,
    max : 5
  },
  review : {
    type : String,
    required : true

[2018-05-06 20:26] asalria opened #6429 "$near error - planner returned error: unable to find index for $geoNear query"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
I get this message every time I try to use find $near - planner returned error: unable to find index for $geoNear query

**If the current behavior is a bug, please provide the steps to reproduce.**

Example of a document
{ "_id" : ObjectId("5aef5d75d9a9f6943566c201"), "type" : "VULCO", "name"

[2018-05-07 02:15] #6410 closed

[2018-05-07 06:35] #6329 closed

[2018-05-07 08:45] leonprou commented on #3905
[code]
@vkarpov15 this is working, but before I tried to pass the authSource from `options` object. using:

[code]

looking at the api of mongodb - http://mongodb.github.io/node-mongodb-native/3.0/api/MongoClient.html, and the source of mongoose that should work

[2018-05-07 12:44] wesleimarinho opened #6431 "Cannot assign to read only property 'remove' of object '[object Array]'"
I'm using MongoDB 3.6.4 Community, NodeJS 8.9.4 and Mongoose 5.0.17, on Windows 10 Professional

From time to time the following stack trace shows on console, stopping the application:

[code]

Is it a bug? It doesn't trace back to any of my project files.

[2018-05-07 13:27] Gredys opened #6432 "[Bug] Populating an array containing null values leads to violation of array sequence."
**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
Populating an array containing null values results in deletion of null values and violation of array sequence.

**If the current behavior is a bug, please provide the steps to reproduce.**

Small example with output:
[code]

Output:
**Mongoose without changes** (console screenshot - https://i.imgur.c

[2018-05-07 14:01] djanowski commented on #6410
Thanks @vkarpov15!

[2018-05-07 14:17] viktornord commented on #4362
@vkarpov15 it should not work that way. Although default value is set on saving it is misleading to set it when `find` the document, because it should actually return exact data stored in DB, isn't it? I would vote for reopening the issue.

[2018-05-07 16:07] djanowski commented on #6415
When dealing with populated or non-populated paths, when you need just the ID, we have a bunch of `(foo.bar._id || foo.bar).toString()`.

[2018-05-07 18:34] cyonder commented on #4575
@ezamelczyk I have exactly the same problem. Although, this.getUpdate().$set.password returns undefined. Can you show me how you make the update request? This is how I am doing.

[code]

[2018-05-07 19:28] cyonder commented on #4575
@ezamelczyk thanks for your answer. It works great!

I'll share here how I make the update request for the password; in case people are looking for that.
[code]

Although, this update is triggered from settings page, not "forgot password" and in the settings page, user needs to enter the current password to be able to update the password. So, I need to check if current password matches. I have com

[2018-05-07 21:09] paglias opened #6433 "VersionError: include path(s) that caused the error"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
5.x

When a VersionError is thrown it would be extremely useful if Mongoose could include information about the operation that's causing the problem in the error. It would make debugging much easier when dealing with big schemas with several arrays where it's not always easy to figure out what cause

[2018-05-07 23:08] vkarpov15 commented on #5929
I published this plugin on npm: https://www.npmjs.com/package/@mongoosejs/async-hooks . Please give it a shot and report any issues on that repo

[2018-05-07 23:08] #5929 closed

[2018-05-08 00:40] uptownhr opened #6434 "Discriminator: Right-hand side of 'instanceof' is not an object"
Using the below models & schemas, I am receiving an error `Right-hand side of 'instanceof' is not an object` with the following implementation

[code]

# models
[code]

# setting schema
[code]

# defaultAdvisor schema
[code]

[2018-05-08 10:00] lebinhchieu opened #6435 "Bug: #document.populate() return parent id for empty result"
I got a bug on **#document.populate()**

I have two documents: Agent, CoopBrand and Product and relationship:
[code]

Schemas:
[code]

The problem is:
- Get agents
`let agents = await Agent.find({});`
- Then populate products on
[code]
- And this is what I got
[code]

The first `coopBrands[0].products` is fine
But the sencond `coopBrands[1].products` got problem. It didn't have any products, it co

[2018-05-08 12:45] lineus commented on #6424
@i0natan There is no link your issue

[2018-05-08 13:06] lineus commented on #6427
Querying by aliases is an open issue at the moment, #5321. Here is an example of how to use the translateAliases method to do this now:

###6427.js
[code]
### Output:
[code]

[2018-05-08 13:07] #6427 closed

[2018-05-08 13:27] lineus commented on #6429
@asalria did you create a 2dSphere index on the collection?

There's an example in issue #4917, you need to create the index and wait for it to build before using it.

[2018-05-08 13:43] lineus commented on #6431
@wesleimarinho can you provide a code sample based on your project ( preferably one that shows the error)? Alternatively, you can provide a link to your repo and I'll take a look at it.

[2018-05-08 13:54] Ncifra opened #6436 "[BUG] Updating nested object gives erroneous behaviour of default object property values with single property in input that is not defined in the schema"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Updating a nested object properties, when there is a single property in the input object that is not defined in the Mongoose schema properties, doesn't seem to take into account default values for the other properties.

**If the current behavior is a bug, please provide the steps to reproduce.**

User

[2018-05-08 16:31] wesleimarinho commented on #6431
@lineus, unfortunately my repository isn't public, and I consider difficult to isolate the behavior to make a simpler code base to reproduce the problem, because it happens apparently randomly and the output of the issue does not trace to any of my project files. Instead, could you please suggest some debugging info I could insert in the files mentioned in the stack trace, so we could get more inf

[2018-05-08 16:49] lineus commented on #6434
@uptownhr

As shown below,

`kind = 'defaultAdvisor'`

should be

`kind = 'DefaultAdvisor'`

### 6434.js
[code]
### Output:
[code]

[2018-05-08 19:06] simllll commented on #6357
New mongodb-core got released today, as soon as mongoose upgrades to 5.0.18 tthe issues should be done/gone!

Thanks

[2018-05-08 22:00] vkarpov15 commented on #6299
No worries. Check out [my article on the MongoDB decimal type](http://thecodebarbarian.com/a-nodejs-perspective-on-mongodb-34-decimal.html) for more info, the decimal type is pretty special.

[2018-05-08 22:01] vkarpov15 commented on #6416
No, this is expected behavior from mongoose. By default, mongoose silently strips out keys that aren't in the schema. If you want to make mongoose throw an error if keys that aren't in the schema are specified, use `strict: 'throw'`

[code]

[2018-05-08 22:01] #6416 closed

[2018-05-08 22:08] #6357 closed

[2018-05-08 22:36] redSilkTie opened #6438 "Node.js DEP0079 Warning when creating new document"
**Using mongoose v5.0.17 and node.js v10.0.0**

Every time I create a new document and save it, I get the following deprecation warning from node:

_[DEP0079] DeprecationWarning: Custom inspection function on Objects via .inspect() is deprecated_

I was not experiencing this when using mongoose 4 and earlier versions of node.
Anyone knows what is causing this?

[2018-05-08 22:40] lineus commented on #6431
@wesleimarinho In version 5.0.17, you *could* replace line 45 of lib/types/documentarray.js with:
[code]
this will show you the document, path, and values you're trying to save at the time of the next failure and hopefully lend some insight.

In the meantime, I'll see if I can come up with a way to replicate the issue. A schema mocking the one from your project with any proprietary info removed wo

[2018-05-08 22:49] lineus commented on #6438
[from this comment](https://github.com/Automattic/mongoose/issues/6420#issuecomment-386764692) on #6420

[2018-05-08 22:53] #6438 closed

[2018-05-09 01:12] uptownhr commented on #6434
thank you!

[2018-05-09 03:07] Yui8681 commented on #6389
@lineus @vkarpov15  Hi Kev, Valeri
Sorry for the late reply, FYI, this was used in an express application.
And I updated the original comment, please have a look, thank you.

[2018-05-09 06:48] FrostyLeaf opened #6439 "[BUG] $pull + $in remove all embedded documents in an array type field."
**Node Version**: 8.9.4

**Mongoose Version**: 5.0.17; 4.13.12

**Mongodb Version**: 3.2.9

This is how to reproduce this bug:

[code]

**Expected Behavior**: `$pull` + `$in` should only remove the embedded documents match the assigned conditions, not all of them.

[2018-05-09 08:09] Yui8681 commented on #6389
@lineus Hi Ken, the async method solved the problem, but would you mind helping me find why the Promise won't resolve when use .then() please? The application uses Promise anywhere..
Thanks in advance.

[2018-05-09 08:19] FrostyLeaf commented on #6439
Any one help? @vkarpov15

[2018-05-09 09:31] oshihirii opened #6440 "Where is documentation for the Schema.methods method?"
"mongoose": "^5.0.17"
Node: 10.0.0
NPM:  5.6.0

I am following tutorial code that uses this:

[code]

I am trying to find documentation for the `.methods` method, but cannot see it online, only the `.method` method (without the 's'):

http://mongoosejs.com/docs/api.html#schema_Schema-method

Where is documentation for the `Schema.methods` method?

Thank You.

[2018-05-09 10:45] lineus commented on #6439
@FrostyLeaf thanks for the concise report!

[2018-05-09 11:02] lineus commented on #6440
@oshihirii `methods` is just an object literal so it doesn't have any documentation.

`.method()` is a function that adds the passed in function to the specified property of the `methods` object.

Whether you use the `.method()` convenience method, or add the function directly to the object yourself `mySchema.methods.someCoolMethod = function(){}`, beware using arrow functions, as mentioned in the

[2018-05-09 11:55] wesleimarinho commented on #6431
It is not an empty array, I printed its property remove and it is:

[code]

The value it is trying to override on remove is:

[code]

[2018-05-09 12:26] wesleimarinho commented on #6431
@lineus Yes, I finally could isolated the problem. I will report how to reproduce the problem in a few minutes.  Do I reply here or should I open a new issue:

[2018-05-09 12:27] lineus commented on #6431
might as well reply here 👍

[2018-05-09 12:35] lineus commented on #6402
@phucvo0709 were you able to resolve this issue?

[2018-05-09 12:39] wesleimarinho commented on #6431
Steps to reproduce the issue:

1 - Create an empty application with express generator:

`express`

2 - Install Mongoose:

`npm install mongoose`

3 - Install Lighthouse:

`npm install lighthouse`

4 - Install dependencies:

`npm install`

5 - Add the following code to routes/index.js before `module.exports = router;`:

[code]

6 - Run the application and access `http://localhost:3000/insert` and t

[2018-05-09 12:48] lineus commented on #6431
express is superfluous, this can be replicated with just mongoose and lighthouse:
### 6431.js
[code]
### Outputs:
[code]

[2018-05-09 18:59] FrostyLeaf commented on #6439
So, when v5.0.18 will be published, please? And will you guys fix this on v4?

[2018-05-09 20:48] AbdelrahmanHafez opened #6443 "cast string representation of unix timestamp into date object"
I am working on an express app that has an endpoint which takes a query, and passes it directly to the mongoose model for find, and such.

The way we use it is this:

[code]

So, it's been all good until we tried to pass timestamps into that query, which is converted to a string by default. It would be awesome if mongoose supports casting string representation of unix timestamps.

reproduction scr

[2018-05-09 22:25] AbdelrahmanHafez commented on #6443
So, did changes to `lib\schema\date.js` which made my case work,  but broke #5395

My solution was to modify that bit in the code to:

[code]

Since this would break #5395, I thought of a solution that would not break it and still support string representation of timestamps.

[Max and minimum supported years in JavaScript](https://stackoverflow.com/questions/11526504/minimum-and-maximum-date) are

[2018-05-10 00:31] lineus commented on #6435
@lebinhchieu I tried to put together a complete and reproducible example based on the information you provided.

### 6435.js
[code]
### Outputs:
[code]

Can you compare this to your code and modify this example if necessary to demonstrate what you are seeing?

[2018-05-10 02:58] FrostyLeaf opened #6446 "[BUG] $pull + $in and $pullAll are still broken in some scenarios"
**Node Version**: 8.9.4

**Mongoose Version**: 5.0.18

**Mongodb Version**: 3.2.9

This is how to reproduce this bug:

[code]

**Expected Behavior**: `$pull` + `$in` should remove the embedded documents match the assigned conditions.

I know, it's because the generated `_id` in the `CatProp`. But, it's just nonsense at all.

Say I have some books from several libraries. Now I supose to give them b

[2018-05-10 03:12] lebinhchieu commented on #6435
@lineus OK, let me do it.
Thanks for replying

[2018-05-10 03:37] picklechips opened #6447 "`.populate(...)` is not populating a document whose Schema has refs to itself."
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
`document.populate(...)` is not populating a model with subdocuments of itself.

**If the current behavior is a bug, please provide the steps to reproduce.**

https://stackoverflow.com/questions/50264345/mongoose-populate-not-working

**What is the expected behavior?**
Currently, `curUser.recievedReques

[2018-05-10 05:03] lebinhchieu commented on #6435
@lineus I just update script, please see below

### Script

[code]

### Output

[code]

[2018-05-10 05:37] kessiler opened #6448 ".populate() + post causing infinity loops and leaking memory"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**

When using populate, mongoose is entering in an infinite loop and causing JS memory leaks.

[code]

My code is basically doing a simple populate as the following below:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Do not caus

[2018-05-10 05:39] kessiler opened #6449 ".populate() + post init hook causing infinity loop and leaking memory"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**

When using populate and post init hook, mongoose is entering in an infinite loop and causing JS memory leaks.

[code]

My code is basically doing a simple populate as the following below:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

https://gist.github.com/kes

[2018-05-10 05:40] kessiler commented on #6448
Duplicate #6449

[2018-05-10 05:40] #6448 closed

[2018-05-10 07:36] #6446 closed

[2018-05-10 07:41] FrostyLeaf commented on #6446
Sorry, I misunderstood the behaviors of the operators.

[2018-05-10 08:46] lineus commented on #6447
Here is a self contained example based on your SO question:

### 6447.js
[code]
### Outputs:
[code]
@picklechips Can you please create a minimally complete reproducible example that demonstrates the behavior that you're experiencing? Feel free to use mine as a starting point.

[2018-05-10 09:05] lineus commented on #6449
@kessiler thanks for the awesome repro script.

### 6449.js
[code]
### 5.0.17 Output:
[code]
### 5.0.18 Output:
[code]

[2018-05-10 09:51] vascofg opened #6451 "Populating with .match condition doesn't filter documents"
**Do you want to request a *feature* or report a *bug*?**
Bug in `5.0.18`
**`NOTE: `IT WORKS CORRECTLY IN 5.0.17!**

**What is the current behavior?**
When you populate a query and use `.match` to filter the results, documents which violate the match conditions are added to the result.

**If the current behavior is a bug, please provide the steps to reproduce.**
In my case, the query is as follows

[2018-05-10 10:14] lineus commented on #6435
Here is a complete repro script that explicitly shows the expectation that document.populate and model.populate don't behave the same:

### 6435_2.js
[code]
### Output:
[code]
Thanks @lebinhchieu!

[2018-05-10 10:33] lineus commented on #6451
@vascofg can you please provide a reproducible example like the one below that demonstrates what you are seeing?

### 6451.js
[code]
### Output:
[code]

[2018-05-10 10:39] lebinhchieu commented on #6435
@lineus Thank you, hope to be fixed soon

[2018-05-10 13:46] Juffff opened #6452 ""Error: document must have an _id before saving"."
I have this error when I add a lot of documents  to DB very fast.
The code to create new Item:
                const id = translit(data.article).toString();
                const item = new Item({
                    _id: id,
                    type: data.type,
                    kind: data.kind,
                    brand: data.brand
                   .............
                });

[2018-05-10 14:26] vjoshihumancare opened #6453 "Aggregation Vs Find very noticable performance difference"
Hi For our project we had a need to dynamically building mongoose queries .

I tried out Both aggrgation framework and I am already using find.

In the aggregation ,we are not actuallly group by anything right now.

I saw  a very remarkable difference in response time with very few records ( close to 10).

aggregation takes close to 3 seconds to response back. Is this a known issue ?

Is there a g

[2018-05-10 16:46] #6422 closed

[2018-05-10 17:44] Matheus-Ribeiro95 opened #6454 "[BUG] How to get errors from Document"
Hello guys, i have a Schema with validation on a subDoc.
In API i'm sending multiple data in ARRAYS and the validation occurs 1by1 in the array of subDoc, but every validation query another Schema, so some querys happens and others not (because the validation is step by step in every index in the array), but i need a allOK array or nothing (to both Schema work together as the same).
Anyway, maybe

[2018-05-10 20:10] javiercbk commented on #6205
Version 5.0.16 works fine but version 5.0.18 triggers this issue on my project

[2018-05-10 20:24] zapthedingbat opened #6455 "Queries created from constructors do not invoke query hooks"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When executing a query created from a [query constructor](http://mongoosejs.com/docs/api.html#query_Query-toConstructor) does not execute hooks

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
Hooks should execute when queries crea

[2018-05-10 20:29] javiercbk commented on #6205
@lineus I'll try generate a test case. In my case, a unit test is triggering this error so it should not be hard for me to generate something like that.

[2018-05-10 20:32] GilbertGobbels opened #6456 "Error when saving the same doc multiple times in parallel"
**Do you want to request a *feature* or report a *bug*?**
A bug.

**What is the current behavior?**
When asynchrously saving the same document twice, if the document had leftover atomics from before the first save, the second save will cause an error that crashes the node process completely; no matter how much error catching is done. The full error + stack is;
[code]

**If the current behavior is

[2018-05-10 20:32] #6362 closed

[2018-05-10 20:32] #6164 closed

[2018-05-10 20:33] #5966 closed

[2018-05-10 20:33] #5813 closed

[2018-05-10 20:33] #681 closed

[2018-05-10 20:48] vkarpov15 commented on #6409
What do you mean "make it worse", do you get more timeouts?

Do you have a standalone server, replica set, or sharded cluster?

Also, try [turning off buffering](http://mongoosejs.com/docs/connections.html#buffering) and [setting `bufferMaxEntries` to 0](http://mongoosejs.com/docs/connections.html#options):

[code]

This will turn off all operation buffering and make mongoose fail fast when it isn

[2018-05-10 20:56] vkarpov15 commented on #6428
Typo in your `geoOptions`:

[code]

Change that to:

[code]

[2018-05-10 20:56] #6428 closed

[2018-05-10 21:00] vkarpov15 commented on #4362
Not necessarily, mongoose has a lot of places where the document doesn't represent the exact data stored in the db: getters, virtuals, etc. Either way, we assert on this behavior and changing it would break a lot of people's code, so we won't change it unless there's a lot of demand to change it. Here's a workaround:

[code]

This will make it so that `createdAt` is only set when saving to the dat

[2018-05-10 21:02] vkarpov15 commented on #6432
Thanks for reporting, will investigate ASAP

[2018-05-10 21:04] vkarpov15 commented on #6433
Good suggestion :+1: We'll put it in the error message itself as well as in a property on the error object

[2018-05-10 21:06] paglias commented on #6433
I've been looking at mongoose's internals and if you want I can publish a PR in the next few days

[2018-05-10 21:07] vkarpov15 commented on #6433
Yeah go for it. Let me know if I can provide any guidance.

[2018-05-10 21:27] lineus commented on #6449
@kessiler this is not an issue in 5.1. Can you test it with 5.1 and let me know if upgrading works for you?

### output with 5.1
[code]

[2018-05-10 22:29] javiercbk commented on #6449
@lineus upgrading to 5.1.0 worked for me

[2018-05-11 02:58] thaoula commented on #6362
Hi @vkarpov15,

Is this now available on 5.1?

Many thanks for this.

Regards,
Tarek

[2018-05-11 05:54] kessiler commented on #6449
hi @lineus, it works with 5.1.0.

[2018-05-11 06:30] i0natan commented on #6424
Sorry: https://github.com/i0natan/nodebestpractices

[2018-05-11 11:01] vascofg commented on #6451
OK please find attached the code:

[code]

And the output:

[code]

As you can see the problem is with nested populate. This happens since `5.0.18` but not in `5.0.17`.

[2018-05-11 11:25] lineus commented on #6451
Thanks for the repro script @vascofg. I'll sort this out ASAP.

[2018-05-11 11:28] valterkraemer opened #6457 "RefPath problem in embedded schema when no items in array"
When `references` in `post2` is commented out I get the following error: `Schema hasn't been registered for model ""`

[code]

Gives the error:
[code]

Mongoose: 5.1.0
MongoDB: 3.6.3
Node: 8.9.4

[2018-05-11 13:57] #6451 closed

[2018-05-11 14:14] rags-2-riches opened #6459 "Mongoose 5.0.15 / MongoDB 3.6.4 Cast to Array Failed for value [NaN, NaN]"
**Context**
I am developing a location-based application in two different OS, Windows 8.1 and Linux/Ubuntu (16.4)
The following engines are running in the Ubuntu machine; however, the error I get is exactly the same regardless of dependency version or OS.

Node.js ~4.2.6
NPM ~ 3.5.2
MongoDB ~ 3.6.4
Mongoose ~5.0.15

**What is the current behavior?**
I am getting this error, despite days researchin

[2018-05-11 15:30] lineus commented on #6456
@GilbertGobbels see [this comment](https://github.com/Automattic/mongoose/issues/4064#issuecomment-380521818) on #4064.

**TL;DR** Calling `.save()` on the same doc more than once in parallel might eventually throw a more specific error and generally speaking should be avoided.

[2018-05-11 15:46] Matheus-Ribeiro95 commented on #6454
I found the problem, i was trying to access the errors object from an async validator in schema, but it still a strange bug, because the console log contain the errors object normally, but i can't access it, besides, trying to access it from function in Express route was possible.
Anyway this is a bug confirmed.

Thanks adv.