[2018-02-11 18:26] lustoykov commented on #6065
I can confirm incredibly slow performance for mongodb 3.6.2 and mongoose 5.0.4, SSL is on, virtually no entries in the database, a simple request takes about 200-500ms for EC2 to EC2 instance. I'm unfortunately not able to isolate the issue more than that. Previously mongoose 4.X worked just fine.

[2018-02-11 18:34] mrkmrtns commented on #6065
One more comment from my side, first server (standalone server, which has no issues with new driver) is not using SSL. Secondone is using SSL (replicaset, which has issues with new driver). So it can be in my case also SSL related or replicaset related or both.

[2018-02-11 21:19] dewwwald commented on #4258
I can't seem to figure out if this has now been made possible from the commits. I don't see a command to close the cursor.

[2018-02-11 21:24] varunjayaraman commented on #6085
if you want to unset the value you can do `findByIdAndUpdate(doc._id, { $unset: { pathToField: '' } })`

[2018-02-11 21:28] varunjayaraman commented on #6086
@evanhenke im aware of that actually, in this case though it will just append the string `'c,d'` if you use `$addToSet` with an array.

The bug here is that it seems to be treating strings and numbers differently. While the first case(with strings) appends a joined version of the string with a `,` delimiter, the second case (with numbers) clears the array entirely

[2018-02-11 21:28] varunjayaraman commented on #6087
yeah i was posting that more as a proof of concept of how it would work under the hood :)

[2018-02-11 21:30] wentout commented on #6102
Look
arrayOnTop : [{type: String, enum...}] -- // array is at the top level
the value with an array will "arrayOnTop"

arrayDigIn : { arr : [String], enum...} -- // array is on the nested level
the value with an array will be arr, therefore "arrayDigIn.arr" -- will be full path.
or, if you prefer PHP notation arrayDigIn -> arr

that is that difference, the nested level matters, and enum must be on

[2018-02-11 21:32] varunjayaraman commented on #6097
yup this looks like a confirmed bug:

[code]

This should not throw with the following error:

[code]

As a workaround for now I'd suggest merging the objects manually before passing it to `.where`

[2018-02-11 21:35] varunjayaraman commented on #6102
yeah I think I agree with @wentout  here but i will label this as a discussion. I suppose @TrejGun has a point that if you put `enum` on the top level of a field that has the type `[String]` we should assume `enum` applies to values inside that string.

Thoughts @vkarpov15 ?

[2018-02-11 21:38] varunjayaraman commented on #6105
I suppose we could just wrap the value in an array if its an object

[2018-02-11 21:40] varunjayaraman commented on #6108
Can you confirm that its getting to `user.save()` ? Maybe putting a log right above it? Also can we see the schema?

[2018-02-11 21:41] varunjayaraman commented on #6111
thanks for reporting

[2018-02-11 21:42] wentout commented on #6102
And what it will be then?

[code]
?

[2018-02-12 00:50] evanhenke commented on #6086
Ah, my mistake. I guess I don't know how to read.

[2018-02-12 00:56] vkarpov15 commented on #6064
As a workaround, `clone()` the schema before passing it into `discriminator()`

[code]

[2018-02-12 01:15] #6064 closed

[2018-02-12 01:26] vkarpov15 opened #6122 "mongoose 4.13.10/5.0.2 breaks certain discriminator functionality"
Re: #6064, but for 4.x

[2018-02-12 01:27] #6122 closed

[2018-02-12 01:44] #3781 closed

[2018-02-12 11:39] bohdan-romanchenko-axon opened #6123 "Empty promise on calling discriminated model's method validate/save"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
On calling discriminated model's method `validate` it returns empty Promise

**If the current behavior is a bug, please provide the steps to reproduce.**

"Parent" Schema:
[code]

"Child" Schema:
[code]

Steps to reproduce:
[code]

**What is the expected behavior?**
Callback executed or promise returne

[2018-02-12 12:06] wentout commented on #6102
Hi ^)
Oh, sorry for that PHP joke, I'm not a fan of this lang too.
Ok, I see the reasons of high level enum for validation nested arrays.
But i'm unable to separate it in my head. May be then to use another keyword, or invent something extra-additional, for example -- plugin? And, i think then there are a lot of variants for this case: pre-compilation, as you say, validation, default values, mixin

[2018-02-12 19:55] skinnn commented on #2471
I fixed the E11000 duplicate key error indexes with: new Schema({..}, { **autoIndex: false** });

When your application starts up, Mongoose automatically calls createIndex for each defined index in your schema. Mongoose will call createIndex for each index sequentially, and emit an 'index' event on the model when all the createIndex calls succeeded or when there was an error. While nice for develo

[2018-02-12 20:31] #6097 closed

[2018-02-12 20:34] vkarpov15 commented on #5982
Good idea, this would work

[code]

[2018-02-12 20:41] lineus commented on #6087
@JonathanZWhite, @rawalyogendra  asked about this on the gitter.im channel for mongoose as well. I wrote a wrapper around the mongoose.model that works pretty well so far, at least in the interim while new features are developed in mongoose 5. [here is a gist](https://gist.github.com/lineus/a739d5c4b9c34f45da793191c5cf7cc2) . I'm pretty new to javascript and mongoose, so I'd like to know if this i

[2018-02-12 20:51] vkarpov15 commented on #5934
Is it a major problem that your client can figure out which fields are populated and which are not? That doesn't sound too bad to me. You can also give the client the opportunity to specify whether they need the whole doc or just the ID. Also, you can `populate()` multiple virtuals the same way you `populate()` multiple normal fields, no difference between the two.

[2018-02-12 20:53] vkarpov15 commented on #6106
Yeah I hope it gets added to the srv spec too, thanks for suggesting it. It is extremely weird that it isn't in there already, but you can work around it with this `dbName` option for now :+1:

[2018-02-12 20:53] vkarpov15 commented on #6111
Duplicate of a bunch of issues, we're working on bringing plugins.mongoosejs.io back

[2018-02-12 20:53] #6111 closed

[2018-02-12 20:56] juampi92 commented on #5982
@vkarpov15 not really..
Sometimes the parameters are only for inserting the query, and then we use chainable methods to specify other params, like `sort()`, `select()`, etc.

Also, the last argument might be the callback. So you shouldn't assume that `then` would always work.

http://mongoosejs.com/docs/queries.html -> Check out those examples and you'll know what I'm saying

[2018-02-12 20:59] vkarpov15 commented on #4037
Can you provide some examples?

[2018-02-12 21:01] vkarpov15 commented on #6052
@dlipovac012 try `await Mongoose.connect('mongodb://admin:1234@server-db:27017/server-db?authSource=test')`

[2018-02-12 21:03] vkarpov15 commented on #5267
@markstos I wish I could, not possible to delete issues on github :(

[2018-02-12 21:08] vkarpov15 commented on #6112
Thanks for reporting, will investigate asap :+1:

[2018-02-12 21:10] vkarpov15 commented on #6113
Thanks for reporting, will investigate asap

[2018-02-12 21:11] r3wt commented on #4037
No

On Feb 12, 2018 2:59 PM, Valeri Karpov <notifications@github.com> wrote:

Can you provide some examples?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Automattic/mongoose/issues/4037#issuecomment-365059801>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AERo_cdym9iIs4Fc3uV01rcYXmuEJp8eks5tUKYpgaJp

[2018-02-12 21:13] vkarpov15 commented on #4064
@chaddjohnson there shouldn't be any difference between the two. Can you clarify what error message you're getting?

[2018-02-12 21:13] r3wt commented on #4037
You know what bugs it causes. Don't be dishonest and play stupid. It causes bugs if you expected the property to not be set,but instead its an empty array.

On Feb 12, 2018 2:59 PM, Valeri Karpov <notifications@github.com> wrote:

Can you provide some examples?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Automattic/mongoo

[2018-02-12 21:19] vkarpov15 commented on #6116
@h2non you shouldn't use `user.events.save()`, use `user.save()` instead. `user.events.save()` is a no-op.

Below script works for me:

[code]

[code]

[2018-02-12 21:19] vkarpov15 commented on #6116
See http://mongoosejs.com/docs/subdocs.html

[2018-02-12 21:22] vkarpov15 commented on #6118
The particular quirks are really difficult to enumerate because we ripped out a lot of legacy baggage in favor of something that defers to the [mongodb driver's `MongoClient.connect()` function](http://mongodb.github.io/node-mongodb-native/3.0/api/MongoClient.html#connect). There aren't any intended breaking changes as long as you're connecting using a connection string.

[2018-02-12 21:22] #6118 closed

[2018-02-12 21:23] vkarpov15 commented on #6117
@markstos can you show your connection logic with the sensitive credentials omitted?

[2018-02-12 21:25] vkarpov15 commented on #6120
Do you have indexes on your `foreignFields`? Also, how are you determining that the time is spent in node as opposed to waiting for the query to respond?

[2018-02-12 21:27] vkarpov15 commented on #6121
@JonathanWilbur can you modify @lineus ' script to reproduce your issue?

@lineus thanks for your help! Are you on the mongoosejsteam.slack.com slack channel?

[2018-02-12 21:28] vkarpov15 commented on #6065
@lustoykov is this performance regression sustained or does it just happen on the first couple requests?

[2018-02-12 21:31] vkarpov15 commented on #6105
Yeah you need to do `Subscriptions.aggregate([{ $match: match }, { $group: group }])` instead, mongoose 5 dropped support for passing a spread to `aggregate()`: https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#aggregate-parameters

[2018-02-12 21:31] #6105 closed

[2018-02-12 21:33] vkarpov15 commented on #6123
Will investigate, but first, a question: why are you using `promisifyAll()`? Mongoose returns promises from every function call anyway, and I suspect this might have something to do with the issue you're seeing

[2018-02-12 21:36] vkarpov15 commented on #6102
The correct way to do this is:

[code]

but I agree this is a bit of a gotcha. Will fix :+1:

[2018-02-12 21:37] vkarpov15 commented on #5982
Ah yeah that's right, I keep on forgetting about that.

[2018-02-12 21:39] vkarpov15 commented on #4037
Not trying to be dishonest or stupid, just constructive. I can see it causing bugs, but it also has been a part of mongoose since the beginning, it enables you to use arrays immediately without having to check for existence, and if you don't like it there's an easy one-line workaround.

[2018-02-12 21:40] lineus commented on #6121
@vkarpov15 not yet :)

[2018-02-12 21:41] h2non commented on #6116
The problem I was using `Document#set` and that re-recreated sub-documents with different IDs.

Thanks for the help!

[2018-02-12 21:41] #6116 closed

[2018-02-12 21:44] chaddjohnson commented on #4064
@vkarpov15 Thanks for the wonderful library. It's fantastic.

So, very occasionally I get errors like this:

[code]

[code]

When this happens, it happens when I call `.save()` on a model instance. I have no solid leads as to the cause. The only things I can think of are:

1) I am using `usePushEach` for every model.
2) I sometimes bypass Mongoose `.save()` to prevent triggering post save hooks, l

[2018-02-12 22:07] markstos commented on #6117
We have a web app which connects to the database once at boot with a `mongoose.connect(...)`. Our connection options looked like this:

[code]
What's more unique about situation is that we host about *120* copies of the web app configured that way, all pointed to the same MongoDB cluster. All the copies are due various customer configurations, plus redundancy across multiple servers.

As we looked

[2018-02-13 02:00] daguej opened #6124 "Model#replaceOne with binary value throws error"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[code]
results in one of these errors:
[code]
- can't pin down exactly what causes one or the other to appear
- `SomeModel.update(...)` works

**What is the expected behavior?**
It works.

**Please mention your node.js, mongoose and MongoDB version.**
node 8.4.0
mongoose 4.13.11 and 5.0.4
mongodb 3.4.7

[2018-02-13 02:04] Akta3d opened #6125 "How to use parameter in pre save middleware"
In mongoose 4.11.13 I use

[code]

How to perform this with mongoose 5.x, node 8.9.4

[2018-02-13 02:31] gilles-yvetot opened #6126 "Updating large embedded array"
With the latest version of mongoose (currently `5.0.4`), `document.save()` takes way more time and sometimes times out when updating a large array of embedded documents. It used to work perfectly with the version 4 but not anymore. I know it is not recommended to have arrays that big, but you know how it is when they keep changing the specs

The workaround I found is to perform another query inste

[2018-02-13 05:04] #6059 closed

[2018-02-13 05:13] johnantoni opened #6127 "default value for linked models?"
Little question, when defining your model's and you have a table attribute linking to another table what should I set the default value to?

[code]

Some people say to set it as a number which kind of makes sense:

[code]

What's recommended?

Thanks,

[2018-02-13 05:35] makinde commented on #6120
I do have indexes on the foreign fields. Note, in my example in the gist, I'm not actually populating the virtual fields. When i remove those virtual fields from my schema, the instantiation of the member objects becomes much faster. I've also been able to slow down my other schemas by adding bogus virtual populate fields (that are never used in the rest of the codebase).

I'm relying on a couple

[2018-02-13 06:28] HenrikGr opened #6129 "Unhandle promise rejection - chainable populate - bug?"
I'm using mongoose 5.0.4, node.js 8.9.4 and have a problem that I may think is a bug?
I'm getting an Unhandled promise rejection when Mongoose tries to insert the client via populate in the getAccessToken async function.

I would appreciate any help.

[code]

The log/output/error message I get is this:

[code]

My schema looks like this;

[code]

[code]

[2018-02-13 07:51] lustoykov commented on #6065
@vkarpov15 it is sustained

[2018-02-13 08:11] hilkeheremans commented on #6065
I'm willing to try and reproduce these issues in a public repo this week, which should sufficiently establish the issue & help everyone trace the problem more precisely.

Proposed test cases:
- Drivers: raw mongodb driver, `2.x` vs `3.x`, Mongoose `4.x` vs `5.x`
- Database configurations:
   - MongoDB single instance, local (Docker)
   - MongoDB single instance, remote server (Docker)
   - MongoDB

[2018-02-13 08:17] mrkmrtns commented on #6065
@hilkeheremans maybe split single instance also by no SSL and SSL case

[2018-02-13 09:21] bohdan-romanchenko-axon commented on #6123
@vkarpov15 Thanks for your response.

Bug reproduces anyway (with or without `promisifyAll()`)

[2018-02-13 12:30] lineus commented on #6124
I was able to verify this thusly:

[code]
output:
[code]

using another schema with just strings (having added some logs to castUpdate) here's what I see:

working:
[code]

with original buffer type:
[code]

I think the culprit is `var ops = Object.keys(obj)` at the beginning of castUpdate not playing nicely with Buffer. I don't quite have enough experience (YET!) to offer a solution, but I hope t

[2018-02-13 13:11] RahulSaini202 commented on #6109
Try to include the field which needs to be updated instead of whole object.

[2018-02-13 15:26] OmisNomis opened #6131 "error event not triggered"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The error event on `mongoose.connection.on('error')` is never triggered, when it was on previous versions. For example:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

- Start a docker container running Mongo
- Run the application
- Amend the network to 'none'
-

[2018-02-13 17:36] lineus commented on #6125
here is your code running only slightly modified:
[code]
and the output:
[code]
Please feel free to close this if it has answered your question.

[2018-02-13 18:46] pronebird opened #6132 "near does not seem to work"
I have a very simple piece of code that doesn't seem to work with mongoose v5:

Works with mongo:
[code]

Does not work with mongoose:

[code]

Used in both cases as:

[code]

Wat?

[2018-02-13 18:59] lineus commented on #6127
@johnantoni In my experience so far ( in the docs and issues here ), I haven't seen the default field set on a reference. Being unaware of your use case, it's kind of hard to imagine a scenario where the specific "falsey" value held there would make much difference unless you were specifically looking for it in your implementation. **It's safe to just add the reference to the schema without the de

[2018-02-13 19:06] johnantoni commented on #6127
Thanks @lineus you're probably right. I'll try without and see how that goes, thanks

[2018-02-13 19:06] #6127 closed

[2018-02-13 19:18] asabhaney opened #6133 "Cloning a schema does not seem to clone virtuals"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When cloning a schema, virtuals defined on the original schema do not seem to be copied over to the new schema.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**Please mention your node.js, mongoose and MongoDB version.**
node 8.9.4, mongoose 5.0.4 (also tested a

[2018-02-13 19:19] asabhaney commented on #6064
Thanks @vkarpov15. That's what I was doing as a workaround, but ran in to an issue with cloning which have just filed here: https://github.com/Automattic/mongoose/issues/6133

Thanks for the quick fix!

[2018-02-13 19:34] lineus commented on #6131
here's the code I used to test this:
[code]
5: nvm current
v9.2.0
5: grep version ../node_modules/mongoose/package.json
  "version": "5.0.4"
5: ./6131.js
rick says:
never gonna give you up.
rick says:
never gonna let you down.
rick says:
never gonna run around and desert you.
rick says:
never gonna get real far.
5:
[code]

[2018-02-13 20:54] vkarpov15 commented on #6117
Glad that's working out for you, let me know how that goes. If there's more problems, I'll investigate more.

[2018-02-13 20:57] vkarpov15 commented on #6126
Did you use the `usePushEach` option in when you used 4.x? One big change in 5.x was that we started using `$push: { $each: [] }` instead of `$pushAll`, so that is one possibility.

Also, do you have a way to identify whether this extra time is in mongodb or in nodejs?

[2018-02-13 20:59] vkarpov15 commented on #6120
Thanks for clarifying, will investigate. Can you provide a standalone script that shows the slow code? That will help speed things up.

[2018-02-13 21:02] vkarpov15 commented on #6129
The promise rejection error says "debug is not defined". Are you sure you've done `const debug = require('debug')` in this script?

[2018-02-13 21:05] chaddjohnson commented on #4064
@vkarpov15 Here you go:

An instance method within a class (note the comment `THE ERROR IS TRIGGERED HERE`):

[code]

Within my `Shop` model (which calls the method):

[code]

[2018-02-13 21:06] vkarpov15 commented on #6065
@hilkeheremans I'd focus on mongodb single instance, remote server with Atlas, and answering the question of which queries are slower. Single instance vs replica set, SSL vs not, local vs remote, I have a feeling that those distinctions are beside the point here.

[2018-02-13 21:10] vkarpov15 commented on #6123
@bohdan-romanchenko-axon below script works fine for me with mongoose 5.0.5. Please modify the below script to reproduce your issue.

[code]

Prints:

[code]

[2018-02-13 21:16] HenrikGr commented on #6129
Hi, this can be closed since it works now.

What was missing in the description was that I did not post my code that logged this line;

Mongoose: users.insert({ admin: false, _id: ObjectId("5a82825b82b5ad5ec43b3566"), username: 'henrik@test.se', password: '$2a$10$rTHP5cqRM28MX7kUiuiHPeV6kIK1GTwZG3mbKK7/phDJlB2tQKgua', __v: 0 })

I totally missed that and since I lack knowledge about mongoose. I th

[2018-02-13 21:18] HenrikGr commented on #6129
One question. I can se you edited my post to reformat the code.
Where can I learn to post code in the format since I never succeed. :-)

[2018-02-13 21:35] JasonCust opened #6134 "Possible issue with modifiedPaths for subdocuments"
**Do you want to request a *feature* or report a *bug*?**
This is similar to a current open bug: #5904

**What is the current behavior?**
Currently, if a subdocument is modified the full path is included in `doc.modifiedPaths()` whereas if the property was modified via replacing a subdocument only the subdocument path is included.

**If the current behavior is a bug, please provide the steps to re

[2018-02-13 21:50] #6086 closed

[2018-02-13 21:50] gilles-yvetot commented on #6126
No

I can try to reproduce your model.save method and see what's happening, what do you think ?

[2018-02-13 21:51] vkarpov15 commented on #6086
@evanhenke is right in that this needs to be `{ $addToSet: { numbers: { $each: [3, 4] } } }`. With this fix, mongoose will cast `{ $addToSet: { numbers: [3, 4] } }` to `{ $addToSet: { numbers: { $each: [3, 4] } } }`. Mongoose is not emptying out the array in the mongodb server, just mongoose gives up because it doesn't know what to do with `[1, 2, [3, 4]]` as a value for `numbers`.

[2018-02-14 00:18] lineus opened #6135 "5.0.5 API Docs are incomplete."
@nfearnley on gitter.im pointed out that the api docs are only showing the model docs.

She pointed to this file: [link](https://github.com/Automattic/mongoose/blob/f90244f029d26401ff402fe8b813d54d61803642/docs/source/api.js#L15)

[2018-02-14 07:40] sidgujrathi commented on #2199
This issue is still exists.
I am using `-- mongoose@4.13.11` and my query with $elemmatch still fires date as string and not as Date()

Did I missed something or do I need to install any different version?

[2018-02-14 08:29] OmisNomis commented on #6131
Hi Lineus,

Firstly; this is the code I was using (I wasn't using promise chains).

[code]

If I copy and paste your example then it works as expected.

However, if I use a similar syntax (code below), run the application, and then drop database from the network it is not triggered (because the callback has already run).

[code]

So while the callback method will work to catch errors on initial co

[2018-02-14 08:49] OmisNomis commented on #6131
As an additional point - I tried the following code and the `readyState` does not change from 1, even when the network is dropped.

[code]

[2018-02-14 09:11] OmisNomis commented on #6131
I just debugged a little bit and I can see that when the database is dropped from the network the `timeout` event is emitted instead of the `error` event.

This is in `lib/connection.js`.

[code]

Is this by design?

[2018-02-14 12:01] ypanyukov commented on #6034
I found! And Fully understand this bug

[code]

[2018-02-14 14:17] Zwimber commented on #6132
Might have to do with:

https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#geonear

And

https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#geonear

[2018-02-14 14:19] lineus commented on #6131
@OmisNomis I apologize for not catching the order of operations in your initial report.

losing your connection to mongodb server after initial connection seems to result in a close event being emitted only if useMongoClient !== true.

In mongoose 4 :
[code]
**in all following examples, I kill (^c) mongodb server after connection is made**
output:
[code]
after adding useMongoClient: true to mongoo

[2018-02-14 14:22] pronebird commented on #6132
@Zwimber I don't think there is a single mention of `$geoNear` in this issue. Have you mistakenly posted a comment in the wrong thread?

[2018-02-14 14:33] sdctm commented on #6131
Thank @lineus  but it's not the `close` event I'm having issue with (mainly because it throws the `disconnected` event if you kill the Mongo server after connection has been made.

The event that isn't being triggered is the `error` event.

[2018-02-14 14:34] OmisNomis commented on #6131
Thank @lineus  but it's not the `close` event I'm having issue with (mainly because it throws the `disconnected` event if you kill the Mongo server after connection has been made.)

The event that isn't being triggered is the `error` event.

[2018-02-14 14:49] lineus commented on #6131
I can't believe I didn't know (forgot?) about the disconnected event! I also can't believe it was in your comment above the whole time and I missed it :) thanks for being so patient while I learn this stuff @OmisNomis. I'll leave it to @vkarpov15 or @varunjayaraman to answer your question.

[2018-02-14 14:59] OmisNomis commented on #6131
Don't worry about it @lineus - we all have those moments, and we all have to learn. I'm happy to do some more debugging my side if it helps; I just thought I'd post it here in case the `error` event had been removed on purpose (maybe in favour of `timeout`?)

[2018-02-14 17:06] workfel opened #6137 "CastUpdate always generate error even if no error happen - bug"
Hi all,
I'm using Mongoose 4.13.6, node 8.6.0 and i have a problem with mongoose and azure app-insights.

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
I activated app-insights on my app, and when i test my application, app-insight throw an error on my all mongoose update.

I debug mongoose and i found in `castUpdate.js` file this (line 105) .
[code]

[2018-02-14 18:26] JonathanWbn opened #6138 "Default not used when value is null"
I want to report a bug.

**Current behaviour:**
When updating a Document with a property's value being `null` and that property being defined with `required: true` and `default: {DEFAULT_VALUE}` in the Schema, the default Value is not replacing `null`.

**How to reproduce:**
[code]

**Expected behaviour:**
The default property should replace `null`. (`dog.name` should equal `'Bello'`)

mongoose: 4

[2018-02-14 19:11] lineus commented on #6138
Hi @JonathanWbn can you provide the part of your code that declares what Schema is?
```const Schema = ?``` if it's being required from a module, please include the module code as well.  Thanks!

[2018-02-14 19:54] vkarpov15 commented on #6124
Thanks @lineus , I've been able to reproduce. Will fix asap :+1:

[2018-02-14 20:57] JonathanWbn commented on #6138
Hi @lineus, my bad, the complete version would look more like this:
[code]

[2018-02-14 22:02] #6102 closed

[2018-02-14 22:12] vkarpov15 commented on #6045
https://github.com/Automattic/mongoose/blob/master/CONTRIBUTING.md#documentation

[2018-02-14 22:12] #6045 closed

[2018-02-15 00:03] TrejGun commented on #6102
@vkarpov15 thanks

[2018-02-15 02:04] lineus commented on #6138
No worries @JonathanWbn. Here is my implementation of your code:
[code]
and it's output:
[code]
attempting to overwrite an existing Model ( Dog in this case ) results in an OverwriteModelError so the findAndUpdateOne never runs.

[2018-02-15 02:47] jsMichot commented on #2232
I'm trying to prevent duplicate events from going into the events array. This is NOT working: ```const feedbackSchema = mongoose.Schema({
  pros: String,
  cons: String,
  journal: String,
});

const eventSchema = mongoose.Schema({
  title: String,
  category: String,
  tag: String,
  description: { type: String, index: true, unique: true },
  feedback: [feedbackSchema],
  timeStart: Date,
  timeE

[2018-02-15 02:48] jsMichot commented on #2232
I'm trying to prevent duplicate events from going into the events array. This is NOT working:
[code]

[2018-02-15 02:50] jsMichot commented on #2232
I'm trying to prevent duplicate events from going into the events array. This is NOT working:
[code]

[2018-02-15 06:18] rkm660 commented on #4064
For me, the easiest workaround was to use "insertMany" with an array of one doc. Logging my schema object showed no save function for some reason.

[2018-02-15 09:21] lineus commented on #6132
@pronebird can you please elaborate on what you mean by "Does not work with mongoose"? Are you getting an error, is nothing happening? It would help to know your versions of mongoose, mongodb server, and node as well.

[2018-02-15 09:28] JonathanWbn commented on #6138
Thank you.
But I'm not sure if that covers what I was actually trying to do:
In my real life code, I am not defining a new Schema, but updating the old one. I'm not sure how I can put that into a script, tho.

[2018-02-15 09:30] pronebird commented on #6132
@lineus no results.

[2018-02-15 10:01] lineus commented on #6133
Thanks for the complete repro script @asabhaney !!!!
verified:
[code]
in schema.js:
[code]
and schema.test.js:
[code]

@vkarpov15 I can tackle this as long as the exclusion of virtuals wasn't intentional.

[2018-02-15 10:34] lineus commented on #6132
@pronebird is it possible for you to provide a minimal (but complete) example of this? also, I'm curious, are you running this against a sharded collection?

[2018-02-15 11:18] ivinjose opened #6139 "insertMany doesnt return _id of the saved documents in the result?"
mongoose: 5.0.5
node: 6.9.1

On doing insertMany(<list of objects>), the result field **doenst show the _id field**. Instead it returns __v field.

On giving _rawResult: true_ in the options field, it returns the _id field in the result.ops along with rest of the data.

Why the _id field being ignore in result, and what is __v? And can it be obtained without giving rawResult: true?

Thanks.

[2018-02-15 11:28] lineus commented on #6138
@JonathanWbn What is the impetus for updating the existing schema?

Describe the problem you're trying to solve in more detail and let's see if we can sort it out.

[2018-02-15 11:33] ivinjose commented on #6139
It was happening because I was specifiying _id field in the Schema. On removing it, mongoose started returning it in the result automatically.

Closing the issue.

[2018-02-15 11:33] #6139 closed

[2018-02-15 11:39] JonathanWbn commented on #6138
Sounds good, I am basically trying to manage the migrations of schemas that I am using.
For example, when I am adding a new property to my schema, say, an object, and I then update a document that was created with the old Schema, I want to avoid errors. To achieve this, I want to figure out how to set the correct defaults to always get a document that has the shape of the new schema.

I would also

[2018-02-15 11:43] pronebird commented on #6132
@lineus I just realized I forgot to give it a field with `where` clause. WTH it was looking for LOL. Case closed thanks for bearing with me.

[2018-02-15 11:43] #6132 closed

[2018-02-15 11:52] lineus commented on #6138
That's an interesting scenario, one that I personally have not encountered yet. #3340 seems to be doing something similar but instead of keeping the docs in the same collection, they're migrating to a new one. Is this an option for you?

[2018-02-15 15:57] maloguertin opened #6140 "Mongoose not reconnecting when MongoDB driver does"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When connected to a Mongos container that is restarted Mongoose never reconnects.
I make sure to pass these options:
[code]

However the logs show me that the driver does reconnect:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**1** Run a nodeJS app that connect

[2018-02-15 16:39] JonathanWbn commented on #6138
Interesting! I like the idea. But I would like this migration to take place `as I update`. This would mean that given a Document id, I would have to know which version of the schema this is on, to get the correct version, right? Is there a smart way of using this technique to migrate 'on the fly'?

[2018-02-15 19:45] maloguertin commented on #6140
I did some digging around in the drivers code and this is what I found:

mongodb-core/lib/topologies/mongos.js
[code]

After a disconnect the self.isConnected() check never evaluates to true, therefore the reconnect event is never fired.

[2018-02-15 21:04] vkarpov15 commented on #6125
I don't understand what you're trying to do, but your syntax is very wrong. Your function signature should be:

[code]

To access the current user that is being saved, you should use `this`.

[2018-02-15 21:05] vkarpov15 commented on #6129
https://guides.github.com/features/mastering-markdown/

[2018-02-15 21:06] vkarpov15 commented on #6134
Thanks for reporting, will work on a fix but currently behind on issues so please be patient :+1:

[2018-02-15 21:06] vkarpov15 commented on #6126
"I can try to reproduce your model.save method and see what's happening, what do you think ?" can you clarify that statement? I don't understand

[2018-02-15 21:07] vkarpov15 commented on #6135
Fixed by #6136, thanks for catching, will push a release within the next 24 hours to fix

[2018-02-15 21:07] #6135 closed

[2018-02-15 21:08] vkarpov15 commented on #2199
@sidgujrathi please open up a separate issue with code samples. This particular issue is fixed, test case has been passing for years

[2018-02-15 21:12] vkarpov15 commented on #6137
We'll fix this for next release :+1:

[2018-02-15 21:14] vkarpov15 commented on #2232
@jsMichot have you read the FAQ on this? http://mongoosejs.com/docs/faq.html#unique-doesnt-work

[2018-02-15 21:14] vkarpov15 commented on #6133
Thanks for reporting, will fix ASAP :+1:

[2018-02-15 21:18] vkarpov15 commented on #6140
@maloguertin does this happen even if you don't use `useDb()`, or is `useDb()` necessary to reproduce this?

[2018-02-15 21:27] #6133 closed

[2018-02-15 21:34] #6137 closed

[2018-02-15 21:40] vkarpov15 commented on #4790
@KrishnanSriram I think you're getting confused because `Person.discriminator()` returns a **model** not a **schema**. Specifically, the below code is problematic:

[code]

Should be:

[code]

The below script works fine for me:

[code]

[2018-02-15 22:11] #6124 closed

[2018-02-15 22:35] daguej commented on #6124
Thanks for the quick fix!

[2018-02-16 01:59] abubakkarbutt opened #6141 "Model is setting sub document array as empty objects"
[code]
Result:
[code]
It works when I import mongoose with require()
`const mongoose = require("mongoose");`
I don't know what is causing different results

[2018-02-16 02:54] healyje commented on #6106
Seeing this as well. Pretty annoying, thanks for the workaround.

[2018-02-16 06:30] sidgujrathi opened #6143 "While querying an array of dates with $elemMatch, mongoose compares dates as string and not as Date"
I have array of dates store in collection and wants to query document using $elemMatch on dates, but whenever I am firing query, mongoose compares dates as String and not as Date()

Example:

I have following collection:

`"_id" : ObjectId("5a8442137c51100001b83757")
"financial_years" : {
        "from" : ISODate("2017-04-01T00:00:00.000Z"),
        "to" : ISODate("2018-03-31T00:00:00.000Z")
    }

[2018-02-16 08:32] Akta3d commented on #6125
I use this method since more one year and work fine with 4.11.12

The goal is to pass a parameter during call the save method.
Here my parameter is currentUserId, I want on each call to the save method, pass the current user Id which save the model.

I call the save method like this :
[code]

Now with mongoose 5.x it's not possible. I search a way to pass my parameter to the save method.
Have you

[2018-02-16 08:36] dsalunga commented on #5973
I'm getting the same error on Windows. The same data works fine on MacOS running MongoDB v3.4.9, mongoose@4.13.0.

On Windows 10:
MongoDB: mongodb-win32-x86_64-2008plus-ssl-3.6.2
Mongoose: v4.13.11
Node: v8.9.4

[2018-02-16 09:53] abubakkarbutt commented on #6141
I have to rollback to version 5.0.4 to fix the issue.

[2018-02-16 11:36] lineus commented on #6138
@JonathanWbn when I use mongoose to query mongodb ( findOne etc ), the document that gets returned is an instance of model. As far as I can tell, that instance of model is immutable. I can change values for keys that existed in the schema when it was compiled by mongoose.model() and save it, but not add new properties to it. Can you use a contrived example to demonstrate what you are doing with yo

[2018-02-16 12:02] glococo opened #6144 "Restricted field name "desc""
When connect a Model with a field name 'desc' without quotes, cannot get find() nor some other working functions:

Bug:
`const Objects = mongoose.model('objects', { name:String, desc:String } )
Objects.findOne().then(x=>console.log(x)) --> Returns nothing`

Works as expected:
`const Objects = mongoose.model('objects', { name:String, "desc":String } ) // Quotes
Objects.findOne().then(x=>console.log

[2018-02-16 12:23] dsalunga commented on #5973
I did some testing on Windows where I am experiencing the issue. Results are:

MongoDB 3.6.2, mongoose@4.13.11, **Error: YES**
MongoDB 3.4.9, mongoose@4.13.11, **Error: NO**
MongoDB 3.4.9, mongoose@5.0.6, **Error: NO**

In short, downgrading to MongoDB 3.4.9 fixed the issue.

Btw, my data was created in version of MongoDB below v3.6.2, most likely ~v3.4 on MacOS. I am exporting my data using npm m

[2018-02-16 14:34] s4rbagamble opened #6145 "Dates saved to non-strict sub properties not stored in Date format (5.0.5+)"
Using mongoose@5.0.6 and mongoDB v3.4 and node@9.5

There is a bug where saving a date that is not explicitly specified in the model's schema saves the date as a unix timestamp (Number) rather than as a Date.

This appears to have been introduced in mongoose@5.0.5

### Replication

Run the following script with mongoose@5.0.4 and 5.0.6

[code]

Output mongoose@5.0.6 and 5.0.5
[code]

Output mongoo

[2018-02-16 15:58] Fire-Brand opened #6147 "InsertMany promise rejections only get caught some of the time"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When parsing large CSV files to JSON (using [csvtojson](https://github.com/Keyang/node-csvtojson)), some promise rejection are not caught by `catch()` on `insertMany()` (E11000 duplicate key error ).
I can see that most duplicates errors rejections are caught, but sometimes one slips away and crashes t

[2018-02-16 19:39] lineus commented on #6141
I tried this and got the following results:
[code]
[code]
[code]
[code]

[2018-02-16 20:12] lineus commented on #6144
here is what I found when I tried this.
[code]
can you share a complete example that shows the behavior you are describing?

[2018-02-16 20:32] lineus commented on #6147
@Fire-Brand when you run this against your input, and it crashes, are you seeing the standard deprecation warning for uncaught promises? It seems inevitable that your .on('done') is going to run at some point with docs remaining in docsArr and there is no .catch on that insertMany().

[2018-02-16 20:34] abubakkarbutt commented on #6141
But then why it worked by just going back to version 5.0.4. I didn't have to change any code.

[2018-02-16 20:36] abubakkarbutt commented on #6141
By the way I am using OS windows 10.
Node version. 9.xx

[2018-02-16 21:14] lineus commented on #6141
@abubakkarbutt which transpiler (including version) are you using? I just chose babel arbitrarily.
[code]

[2018-02-16 21:40] abubakkarbutt commented on #6141
I am using
babel-core 6.23.0
babel-loader 7.1.2
webpack-preset.react-app 3.1.1

[2018-02-16 21:40] abubakkarbutt commented on #6141
I am using
babel-core 6.26.0
babel-loader 7.1.2
webpack-preset.react-app 3.1.1

[2018-02-16 23:09] vkarpov15 commented on #6145
Good catch, thanks for finding this :+1:

[2018-02-16 23:23] #6145 closed

[2018-02-16 23:56] vkarpov15 commented on #6113
Fixed, fix will be in 5.0.7 release :+1:

[2018-02-16 23:56] #6113 closed

[2018-02-17 02:15] Rowansdabomb commented on #6109
I too have this issue, same line of code.
C:\Users\Rowan\Onedrive\code\react\gradeable\frontend\node_modules\mongoose\lib\utils.js:417
throw err;

[2018-02-17 10:18] lineus commented on #6141
i found [babel-preset.react-app](https://www.npmjs.com/package/babel-preset-react-app) on npm but not webpack-preset.react-app. I tried transpiling with that preset and it didn't work at all:
[code]

are you getting any errors or warnings when you build?

Can you create a test folder and setup npm there to mirror your current build setup and then try to build just the one file (6141.js) from my fi

[2018-02-17 12:53] yuu2lee4 opened #6148 "populate is not a function"
when i use like this:
onst post = await Post.findById(id).populate('category');

if reported 'populate is not a function',

but when i use` find` or `findOne` insted:
const post = await Post.findOne({ _id: id }).populate('category', 'name');

it worked.

environment:
node:v8.9.3 mongoose: 5.0.6 macos10.13.3 koa:2.5.0 MongoDB shell version v3.4.0

[2018-02-17 13:54] aletorrado commented on #5438
Hi, is it safe now in v5 to do this? I'm stuck on 4.7 just because of this.

[2018-02-17 16:35] lineus commented on #6148
Hi @yuu2lee4 I tried to duplicate your issue using this contrived example:
[code]
In the case of both existing and !existing ids, populate is a function for me that as expected returns the following results:
[code]
Can you please provide a minimal but complete example that demonstrates the issue you're experiencing?

[2018-02-17 21:08] Fire-Brand commented on #6147
@lineus , you are absolutely right, spent so much time trying to make this work for mongoose 4 that, when i finally upgraded to 5, i missed that.
Thanks a lot!

[2018-02-17 21:08] #6147 closed

[2018-02-18 03:24] vkarpov15 commented on #6112
This is by design, mongoose allows multiple `push()` calls without version conflicts because `push()` gets translated to [`$push` on the mongodb side](https://docs.mongodb.com/manual/reference/operator/update/push/), which doesn't overwrite previous `$push` operations. Versioning is specifically to prevent issues where deleting element i of an array conflicts with a previous operation that affecte

[2018-02-18 03:24] #6112 closed

[2018-02-18 03:32] #6073 closed

[2018-02-18 18:31] elliotlings opened #6149 "Using Schema as a Model and Subdocument causes issues with populate."
Bug but possibly something I shouldn't be doing.
Mongoose 5.0.6
MongoDB 3.4.5
NodeJS 8.5.0

If I define a Schema and use it as both a Model and Subdocument it causes an issue when using populate.

For example in the following: MessageSchema is used as a Message model but also as a Subdocument of ConversationSchema under lastMessage.
[code]

Once `.populate('lastMessage.author')` is called on Conve

[2018-02-18 18:41] elliotlings commented on #6149
If I duplicate the MessageSchema, creating one of use by the Message Model and one as a Subdocument of Conversation, the problem goes away.

[2018-02-18 19:54] adamreisnz opened #6150 "TypeError: Cannot create property '_isAMomentObject' on number '1518982633564'"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Getting these kind of errors after upgrading to 5.0.0, originating from mongoose utils:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Still trying to work out what is causing this

**What is the expected behavior?**
I assume a unix timestamp is being passed somew

[2018-02-18 19:54] #6150 closed

[2018-02-18 20:13] JonathanWbn commented on #6138
What I wanted to achieve was that `null` values would be overridden with default values when they have a Type that is not `Object`. Now I learned that `null` is a valid value, so the desired behaviour cannot be expected and that makes sense.

I would still be very appreciative of any idea on how to tackle this scenario, but closing since this is not a bug.

[2018-02-18 23:02] saeedhei opened #6151 "Cast to ObjectId failed for value "76198769" at path "_id" for model "Message""
I have a normal _id for Message Schema and a custom Number _id For Person Schema,
How Should I Solve This Error when I use findById and save() in reference documents ?

**Person Schema:**
[code]
**Message Schema:**
[code]
**Code:**
[code]
**Error:**
`CastError: Cast to ObjectId failed for value "76198769" at path "_id" for model "Message"`

[2018-02-19 08:33] dlipovac012 commented on #6052
@vkarpov15 Nope.. Didn't work

[2018-02-19 09:28] #6138 closed

[2018-02-19 12:03] jsMichot commented on #2232
thank you, @vkarpov15 i wrote a function that solves the issue:
[code]

[2018-02-19 16:05] EmailDE opened #6152 "Cannot update single nested subdocument."
I want to update a single nested subdocument from its own 'save' middleware. It is just more convenient than doing it on its parent schema. Are there plans for this feature? Is this a bug? I hope there is a neat solution for this. I have also provided my approach below. I am using version 5.0.6 of mongoose. Thanks in advance :)

[code]

[2018-02-19 21:06] vkarpov15 commented on #6143
Thanks for reporting, will investigate asap. If you can create a standalone script that reproduces your issue that will save us some time :+1:

[2018-02-19 21:15] vkarpov15 commented on #6125
Oh yeah that's something we removed support for in mongoose 5 as part of #3232. In mongoose 5, you should attach your custom property to the `newCustomerToInsert` doc and then access it with `this` in the middleware.

[code]

[2018-02-19 21:15] #6125 closed

[2018-02-19 21:44] ayoubelmoudni opened #6153 ".create() returning plain object instead of model(function) in callback"
i'm creating a campground with Campground.create() and inside the callback i'm trying create and add a comment to that specific camground, can anyone help!!
Her's the code
`data.forEach(function (camp) {`
    `Campground.create(camp, function (err, addedCamp) {`
    `if (err) {`
    `console.log(err);`
    `} else {`
    `console.log(typeof (Campground)); // function`
    `console.log(typeof (camp

[2018-02-20 01:04] markstos commented on #6153
As seen in the Contributing guidelines, if you have a question about Mongoose, post it StackOverflow or Gitter: https://github.com/Automattic/mongoose/blob/master/CONTRIBUTING.md You should include the version of Mongoose you are using.

[2018-02-20 01:08] markstos commented on #6151
As seen in the Contributing guidelines, if you have questions about Mongoose, you should ask them on StackOverflow or Gitter: https://github.com/Automattic/mongoose/blob/master/CONTRIBUTING.md You should include which version of Mongoose you are using.

[2018-02-20 03:06] vkarpov15 commented on #6115
When you don't `populate('realm')`, `realm` is an ObjectId rather than an object, so accessing `.id` gets you the raw buffer. This is a little odd because mongoose adds a `id` virtual to docs that gives you the `_id` as a string. Changing either of those behaviors would be backwards breaking.

I definitely feel the pain of having to support digging out an `_id` whether or not the field is populate

[2018-02-20 03:37] saeedhei commented on #6151
Ok  @markstos , my version is upper than 5

[2018-02-20 03:37] #6151 closed

[2018-02-20 03:58] alexksso commented on #6115
Hi Vladimir,

I believe that any standardized method works,
Wether it spits out a buffer or a string, calling out for an id should
return a consistent answer.
Maybe a .idstring ?

Glad you got the idea though :)

On a side note, I found today another inconsistency:

Stuff =[objects]
Stuff.push creates inconsistant structures in Mongo wether objects is
populated or not

On Feb 19, 2018 7:06 PM, "Va

[2018-02-20 04:08] #6134 closed

[2018-02-20 04:12] vkarpov15 commented on #6134
I'm going to have to put this fix behind a flag (`modifiedPaths({ includeChildren: true })`) because the fix conflicts with the fixes for #4224. I can see both approaches being correct, even though in hindsight I think the right approach is for `modifiedPaths()` to include more paths rather than less.

In general, I think going forward we're going to make a stronger distinction between direct modi

[2018-02-20 05:45] diegohaz opened #6155 "Set function is bound to different objects depending on how it's triggered"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`this` inside the function passed to set in `schema.path().set(function() {})` is inconsistent. Sometimes it's the document, sometimes, the model. When it's triggered by `new Model({ foo: 'bar' })` or `Model.create({ foo: 'bar' })`, `this` is the model.

**If the current behavior is a bug, please provi

[2018-02-20 06:27] Akta3d commented on #6125
Ok thanks for your reply

[2018-02-20 08:42] simllll commented on #6065
I experience similar issues on my production environment since yesterday (mongodb with 2 shards, mongos running directly on the webservers). The only change that has been deployed to the webservers is that ulimit got increased (ulimit -HSn 20000) for mongos. I'm not sure if this is related, I will try to find some time to debug this today.

[2018-02-20 12:19] #6153 closed

[2018-02-20 18:36] Crystik opened #6156 "How to call a method in c"
Hello everybody😇

I am new here and I tried to start with mongoose os. I wants to read nec codes from an ir. But I don't know how I can call my method.

Thanks for your support
Crystik

[2018-02-20 18:47] alexksso commented on #6115
Hi Vladimir,

I believe that any standardized method works,
Wether it spits out a buffer or a string, calling out for an id should
return a consistent answer.
Maybe a .idstring ?

Glad you got the idea though :)

On a side note, I found today another inconsistency:

Stuff =[objects]
Stuff.push creates inconsistent structures in Mongo wether objects is
populated or not

You can see the result here:

[2018-02-20 19:25] vkarpov15 commented on #6141
I agree with @lineus , in order to reproduce this issue we're going to need your build configs and the commands you use to build, otherwise we're just taking shots in the dark.

[2018-02-20 19:28] vkarpov15 commented on #5438
@aletorrado no, mongoose 5 does not support modifying hooks after creating the model. The performance impact of allowing this is massive (orders of magnitude) for docs with lots of subdocuments. I hate using performance as a justification for less developer convenience, but in this case the performance gain is too significant to ignore.

[2018-02-20 19:30] vkarpov15 commented on #6149
Can you clarify what you mean by "no longer works"? Does some error occur? Or do you just get no documents?

[2018-02-20 19:34] vkarpov15 commented on #6152
Why don't you just do `++this.age` in the `pre('save')`? If you're in pre('save') mongoose is already going to save the document anyway, why do you need to do an extra update?

[2018-02-20 19:37] vkarpov15 commented on #6156
I think you're looking for this: https://mongoose-os.com/ , which is a different project.

[2018-02-20 19:37] #6156 closed

[2018-02-20 19:45] abubakkarbutt commented on #6141
Configurations are pretty much same as in create-react-app generated project.

[2018-02-20 23:19] EmailDE commented on #6152
This was just a concept. Maybe I should have provided a better example which made it more clear why I need to update the document. Lets assume that I want to increment the login attempts of a user and that I have more the one node application accessing the database. Hopefully now it is clear why I need to "update" the document rather than just "saving" it. There is a subschema handling the login a

[2018-02-21 02:52] vkarpov15 commented on #6115
Whoa that definitely shouldn't happen. Can you provide code samples that reproduce the "Stuff.push creates inconsistent structures" issue? If that's really happening, something is very wrong

[2018-02-21 03:04] vkarpov15 commented on #6131
The 'error' event is not emitted in either 4.x or 5.x when mongoose loses connection after initial connection was made. The 'error' event only gets emitted when the initial connection fails. Below is the output I get in 4.x when I kill the underlying mongodb database:

[code]

And 5.x:

[code]

Below is the script:

[code]

The 'close' event did change slightly in 5.x, right now we only emit 'clos

[2018-02-21 03:08] #5920 closed

[2018-02-21 03:08] #5989 closed

[2018-02-21 03:08] #6043 closed

[2018-02-21 03:09] #6053 closed

[2018-02-21 03:09] #6051 closed

[2018-02-21 03:17] vkarpov15 commented on #5849
Nope works fine for me, ran the function twice, once after a couple weeks:

![image](https://user-images.githubusercontent.com/1620265/36461482-827ac886-1672-11e8-8e67-95dab5b23c48.png)

and then after about 6 minutes:

![image](https://user-images.githubusercontent.com/1620265/36461477-76b01722-1672-11e8-8c17-2b0af5fac3d9.png)

First time the initial connection was `null`, which is expected, 2nd

[2018-02-21 05:58] bazineta opened #6157 "#5434 regression in 5.0.6"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
As in #5434, setters are being run twice during findOne().

**If the current behavior is a bug, please provide the steps to reproduce.**

See the repro in #5434; the same trace on the setter function demonstrates the issue; i.e., the setter function is called twice, once with the original inp

[2018-02-21 06:03] bazineta commented on #6157
I should add that in my test case differs slightly from the script in #5434 in that it does a find().exec(), while mine does a find().populate().exec().

[2018-02-21 06:26] bazineta commented on #6157
A further note that the presence or absence of populate() does not change the repro. The 'set' function is always called twice, and a mongoose debug trace does indeed show the result of the setter being called recursively as the parameter to the query.

[2018-02-21 09:38] OmisNomis commented on #6131
@vkarpov15 - Here's an example using version `4.9.5` of Mongoose. Note when I reference using Docker, I'll probably be using Kitematic so will give instructions for that...

- Create a docker container using `mongo:latest`
- Create a new project, with Mongoose version `4.9.5` and create an `index.js` file with the following code:

[code]

- Change the connection string to whatever port your Mongo

[2018-02-21 10:36] laino commented on #6109
@nparsons08 Ping. Can you tell us whether it did turn out to be an issue on your end, you found a workaround (besides downgrading to an earlier mongoose version), or you resolved it in another way?

[2018-02-21 11:03] phgroe commented on #6065
Performance degradation confirmed on one of our projects here where I tried to upgrade from 4.13.7 to 5.0.6, see above reference. The database test suite for all the models and DAOs takes more than twice the time to complete with a v5 Mongoose compared to before. This is running on a local v3.4.10 MongoDB.

[2018-02-21 15:17] viniciusrc15 opened #6159 "Finding By ObjectId as String in a Collection"
**Do you want to request a *feature* or report a *bug*?**

Can be seen as a bug or feature, not sure

**What is the current behavior?**

Think that i have one array with Strings, as hashids.

Example of Data
[code]

Then i search using mongo client and find results
[code]

When i find by mongo driver directly, i get results as well

[code]

But when i try to get using mongoose, i get NO results

[

[2018-02-21 15:36] CuReSoft commented on #6109
Same here and absolutely no way to track down.

The Error comes and goes.

![image](https://user-images.githubusercontent.com/3426508/36489007-323570ca-1725-11e8-91af-d927d2a921bb.png)

`Error: cyclic dependency detected
at serializeObject (/var/www/node_modules/mongoose/node_modules/bson/lib/bson/parser/serializer.js:296:33)
at serializeInto (/var/www/node_modules/mongoose/node_modules/bson/lib/b

[2018-02-21 16:05] simllll commented on #6065
Can I help to track this down? I get a lot of "connection 19 to 127.0.0.1:27017 timed out" since then, and even though it got much better with the config changes I added to my last comment, it's still not ideal.
Are there any hints what could cause this? Or is it better to downgrade to 4.x for now?

[2018-02-21 16:24] lustoykov commented on #6065
I actually have a local repository with mongoose 5.0.6 that queries a brand new mongodb 3.6.2 with mongoose > 5.0.6, the server was specifically setup to reproduce the issue, but I'm not sure if the database is slow now or the roundtrip time from Munich (Home) to California (EC2) is too significant.

@vkarpov15 if you think that I can help, I can invite you as a collaborator and give you password

[2018-02-21 16:26] mariohmol commented on #6159
If we have in the database the Id as a ObjectId, it works

[code]

[2018-02-21 22:15] vkarpov15 commented on #6141
:man_facepalming: what version of create-react-app, what commands did you use to scaffold the project, what does "pretty much the same" mean, and what's the command you use to run your tests? Please provide exact answers, vague intimations aren't helpful.

[2018-02-21 22:20] vkarpov15 commented on #6152
Yeah this is a tricky one. You currently would have to do something like this:

[code]

Because we don't currently support doing `update()` on nested docs. This is definitely something we would like to add though, thanks for the suggestion.

[2018-02-21 22:20] vkarpov15 commented on #6157
Thanks for reporting, will investigate ASAP

[2018-02-21 22:24] vkarpov15 commented on #6065
@lustoykov yes please add me as a collaborator. I don't need the password and IP for the test DB, I'd imagine I can just point it at a MongoDB Atlas instance and see the same performance degradation.

[2018-02-21 22:26] vkarpov15 commented on #6159
This is by design. If your schema says `users` is an array of ObjectIds, mongoose will coerce your `$in` query to be an array of ObjectIds rather than strings. If you want it to work with strings, make `users` an array of strings. Or an array of mixed type `[{}]` to skip all casting.

[2018-02-21 22:26] #6159 closed

[2018-02-21 22:30] mariohmol commented on #6159
Will an array of mixed types break the populate idea? or the deepPopulate as well?

[2018-02-22 01:12] abubakkarbutt commented on #6141
create-react-app --version
1.4.3

To run tests
`yarn test`

[2018-02-22 01:14] vkarpov15 commented on #6157
Can't reproduce, the repro script from #5434 gives me the expected output in 5.0.6:

[code]

Script is below

[code]

Also, I checked and confirmed that the test case for #5434 is working correctly. Can you please provide a script that reproduces your issue?

[2018-02-22 01:23] abubakkarbutt commented on #6141
`create-react-app app-name`
I used this command to generate my application project.

[2018-02-22 01:35] abubakkarbutt commented on #6141
I didn't changed configurations related to tests. I just changed the dev and build configurations which have no effect on running tests. So my test configurations are same as in newly generated project.

[2018-02-22 01:38] vkarpov15 commented on #6126
I can confirm the below script consistently shows a 5-10% degradation in mongoose 5.0.6 vs 4.13.11:

[code]

No further insights right now, will investigate more.

[2018-02-22 05:16] arvi commented on #4573
I can confirm that insertMany doesn't return ids. It returns everything BUT inserted ids. Here is the log of what it returns.

[code]

[2018-02-22 05:48] bazineta commented on #6157
Test case result:
[code]
Test case:
[code]
Note that if the findOne() is changed to find(), then the results are instead:
[code]

[2018-02-22 10:23] cheri3a commented on #4537
great thank u

[2018-02-22 11:01] lineus commented on #6141
Here is how I duplicated this using create-react-app@1.4.3 and mongoose@5.0.6:
[code]
it's worth noting that before I got to the test step I tried to build the project:
[code]
nothing in the the debug.log is jumping out at me yet but I'll keep digging into it to see if it's relevant. I'll also include the debug log here in case you see something I don't:
[code]

[2018-02-22 11:06] lineus commented on #6141
I rolled back to mongoose@5.0.4 and re-ran the test, it's output:
[code]

[2018-02-22 11:14] lineus commented on #6141
it's worth noting that before I got to the test step I tried to build the project:
[code]
nothing in the the debug.log is jumping out at me yet but I'll keep digging into it to see if it's relevant. I'll also include the debug log here in case you see something I don't:
[code]

[2018-02-22 15:25] jeremyml opened #6161 "Return a mongoose ValidationError from post findOneAndUpdate middleware"
I must use the post `findOneAndUpdate` middleware to do validation using multiple fields since the entire document is not available on the native `validator()` function.  I would like to be able to throw a mongoose Validation Error from inside the middleware like this

[code]

Is there any way to do validation in the post `findOneAndUpdate` middleware?  Every time I throw an error from here the er

[2018-02-22 17:37] EmailDE commented on #6152
Thanks for your answer. I am definitely looking forward to this feature.

[2018-02-22 17:52] EmailDE commented on #6152
Your solution also works with diabled "_id" field on the subdocument. I am just hoping this does not change with the feature.

[2018-02-22 20:45] cheri3a commented on #5961
thank-s

[2018-02-22 21:01] djanowski opened #6163 "Regression from 4.x: Setter bound to Query, not Document"
**Do you want to request a *feature* or report a *bug*?**

Bug, or undocumented breaking behavior from 4.x.

**What is the current behavior?**

4.x behavior: setter is bound to the document instance.
5.x behavior: setter is bound to the query instance.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Thank you!

[2018-02-22 22:13] vkarpov15 opened #6164 "Add `findOneAndDelete()`"
Just like `findOneAndRemove()`, but always uses native `findOneAndDelete()` instead of `findAndModify()`

[2018-02-22 22:25] bazineta commented on #6157
So, to net this out (apologies for not making this as simple as possible to begin with):

`find()` does **not** exhibit the issue; setters are called *once* on query.
`findOne()` does exhibit the issue; setters are called *twice* on query.

[2018-02-22 22:35] #5616 closed

[2018-02-22 22:39] vkarpov15 commented on #5616
In 5.0.7 you'll be able to do `mongoose.set('useFindAndModify', false)` to opt in to using native `findOneAndUpdate()` as opposed to `findAndModify()`.

[2018-02-22 23:30] #6126 closed

[2018-02-22 23:32] vkarpov15 commented on #6126
With some improvements we've managed to knock the performance degradation down to 0-5%, assuming that you don't have any validate hooks on your child subdocs the performance should be much better in 5.0.7.

[2018-02-23 03:07] Pei116 commented on #3347
Does that plugin work with `Document.findByIdAndUpdate()`?

[2018-02-23 03:51] Pei116 opened #6166 "MongooseArrays.indexOf(ObjectId) suddenly stoped working properly in version 5.0.6"
I've recently upgraded mongoose to v5.0.6 which was good until I've found an issue in comparing ObjectId against array.

[code]

It was working fine with version 4 and I've confirmed it's still working fine with v4.13.11 after downgrading to it.

[2018-02-23 09:02] mirazasx opened #6167 "Updating document without $set or query defined"
**Feature request/ maybe bug, not sure about it:**
After I updated to Mongoose 5.0.6 the function .update() requires to pass all new values as $set in order for mongoose history to work, it would be nice if it's not needed as it was in 4.x version. The mongoose history worked just fine with 4.x version of mongoose without $set parameter.
_Here is simple example, :_

[code]

I would expect to set I

[2018-02-23 09:43] vichle opened #6168 "AggregationCursor.eachAsync should accept the same options as QueryCursor.eachAsync"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
AggregationCursor.eachAsync has it's own implementation that doesn't allow any options
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I want to use the parallel option :)
**Please mention your node.js, mongoose and MongoDB version.**

[2018-02-23 10:54] hilkeheremans commented on #6065
As mentioned above, the problem occurs just as well in native mongodb `3.x`, and does not seem to occur on a single mongodb instance.

Interestingly, it also only occurs when querying on indexes fields -- non-indexed queries causing full document scans show no performance degradation vs `2.x` (but are, of course, very slow by themselves).

[2018-02-23 16:05] lineus commented on #6166
### I used the following script to try and duplicate this issue on both mongoose 4 and 5:
[code]
### output for 4.13.11
[code]
### output for 5.0.6
[code]
Can you please add a minimal but complete example that demonstrates the issue you are seeing?

[2018-02-23 16:14] EmailDE commented on #6152
I did some testing on the behaviour of the "save" function. It also does not work on single nested subdocuments, yet. The difference is that it fails silently. Even the document in the callback contains the changes, but they are not persistent in the database. I modified my previous example a bit. Obviously you could call "doc.save", but - again - being able to call "save" on the subdocument comes

[2018-02-23 17:08] #6168 closed

[2018-02-23 19:28] vkarpov15 commented on #6159
@mariohmol array of mixed types will work with populate as long as you keep `ref`. Open an issue if you find an issue with that.

[2018-02-23 19:33] vkarpov15 commented on #6161
@jeremyml use [async post hooks](http://mongoosejs.com/docs/middleware.html#post-async), like:

[code]

[2018-02-23 19:33] #6161 closed

[2018-02-23 19:38] vkarpov15 commented on #6163
In mongoose 5 we [always run setters on queries](https://github.com/Automattic/mongoose/blob/master/History.md#500-rc0--2017-12-28) , so your setter should be able to handle whether `this` is a document or a query. If your setter requires `this` to be a document, you can just do:

[code]

[2018-02-23 19:38] #6163 closed

[2018-02-24 01:43] Pei116 commented on #6166
I'm afraid here I can't exposure much details of current project in my hand but I can 100 percent reproduce it between two versions of mongoose.
In a little more detail, user object is queried by find method and I can see user.friends includes several object ids including desired one.
I debugged the variables using VS code and found that they are exactly the same values with the same type.

[2018-02-24 14:14] lineus commented on #6167
I couldn't find a package on npm or github called mongohistory. can you provide a url to the exact plugin you're using?

[2018-02-24 14:47] lineus commented on #6166
In lieu of exposing sensitive data from your application, you can adapt my example to reflect the behavior from your code and see if it causes the same issue that you are seeing. When it shows the broken behavior, update this issue with your adaptation of my example and it's output.

[2018-02-24 16:42] NikhilAshodariya commented on #4356
I couldn't find any example for storing a composite object in MongoDB using Mongoose and retrieving the inner object with all the methods without typecasting.

I already posted a question on StackOverflow:
[https://stackoverflow.com/questions/48960604/how-to-store-composite-object-in-mongodb-using-mongoose](url)

[2018-02-24 16:55] jeremyml commented on #6161
Perfect, thanks!

[2018-02-24 17:23] tayfunyugruk commented on #6167
@lineus i think it is `mongoose-history` not `mongo-history` ? https://www.npmjs.com/package/mongoose-history here version matches

[2018-02-24 17:28] mirazasx commented on #6167
Yes its mongoose-history, sorry for late answer.

[2018-02-24 17:34] #6157 closed

[2018-02-24 17:34] vkarpov15 commented on #6157
Fixed in master, thanks for helping us find this issue :+1:

[2018-02-24 17:48] peterpeterparker opened #6170 "FAQ about casting aggregation pipeline stages"
**Do you want to request a *feature* or report a *bug*?**

Not sure if it's a bug or not and neither if it's related to mongoose or mongo

**What is the current behavior?**
I could `find` elements `greater` as a `Date.now()` but if I do the same with `aggregate` it doesn't find any elements

    let query = {
         something: : {$gte: Date.now()}
    };

    Collection.find(query).exec(function

[2018-02-24 19:00] no-stack-dub-sack commented on #1959
[validator.js](https://github.com/chriso/validator.js/) has a built-in `isMongoId` method

[2018-02-24 23:40] jeremyml opened #6171 "Return ValidationError from post findOneAndUpdate middleware does not contain message"
@vkarpov15 suggested the code below in [this comment]( https://github.com/Automattic/mongoose/issues/6161#issuecomment-368115867)

[code]

But the `ValidationError `does not contain the custom message

  Instead the message is simply the canned message

This is the ValidationError in string from:

[code]
I tested it in v **4.13.8** and v **5.0.7**

[2018-02-25 04:42] patters commented on #5444
@vkarpov15 it would be great if this was documented somewhere. Migrating a project from 3.x to 4.x and it appears that this is a new requirement.

[2018-02-25 17:23] amit777 opened #6172 "4.x to 5.x migration guide"
Sorry if this has been covered, but I couldn’t find any articles on migrations steps from 4 to 5. Any pointers?

[2018-02-25 18:12] dani-sc commented on #6172
Hi, I found [this document](https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md)

[2018-02-25 18:20] #6034 closed

[2018-02-25 18:31] vkarpov15 commented on #6034
We made some changes with [boolean casting in mongoose 5](https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#boolean-casting) that cause this. Mongoose 4 would incorrectly coerce `undefined` to a boolean in updates, which was inconsistent with how undefined is handled everywhere else. We added a new option `omitUndefined` that will remove undefined keys from updates, so that will

[2018-02-25 18:36] ypanyukov commented on #6034
Thanks!

[2018-02-25 20:23] SegerdeKort commented on #2851
+1

[2018-02-26 05:37] rocketspacer opened #6173 "await on document.save() hang"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

Calling **await** on the promise returned by `document.save()` hang the process. Only proceed if provided a callback or called then on the Promise

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
The promise returned should be res

[2018-02-26 05:47] #6173 closed

[2018-02-26 13:53] lineus commented on #6167
Hi @mirazasx, let me say first, that I've never used the mongoose-history plugin before. In order to help sort this out I wrote the following minimal but complete example to illustrate the problem. The only meaningful differences between your example and mine are
1. i added a call to set debug to true on mongoose
1. a small package that prints relevant version info
1. the inclusion of the schema
1

[2018-02-26 14:03] lineus commented on #6167
I figured it out, I didn't have the mongoose-history npm package installed in mongoose4 directory. it was however installed in a parent of mongoose4, so somewhere in there it caused the problem. installing it in the mongoose4 dir and re-running with the plugin line uncommented I get the expected output. I'll continue on to testing on mongoose5.

[2018-02-26 14:15] lineus commented on #6167
### I updated the promise err handling in my comment above to remove deprecation warnings.
#### mongoose4 output:
[code]
#### mongoose5 output:
[code]

[2018-02-26 14:22] mirazasx commented on #6167
It's my first time reporting some kind of bug/error, so not sure how to contribute. But you got the same error I get when I run it. On Mogoose4 it worked just fine, and __v error roots to internal $set variable being null on update.
Regarding #5 doSomeUpdate: I missed it when I copied from my code, it was mongoose.method with this pointer, showing exactly the same. If needed I can find it and upda

[2018-02-26 14:51] lineus commented on #6167
the middleware mongoose-history is relying on the internal state of _update, which changed in 5.x.
from mongoose-history.js line 89:
[code]
in mongoose version 5 the value of _update is ```_update: { username: 'bwillis' }```
in mongoose version 4 the value of _update is ```_update: { '$set': { username: 'bwillis' } }```

I believe this is addressed [here](https://github.com/Automattic/mongoose/blo

[2018-02-26 15:07] lineus commented on #6167
@mirazasx I'm still new to mongoose and js in general :) so I'm just volunteering time here to learn and grow as a dev, plus it's fun! My contributions thus far have been limited to documentation. Your bug report was just fine. One thing I've noticed is that the closer you get to making it possible for your example to be copied and pasted ( and subsequently run ) by anyone, the lower the total tim

[2018-02-26 18:37] lineus commented on #6171
hi @jeremyml. From what I can tell, it looks like @vkarpov15 was just helping with the async portion of the hook you suggested. After looking at the source for ValidationError, it would appear that if you give it a string instead of an instance of a model, your message will only ever be 'Validation failed'

[code]

[2018-02-26 19:16] lineus commented on #6171
If you can live with an instance of Error the following works:
[code]
output:
[code]

[2018-02-26 20:07] vkarpov15 commented on #6141
I have no clue as to why this started in 5.0.5, but the root cause of this issue is the [webpack document provider](https://github.com/Automattic/mongoose/commit/eda8c551880352ac713e252fcbc0c2fe09e9cbc3), because webpack with default configs will always pick the `.web.js` file over the `.js` file:

[code]

This means that with the default create-react-app webpack config, mongoose will run partiall

[2018-02-26 20:09] #6141 closed

[2018-02-26 21:31] larsdecker commented on #6065
We have the same performance drop on our production environment. The issue occurs also with mongoose 5.0.3, but only when it run for a while. When the issue occurs, i see that the CPU usage it a little bit higher and the memory consumption is about 100 MB higher than normal.

We use a ReplicaSet with 3 Servers. Sometimes the queries are very fast and some queries we have a huge performance drop by

[2018-02-26 21:36] lineus commented on #6170
it looks like this is a difference in the way find and aggregate work in mongodb. I created a test collection with this populate script:
[code]
my find script:
[code]
it's output:
[code]
my aggregate script:
[code]
it's output:
[code]
i couldn't get it to work until I found [this old bug](https://github.com/Automattic/mongoose/issues/2465) which alludes to using toDate ( I'm assuming from moments.

[2018-02-26 21:50] vkarpov15 commented on #3347
@Pei116 no unfortunately it only works for `save()` right now

[2018-02-26 21:52] vkarpov15 commented on #6152
@EmailDE you're right, `doc.child.save()` is a noop. It's only there for middleware purposes.

[2018-02-26 21:55] vkarpov15 opened #6174 "Investigate custom schema type issue"
https://github.com/Automattic/mongoose/issues/4356#issuecomment-368241130
https://stackoverflow.com/questions/48960604/how-to-store-composite-object-in-mongodb-using-mongoose

[2018-02-26 21:56] vkarpov15 commented on #4356
@NikhilAshodariya I opened up a separate issue for this #6174.

[2018-02-26 21:58] vkarpov15 commented on #5444
@patters it is documented [here](https://github.com/Automattic/mongoose/blob/master/migrating_to_5.md#query-middleware), the 2nd item on the migration guide. Where did you look for info on how to migrate?

[2018-02-26 22:01] vkarpov15 commented on #6167
@lineus thanks for digging into mongoose-history's internals and finding this. You're right, that's the relevant change in the migration guide. We'll see if we can put in a PR to mongoose-history to fix it

[2018-02-26 22:09] vkarpov15 commented on #6171
@jeremyml you're right, my example was incorrect

[code]

A ValidationError is a mapping of paths to ValidatorError instances, so you need to add one of those

[2018-02-26 22:10] #5793 closed

[2018-02-26 22:10] patters commented on #5444
Didn't know that existed, thanks! 🤷‍♂️ (It'd be great to link to that from the README.)

For what it's worth, I threw together [something](https://gist.github.com/patters/8345bb294cc3d1aba0fb400f07093dcc) that allows hooks to be added after models are created, by storing "new" middleware in another object and registering one hook before the model is created to call the new middleware.

[2018-02-26 22:13] vkarpov15 commented on #6170
[Mongoose does **not** cast aggregation pipeline stages](http://mongoosejs.com/docs/api.html#aggregate_Aggregate) because with `$project`, `$group`, etc. the type of a property may change during the aggregation. We've considered supporting casting if the first stage is `$match` but that seems like too much magic. If you want to query by date using the aggregation framework, you're responsible for

[2018-02-26 22:53] CaballoCarpiano commented on #2274
I can't make retainKeyOrder work for mixed type propertie on Schema. This is  currently my schema:
`var TemplateSchema = new Schema({
	url : String,
	...
	dataSchema: {type: Schema.Types.Mixed, retainKeyOrder: true}
},
{
	retainKeyOrder: true,
	toObject: { getters: true, retainKeyOrder: true },
	toJSON: { virtuals: true, retainKeyOrder: true }
});`
But I keep getting the keys saved in reverse, Do

[2018-02-26 22:58] misshula commented on #6065
We too are noticing this on our replica set on Atlas.

We do have a simple script that can easily recreate the issue. Essentially it's:
1. create documents
2. get a cursor and loop over docs
3. for each doc, just query `findOne` on that document
4. measure time for each query.

you'll notice mongoose@5 is about 4x slower than mongoose@4  (I assume it's the driver from 2.x -> 3.x - but I may be wro

[2018-02-27 06:08] mirazasx commented on #6167
@lineus thanks for help/debug on this issue and tips. I will try to post better reproduction code next time.

[2018-02-27 06:11] rocketspacer commented on #6173
I used a config-store to store the connection instance which used deep-clone. Not mongoose error

[2018-02-27 06:32] RamAkunuru opened #6175 "Mongoose browser does not validate array of schemas"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Schema is validated, but if schema has an array of schema's then it throws the below error:
Validation failed: undefined: Right-hand side of 'instanceof' is not callable, vertices: vertices is required.

**If the current behavior is a bug, please provide the steps to reproduce.**

Points.js
const Point

[2018-02-27 09:08] peterpeterparker commented on #6170
@lineus @vkarpov15 thx a lot for debugging this and for the explanation

well noted, **aggregate need valid date ** aka use **new Date()** instead of `Date.now()` in case you want to compare with actual date. I'm all fine with than.

again thx a lot for taking the time to look at this, really appreciated!

[2018-02-27 10:47] lineus commented on #6175
hi @RamAkunuru. I implemented your code like this:
[code]
here is the output:
[code]
It looks like it's working for me. Is there something from my implementation of your schemas that differs from yours?

[2018-02-27 15:48] amit777 commented on #6172
Thanks, that's helpful!  I'll close this ticket out.

[2018-02-27 15:48] #6172 closed

[2018-02-27 17:50] natanavra opened #6176 "Array required validation is not checked"
EDIT:
Found this: https://github.com/Automattic/mongoose/issues/1335#issuecomment-252129243
With the following schema I get the expected behaviour:
[code]
But this should definitely show in `required` documentation

------------------------------------
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
An empty array is always saved in the database even if

[2018-02-27 18:19] rusiarohit opened #6177 "Getting "MongoError: driver is incompatible with this server version" Error intermittently"
**Do you want to request a *feature* or report a *bug*?**
*bug*
**What is the current behavior?**
Getting *MongoError: driver is incompatible with this server version* as intermittent error.

**If the current behavior is a bug, please provide the steps to reproduce.**

It's intermittent. I saw at same moment or in retry it does the job  fine.
**What is the expected behavior?**

**Please mention yo

[2018-02-27 19:03] natanavra opened #6178 "Mongoose swallowing up exceptions / errors"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Mongoose swallows exceptions/errors when used inside asyncjs functions.

**If the current behavior is a bug, please provide the steps to reproduce.**
Consider the following code:
[code]
A TypeError should occur on `model.settings.type`, something like `Cannot read property 'type' of undefined` instead

[2018-02-27 19:54] EmailDE commented on #6152
Ah, ok. Though, other methods like `doc.child.$ignore()` also fail silently.

[2018-02-28 01:34] vkarpov15 commented on #6170
I'm going to re-open this so I can track putting this in the FAQ

[2018-02-28 01:41] #6028 closed

[2018-02-28 01:48] vkarpov15 commented on #6065
@misshula absolutely, your script would save me a lot of time

@lustoykov I got your repo but it isn't particularly helpful, doesn't actually include any timing measurements or comparisons, just runs some queries every 30 seconds and prints the results.

[2018-02-28 01:58] menocomp commented on #6170
Still not working with me. I turned on mongoose debug flag. and I am using
[code]
and here is the result in console:
[code]

[2018-02-28 02:01] vkarpov15 commented on #6065
@misshula I tried piecing together your script because I'm getting frustrated with the lack of actionable information in this thread. Across the runs I've done mongoose 5 seems to be slightly faster than mongoose 4. Below is the script:

[code]

Sample output:

[code]

Perhaps I'm missing something, can you provide your script or modify mine to show a performance degradation in mongoose 5?

Easies

[2018-02-28 02:26] nhhockeyplayer opened #6180 "mongoose not type compatible with typegoose"
C:\apache-tomcat-9.0.0.M17\webapps\ROOT\api>ng build
Date: 2018-02-28T02:16:28.684Z
Hash: 1b199f24e7166644ffc8
Time: 10187ms
chunk {inline} inline.bundle.js, inline.bundle.js.map (inline) 3.89 kB [entry] [rendered]
chunk {main} main.bundle.js, main.bundle.js.map (main) 277 bytes [initial] [rendered]
chunk {polyfills} polyfills.bundle.js, polyfills.bundle.js.map (polyfills) 297 bytes [initial] [ren

[2018-02-28 02:27] nhhockeyplayer commented on #6180
here is the package.json

{
  "name": "api",
  "version": "1.0.0",
  "license": "CC0-1.0",
  "scripts": {
    "ng": "ng",
    "client": "ng serve --no-delete-output-path",
    "server": "./node_modules/.bin/ts-node ./server/server.ts --proxy-config ./proxy.json",
    "build": "ng build",
    "build-prod": "ng build --output-path=dist/ --target=production --environment=prod",
    "build-dev": "ng b

[2018-02-28 02:29] nhhockeyplayer commented on #6180
{
  "name": "api",
  "version": "1.0.0",
  "license": "CC0-1.0",
  "scripts": {
    "ng": "ng",
    "client": "ng serve --no-delete-output-path",
    "server": "./node_modules/.bin/ts-node ./server/server.ts --proxy-config ./proxy.json",
    "build": "ng build",
    "build-prod": "ng build --output-path=dist/ --target=production --environment=prod",
    "build-dev": "ng build --output-path=dist/ -

[2018-02-28 03:17] isaackwan opened #6181 "Documentation - is emitIndexErrors still used?"
Apparently from #5910 this option is no longer used as errors are emitted regardless of settings now.

However on [the reference for Schema](http://mongoosejs.com/docs/api.html#model_Model.ensureIndexes) and [guide](http://mongoosejs.com/docs/guide.html#options) still both mentions `emitIndexErrors` although the anchor links are still there, causing confusion...

Can send PR if this is indeed true

[2018-02-28 03:40] menocomp commented on #6170
sorry for misunderstanding. It is working correctly however the logs are incorrect that's why I got confused.

[2018-02-28 03:54] misshula commented on #6065
@vkarpov15

here is a script that I am using.

Prereqs:
1. this needs to be on a Replica Set on Atlas (as mentioned above)
2. you will need to insert some sample docs (I've called my model `Thing` below)

[code]

output with `mongoose@5`:
[code]

output with `mongoose@4`:
[code]

[2018-02-28 03:59] misshula commented on #6065
@vkarpov15 your script looks good - just need to connect to an Atlas db....

[2018-02-28 08:45] tho068 commented on #5849
The problem is that when the connection is lost for whatever reason. The ready state does not update until after a few minutes.

My function is called at regular intervals, maybe every minute, and after about five minutes when the lambda function is not hot anymore. The ready state stays 1 for some time after the connection dropped.

I will post my code today if I get the time.

From: Valeri Karpo

[2018-02-28 09:00] simllll commented on #6065
It's not only atlas db, in my case It's a self hosted 2 shards (each 1 replica) cluster. If I run the script I get:
Running on localhost through tunnel:
[code]

Running on a webserver:
[code]

I wonder why are my average times are so much higher than yours.

regards
Simon

[2018-02-28 09:46] lineus commented on #6178
@natanavra can you please include a complete example that demonstrates the problem you are seeing? Given the way that async.waterfall handles errors seeing your main callback at the very least is imperative. Feel free to share a promise based example instead.

[2018-02-28 11:44] lineus commented on #6181
it looks like the only occurrence of emitIndexErrors *in the source code itself* is in the schema.js jsdocs here:
[code]
If you have the cycles for a PR go for it. If not, let me know, I have some time later.

[2018-02-28 14:17] alexilyaev opened #6183 "Rename `History.md` to `CHANGELOG.md`"
**Do you want to request a *feature* or report a *bug*?**
Just a small Git repo experience

**What is the current behavior?**
- Entering the repo on GitHub
- Clicking Releases to see version changes (nothing there)
- Looking for `CHANGELOG.md` file (a standard on GitHub)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Should rename

[2018-02-28 15:43] varunjayaraman commented on #6076
gonna remove the "needs repro script" tag on this one, the original repro script is fully copy-pastable

[2018-02-28 15:43] #6085 closed

[2018-02-28 15:44] varunjayaraman commented on #6108
@aartiHarshe can you please confirm? Marking this as stale

[2018-02-28 15:46] varunjayaraman commented on #6115
@alexksso any chance you had a chance to create a code sample to reproduce that issue yet?

[2018-02-28 15:49] varunjayaraman commented on #6121
My guess is this is due to a race condition if you are trying to run some other db logic and it runs after `db.close()`, is that  possibility @JonathanWilbur ?

[2018-02-28 15:51] #6129 closed

[2018-02-28 15:56] bohdan-romanchenko-axon commented on #6123
@varunjayaraman, nope :/
my current mongoose version is 4.9.x
maybe problem is in it

[2018-02-28 15:56] varunjayaraman commented on #6131
Sorry guys, I've been in the middle of moving between countries so I've been a bit MIA. I don't think we need to use Docker to replicate this. Provided the hostname inside your network isnt changing and the DNS resolve properly, the issue shouldn't be Docker. Can you at least rule that out and see if your issue persists in a standalone scenario without Docker?

[2018-02-28 15:59] varunjayaraman commented on #6140
I'm going to mark this is as an underlying library issue for now, please report back on how the driver issue is resolved

[2018-02-28 16:10] varunjayaraman commented on #6143
It looks like mongoose doesn't auto convert that date-string format `MM/DD/YYYY` correctly:

[code]

this logs `null` when it should log the record correctly (as it does if you do it as `YYYY-MM-DD`

[2018-02-28 16:11] varunjayaraman commented on #6148
@yuu2lee4 i too am not able to reproduce this. Can you please confirm @lineus's script works or not for you?

[2018-02-28 16:14] sdctm commented on #6131
@varunjayaraman my point is in the previous version it triggered the `error` event, in the latest version it doesn't. It triggers the `timeout` event instead.

I think the most important thing is if that's the expected behaviour. If it is, maybe the documentation could be updated to reflect the change?

[2018-02-28 16:15] OmisNomis commented on #6131
@varunjayaraman my point is in the previous version it triggered the `error` event, in the latest version it doesn't. It triggers the `timeout` event instead.

I think the most important thing is if that's the expected behaviour. If it is, maybe the documentation could be updated to reflect the change?

[2018-02-28 16:24] varunjayaraman commented on #6155
I'm not able to reproduce this. The console.log I've placed inside the setter shows an empty object `{}`, which means its the instance and not the `Model` or else it would be a huge object:

[code]

[2018-02-28 16:49] yuu2lee4 commented on #6148
It's so strange, i remember i has replied the topic.
It's my fault,I add a static method on model with the same name `findById`.

[2018-02-28 23:03] vkarpov15 commented on #6143
Mongoose is comparing these strings as dates, it is just a question of how mongoose converts these strings to dates. Mongoose uses the [built-in JavaScript `Date` constructor](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date), which has [nuances about what time zone it assumes for certain strings](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Referenc

[2018-02-28 23:03] #6143 closed

[2018-03-01 09:53] lineus commented on #6175
ok, sorry for the delay, I've never used mongoose in the browser before. here is my index.html file:
[code]
here is my main.js file # included in the index.html file after being browserified:
InspiredMacPro:6175 lineus$ browserify main.js > index.js
[code]
here is the console output from firefox DE with mongoose 4.13.9:
[code]
I tried this code with other versions of mongoose, @4.10 - @4.11.8 all

[2018-03-01 10:12] lineus commented on #6175
looks like this is probably the same issue as  #5610. I believe the relevant change could have been e2790f6609d13206221a066932c34f682d4e3c0b.

[2018-03-01 12:23] mrfoh commented on #6109
Currently experiencing the same issue. Any idea how to resolve this.

[2018-03-01 18:10] jakesjews opened #6187 "Data loss when creating documents with null value two nested levels deep and strict false"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When creating a document with nested schemas two levels deep if the lowest nested document is null then the parent doesn't have a value even if other keys are set. The issue seems to only occur when strict is false on the nested schema. The issue only happens in versions greater than 5.0.4.

**If the c

[2018-03-01 18:30] ksmithut opened #6188 "Feature Request: Migration/Seed framework"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Although mongoose provides a nice abstraction for adding schema to a schema-less database, it is inevitable for a long-running project to not make any breaking changes to the schema, which requires migrations. There are various solutions provided for this in the user space, but it would be nice i

[2018-03-01 20:01] spiotr12 opened #6189 "Select() excluded filed not working in query callback"
I have a problem, after updating from 5.0.0 -> 5.0.7

I'm hiding password field using select: false
But when I query as usual with using `select('+password')` to select password, it is not return, Please see the code:

SCHEMA
[code]
QUERY
[code]
I have found a workaround using `exec()` method after I set a query with `select()`
WORKING QUERY EXECUTION
[code]

Is this a bug or on purpose change in

[2018-03-01 20:04] spiotr12 commented on #6189
Neither excluding fields works:
[code]

[2018-03-01 20:15] dan-perron opened #6190 "MongooseArray.pull causes query to include where versioning."
We have a model of a user like
[code]
When a user accesses a post we execute some code like:
[code]

This causes an update like:
[code]

I expect this to cause the versionKey to be incremented (it could change array positions) but I don't think it needs the versionKey in the query.

node v8.9.1
mongoose 5.0.3
MongoDB 3.4

[2018-03-01 23:31] ORESoftware opened #6191 "connection url for model does not reflect all nodes in url"
Support question here, we have this:

[code]

[code]

the above `mongodbConnection` data is generated via: `host: [Model].db.host`,

so I simply wondering: is it only showing one of the nodes in the connection url string for a reason, when we log  [Model].db.host? or is it only connected to one node? how does that work?

what does it mean for the host to be:

`mngdb-cbt-x-01`

instead of:

`mngdb-

[2018-03-02 00:09] lineus commented on #6187
I was able to reproduce this:
[code]
the output:
[code]
I get the same assertion error on all versions of mongoose@5 and @4.13.11
with `strict: false` on the inner schema. setting `strict: false` on the outer schema instead works as expected.

[2018-03-02 00:53] vkarpov15 commented on #6065
@simllll I haven't tried with mongos, but I have been able to reproduce a significant performance degradation in the mongodb node driver when working with Atlas. See https://jira.mongodb.org/browse/NODE-1357 .

[2018-03-02 00:56] #6181 closed

[2018-03-02 02:10] vkarpov15 commented on #2274
@CaballoCarpiano no ideas. Can you show how you're using the schema and post your mongoose version please?

[2018-03-02 02:13] vkarpov15 commented on #6176
Thanks for reporting, will investigate ASAP

[2018-03-02 02:15] vkarpov15 commented on #6177
You shouldn't have a problem according to the [mongoose version compatibility guide](http://mongoosejs.com/docs/compatibility.html). Can you use `npm list | grep "mongo"` and post the output to check if you have some other dependency that's using an old version of mongodb?

[2018-03-02 02:16] vkarpov15 commented on #6152
@EmailDE you're right, that is definitely a problem as well. We'll fix.

[2018-03-02 02:19] vkarpov15 commented on #6180
Please report this on the typegoose repo. I wouldn't know how to even start debugging this.

[2018-03-02 02:19] #6180 closed

[2018-03-02 02:22] vkarpov15 commented on #6178
@natanavra also please post your schema. If `settings.type` is in your schema, `doc.settings.type` will not throw an exception because mongoose creates `.settings` implicitly for change tracking.

[2018-03-02 02:23] vkarpov15 commented on #6181
Not used, we just had a couple vestigial references in the docs that were fixed. Thanks for the PR :+1:

[2018-03-02 02:25] vkarpov15 commented on #6183
Worth discussing more. What benefits does renaming have? Are there some tools that rely on the presence of 'CHANGELOG.md' vs 'History.md'?

[2018-03-02 02:25] #6108 closed

[2018-03-02 02:26] #6121 closed

[2018-03-02 02:27] #6148 closed

[2018-03-02 02:31] vkarpov15 commented on #6188
This is a reasonable suggestion, but realistically not something we have time to implement. Mongoose is  meant to be a library, not an operational tool for managing your database.

[2018-03-02 02:31] #6188 closed

[2018-03-02 10:54] Owumaro opened #6193 "Add connection options changes to migrating_to_5.md"
Hi, I just updated from mongoose v4 to 5 on an old project.

I followed the guide migrating_to_5.md but it wasn't enough.

I had to look up in the docs to find these breaking changes :
http://mongoosejs.com/docs/connections.html#v5-changes

Since my project was using an old mongo url format it didn't work anymore.
It would be nice to add a link to this in the migration guide.

Thanks,

EDIT: the d

[2018-03-02 11:41] cezarlz opened #6194 "Error: Key must be a buffer"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
Error: Key must be a buffer

This happens after I call the method `model.save`.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**
Create a record.

**Please mention your node.js, mongoose and MongoDB version.**
Node: v9.6.

[2018-03-02 12:21] bgSosh commented on #6178
We've also noticed differences in error handing between mongoose v4 vs v5.

Please take a look at [this gist.](https://gist.github.com/bgSosh/34055ba6ce4285eda59cfdd43a53b044)

Executing in v4: the exception is thrown as expected.

Executing in v5: the exception is somehow caught, and returned in the callback on line 20.

[2018-03-02 14:51] lineus opened #6195 "errors in version 5 vs. version 4"
I'm breaking out your comment from #6178 into it's own issue @bgSosh. #6178 didn't mention version 4 so I think we can bring the discussion into a separate issue.

here is a slightly modified version of the code from the gist mentioned in [the comment](https://github.com/Automattic/mongoose/issues/6178#issuecomment-369906957)
[code]
## output mongoose4:
[code]
## output mongoose5:
[code]

[2018-03-02 14:57] lineus commented on #6195
when throwing an error within a model's static method in version 4, the error is immediately thrown, in version 5 the callback gets called with the error. @vkarpov15 is this something worth documenting either in the faq or migration guide?

[2018-03-02 15:30] larsdecker commented on #6065
Hopefully, one of MongoDB will fix the bug quickly.

[2018-03-02 15:36] lineus commented on #6194
Hi @cezarlz Can you please create a minimal example that duplicates the issue? Seeing your schema, the context of the Model.save(), and what you are actually saving are imperative for helping troubleshoot.

[2018-03-02 15:38] bgSosh commented on #6195
Ok thanks @lineus.

In my opinion, this is pretty strange behavior, and I'd be interested to know if this is working as it is supposed to.   I don't really understand why an unhandled exception, in *my* code, *after* the db function has called back, should be caught and returned by code that comes *before* it.

[2018-03-02 16:14] EmailDE commented on #6152
Thats great! ;)

[2018-03-02 16:40] sassy-ankit commented on #5574
`new Schema({ ... }, { usePushEach: true });`
This solves the error for me too on version 4.4.12 and 5.0.7

[2018-03-02 18:03] thopk opened #6196 "insertMany breaks when using createConnection"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

[2018-03-02 18:07] thopk commented on #6196
Mongoose 5.0.1
Mongod v3.6.2
This appears to be a bug.

The insertMany method works when using mongoose.connect, and fails when using mongoose.createConnection. Other methods (such as create, collection.insert) work in both cases.

[2018-03-02 19:09] delino12 commented on #5237
Navigate to setting add your system IP address on the white-list section. Solved.

[2018-03-02 19:44] lineus commented on #6196
@thopk can you please include an example that we can use to replicate the issue that you're seeing? Here is one that I created based on your comment above ( I didn't see any errors though ):
[code]
output:
[code]

[2018-03-02 22:00] diegohaz commented on #6155
Hi, @varunjayaraman. That's the same that happened to me (it logs empty object).

However, if `this` was the doc, shouldn't it log `{ _id: ..., name: 'test', test: 5 }` and `{ _id: ..., name: 'test'  }`.

I only figured out that it was the model by logging `Object.keys(this)`. Could you try that? Or is that repro hosted somewhere?

[2018-03-02 23:49] thopk commented on #6196
Hi lineus - thank you for your quick response! If I'm doing something wrong I'd love to know it. I've since discovered that collection.remove({}) is behaving the same way, which makes me think there's something wrong in my code. Anyway, here's a very stripped down code sample where insertMany is failing. Thanks in advance for your response!

const mongoose = require('mongoose')
const dbURI = 'mong

[2018-03-02 23:53] simllll commented on #6140
Is there any workaround we can use in the meantime? I'm experiencing this a lot lately. Connection state stays at "connecting" (2).

[2018-03-03 03:48] Altiano opened #6198 "`Reverse lean()` or `unlean()` on plain object after queried with lean()"
**Do you want to request a *feature* or report a *bug*?**
Feature

Given the already constructed system where every document is `lean()`'ed, I have a requirement where I only need to turn some of documents to Full Mongoose instance after query.

I don't see how the current API provide a solution for this.

[2018-03-03 10:09] lineus commented on #6196
@thopk, you're welcome! createConnection is an async operation, requiring one of these conditions:
   1. passing in a callback with your connection dependent code ( .remove || .insertMany || etc )
   1.  wrapping your connection dependent code in the connection's .then method as I did in my example.

In my example above, I shortened the length of my input and removed the superfluous async function

[2018-03-03 11:27] alexilyaev commented on #6183
I'm not aware of tools that rely on the presence of `CHANGELOG.md`.

The benefits would be:

- Easier to find the changelog, as it is common, people expect to find such a file
- Consistency with other files (e.g. `README`, `LICENSE`, `CONTRIBUTING`)

[2018-03-03 22:07] dtanphat9388 opened #6201 "can't set separate property in timestamps"
**Do you want to request a *feature* or report a *bug*?**
timestamps: { createdAt: 'created_at', updatedAt: 'updated_at' } // ok
timestamps: { createdAt: true updatedAt:  true }     //ok
timestamps: { createdAt: false updatedAt:  true }     //error
timestamps: { createdAt: true updatedAt:  false }     //error

**What is the current behavior?**
error at document.js:1008
  var pieces = path.split('.

[2018-03-03 22:08] natanavra commented on #6178
@lineus Note that you're producing a Mongoose error, I wanted to produce a TypeError that occurs after invoking a method from inside a mongoose `save` callback inside async.
@vkarpov15 The schema is identical to the model created, `Schema({name: {type: String}})`

Copy my code and you should see the behaviour I'm describing.

[2018-03-03 23:35] thopk commented on #6196
Lineus - awesome answer, thank you so much! I'm 95% sure that gives me enough to go on - I'll close this once I've successfully reworked my project code. Thanks again, much appreciated!

[2018-03-04 01:56] lineus commented on #6178
### here is a complete example that demonstrates what @natanavra is seeing:
[code]
### output:
[code]
### As far as I can tell, the only way around this at the moment is to change:
[code]
### output after change:
[code]
### it's worth noting that trying to do something similar without any other modules except async behaves differently:
[code]
### output:
[code]

[2018-03-04 02:18] pwhissell opened #6202 "Embedded discriminators in Embedded arrays dont work"
**Do you want to request a *feature* or report a *bug*?**
bug/feature I guess I'll let you choose

**What is the current behavior?**
Embedded discriminators in arrays work fine, I've used the example given at http://mongoosejs.com/docs/discriminators.html#embedded-discriminators-in-arrays

[code]

_note: I left out the option disabling the implicit id because it is not relevant to this issue_

How

[2018-03-04 13:36] lineus commented on #6191
Hi @ORESoftware , great question! Here is what I found:

Model.db.host is just the first parsed seed host from the url string and doesn't update when the topology changes.

### from lib/connection.js openUri()
[code]

### running a test script to see if it updates after the primary replica changes:
[code]
### output:
[code]
The native driver/core libraries handle the events for replicasets and the

[2018-03-04 14:01] lineus commented on #6201
Hi @dtanphat9388

the timestamps option will always create both created_at and updated_at options. If you want to only have a createdAt timestamp on your documents, you can add a Date path in your schema that defaults to Date.now().

### Here is an example:
[code]
### output:
[code]
I hope that helps. Let me know if you have any further questions.

[2018-03-04 16:36] bazineta opened #6203 "5.0.8: Setters called twice in findOneAndRemove()"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
Setters are called twice in findOneAndRemove(). Similar to behavior of #6157.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

[code]
**What is the expected behavior?**
Setters should only be called once.

**Please mention your node.js, mongoose and Mongo

[2018-03-04 18:12] lineus commented on #6189
Hi @spiotr12 this is the expected behavior. [The docs are here](http://mongoosejs.com/docs/queries.html). You can either pass in a callback to findOne for immediate execution, or put .exec on the end. This allows you to use query builder methods to construct the query before it get's executed, or optionally call it right away.

[2018-03-04 18:19] makrandgupta commented on #1381
Mongoose now supports [deep populate](http://mongoosejs.com/docs/populate.html#deep-populate). Relevant code:

[code]

[2018-03-04 18:19] lineus commented on #6189
query is thenable as well, so the following code will work:
[code]
output:
[code]

[2018-03-04 18:53] lineus commented on #6189
hi @spiotr12,

### The findOne method requires
   1. a callback to be passed in // execution is immediate
   1. a .then call after the query
   1. an .exec call after the query

### here is an example of all 3:
[code]
### output ( on 5.0.7 ):
[code]
here is a link to the [select](http://mongoosejs.com/docs/api.html#query_Query-select) docs and
[query](http://mongoosejs.com/docs/queries.html) docs.

[2018-03-04 19:10] ORESoftware commented on #6191
yeah that's good info thanks!

[2018-03-04 19:10] #6191 closed

[2018-03-04 22:47] pwhissell commented on #6202
I found a workaround. You can use the "caster" property of the SchemaArray. It's value is a DocumentArray which exposes the discriminator function.
[code]

[2018-03-05 00:26] thopk commented on #6196
I'm afraid I tried to use your code example to restructure mine using the .then method, and I still can't get it to work. If you can tell me what I'm doing wrong, I'd greatly appreciate it. If you could give me an example of passing in a callback as well, that would be very helpful.

[code]

[2018-03-05 04:23] alejandromagnorsky opened #6204 "Error: `enum` can only be set on an array of strings, not Mixed"
The following line in the definition of a collection crashes:
`status: { type: String, enum: Object.values(ENUMS.STATUS), default: ENUMS.STATUS.INACTIVE }
`
[code]
We are using the node 9.7.1 and Mongoose 5.0.8. With 5.0.6 works fine but with 5.0.7+ it throws the error:

[2018-03-05 07:13] Bangood opened #6205 "I meet 'FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory' error!"
**Please mention your node.js, mongoose and MongoDB version.**
Node v9.2.0 , mongoose 5.0.6, MongoDb v3.0.6

hello, anybody, I have 200000 items in my mongodb collection, when i query the datas `Item.find().where('couponEffectiveEndTime').gte(currentTimestamp)`
the app waits about 5 seconds and get the error below:
[code]
Why does this happen?

[2018-03-05 07:49] lineus commented on #6196
Hey @thopk, I had a mistake in my example above. I'm so used to creating examples using my default setup that I overlooked the fact that my `const mongoose = require('./lib/test_db ` statement was connecting for me using mongoose.connect(). This allowed my code to work when it shouldn't have **my model was using the connection returned by mongoose.connect() instead of the one that I explicitly cre

[2018-03-05 17:18] donjr opened #6206 "Connection poolSize limit?"
Forgive me if there's already been an answer to this somewhere, but I haven't seen anything definitive in the docs.

Is there a limit to the size of the connection pool?
I have a situation where there could be 100s or 1000s of connections open at once - should the connection pool be used for this or would that be an abuse of the feature?

[2018-03-05 17:51] thopk commented on #6196
It works! Thousand thanks lineus! This syntax is somewhat different from what I'm used to with mongoose, but nothing that a little refactoring can't solve. I can see I have a ways to go before I'm fluent in mongoose, and nodejs in general. But this really helps. Thanks again!

[2018-03-05 18:21] mrkmrtns commented on #6065
Bug is fixed by applying this patch:
https://github.com/mongodb-js/mongodb-core/commit/e5ff9275c84b0ba8d35ea8c937586eccc90559df

Release coming soon.
https://jira.mongodb.org/browse/NODE-1357

[2018-03-05 18:59] marcelh-gh commented on #4759
In the 5.0.8 docs I still just find Number as numeric type.

Does the fixed label assigned to this issue not mean that a decimal type was implemented?

[2018-03-05 19:44] marcelh-gh opened #6207 "question: does Mongoose support decimals and integers (MongoDB NumberDecimal, NumberLong, NumberInt)"
Mongoose 5.0.8
MongoDB 3.6

in the docs I can still only find Number as SchemaType....

[2018-03-05 20:00] vkarpov15 commented on #6065
@mbroadst is a champ and fixed the issue over the weekend as @mrkmrtns  pointed out. we'll have a new mongoose release as soon as the mongodb driver pushes a release with this fix :tada:

[2018-03-05 20:08] mbroadst commented on #6065
👋  Sorry for the trouble y'all! Somewhat unexpected behavior from node there, hope it didn't cause too much trouble. `mongodb` and `mongodb-core` v3.0.4 have been released, and are ready to go.

[2018-03-05 20:12] marcelh-gh commented on #6207
there is all kinds of contradictory information about this in _stackoverflow_ etc.
It would be nice if some clarification could be added to the official docs.

[2018-03-05 20:15] dackmin commented on #6065
will try with mongoose the second it rolls out 🥇

[2018-03-05 21:37] vkarpov15 commented on #6190
It's worth discussing but I can see the rationale behind keeping `__v` in the query in this case. There's nothing preventing you from having multiple objects in an array with the same `_id`, so if the array changed underneath then `$pullAll` could be pulling an unexpected document. I'd love to hear arguments to the contrary though.

[2018-03-05 21:38] dtanphat9388 commented on #6201
thank you very much for helps

[2018-03-05 21:38] #6201 closed

[2018-03-05 21:38] vkarpov15 commented on #6193
@Owumaro thanks for reporting, will fix asap

[2018-03-05 21:46] diegohaz commented on #6155
So, is that part intended to not be backward compatible with v4? Shouldn't it be added to the migration guide at least? That broke one of my mongoose plugins (https://github.com/diegohaz/mongoose-keywords/issues/12) and it wasn't easy to find the source the problem.

[2018-03-05 21:55] dan-perron commented on #6190
I guess I'm not sure why someone would be using `.pull()` if they didn't expect all copies with that `_id` removed. Are you suggesting something like
[code]

[2018-03-05 22:06] #6065 closed

[2018-03-05 22:23] ethanresnick opened #6209 "Document setter context"
As of https://github.com/Automattic/mongoose/issues/5340, it seems that setters run on all queries, which is nice. This will obviously blow up, though, if the setter is expecting `this` to be a document (as I believe it was in Mongoose 4). Therefore, it'd be good to document what `this` is now when setters run against a query. I assume it's the query object? (If it's not the query object, maybe it

[2018-03-05 22:45] simllll commented on #6140
I played around and found something "interesting". I don't even need to stop the mongos, it's enough to reduce the socket timeout.

[code]
this script runs fine with local mongodb, it outputs stuff like this (my collection is empty):
[code]

but when I point it to a mongos instance, it does this:
[code]
I never get a result, and readystate is 0, even though if you set loggerLevel to 'info' you see

[2018-03-06 00:37] vkarpov15 commented on #6065
Shipped 5.0.9 with this fix :+1:

[2018-03-06 02:29] vkarpov15 commented on #6170
Fixed in #6184

[2018-03-06 02:29] #6170 closed

[2018-03-06 02:53] vkarpov15 commented on #6187
Fixed in master and will be in 5.0.10. Issue was a validation error, if you tried to `n.save()` you would get a validation error that tracks down to an error in mongoose's internal `applyDefaults()` logic

[2018-03-06 02:53] #6187 closed

[2018-03-06 02:54] jakesjews commented on #6187
@vkarpov15 thanks a ton for looking into this!

[2018-03-06 07:35] YouriT commented on #4759
@marcelh-gh yup it has been. You can check the above commit reference: 61d665c

Documentation doesn't seem up to date, I suggest you open a new issue about it.

Strangely it was in the [previous docs](http://mongoosejs.com/docs/4.x/docs/api.html#schema-decimal128-js).

[2018-03-06 09:17] marcelh-gh commented on #4759
@YouriT thanks a lot for the quick answer. Awesome!

[2018-03-06 09:21] marcelh-gh commented on #4759
@YouriT so, there is a Decimal128 type. What about integer/ long? I didn't find anything in the old docs...

[2018-03-06 09:35] simllll commented on #6140
Somehow I believe this is related to #6117. Today we ran into weird mongoose connection issues, which suddenly stopped. Now I just tried to open a mongo cli and also got connection issues on our test environment. Looked into it, and mongos reports too many open files (the test server has default ulimit settings). So somehow we reached more than 800 connections on our test enviornment. Poolsize is

[2018-03-06 10:06] phgroe commented on #6065
Confirmed here, with 5.0.9 our tests aren't slower than with 4.13.7, in fact they are even a little bit faster :)

Well done and thanks a lot!

[2018-03-06 11:16] lineus commented on #6209
Hi @ethanresnick, I'm pretty new to mongoose, so I wanted to verify the context of the setter in mongoose 5. here is a small script that shows that `this` changes as you expected:
[code]
### Output:
[code]
I am going to create a pull request for a new page in the guide, something like which_this.html that contains all of the various places one might have to be aware of this, ie. getters and setter

[2018-03-06 12:01] choxnox opened #6211 "Slow initial DB query if connection string contains "localhost""
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
If MongoDB query is executed as soon as app is started (and mongoose is initialized), the query is unusually slow if connection string contains `localhost`. If connection string contains IP address instead of `localhost` then the query executes quickly.

If app is started (and mongoose is init

[2018-03-06 12:28] anlexN opened #6212 "When is mongoose to follow modern es2015+ style?"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
no friendly to es2015+

**What is the expected behavior?**
i hope mongoose can be modern es2015+ style!
**Please mention your node.js, mongoose and MongoDB version.**
all are the latest

[2018-03-06 13:12] marcelh-gh commented on #6207
Apparently decimals are supported.

But the current docs (5.0.8) don't mention the schema type Decimal128. It was in the docs for version 4...

[2018-03-06 17:48] #6193 closed

[2018-03-06 18:35] lineus commented on #6211
@choxnox Can you try doing a dns lookup for localhost on your system and see if that takes longer than you expect? It sounds like you're experiencing an issue with name resolution ( at least for localhost ). If you're on mac or linux/unix check /etc/hosts for a localhost entry, if you're on windows, try C:\Windows\System32\Drivers\etc\hosts. make sure you have an entry for localhost:
[code]

[2018-03-06 23:01] vkarpov15 commented on #6198
[Use `Model.hydrate()`](http://mongoosejs.com/docs/api.html#hydrate_hydrate)

[2018-03-06 23:01] #6198 closed

[2018-03-06 23:05] vkarpov15 commented on #6183
The website you linked to lists `History.md` as a reasonable alternative, so the former reason isn't sufficient to justify breaking all the already existing links that point to `History.md`. The latter reason also isn't sufficient. Thanks for the suggestion, we'll keep it in mind for the future.

[2018-03-06 23:05] #6183 closed

[2018-03-06 23:09] vkarpov15 commented on #6203
Thanks for reporting, will fix ASAP

[2018-03-07 08:53] simllll commented on #6140
Tried to debug it a bit, but I'm kinda stuck.
Even if I try the experiment of @maloguertin, it doesn't work correctly. I get the reconnect event, and even the readystate goes back to 1, but the query is never executed.

[code]

not a single line with "db result: undefined". If i run this query immediately after db connect, I get a result back (once).

Any ideas what's going on here?

Simon

[2018-03-07 09:08] fhnstephen opened #6213 "Can not create object with nested property set to null in 5.0.9, worked in 4.13.5"
Node.js version: 6.10.1
Mongoose version: 5.0.9
Mongodb version: 3.4.10

Code to reproduce the bug:
[code]

# Expected Behavior
The creation should work, and the created document should be ```{nested: null}```,  which is the behavior of ```mongoose@4.13.5```.

# Actual Behavior

In mongoose 5.0.9, it outputs the following message to console:

[code]

After some trials, I found that if I remove `st

[2018-03-07 10:05] alexilyaev commented on #6183
@vkarpov15 Actually, it states right after the alternatives list:
"It’s a mess. All these names only makes it harder for people to find it."

The reason I opened this ticket is because it took me some time to find the changelog and I'm sure it'll happen to others.

[2018-03-07 11:02] lineus commented on #6207
Hi @marcelh-gh

check out [this article](http://thecodebarbarian.com/a-nodejs-perspective-on-mongodb-34-decimal.html). It's based on older versions of mongo*/node, but I don't believe any of the core ideas represented there have changed. I hope this helps!

[2018-03-07 12:54] rohan-paul opened #6214 "RangeError: Maximum call stack size exceeded while updating data to the database after adding jsonwebtoken in url"
In my App (A messenger app, when I enter in the new message, in the message (string) input, and click on submit, the node server closes giving me the below error
Although the new message that I am submitting in the in the input form gets saved in the database. And when I restart the node server, it shows up.

[code]
**The content in my ../models/messages.js**

[code]

**This issue started happenin

[2018-03-07 12:57] lineus commented on #6213
this is related to #6187 . I applied the [patch](https://github.com/Automattic/mongoose/commit/ab142870f39403608406ee64a7a35ce844fc2935#diff-fc7fc7567205f95715daa4204b8ea0b0) that addresses #6187 and it works. The fix will be deployed in 5.0.10

### Code used to duplicate:
[code]
### output after patch:
[code]

[2018-03-07 14:24] lineus commented on #6214
Hi @rohan-paul,

thanks for making this easy to trouble shoot. I cloned your repo and there are 2 lines that need to be changed to make it work:
InspiredMacPro:rohan lineus$ git diff routes/messages.js
diff --git a/routes/messages.js b/routes/messages.js
index 21996e0..5e3360d 100644
--- a/routes/messages.js
+++ b/routes/messages.js
@@ -45,7 +45,7 @@ router.post('/', function (req, res, next) {

[2018-03-07 14:28] lineus commented on #6214
admin          0.078GB
config         0.078GB
local          0.078GB
mongoose_test  0.203GB
node-angular   0.078GB
test           0.078GB

switched to db node-angular

messages
system.indexes
users

{
	"_id" : ObjectId("5a9ff3800f2abba5379e8e93"),
	"firstName" : "flippy",
	"lastName" : "mcdoogal",
	"password" : "$2a$10$J5H/BEKxik2SOt1b/vxWgOQIdNEERynejS7n6okj6JHTfhO/DySSG",
	"email" : "flippy@mc.d

[2018-03-07 14:38] rohan-paul commented on #6214
Hi @lineus - That works great.. thanks so very much..

[2018-03-07 14:38] #6214 closed

[2018-03-07 17:29] akankshach29 commented on #5095
I'm seeing this issue as well. When populating a few level deep on Atlas server sometimes it returns the query with all details but sometimes it skips the last level populate.

[2018-03-07 18:34] prasad47 opened #6215 "Add Model name to DocumentNotFoundError"
Hi ,
i have been updated mongoose node package to version :- 5.0.0

.save method is creating issues which should save the object to db ..

Issue related Code :-

function _save(obj,callback){

    var result;
    obj.save(function(err) {
        if (err) {
            callback(err);
        } else {
            result=obj;
            callback();
        }
    });
}

Error Facing :-

{ Error
  at

[2018-03-07 20:12] maloguertin commented on #6140
@simllll are you running with mongos specifically?

[2018-03-07 20:52] lineus commented on #6205
Hi @Bangood,

A nodejs process only allocates ram up to a set limit, once you hit that limit node exits. Each document you find from the collection increases the amount of memory consumed. Assuming that your query is finding thousands (potentially 10s or 100s of thousands of documents), there's a good chance you'll reach that limit.

Some potential strategies to avoid this situation would be:
   1

[2018-03-07 20:54] carvalhoviniciusluiz opened #6216 "Inconsistency in object feeding by a virtual method"
Hello
I am working on an authentication structure that has this code

[code]
### Actual Behavior
obs., the actual code is inside a plugin injected into the schema!
[code]
when I create an object passing the information in the class constructor
[code]
the 'password' virtual method correctly feeds the salt/hash variables (this is visible with a console.log),
however, salt/hash are empty on the objec

[2018-03-07 21:14] lineus commented on #6215
please share your schema and other relevant code. it will help us come to a solution faster. If you can't share your code for whatever reason, please create a complete but minimal example that will help us replicate what you are seeing.

### here is an example that is both minimal and complete:
[code]
### here is it's output:
[code]

@prasad47 Also, when you have time, go to [mongoose on gitter](h

[2018-03-07 21:28] simllll commented on #6140
@maloguertin yes, mongos. No issues with a single mongo instance!

[2018-03-07 21:56] varunjayaraman commented on #6123
what happens if you run that script with an upgraded version of mongoose?

[2018-03-07 22:03] vkarpov15 commented on #6189
It's strange that this behavior changed, but the new behavior is more correct IMO. By passing a callback, you're telling mongoose to execute the query immediately as specified. If you want to add `select()`, use `.exec()`:

[code]

[2018-03-07 22:03] #6189 closed

[2018-03-07 22:04] vkarpov15 commented on #6202
Thanks for reporting, we'll implement this :+1:

[2018-03-07 22:06] vkarpov15 commented on #6204
@alejandromagnorsky that error only happens with arrays, can you paste your whole schema please?

[2018-03-07 22:07] vkarpov15 commented on #6206
There's a `poolSize` option you can use to configure that: http://mongoosejs.com/docs/connections.html#options . By default, the limit is 5.

Can you clarify what you mean by "100s or 1000s of connections"?

[2018-03-07 22:08] varunjayaraman commented on #6176
yup, this looks like a confirmed bug:

[code]

log output:
[code]

[2018-03-07 22:15] varunjayaraman commented on #6205
@lineus explained it well, but yes i would recommend using a cursor or doing a paginated/batched query

[2018-03-07 22:18] varunjayaraman commented on #6207
it does look like the Decimal type isnt in the docs though: http://mongoosejs.com/docs/schematypes.html

[2018-03-07 22:20] vkarpov15 commented on #6155
@diegohaz it's not intended to break compatibility with v4. @varunjayaraman 's script above has the below output with 4.13.11

[code]

The `_id` is because we switched defaults to apply after the initial setting of the doc. The reason why 'test' shows up in the first `console.log()` is because mongoose 4 iterated through keys in reverse, so it would set 'name' before setting 'test', whereas [mongo

[2018-03-07 22:27] varunjayaraman commented on #6209
here's a more complete repro script thats copy-pastable (you forgot to establish a mongoose connection @lineus ):

[code]

I agree it can be confusing determining what this is. I think a page on what `this` is might be unmanageable, but it would be worth it to maybe drop notes for the part on running setters on queries that `this` is indeed now the mongoose query object

[2018-03-07 22:28] varunjayaraman commented on #6212
what do you mean? do you mean the API is not es6+ friendly? OR do you mean the code itself is not written in es6+ ?

[2018-03-07 22:35] varunjayaraman commented on #6216
see: https://github.com/Automattic/mongoose/issues/1894

your setter is async, which is hard for mongoose to execute. Instead, make it afunction that resolves a promise and it should work

[2018-03-07 22:46] varunjayaraman commented on #6216
sorry ignore my previous comment, late night coding :(

https://github.com/Automattic/mongoose/issues/5762 has some insight on this, but basically I would jut recommend using a `method` if you need async behavior

[2018-03-07 23:10] zbornstein commented on #6149
In my situation, when I upgraded to Mongoose 5* my virtual populations are no longer pulling in the data.  Related?

[2018-03-07 23:26] zbornstein commented on #6149
`var whiteHatSchema = new mongoose.Schema({
	impact: String
},
{ collection: 'whitehat' },

	{	//Allow this schema to be used and return in virtual populations
		 toJSON: {virtuals:true},
		toObject: {virtuals:true}
	}
);
whiteHatSchema.virtual('ROInfo', {
	ref: 'RO',
	localField: 'id',
	foreignField: 'WhiteHatID'
});

app.get('/api/app_findings/:appName', middleware.validate_sanitize, team_auth.u

[2018-03-08 09:27] bgSosh opened #6217 "Deprecation warning when connecting with 4.13.11"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

I'm getting this message when I connect with latest release of v4:

[code]

I found a previous report, but the issue was closed and the comments were locked.

I checked the document link in the warning, but all I can see about this issue (under heading 'Option Changes in v5.x') relates to v5.  Pleas

[2018-03-08 09:43] Ulrikop commented on #4227
I would be happy to see that feature.

What's the status?

[2018-03-08 10:04] lineus commented on #6209
@varunjayaraman Thanks for the input. The manageability of the this page had crossed my mind too, I figured I would wait until I heard from you before I did anything.

In my example above I import mongoose with
`const mongoose = require('./lib/test_db')`
here's whats in that file:
[code]
*tl;dr If you see me put code and output in a bug, you can be sure I actually ran it :)*

Being so new to this,

[2018-03-08 10:24] lineus commented on #6217
Hi @bgSosh.
to get around this issue you can add an options object as the 2nd arg to .connect() with useMongoClient: true.

here is an example:
`mongoose.connect('mongodb://localhost:27017/test', { useMongoClient: true })`

Thanks for pointing out the issue with the error message. I'll submit a pull request to update it to point to the 4.x docs [here](http://mongoosejs.com/docs/4.x/docs/connection

[2018-03-08 10:36] bgSosh commented on #6217
Thanks @lineus - all clear now!

[2018-03-08 10:48] carvalhoviniciusluiz commented on #6216
is there any mechanism that is as elegant as the virtual method for this situation?

[2018-03-08 10:56] bgSosh commented on #6217
@lineus Hmm, ran into an issue with this - is there perhaps no createConnection that accepts both an option and a callback?

This works:
[code]
But this doesn't:
[code]

[2018-03-08 12:00] lineus commented on #6217
createConnection() doesn't take a callback in mongoose version 4. it only takes a uri and options and returns an instance of the native driver connection. Are you connecting to multiple dbs or is there some other compelling reason to use mongoose.createConnection() instead of mongoose.connect()?

[2018-03-08 12:13] bgSosh commented on #6217
Exactly, we need to connect to multiple dbs, and need a reference to the non-default connections.

Thanks for the clarification on createConnection().  Though, I can confirm that the callback is definitely called (when cb is the second parameter, but perhaps that's some unintended effect?

Is there any reason why connect() and createConnection() should have these differences?

Could you tell the c

[2018-03-08 12:44] lineus commented on #6217
it looks like when you call createConnection with a callback instead of options, it gets passed to connection.openUri, which checks if options is a function and reassigns it to the callback option.
I'm probably not the best person to speak to the reasoning for historical decisions, so I'll leave that up to @vkarpov15 or @varunjayaraman.

you can listen for the open event of the connection thusly:

[2018-03-08 13:15] bgSosh commented on #6217
Thanks again @lineus.  Might be nice to have createConnection() match the supported signatures of connect() - maybe the devs you linked could comment on the feasibility of that.

[2018-03-08 14:37] alpmusti opened #6220 "Skip and limit doesn't work"
I've upgraded mongoose `4.13.11` to `5.0.9` and below code returns all of the collection data no matter what `skip` and `limit` parameters are

[code]

I've just tried simply :

[code]
Didn't work with this way either. Returned all data this collection has.

Node.js version : `6.11.4`
mongoose version: `5.0.9` 
MongoDB version: `3.4.10`

[2018-03-08 17:54] iridiumsoft opened #6222 "Date is not storing correctly"
I have setup schema correctly for `created_on` to `Date` Type but for some reasons instead of storing ISODate format it store date object incorrectly like this:
`'date': {
        '_isAMomentObject': '1',
        '_isUTC': '',
        '_pf': {
            'empty': '',
            'unusedTokens': [  ],
            'unusedInput': [  ],
            'overflow': -2,
            'charsLeftOver': 0,

[2018-03-08 18:08] lineus commented on #6222
@iridiumsoft have you tried Date.now() ? if that doesn't work, please include your schema and the code where you create and save a new document here and we'll help you figure it out.

[2018-03-08 18:14] prasad47 commented on #6215
My Code :-
Schema Declaration :-
[code]
[code]
Saving the Dynamic Object (obj)
[code]
 Error With Versioning False  :-
[code]

With Versioning True :-
[code]
********* FYI These schemas are created with mongoose with version 3.8.8 ** Actually the errors getting started when we Upgraded to 5.0.0 .. Please suggest the problem ..  Thing is same code version Upgrade

[2018-03-08 18:14] alexksso commented on #6115
Hey here's a quick demo : test 1&2 pass, 3 fails
deps are mongoose, mocha, mocha-steps

[code]

[2018-03-08 18:18] alexksso commented on #6115
I also feel I hod more weirdnesses but it'll take too long to find them again - I'll try and update those cases should I stumble upon them...

[2018-03-08 18:58] lineus commented on #6220
if you move your callback from within find, to an exec on the end of your chain, it should work. I created the following example:
[code]
output with .exec(callback):
[code]

[2018-03-08 19:04] JasonCust opened #6223 "Virtual without getter returns `null`"
Issue began in mongoose version 4.11.5. Possibly introduced by the fix for #5473.

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If a virtual path only includes a setter (odd design, but that is neither here nor there 😉), as of v4.11.5 it will now return a `null` value for the virtual path.

**If the current behavior is a bug, please provide the

[2018-03-08 19:12] lineus commented on #6220
From reading both the version 4 and version 5 docs, it doesn't seem like the chained queries **and** a find callback should have worked in version 4, but I ran my test script above with the callback passed into find instead of an exec and it returned the skipped and limited data set (25 instead of 50). The docs are pretty clear that passing a callback into find will cause the query to execute imme

[2018-03-08 19:28] tomwanzek commented on #5482
@vkarpov15 First of all, thanks for all the great work on mongoose.

One question, before I try to do the impossible. Am I reading your comment:

correctly, that it is not possible to create a compound index on nested fields using mongoose:

[code]

**mongoose version**: 5.0.x

If not, is there a recommended work-around? Manual index creation in MongoDB? This feature seems rather critical, IMHO.

[2018-03-08 19:34] jmcollin78 opened #6224 "pre.remove middleware of objects in array are never called (with 5.0.9)"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
I create an Embedded object named FileSpace into an array of object named Space. When removing FileSpace, pre remove middleware is never call (but pre validate middleware is called)

**If the current behavior is a bug, please provide the steps to reproduce.**

Here is a repro code:
<pre>
'use strict'

[2018-03-08 22:16] tomwanzek commented on #5482
@vkarpov15 My question above seems to be obsolete. I just checked that my compound unique index on the two nested properties is enforced. Yeah 🕺 😄

[2018-03-09 00:42] jaffarc commented on #2306
I returned to the version mongoose": "4.13.7 and everything is normal .. using mongo 3.6

[2018-03-09 05:53] #6155 closed

[2018-03-09 05:57] vkarpov15 commented on #6155
I tracked this down to the fix for #3781, looks like that fix had some unforeseen consequences that caused your plugin to break. This issue doesn't affect all 5.x versions, just 5.0.5-5.0.9. We'll have a fix in 5.0.10, I can confirm your basic example works with 95c6685 above:

[code]

Don't hesitate to reach out if you run into any other issues, we're always happy to help plugin authors. Particul

[2018-03-09 06:04] vkarpov15 commented on #6217
@lineus the fact that `useMongoClient` + `createConnection()` means you can't pass a callback is an unintentional bug. Will fix for 4.13.12 :+1:

[2018-03-09 06:04] #6217 closed

[2018-03-09 07:57] prasad47 commented on #6215
FYI
 Error when updated to New Version  5.0.9

[code]

[2018-03-09 07:58] bgSosh commented on #6217
Ah, great! thanks @vkarpov15, @lineus

[2018-03-09 10:37] prasad47 commented on #6215
Here i am updating the schema to give more clarity

[code]

[2018-03-09 11:05] dcolens commented on #6131
## Repro steps
### 1. Run (while mongo is running)
[code]

### 2. Stop the mongo process

## Results:
- node v9.3.0
- mongoose@5.0.9

[code]
- no event triggered when mongo stops
- timeout events regularly emitted before mongo is stopped
- mongoose still shows as connected while mongo is not running.

## Expected Results:
- `disconnected` event triggered
- no timeout events (am not too sure why we

[2018-03-09 11:42] alpmusti commented on #6220
I've tried with `exec(callback);` and it worked for me. Thank your for help.

[2018-03-09 11:42] #6220 closed

[2018-03-09 13:22] #6216 closed

[2018-03-09 14:24] lineus commented on #6215
## Summary:
@prasad47 was using mongoose@3.8.8. He upgraded to mongoose@5.0.* and gets the error: 'No matching document found for id "5aa253cf91cff8001387748b"',
name: 'VersionError' } now when he tries to save.

## Details discussed in chat:
   1. prasad mentioned that he is accessing a mongodb server with version 3.4.6 (and that this hasn't changed. Only mongoose was updated)
      - this doesn'

[2018-03-09 14:39] tommarien opened #6226 "How to get intellisense for schema properties of a mongoose model"
I've already posted this on https://groups.google.com/forum/#!searchin/mongoose-orm/document%7Csort:date/mongoose-orm/GEJjJ6Jr1gc/pGvddou4BgAJ but got no answer.

I am looking for a way to increase discoverability of mongoose models either trough jsdoc or trough added a model.d.ts file. I've found in langer projects i can become quite of a hassle to know which properties are on a specific model

[

[2018-03-09 15:03] lineus commented on #6226
I have a very limited amount of experience with typescript, but I believe these are kept up to date:
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/mongoose

[2018-03-09 15:06] tommarien commented on #6226
@lineus What i ment is in javascript not in typescript, i want intellisense on properties and methods of my models. I get intellisense if i add @types/mongoose on all build in methods but not on my model props and methods

[2018-03-09 15:29] andrewckor opened #6227 "Missing values from Array inside Schema.methods"
I face a strange behavior inside a model method that I can say why it happens.

Lets say that you have the following model:

[code]
The `ALLOWED_ORDER_FIELDS` loses the `_id` and `createdAt` inside the method and I can't find why. Does anyone else has the same issue?

I'm using:
[code]

[2018-03-09 15:38] lineus commented on #6226
sorry for the misunderstanding. I don't thing jsdocs will get you there ( not for schema properties anyway ). You'll probably need to roll your own typescript file. There's a guide for that [here](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html)

[2018-03-09 15:45] prasad47 commented on #6215
sure
![titled](https://user-images.githubusercontent.com/6585745/37215761-e539514e-23de-11e8-8a41-0f09658b4aa6.jpg)

[2018-03-09 15:46] prasad47 commented on #6215
My app connects to the above console with mongo url .. plz take a loook

[2018-03-09 15:50] JasonCust commented on #6222
@iridiumsoft I'd recommend posting this on SO and tagging it with "mongoose". Include your schema and the applicable code for creating and saving the record.

[2018-03-09 16:07] tommarien commented on #6226
Nevermind already found my solution, fyi

# blog.js
[code]
# blog.d.ts
[code]

Now if you installed @types/mongoose you will get intellisense over your model properties

[code]

[2018-03-09 16:42] lineus commented on #6226
awesome. I'll keep that in mind! thanks for sharing the answer you found @tommarien. Can you close this out when you get a chance? Thanks :)

[2018-03-09 17:06] williamdang opened #6228 "insertMany() error handling middleware does not work"
**Do you want to request a *feature* or report a *bug*?**
I want to report a bug

**What is the current behavior?**
The error handling middleware for `insertMany()` does not work.

**If the current behavior is a bug, please provide the steps to reproduce.**
Here is a script to reproduce the problem:

    const Mongoose = require('mongoose');
    const Schema = Mongoose.Schema;
    const expect = r

[2018-03-09 19:29] vkarpov15 commented on #6183
That's fair. The downside though is that all links that point to `History.md` will be broken if we change the file name, and I would imagine plenty of people end up on `History.md` from links

[2018-03-09 19:59] vkarpov15 commented on #6190
Yeah that's a fair point. I think the only reason why things are this way right now is because mongoose consistently sets the version key in the query if you remove subdocs from the array, but in this case it shouldn't be necessary. Will investigate for a future release :+1:

[2018-03-09 20:08] #6205 closed

[2018-03-09 20:10] bitflower opened #6229 "createWrapperSync is not a function"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I'm getting a `createWrapperSync is not a function` in this context after updating to 5.0.9 from 4.x:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

I have already uninstalled mongoose, checked `npm outdated` - all good. Nothing old around...

I found references t

[2018-03-09 20:29] bitflower commented on #6229
My mistake... in my own module which I was using over `npm link` (usually - but not today) ARGH :-) Sorry!

[2018-03-09 20:29] #6229 closed

[2018-03-09 22:28] lineus commented on #6228
Hi @williamdang, Thanks for making such an awesome example! In this case, I think the 2nd [faq](http://mongoosejs.com/docs/faq.html) in the list covers this scenario. unique is not going to
*actually* be unique until the indexes are built in mongodb, there's an example that covers how to wait for the 'index' event covered in the faq as well. Let me know if you have any questions.

[2018-03-10 00:14] lineus commented on #6228
Hi @williamdang. Thanks for the great repro script!

Apologies for the hasty first comment. I came back to this after a little while because it wasn't sitting right with me.

it looks like the model middleware for insertMany doesn't conform to the error handler (3 arg) middleware mentioned in the docs [here](http://mongoosejs.com/docs/middleware.html#error-handling)

it does however send the first

[2018-03-10 01:18] diegohaz commented on #6155
Hey, @vkarpov15. Thank you so much.

I'm always meeting J-Rock fans out there through that project hahaha

[2018-03-10 01:55] vkarpov15 commented on #6176
This behavior is correct and [documented](http://mongoosejs.com/docs/schematypes.html#arrays), you need to use `default: void 0` to get the behavior you want. Although unfortunately, we currently don't have a link to the schematypes guide from the docs, will add that.

[2018-03-10 02:15] #6176 closed

[2018-03-10 02:20] #6207 closed

[2018-03-10 02:44] #6203 closed

[2018-03-10 07:17] dtanphat9388 opened #6230 "can't handle error hooks in promise"
**Do you want to request a *feature* or report a *bug*?**
*bug*

[code]

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
mongoose can catch error in promise style

**Please mention your node.js, mongoose and MongoDB version.**
node, mongoose: latest verson

p/s: i am not speak English for goo

[2018-03-10 11:48] lineus commented on #6215
I spent some more time chatting on this with @prasad47 yesterday. There is a mistake in the above example in the call to save. the lodash extend call is different from his actual code.

@prasad47 can you please update this with an example that matches your real code as closely as possible, or create a standalone example that mirrors the code you wish to remain private minus any details that are se

[2018-03-10 14:20] donjr commented on #6206
@vkarpov15 sure thing. When users log into the app, they will need to be able to switch between different databases (one at a time) and perform CRUD operations on whichever database they're connected to at the time.

My problem is with how this is going to scale. If I have potentially 1000 (or more) users logged in, performing operations on different databases, will mongoose be able to handle that

[2018-03-10 14:27] doneumark commented on #681
+1

[2018-03-10 17:26] prasad47 commented on #6215
Hi Guys

**Server.js File**

[code]

 **model.js  // Start**

[code]
**// End of Model.js**

**controller.js  //Start**

[code]
 **controller.js  //End

When End Point (route) called the following error happening
 Please refer Above Errors**

Thanks,
Prasad

[2018-03-10 18:01] donjr commented on #6206
After taking a second glance at the docs http://mongoosejs.com/docs/connections.html it sounds like I can't leverage the connection pool to facilitate writing/reading to different databases. It sounds like the connection pool only makes connecting to any one database more efficient which is nice.

I think what I'll have to do is create multiple mongoose connections using `createConnection()` as th

[2018-03-10 18:06] alexilyaev commented on #6183
@vkarpov15 Not sure how to find such links, didn't find any through Google.
Do you have examples?

The last idea I have is to keep `History.md` only with some text linking to `CHANGELOG.md` and retire `History,md` after a period of time.

If you're still not convinced, that's fine, and you can close this ticket.

[2018-03-11 19:51] #6226 closed

[2018-03-11 23:03] varunjayaraman commented on #6166
I'm also not able to reproduce this:

[code]

log output is `0` (as it should be)

Without a reproducible code sample we will have to close this soon. If you think you can isolate the problem and produce a code sample without exposing sensitive code, please try to do so. Otherwise we can't really act on this.

[2018-03-11 23:11] varunjayaraman commented on #6175
Weird, I get a completely different error. @lineus i copied and pasted your script (with some minor modifications, i just browserified it into a file called `bundle.js` and changed the `src` in the html file) and instead I got:

[code]

[2018-03-11 23:16] varunjayaraman commented on #6212
How is the api not es6 friendly? Please clarify

[2018-03-11 23:22] varunjayaraman commented on #6215
what is `_saveCreatedOrder` doing? can we see that code

[2018-03-12 00:01] lineus commented on #6228
## To illustrate the difference a little more clearly:
and to save the code that I'm using to step through the debugger

### insertManyTest.js
[code]
### output:
[code]
### saveTest.js
[code]
### output:
[code]

I believe that I've isolated the difference between how the save and the insertMany post hooks get called. I'll play around with a solution. @vkarpov15 @varunjayaraman if the difference he

[2018-03-12 05:31] #6027 closed

[2018-03-12 07:20] prasad47 commented on #6215
@varunjayaraman   I think you will get more clarity When i just deleted the other Errors which are kind of creating more chaos.

Actually _saveCreatedOrder  is nothing but  a reusable global function which performs save every time ..
_saveCreatedOrder  // what ever the method name it is
 Code follows : -
[code]
The Filtered Error from the above scenarios is **.save** method from **Mongoose npm** i

[2018-03-12 07:50] jmcollin78 commented on #6224
Many thanks for this ! I will try to put that in my context and I keep you in touch.

[2018-03-12 09:51] beanilsson opened #6231 ".save() doesn't throw error if not connected to database"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
If I run .save on a mongoose schema without being connected to the database, the callback is never called. I don't get any errors either. The process seems to be running forever. Also, if I'd run an empty .save(), `message.save()` before the actual save, I get the 200 response back. Not sure if that's

[2018-03-12 11:26] lineus commented on #6224
@jmcollin78 I'm pretty new to mongoose and mongodb, rather than guess or make assumptions, I'll CC some folks that will have the answer.

@vkarpov15 @varunjayaraman What is the reasoning behind only hooking a subdocument's remove when the parent is removed and not when the remove call is made on just the subdoc?

I looked for existing open/closed bugs that reference this specific question, but if

[2018-03-12 12:12] lineus commented on #6227
### I have created the following script to try and reproduce this:
[code]
### output:
[code]
@andrewckor am I doing anything differently than you are? Can you try to run my implementation of your code and see if you see the same problem?

[2018-03-12 12:42] lineus commented on #6223
Thanks for the awesome repro script @JasonCust !

I verified that this did change between 4.11.4 and 4.11.5 and persists on 5.0.9.
[code]
From looking at the commits, the relevant commit is probably: 2ede28b1fe4db0895a4dcb19275adc8349dc8e24

[2018-03-12 13:44] beanilsson commented on #6231
Thanks for the clarification. Personally, I think that's a very strange default behaviour. But I do realize the benefits of it.

[2018-03-12 13:44] #6231 closed

[2018-03-12 16:20] lineus commented on #6215
I have provided @prasad47 with the following test code to try and isolate the issue to mongoose, mongodb native, and the server. I have redacted the sensitive userID from the code here.
[code]

[2018-03-12 19:44] asykes74 opened #6233 "Problem handling subdocuments using mongoose models coding style - caster undefined"
@varunjayaraman   I am trying to utilize typescript with mongoose models but I am having an issue when I try to use with subdocuments.

seat.ts:
[code]

plane.ts:
[code]

iseat.ts:
[code]

iplane.ts:
[code]

iseatmodel.ts:
[code]

iplanemodel.ts:
[code]

planerepository.ts:

[code]

This is the error I keep receiving:
TypeError: Cannot read property 'casterConstructor' of undefined
    at Array.cr

[2018-03-12 22:50] benedictchen commented on #3921
It would be really nice to have mongoose JSDocs.  I can't really understand what is expected in the params and it takes me forever to figure it out.

[2018-03-12 22:55] Zsw007 opened #6234 "justOne: true option does not work when populating virtuals if the query is lean"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The bug occurs when using the [Populate Virtuals](http://mongoosejs.com/docs/populate.html#populate-virtuals) feature. If the virtual field have the `justOne: true` option set, but you populate while using a [`lean()`](http://mongoosejs.com/docs/api.html#query_Query-lean) query, the option is ignored

[2018-03-12 23:20] vkarpov15 commented on #6149
@zbornstein does `whiteHadSchema` even have an `id` property? Or is it a virtual?

[2018-03-12 23:34] #6209 closed

[2018-03-12 23:59] vkarpov15 commented on #6213
@lineus is right, this looks like a duplicate of #6187. 5.0.10 will be released shortly with a fix :+1:

[2018-03-12 23:59] #6213 closed

[2018-03-13 00:09] h2non opened #6235 "Add examples using async functions as middleware to docs"
Async/await sugar operators are finally becoming a mainstream pattern to deal with async logic in JS.

The proposal here is to have first-class support for async functions that yield promises in Mongoose without forcing developers to abuse of wrappers or fancy abstractions.

Potential implementation ideas for a healthy convergence between existent interface and future ones without breaking changes

[2018-03-13 02:07] JasonCust opened #6236 "Connection options for MongoDB driver are ignored"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
According to the [options documentation](http://mongoosejs.com/docs/connections.html#options), any MongoDB driver options can be specified via the mongoose connection method:

The linked [driver documentation](http://mongodb.github.io/node-mongodb-native/2.2/api/MongoClient.html#connect) includes an op

[2018-03-13 05:57] NextZeus commented on #1844
v5.0.8 is exist this problem .

[2018-03-13 09:40] anlexN commented on #6212
IE, don't  have arrow function, class, and so on.

[2018-03-13 10:16] mirkods opened #6237 "Schema methods aren't propagated again"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
5.0.10

**If the current behavior is a bug, please provide the steps to reproduce.**
I notice a breaking change not reported in list between mongoose 4 and 5. Seems that schema methods in mongoose 5 aren't propagated to nested properties as in mongoose 4.

Mongoose 4.9.8:
[code]

Mongoose 5.0.

[2018-03-13 13:52] williamknn commented on #2906
I'm receiving the same error that @brandom has received. Mongoose v3.8.24. Node.js v6.7.0.
Unfortunately I can't upgrade my Mongoose version due to compatibility issues. Is there any workaround for it?

[code]

[2018-03-13 16:05] zbornstein commented on #6149
@vkarpov15 Hi, yes it does. I redacted all of the schema content here, but I can confirm it does.

[2018-03-13 16:25] brandom commented on #2906
@williamknn IIRC this was very specific to 4.0.2 for me. Looks like #2908 gets to the heart of the issue and the fix was in cb975db. Perhaps simply adding the appropriate bson version as a direct dependency of your project would fix it? Can't remember enough about module resolution in node v6 at this time to say for sure, but it's worth a quick experiment.

[2018-03-13 18:43] williamknn commented on #2906
@brandom Thanks for your suggestion, but I've found the problem already. The crash has occurred after I made a merge with two branches. I looked up into the code and found the query that someone's have wrote and it's not supported in our Mongoose version.
This is the query:
`Users.find({ "userInfo.subscriptions": { $exists: true, $not: { $size: 0 } } }, { "userInfo": 1 })`

I haven't found the `$n

[2018-03-13 19:02] ORESoftware opened #6238 "mongoose @types for generic model?"
This issue regards the TS typings for mongoose. I have this:

![screenshot 2018-03-13 12 00 59](https://user-images.githubusercontent.com/11139560/37363898-4cf1e9f2-26b6-11e8-80ad-91bacf07fde6.png)

which is exactly:

[code]

is there someway to recognize the `$$hashKey` and `__v` fields of a generic mongoose Model?

[2018-03-13 20:07] haydaralrikabi opened #6239 "Bug Report: Can't use an array variable with enum"
Hi,
The following enum validation is ignored:

`range: { type: String, enum: myArray }`
`});`

However, using the array explicitly with enum works, e.g:

I searched up and down for a solution but I couldn't find one.

I am currently using:
Node.js@v9.8.0
mongoose@5.0.9
MongoDB@2.6.10

Thank you in anticipation.

[2018-03-13 20:39] lineus commented on #6215
@prasad47 has verified that the above example works but his actual codebase is still failing. We're working to sort it out over IM, but since it isn't an issue with mongoose we can close this. If we come up with reproducible issue, we can open a new one.

[2018-03-13 20:58] lineus commented on #6239
Hi @haydaralrikabi

### I tested this out on 5.0.9 with the following script:
[code]
### output:
[code]
Am I doing something different from what you have in your code? try and run my example and see if it still doesn't work for you. Alternatively you could provide your entire script and I'm happy to take a look.

[2018-03-13 21:15] vkarpov15 commented on #6224
Because the alternative would be to make `doc.subs[0].remove()` call `doc.save()`, which is weird if you need to remove multiple docs. In general, the subdoc isn't removed until you call `doc.remove()` or `doc.save()`, because there's no way to remove a subdoc without updating the parent doc.

[2018-03-13 21:15] #6224 closed

[2018-03-13 21:20] #4790 closed

[2018-03-13 21:20] #6123 closed

[2018-03-13 21:21] #6117 closed

[2018-03-13 21:22] vkarpov15 commented on #6212
We're slowly switching over to using let and const, and arrow functions where appropriate, but we only dropped support for ES5 earlier this year so it is still a work in progress. If you're looking to contribute, feel free to use ES6.

[2018-03-13 21:22] #6212 closed

[2018-03-13 21:24] vkarpov15 commented on #6220
@lineus is correct. Please make sure your query is fully constructed before passing a callback, because passing a callback actually executes the query.

[2018-03-13 21:29] vkarpov15 commented on #6230
I have never seen this syntax before:

[code]

Where did you find this syntax?

Also, I don't understand what your issue is, can you please clarify?

[2018-03-13 21:33] JunyuanZheng opened #6240 "findByIdAndUpdate & $pull on subdocuments cause ValidationError"
**What is the current behavior?**

I have a schema like this:

[code]

what I am trying to do is I want to remove some `highligh subdocuments` by using `findByIdAndUpdate` & `$pull`:

[code]
If I add `runValidators: true` to the function, it will throw error:

[code]

It works perfectly if I change `runValidators` to `false`

**What is the expected behavior?**
I am wondering what is causing this i

[2018-03-13 21:37] vkarpov15 commented on #6206
For your application I think multiple connection pools is the way to go. Ultimately it comes down to the fact that mongodb can only make progress on one operation per socket connection at a time, so if you just have 5 sockets in your pool and you have 5 very slow operations running, any fast operations that come in will be blocked. If you have different databases and different users with very diff

[2018-03-13 21:37] #6206 closed

[2018-03-13 21:40] vkarpov15 commented on #6183
The only place where I post these links is mongoose's [Twitter](https://twitter.com/mongoosejs) and sometimes our slack channel. I'm not entirely convinced that this change is worth making at this time. Perhaps if some tooling in the future makes this naming convention more compelling we'll make the change, but for now this just seems like there's no significant benefit in adopting this naming con

[2018-03-13 21:40] #6166 closed

[2018-03-13 21:45] vkarpov15 commented on #6231
It's a behavior that made a lot more sense when everybody used callbacks, but it's less useful now that we have async/await. As async/await becomes more prevalent we'll consider changing it.

[2018-03-13 21:48] vkarpov15 commented on #6233
@asykes74 `plane.SeatsChart.create(seatAttributes);` shouldn't that be `plane.seatsChart.create(seatAttributes);` with a lowercase 's'?

[2018-03-13 21:49] vkarpov15 commented on #3921
@benedictchen can you clarify what you mean by "mongoose JSDocs" and where you're getting info on what is expected in params?

[2018-03-13 21:50] vkarpov15 commented on #6234
Thanks for reporting, will investigate ASAP :+1:

[2018-03-13 21:52] vkarpov15 commented on #6235
I believe we already support this in 5.x: http://thecodebarbarian.com/introducing-mongoose-5#promises-and-async-await-with-middleware . In general, we handle any function that returns a promise, no need to infer whether the function is async or just returns a promise.

[2018-03-13 21:55] vkarpov15 commented on #6236
Thanks for reporting, will investigate ASAP

[2018-03-13 22:31] haydaralrikabi commented on #6239
Here is the full code. Basically, what it does is checking if an inserted video title has a valid genre's category in the database. Genres and videos are saved in two different collections.
There may be a better way to write this code, but my point is about using _enum_ with _gendersList_.

I am actually creating the array on the fly, from the database. I've noticed that when I create the schema i

[2018-03-13 23:11] lineus commented on #6239
@haydaralrikabi

the fact that the genresList requires an async operation to get the data is going to
mean you're always going to need to handle that with async/await or a promise that doesn't
create the schema until the genre data has been retrieved.

The only other option that I can think of (that wouldn't be async or blocking) would be to store hard-coded genres in the array instead of generati

[2018-03-13 23:34] gilles-yvetot commented on #6025
I don't have the issue when I execute @vkarpov15 's code but I still have the same issue as long as I import my model

[2018-03-14 00:12] h2non commented on #6235
Oh, cool. My fault. I wasn't able to find any example or reference in the docs. I have actually discovered the `Promise` support by reading the code afterward.

[2018-03-14 00:25] ORESoftware opened #6241 "Get decent TS typings for model/models using basic Mongoose API"
This is probably a feature request - specifically to improve `@types/mongoose` ...

I am seeing this:

![screenshot 2018-03-13 17 23 49](https://user-images.githubusercontent.com/11139560/37376790-5003770a-26e3-11e8-9519-f204cc5262c3.png)

Mongoose typings don't know what either err or models is..
Shouldn't mongoose have a decent understanding of what interface the callback should have?

shouldn't

[2018-03-14 00:29] donjr commented on #6206
@vkarpov15 sounds good, thanks for the heads up about the caching as well - I think I can make use of that!

[2018-03-14 01:08] #6236 closed

[2018-03-14 01:08] vkarpov15 commented on #6236
Fixed in master, fix will be in 5.0.11

[2018-03-14 01:23] reduxdj opened #6242 "Improve docs for `create()` params"
mongodb: 3.2.12
node: 9.6.1
mongoose: 5.0.10 / (observed in 5.03 too)

Unable to save a schema, i am in a bit of a whack-a-mole with a model save, new document's don't save, actually they save but they throw errors when they successfully insert.

Schema looks like...

[code]

Save method looks like:

[code]

throws errors like:
```{ ValidationError: PointsTransaction validation failed: points: Pat

[2018-03-14 02:46] wxs77577 commented on #5934
Hi @vkarpov15

It's an important feature. The related fields in my mongodb are `*_id` (like, user_id, user_ids, course_id, etc.), and it's quite hard to match our ADMIN DASHBOARD if I use populate to modify `user_id` as an `User` object. I prefer to define the schema like this:
[code]

out:
[code]

I think it's better than a VIRTUAL type.

Thanks a lot.

[2018-03-14 03:01] wxs77577 commented on #5934
Hi, @jlchereau  I've made some changes:

[code]

[2018-03-14 03:52] vkarpov15 commented on #6223
Fixed in c6295cb, will be in 4.13.12

[2018-03-14 03:52] #6223 closed

[2018-03-14 07:01] zeteticl opened #6243 "mongoose findone return undefine"
I have a bot. It can input some text and return some word.

I would like to use MongoDB. Because Heroku can't store data.

So I add function.js that use mongoose.

     console.log('data.functionswitch = ' + data.functionswitch);
console log is work fine. It can reply what i want.

     return data.functionswitch;
but  return data.functionswitch  only return undefined when i call it in input.js/.

[2018-03-14 08:03] wxs77577 commented on #6079
it's ok, just because you use `console.log` in console, it's fold nested data by default. my be you need `console.log(util.inspect(ret.toJSON(), true, 10))`.
ps. don't forget to `require('util')`

[2018-03-14 08:14] lineus commented on #6237
Hi @mirkods. I had never seen the expectation of being able to call instance methods directly on a model instance property documented anywhere before, so I dug into it a bit, and it seems that this behavior changed in version 4.12.

I verified that it behaves as you expected all the way up to and including 4.11.14. After a bit of digging I discovered that this was indeed intentional per #5470. The

[2018-03-14 08:20] lineus commented on #6241
Hi @ORESoftware the type definitions are maintained by DefinitelyTyped [issues here](https://github.com/DefinitelyTyped/DefinitelyTyped/issues). You might want to check there for existing issues, and potentially raise a new one, or file a PR there if you have the time. The mongoose type are [here](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/mongoose). I hope that helps :)

[2018-03-14 09:05] lineus commented on #6238
@simonxca I hope you don't mind me CC'ing you here. Is this something you can answer?

[2018-03-14 09:31] pellea commented on #5986
Using mongoose 5.0.10 I still have this issue.
The query seems fine but the data is not modified: `{ n: 1, nModified: 0, ok: 1 }`.

@vkarpov15 What's the status of this?

[2018-03-14 09:37] haydaralrikabi commented on #6239
Thank you very much for your help.

[2018-03-14 09:57] alexilyaev commented on #6183
Thanks for considering it.

[2018-03-14 10:27] lineus commented on #6242
Hi @reduxdj!
Are you really passing in an object literal to Model.create()? Or is that just an example of a model instance that's getting passed in, in your app? Can you create a standalone example that fails in the same way as your app?

I created this contrived example:
[code]
output:
[code]

[2018-03-14 11:17] lineus commented on #6242
Hi @reduxdj

Can you please provide us with a minimal but complete example that demonstrates the behavior you're experiencing?

for example:
[code]
outputs:
[code]

[2018-03-14 12:18] chen-i commented on #2471
I solved the problem by referring to http://xiaoweiliu.cn/2017/06/21/pymongo-errors-DuplicateKeyError-E11000-duplicate-key-error/.

[2018-03-14 14:15] lineus commented on #6243
Hi @zeteticl. I assumed that you are using mongoose 5, If you're on an earlier version let me know and I'll update my answer for that version.

Here is a basic implementation of what you're trying to do:
[code]
output:
[code]
For future reference, there are several communities of folks who are happy to help,
[slack](https://mongoosejsteam.slack.com/messages/C2CA1AWQP/details/)
[gitter](https://git

[2018-03-14 15:06] tomgrossman opened #6244 "createConnection does not reconnect when initializing the connection while the DB is down"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I'm initializing the DB connection with the `createConnection` function.
If I'm doing so while the DB is down, the `readyState` of the connection stays at `2` (connecting), and when starting the DB there is no re-connection until process restart.

**If the current behavior is a bug, please provide the

[2018-03-14 16:47] dtanphat9388 commented on #6230
i mean: error callback defined in pre hooks is not supported in catch promise

p/s: i am not speak English for gook, i hope you understand, thanks you

[2018-03-14 16:49] wilimitis opened #6245 "Populate does not consistently supply default value for array of subdocs."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
`populate` does supply the default value, `[]`, for array fields on subdocuments when the first subdocument in an array of subdocuments does not have the field in question set (sorry if this is not the minimal representation of the issue, I attempted to illustrate through the repro steps). For instance

[2018-03-14 18:13] lineus commented on #6244
Hi @tomgrossman

tl;dr reconnect only applies to previously established connections.

I was a little perplexed by this the first time I encountered it. This isn't a bug with mongoose but rather the intended behavior of the mongodb driver. There is at least one issue in mongodb's native driver's bug tracker that proves we're not alone. [Here](https://jira.mongodb.org/browse/NODE-695) is the link to

[2018-03-14 20:49] ORESoftware commented on #6241
Thanks, I solved it like so:

[code]

[2018-03-14 20:50] ORESoftware commented on #6241
unfortunately it requires a separate TS interface (CDTModel), but other than that, not so bad.

[2018-03-14 22:09] lineus commented on #6245
@wilimitis thanks for making this so easy to reproduce.
here's the code I used for step 3
[code]
after changing the console log calls in your original scripts,
here's my output:
[code]

[2018-03-14 22:09] zleight1 commented on #6242
I'm also seeing something similar I'm getting a DocumentNotFoundError when doing this:

[code]

[code]

What I'm saving:
[code]

[2018-03-15 01:37] reduxdj commented on #6242
sure thanks for that snippit, i have confirmed that issue is between the mongoDB version and the new library, downgrading 4.13 things are working again. Here's the output. This ran fine against my local mongoDB, oh and my mongo 3.2.2 is a replicaset btw.

[code]

[2018-03-15 01:53] kennu commented on #6025
I witnessed the same problem when I connect() to the database, but don't wait for the connection promise to resolve before calling initializeUnorderedBulkOp().

[2018-03-15 01:53] simonxca commented on #6238
Could be an implicitAny issue.
What is the error message?

Are you able to add this to your tsconfig.json?
[code]

[2018-03-15 02:02] ORESoftware commented on #6238
$$hashkey is an Angular1.x thing

I think this is what I am looking for:

`import {Document} from 'mongoose';`

an instance of Document should have __v and _id fields defined, etc.

[2018-03-15 03:48] vkarpov15 commented on #2906
@williamknn that's strange, I can't think of a reason why that query wouldn't work in mongoose 5. Can you show your schemas please?

[2018-03-15 03:50] vkarpov15 commented on #6240
Thanks for reporting, will investigate :+1:

[2018-03-15 03:52] vkarpov15 commented on #6235
Lack of docs is a problem, we'll fix that. Thanks for pointing that out.

[2018-03-15 04:41] JunyuanZheng commented on #6240
Reproduce repo: https://github.com/JunyuanZheng/Mongoose6240

[code]

2 API endpoints to reproduce this issue:

Success DB update: `http://localhost:3000/success`
Fail DB update: `http://localhost:3000/fail` and you will see the error `"Validation failed: highlights._id: Path `_id` is required., highlights._id.$in: Path `_id` is required."`

[2018-03-15 06:29] tomgrossman commented on #6244
the `readyState` stays on `2` which is wrong, since it is not "connecting", so maybe it can be solved from mongoose side if the native driver ppl says it's as designed.

[2018-03-15 10:01] lineus commented on #6244
the current callback to the driver's MongoClient.connect method only emits an error and rejects the promise without changing the readyState.

@vkarpov15 would it be a backwards breaking change to set the connection's readyState to disconnected in the initial error condition of the callback to .connect()?

### something like:
[code]

### example:
[code]
### output with .connect callback as it is no

[2018-03-15 10:32] bgSosh opened #6246 "TypeError: BSON is not a function"
**Do you want to request a *feature* or report a *bug*?**

Bug?

Getting this error after recent upgrade from older v4 to latest.  Looking into it now, and will update with further details - but if anyone has info on what's going on would be appreciated!

Thanks

**What is the current behavior?**
[code]

[2018-03-15 10:49] isaachinman commented on #1020
For anyone arriving at this thread in the future, there's a nice plugin called [mongoose-private-paths](https://www.npmjs.com/package/mongoose-private-paths) that seems to be used somewhat widely.

[2018-03-15 10:55] lineus commented on #6242
I spun up replica sets locally with 3.0.2, 3.2.10, 3.4.4, and 3.6.2:
the only change to my code above was:
[code]

results for all 4 mongod versions were the same:
[code]
I'll see if I can find exact copies of the versions reported, and try again.

[2018-03-15 10:59] lineus commented on #6215
@prasad47 are you connecting to replicaSet?

[2018-03-15 11:10] prasad47 commented on #6215
No I am not to replica set

[2018-03-15 11:23] #6246 closed

[2018-03-15 11:29] prasad47 commented on #6215
FYI ,

[code]
This is what the code i used and to save docs  it is raising the issue .
you know this is the syntax you guys suggested in documentation .

[2018-03-15 12:32] lineus commented on #6215
@prasad47, During our conversation on gitter you tried the test script I provided above and reported that it worked without error. The error messages in your last comment are clearly coming from your app and not an isolated test case like the one I provided or the one in the documentation. **The syntax from the documentation is correct.**

I'm going to step back and allow someone with more experie

[2018-03-15 13:23] andrewckor commented on #6227
I cannot figure out why it is happening to me. I will close the issue and come back if I find out why.

[2018-03-15 13:23] #6227 closed

[2018-03-15 13:49] 20Aditya opened #6247 "'not authorized on [database_name] to execute command, mongodb error"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Please mention your node.js, mongoose and MongoDB version.**

[2018-03-15 19:18] zleight1 commented on #6242
Downgrading to 4.13.12 fixed this for me

[2018-03-15 20:13] BorntraegerMarc commented on #6052
@vkarpov15 Do you have more suggestions or is this a bug?

[2018-03-16 00:12] #6178 closed

[2018-03-16 00:12] #6195 closed

[2018-03-16 00:48] AngelMunoz opened #6248 "Save existing SubDocuments in Parent Documents"
**What is the current behavior?**
Hey guys I have quite a silly question
I have 3 collections
[code]

I'm parsing information from another source
so I parse populate locations and industries first, thus any future industry/location exists

When I parse the companies, I want to create a company with an existing location and an existing arrray of industries but when I save it throws with a 11000 bec

[2018-03-16 10:05] lineus commented on #6242
I tried to find an official source for older versions, but I couldn't find 3.2.2. So I instead created a free atlas account and ran the following code against it based on @zleight1's example.
[code]
### output:
[code]
@zleight1 can you change the uri in my example and run it against your atlas cluster using mongoose 5@latest and see if it works? **beware** of the remove in my script. If you don't

[2018-03-16 11:03] mirkods commented on #6237
Hi @lineus thanks for your response. I was having advantage from this behaviour because I was able to call the methods function on subset of the model instead of the whole model. I understand that probably this behavior has happened from a side affect and not properly implemented but this can be considered as breaking change.

[2018-03-16 12:44] tomgrossman opened #6249 "no disconnection after a re-connection"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
After the connection is `re-connected` and DB goes down again, there is no disconnection event and the `readyState` stays in `1 - connected`

**If the current behavior is a bug, please provide the steps to reproduce.**
1. start the DB
2. start the app - make sure the `readyState` is 1
3. stop the DB
4.

[2018-03-16 14:36] lineus commented on #6249
@tomgrossman you make incredibly detailed bug reports. Thank you.

I started your code without modification, then stopped and started the server several times. I see the disconnect event each time I stop the server and the ready states line up with:

connectionstate.js:
[code]

here is my output:
[code]

[2018-03-16 14:42] williamknn commented on #2906
@vkarpov15 I've deleted some data because the schema is too long:
https://pastebin.com/Fp93tDdh

[2018-03-16 14:42] tomgrossman commented on #6249
Mmm weird, it happens to me all the time. The only information I left out is that it's a mongos server connected to 2 shards. But I didn't think it matters since it's one mongos. But maybe it does matter.

[2018-03-16 18:05] lineus commented on #6237
@mirkods you're welcome!

The fact that this wasn't a documented feature (or public API) is the reason why it's not a backwards-breaking change. Normally I avoid being pedantic, but in this case, it's part of what defines a backwards-breaking change. You can check out the spec for semver [here](https://semver.org/). Let me know if you have any questions.

[2018-03-16 19:29] gforge opened #6250 "Overloaded schema fails to trigger due to kareem update to 2.0.5"
In the `mongoose-delete` plugin (https://github.com/dsanel/mongoose-delete/issues/36) the tests started failing when `kareem` package was updated to version 2.0.5. After some debugging it turns out that this only occurs when passing a callback function to the the overloaded function. I've created a test case that fails on the last assertion:

[code]

The error is due to this commit: https://github

[2018-03-16 20:21] uptownhr commented on #4064
all, i know this issue is marked closed but I'm seeing this issue right now in my tests (using ava). Ava runs tests concurrently and I believe it is related to the same model instance saving concurrently. Anyone else have insights into this?

[2018-03-17 00:30] #6235 closed

[2018-03-17 01:01] lineus commented on #6249
I think the mongos piece is the difference between our results. I'll tinker with it over the weekend and see what if anything I can find. [this](https://jira.mongodb.org/browse/NODE-1340) issue against the native driver calls out event weirdness in mongos, and the last response was that they're going to refactor the connection code in a few months.

[2018-03-17 05:20] caaker commented on #6045
I noticed that the Discover Plugins link is also broken on

http://mongoosejs.com/

It is pointing to

http://plugins.mongoosejs.io/

[2018-03-17 05:56] Abdulkadir98 commented on #1694
@bhagaban Thank you so much! Just when I thought I had tried everything. Your code worked wonderfully.

[2018-03-17 06:37] selimachour commented on #6211
I have the same issue, using localhost takes up to 10s to connect but using 127.0.0.1 takes about 10ms.
I have localhost in my /etc/hosts
The thing is, I'm not using mongoose, I'm using the node-mongodb native driver. So my guess is this has nothing to do with mongoose

Node: v8.10.0
mongodb: v3.0.4 (node driver)
MongoDB: v3.4.13 (server)

[2018-03-17 12:28] lineus commented on #6211
I checked the native driver bug queue on jira [here](https://jira.mongodb.org/projects/NODE/issues/NODE-1307?filter=allopenissues) and there aren't any existing reports about slowness resolving localhost.

@selimachour can you elaborate on your environment? what OS/version are you using? Can you post the results of `ping localhost` vs `ping 127.0.0.1` here?

[2018-03-17 12:35] lineus commented on #6241
Thanks for posting your resolution here! If you're all set, can you close this?

[2018-03-17 12:43] lineus commented on #6239
my pleasure @haydaralrikabi :)

Can you close this when you have a sec? Thanks!

[2018-03-17 17:00] selimachour commented on #6211
@lineus I'll elaborate ...
I've been having some issues with internet lately, very slow sometimes and I noticed that my express server at http://localhost:4000 which usually replies within 30ms (multiple F5 in chrome while watching the network tab) would once every about 10 refreshes, take up to 10s ! to reply.
When I disable the wifi, the problem goes away but no internet :(

Yesterday, I stumble

[2018-03-17 17:29] #6076 closed

[2018-03-17 17:46] gualopezb commented on #4797
@vkarpov15 the `updatedAt` isn't updated automatically when the Schema has the `timestamps` set, or should I have to change it manually?

[2018-03-17 18:38] pwhissell commented on #6002
It would be awesome if Schema definitions would be done using es6 classes and if support for inheritance would be transparent to the developper (slash mongoose user). Discriminators are one way of supporting class inheritance in the database but the developper using mongoose shouldn't need to know how the inheritance hierchy is represented in mongodb.

It would be much cooler if the fact of extend

[2018-03-17 19:36] ORESoftware commented on #6241
yeah np sounds good thx

[2018-03-17 19:36] #6241 closed

[2018-03-17 19:39] mahnunchik opened #6251 "Allow hint option in aggregation"
**What is the current behavior?**

[code]

**What is the expected behavior?**

https://docs.mongodb.com/manual/reference/method/db.collection.aggregate/

hint option exists for aggregation

**Please mention your node.js, mongoose and MongoDB version.**

[code]

mongoose version: 4.13.10

[2018-03-17 19:53] mahnunchik commented on #6251
In mongoose 5.0.10 the same error.

[2018-03-17 23:37] #6234 closed

[2018-03-18 05:58] ORESoftware opened #6252 "feature request - allow users to plugin caching functionality"
Not sure if this functionality exists or not...
We all have the following methods on models etc:

[code]

Our team is going to try to implement caching on our server for collections that are finite in size. The problem is our codebase has all sorts of random calls to read/find models from the db.

One thing we could do, is monkey-patch the Model methods that read from the db, something like this:

[2018-03-18 08:44] jmcollin78 commented on #6224
If I add a subdoc and call doc.save() the pre('save') callback is called.
If I remove a subdoc, I suppose that pre('remove') will be called too.
There is something missing in my understanding. It's pretty confusing to have two different behaviours (that makes me think about a bug initially).

[2018-03-18 12:16] #6239 closed

[2018-03-18 12:42] akashbharadwaj opened #6253 "The field 'rooms' must be an array but is of type object in document"
My Schema is like this:
var hotelSchema = new mongoose.Schema({

    name : {
        type : String,
        required : true
    },
   // name : String,
    location : String,
    locationCode : String,
    rating : Number,
    description : String,
    services : [String],
    photos : [String],
    rooms : [
        {
            roomType : String,
            number : Number,
            descri

[2018-03-18 13:16] lineus commented on #6251
@mahnunchik I agree that a .hint method would be nice on Model.aggregate. In the meantime, you can add the hint to the aggregation by using the .option() method.

I wrote a mongoose example based on the example you linked to, specifically [this one](https://docs.mongodb.com/manual/reference/method/db.collection.aggregate/#hint-an-index).

[code]
### Output running example query in Mongo Shell
[cod

[2018-03-18 13:40] mahnunchik commented on #6251
Thank you!

Using `.option({ hint: { } })` helps me.

[2018-03-18 18:32] vkarpov15 commented on #6167
I put in a [PR to mongoose-history to fix this issue](https://github.com/nassor/mongoose-history/pull/42). Once that's merged and released, we'll close this one out

[2018-03-18 18:59] vkarpov15 commented on #6120
I appreciate your patience with the delay in getting back to you, we've been struggling to keep up on issue reports post 5.x release. I put together a repro script and haven't been able to reproduce this issue unfortunately, I'm getting ~0.5ms average, nowhere near the performance numbers you mentioned. Can you provide some sample data or modify the below script to reproduce your issue?

[code]

[2018-03-18 20:04] thopk commented on #6196
Hi lineus - sorry to have to reopen. Mongodb is crashing periodically on my server, and I believe it's due to too many open connections. From my google searching it appears that unlike the static connect() method, db.createConnection() doesn't automatically close the connection. If that makes sense to you, could you please give me an example of where and how I would close each connection. Thanks i

[2018-03-18 20:55] lineus commented on #6196
hey @thopk, no worries. You can add a call to close()

for example, you could (based on my code above):
[code]

[2018-03-18 21:11] thopk commented on #6196
Wow, thanks for the rapid response! That's pretty much what I figured. I reworked the code along those lines and it's up and running again. Fingers crossed that mongo will be stable now. Many thanks!

[2018-03-18 21:11] #6196 closed

[2018-03-19 01:57] lineus commented on #6253
@akashbharadwaj the formatting is very hard to read on your issue report. Generally speaking, if you declare your schema with square brackets around a value, then the document validation will expect an array to be assigned to that property, and that the elements match the type specified in the schema. If this doesn't clear up your issue, please feel free to include a comment with your complete sch

[2018-03-19 07:58] janckerchen opened #6254 "How can I keep DRY in query chain, for example, .populate('address', 'field1 field2' )?"
I want to populate address filed after all CRUD action,  should I repeat '.populate('address', 'field1 field2' )'  in all of them?

[code]

[2018-03-19 09:26] cAstraea commented on #5075
doesn't seem to work ? It's still saving as objectid ignoring my schema definition ?

[2018-03-19 13:45] mirkods commented on #6237
It makes sense. Thanks for the clarification.

[2018-03-19 13:45] #6237 closed

[2018-03-19 15:10] vkarpov15 commented on #6240
Here's the script I used to repro. In general, we strongly prefer repro scripts that don't require HTTP and refuse to accept repro scripts that require docker unless there's a docker-specific issue, so please keep that in mind for next time.

[code]

[2018-03-19 15:19] #6240 closed

[2018-03-19 19:39] benedictchen commented on #3921
Putting the params and return expectations in each JSDoc, then generating a
website with it so developers know clearly what comes out of a query.
http://usejsdoc.org/about-getting-started.html#generating-a-website

On Tue, Mar 13, 2018 at 2:49 PM, Valeri Karpov <notifications@github.com>
wrote:

[2018-03-19 23:30] Hyperblaster opened #6255 "MongoError: add index fails, too many indexes causes Uncaught Exception Error"
Hey there, I recently updated our version of mongoose from v3 to v5.
All looks good, except we are currently at our limit of indexes for a certain collection, as i understand it mongoose on initialization creates indexes for schemas with 'unique'/'sparse' attributes.

All good, but instead of throwing a warning, mongoose crashes the entire process with an Uncaught Exception Error, Is there anyway

[2018-03-20 03:32] tphanson opened #6256 "[Bug] Expiration time"
My code like this
[code]
But after 2 minutes, the document is still there differ from which I expect that it should be deleted.
Btw, I tried other things like this and It does not work also:
[code]
Thanks for your help in advance.

[2018-03-20 08:12] mosaic101 opened #6257 "MongoError: Cursor not found"
Version:
- Nodejs@8.9.4
- Mongoose@5.08

## ios catch error
![cursor not found](https://user-images.githubusercontent.com/15242708/36766675-df2f4ffc-1c71-11e8-9d00-5bc5c332d05e.png)

## Code
[code]
## Problem
I test this function  in `NODE_ENV=test`, It`s ok~ But, sometimes it happen to be found in `NODE_ENV=prod`.
I want to know the reason that this error be made, Thanks.

[2018-03-20 14:14] lineus commented on #6256
Hi @tphanson,
Here is an example script that removes the documents from a test collection, then adds a doc with a 2 minute TTL, and then waits for just over 3 minutes to test for the existence of the doc in the collection:
### code:
[code]
### output:
[code]
As described in the mongodb docs [here](https://docs.mongodb.com/manual/core/index-ttl/index.html#timing-of-the-delete-operation), the delete

[2018-03-20 14:53] dudilugasi opened #6258 "how to initiate connection error event"
i have some logic i want to test inside connection error callback.
how can i initiate the connection error event in order to test my logic?
var connection = mongoose.createConnection(conn.url, options);
connection.on("error", function (err) {
    console.log("connection error")
});

[2018-03-20 17:40] vkarpov15 commented on #6204
The issue is `permissions: { type: Array, default: [], enum: PERMISSIONS }`. `enum` is a no-op on arrays of non-strings, and before 5.0.6 setting `enum` on an array did nothing. You should do:

`permissions: { type: [String], enum: PERMISSIONS }`

The `default: []` is also unnecessary, mongoose [creates an empty array by default](http://mongoosejs.com/docs/faq.html#overwrite-model-error).

[2018-03-20 18:09] #6228 closed

[2018-03-20 18:10] vkarpov15 commented on #6228
Thanks for your patience, fixed in master and fix will be in 5.0.12 :+1:

[2018-03-20 19:58] lineus commented on #6248
Hi @AngelMunoz. Sorry I wasn't able to answer your question on gitter the other day. It's not silly at all :)

Without seeing all three of your schemas and your input, it's quite difficult (for me at least) to answer your specific questions. So instead I wrote a contrived example that tries to capture the spirit of what you're trying to do.

This example only saves location and industry docs to th

[2018-03-20 22:17] AngelMunoz commented on #6248
@lineus thanks for the snippet!
I'll continue in gitter then!

[2018-03-20 22:17] #6248 closed

[2018-03-20 22:28] akaNightmare opened #6259 "Expires index issue"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
I have a schema/model with expires field (1hour), and when I changed it to another value (for instance: 7200), Mongoose does not override it and the previous configuration still exists.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
**What is the expected behavior?

[2018-03-21 00:43] #6175 closed

[2018-03-21 00:45] vkarpov15 commented on #6175
Found the bug, fix will be in 5.0.12. @RamAkunuru thanks for your patience. Are you planning on upgrading to 5.x soon or do you want us to backport this fix to 4.x?

@lineus @varunjayaraman for the future, use the below script as an example for how to repro browser issues from Node, without using browserify. Should make it easier to reproduce bugs without having to go through a compile step.

[cod

[2018-03-21 01:17] vkarpov15 opened #6260 "Remove usage of deprecated Buffer API"
Re: https://github.com/nodejs/node/issues/19079#issuecomment-374635556

[2018-03-21 03:22] alejandromagnorsky commented on #6204
Not sure what that means but your suggestion fixed it. Thank you.

[2018-03-21 07:28] 20Aditya commented on #6247
@lineus  Actually the combination wasn't correct. I had corrected it that day itself. Thanks for your help

[2018-03-21 07:28] #6247 closed

[2018-03-21 11:42] makinde commented on #6120
If there's a way to DM you, I can send you the info for our test DB on mLab.

I think you may be seeing the same/similar perf I'm seeing. I captured a couple CPU profiles on my local machine. It looks like garbage collection gets in the way sometimes, and there's variance in how long objects take to create, as well as what function they spend time in.
https://www.dropbox.com/s/8x519wzfg9mqidk/CPU-

[2018-03-21 15:07] vkarpov15 commented on #6242
I think the problem is that this syntax is wrong:

[code]

[`create()` assumes every parameter is a document that you're trying to insert](http://mongoosejs.com/docs/api.html#create_create), so it is creating a new document `{ safe: false }` and trying to save that, which obviously fails. In general, there is no way to pass options to `create()`.

[2018-03-21 15:20] #6242 closed

[2018-03-21 15:22] vkarpov15 opened #6261 "Add headers to API docs"
Make it easy to get to `Model.create()` from clicking on `Model` in left sidebar

[2018-03-21 15:28] vkarpov15 commented on #6120
Sure, you can just email me at val@karpov.io . Keep in mind the times that I measured are for instantiating 600 docs, not just one.

In general, I'd recommend using `lean()` if you're just reading data to send to the client. You're already using `mongoose-lean-virtuals`, so this will save you the overhead of instantiating a full mongoose doc. Also, there's no need to use both `mongoose-lean-virtua

[2018-03-21 15:30] vkarpov15 commented on #6230
I definitely do not understand at all. Please use the correct syntax for [error handling middleware as described in the docs](http://mongoosejs.com/docs/middleware.html)

[2018-03-21 15:30] #6230 closed

[2018-03-21 15:30] vkarpov15 commented on #6245
Thanks for reporting, will investigate ASAP

[2018-03-21 15:33] vkarpov15 commented on #6025
@kennu unfortunately that's what you currently have to do if you want to use `initializeUnorderedBulkOp()`.  I would recommend you just use [`BulkWrite()`](http://mongoosejs.com/docs/api.html#bulkwrite_bulkWrite) instead

[2018-03-21 15:35] vkarpov15 commented on #6238
Can we move this issue to DefinitelyTyped or something like that? Mongoose doesn't have any official TypeScript bindings so this is off-topic for this repo.

[2018-03-21 15:39] ORESoftware commented on #6238
yeah np will close here thx

[2018-03-21 15:39] #6238 closed

[2018-03-21 16:15] lineus commented on #6259
@akaNightmare can you comment with a specific example of what you mean by change it to another value?

From looking at the [docs](https://docs.mongodb.com/manual/core/index-ttl/index.html#restrictions), once the index is created with the expiresAfterSeconds option, only running collMod with the index collection flag will change it. The native driver and mongoose offer convenience methods to drop a

[2018-03-21 17:18] #6244 closed

[2018-03-21 17:18] vkarpov15 commented on #6244
@tomgrossman thanks for reporting, fixed in master and fix will be in 5.0.12

[2018-03-21 17:23] vkarpov15 commented on #6215
Thanks @lineus for the debugging you've done thus far. @prasad47 can you email me at val@karpov.io so we can set up a time to debug over skype?

[2018-03-21 17:31] vkarpov15 commented on #2906
What's preventing you from upgrading? 3.8.24 is 3 years old.

[2018-03-21 17:32] vkarpov15 commented on #6250
Thanks for reporting, will fix ASAP :+1:

[2018-03-21 18:23] akaNightmare commented on #6259
@lineus I have a config for `expires` field in `revoked_auth_tokens` collection, sometimes I need to change it, but mongoose cannot to do that, and I have to change it manually.

[2018-03-21 18:40] vkarpov15 commented on #4064
@uptownhr do you have one `doc` that you're calling `save()` on in multiple tests? Why not just create a new doc for every test?

[2018-03-21 18:43] vkarpov15 commented on #4797
@gualopezb it should be getting set, is mongoose not setting `updatedAt()` correctly? If so, can you please show your code?

[2018-03-21 18:44] williamknn commented on #2906
Too many deprecated functions. I've tried already but when I saw that is a job for a whole day (being VERY optimistic) I've gave up. Our application was constructed over MEAN.js v0.3.3 (from July of 2015) and there are a lot of things that may need to upgrade too when grow the Mongoose version.

I'm scheduling a week to update all the stuff we need to upgrade but for now, I've too many things on m

[2018-03-21 20:05] gualopezb commented on #4797
@vkarpov15 I realized that `updatedAt` is setting correctly when using `update` and `findOneAndUpdate` methods, but not for `updateOne`. Is that intentional?

[2018-03-21 21:13] adamreisnz opened #6262 "Default getter/setter for virtual fields"
**Do you want to request a *feature* or report a *bug*?**
Feature

**Feature description**
I find myself needing to type the following often, when I want to append a non-persistent virtual field to a model:

[code]

This is fine if you need to do it once or twice, but when you have a lot of those properties it begins to feel a bit verbose.

It'd be create if this could be the default for a virtual

[2018-03-22 05:52] uptownhr commented on #4064
@vkarpov15 you're correct. I did do that to work around the issue.

Just curious though, is this the expected behavior?

[2018-03-22 08:04] cocoasoda opened #6263 "'this' equals 'global' when a property's type is an Array"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
define a Schema like below
[code]
then create a document
[code]
the document's ```members``` property is ```[ undefined ]```
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
'this' should be the document itself, but ``` this === global ```

[2018-03-22 09:13] hemor opened #6264 "Allow same array entry in different documents"
In my schema, I have a property, keywords, which is an array. Mongoose automatically prevents entering the same array value in different documents. What I want to achieve is to prevent the same value from being entered twice in the keywords array of the same document but other documents should be able to reuse the entry i.e uniqueness should be per document only.

I already checked the documentati

[2018-03-22 13:28] amrdraz commented on #447
@aliabdzad what did you do about that issue
did setting something like
`new Schema({ _id: { type: String, default: _ => uuid() } })`
work

[2018-03-22 13:44] dlipovac012 commented on #6052
@vkarpov15 Actually, no. When we create admin user, it gets created in `test` database, which we dont want to happen. So basically, both codes are working, but we would want to store that user not in this `test` db, but rather in `admin`, and we cant find the way for some reason.

Here's the link to this dummy application that mimics our real application: https://github.com/dlipovac012/nestmongoau

[2018-03-22 13:57] virlit commented on #1204
@peterkrieg Thanks!

[2018-03-22 13:59] puntnomads opened #6266 "Add lean option at each model level or global level."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
I read the documentation and the examples in the docs don't work. I can not return a JavaScript object from findOne without calling lean(). I want to set this at the Model level or globally for all find operations.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the

[2018-03-22 17:09] #6250 closed

[2018-03-22 21:16] varunjayaraman commented on #6194
@cezarlz can you please produce a more reproducible example? I'm going to mark this as stale for now. We need something more actionable to investigate

[2018-03-22 21:18] varunjayaraman commented on #6204
@alejandromagnorsky he meant that mongoose does nothing if you set `enum` for an array of non-strings. So if your type is `Array` and not `[String]` mongoose will just ignore it.

[2018-03-22 21:21] varunjayaraman commented on #6211
This is most certainly an issue on your end then and how your local setup resolves `localhost`. I'll keep this open for now but for the moment I'm going to mark this as won't fix because I am pretty confident this is not a mongoose issue.

I can't reproduce your issue locally either so I'm not sure what more we can do here.

[2018-03-22 21:29] varunjayaraman commented on #6222
@iridiumsoft we cant do much more without a schema. Please post a schema so we can help resolve this issue

[2018-03-22 21:44] varunjayaraman commented on #6233
I agree with @vkarpov15 that that should be different, but I would think that would throw an undefined function error unless that's just a typo.

That being said, I'm not able to reproduce this. Typescript shouldnt be the problem here and I tried to boil the problem down to its simplest parts:

[code]

This logs out:

[code]

as it should. I will try to create a repro script using typescript soon,

[2018-03-22 21:45] varunjayaraman commented on #6243
does the document exist? Can we see the schema?

[2018-03-22 22:13] dtanphat9388 commented on #6230
thank you very much for reply

[2018-03-23 09:07] lineus commented on #6254
@janckerchen .populate can also take an object. You can create a default population object and re-use it.

### example:
[code]
 ###output:
[code]

[2018-03-23 10:33] isLishude opened #6268 "How get a Decimal128 as string directly?"
my document has a Decimal128 type field When I use by `modle.findOne({})` in MongoShell, It would print this field as stirng type

but in mongoose I got a Object, What should I do to get a Decinal128 as string output instead of use `toString` method ?

I found no idea in doc and Google .

[2018-03-23 10:41] lineus commented on #6258
hi @dudilugasi connection error is going to be emitted on initial connection, so pointing createConnection at a port or a host with no mongodb server will work.

### example
[code]
### output:
[code]

[2018-03-23 11:54] lineus commented on #6262
Hi @adamreisnz You can achieve this now with a schema plugin. Here's an example of a schema plugin applied globally to all schemas, but you can also add them to individual schemas. The [docs are here](http://mongoosejs.com/docs/plugins.html).

### totalValue.js
[code]

### index.js
[code]
### output:
[code]